<app-component-docs [componentName]="'back to top'">
  <div class=" docs__overview ">
    <p>Knapp som vid klick för användaren tillbaka till toppen på sidan. När man scrollar neråt visas back-to-top komponenten
      och ger en genväg till toppen av sidan. Back to top aktiveras om en sida använder komponenten
      <a href="/lists ">
        <code> &lt;vgr-list&gt;</code>
      </a>
    </p>
    <br>
    <div class="back-to-top back-to-top--inline "></div>
    <br>
    <p> Förändras med tema:
      <strong>nej</strong>
    </p>
  </div>
  <div class="docs__examples ">
    <p> Här visas en lång text för att aktivera komponenten back to top. I själv exemplet så visas knappen på höger sida, detta
      eftersom alla sidor under
      <strong>Komponenter</strong> använder sig utav
      <code> &lt;vgr-list&gt;</code> för att strukturera upp innehållet.</p>
    <br>
    <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut tristique libero. Proin non aliquet ligula. Etiam
      ante diam, volutpat at tempor quis, pulvinar eget leo. Vestibulum ac nisi sed odio commodo lacinia. Etiam pulvinar
      convallis diam, quis convallis dui fermentum a. Donec nunc massa, pharetra ac vulputate vel, bibendum a dolor. Nam
      interdum, ex vel varius feugiat, nisl urna faucibus nulla, quis mattis lacus mi at mauris. Fusce interdum a ligula
      sit amet scelerisque. Sed nec metus vitae ipsum luctus mollis eget eu libero. Proin lacinia vehicula felis ut mollis.
      Mauris aliquet ante ac mauris imperdiet imperdiet. Duis nec ullamcorper lorem. Morbi id sem velit. Nunc tortor sem,
      fermentum et mauris gravida, sagittis tempor metus. Cras ut nisl vestibulum, iaculis risus quis, condimentum tellus.
      Nunc eu nisl pretium, euismod mauris pretium, pretium dui. Nulla feugiat lacus lectus, at mollis metus ornare ac. Mauris
      nec eleifend neque. Nullam malesuada lacus elit, et rutrum leo tristique porta. Donec velit tellus, lacinia ut dictum
      nec, bibendum a magna. Maecenas ultricies faucibus dui, eu dignissim arcu aliquet congue. Curabitur sit amet quam mauris.
      Donec eu gravida dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer hendrerit augue eget aliquam
      pellentesque. Duis nec lobortis purus. Vestibulum vitae dolor faucibus, luctus lacus tincidunt, tincidunt dolor. Nunc
      vitae aliquet elit. Suspendisse accumsan lobortis euismod. Curabitur non luctus orci. Orci varius natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus. Quisque leo ligula, tempus vel enim ut, mollis tristique neque.
      Fusce quis tortor eu ante rhoncus sodales at quis enim. Integer venenatis ullamcorper nibh, vel porttitor nisl luctus
      vitae. Nulla hendrerit nisl augue. Aliquam vel laoreet odio, sed imperdiet eros. Proin eget pellentesque leo. Donec
      ut odio laoreet tortor semper lobortis. Phasellus posuere, est ut mollis pharetra, mauris velit volutpat turpis, ut
      ullamcorper ligula turpis nec justo. Sed vitae suscipit leo. Suspendisse lorem neque, placerat id enim vel, sollicitudin
      venenatis urna. Morbi maximus nisl sed neque laoreet, non laoreet libero dapibus. Nullam nibh nisl, eleifend nec commodo
      vel, scelerisque vitae urna. Fusce ullamcorper convallis risus in pellentesque. Duis porta erat at enim tincidunt dignissim.
      Pellentesque nec placerat tortor. Nam ultricies et odio sit amet ultricies. Orci varius natoque penatibus et magnis
      dis parturient montes, nascetur ridiculus mus. Nulla blandit iaculis sapien pellentesque rutrum. Cras sodales ex nunc,
      ut suscipit risus vehicula at. Donec leo turpis, varius ac facilisis vel, hendrerit eu diam. Curabitur interdum urna
      eget pellentesque maximus. Integer et eleifend mi. Sed dui neque, rutrum quis libero at, faucibus maximus nisl. Sed
      semper accumsan venenatis. Suspendisse a nunc condimentum augue scelerisque accumsan ut et felis. Aliquam vestibulum
      ex nulla, vitae feugiat lacus efficitur sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos. Duis sit amet volutpat dui, in commodo urna. Morbi finibus enim orci, ac facilisis justo dignissim
      sit amet. Ut eu malesuada massa, sit amet aliquam eros. Donec vel quam ac ligula egestas ornare in non nunc. Mauris
      vestibulum turpis nibh, ut pellentesque elit sollicitudin quis. Aliquam non accumsan leo, sed rutrum nisi. Aenean pharetra
      sapien ipsum, eu tristique dolor fermentum et. Suspendisse potenti. Integer pretium lacus at feugiat fermentum. Cras
      imperdiet purus vel velit finibus auctor. Aliquam erat volutpat. Mauris dignissim turpis dictum nibh ultrices condimentum.
      Etiam facilisis est in cursus aliquet. Pellentesque nec bibendum tellus, quis mattis risus. Cras dolor augue, ornare
      a lacus ut, placerat viverra risus. In varius, est sed tempus pretium, lorem turpis gravida lacus, et condimentum elit
      urna aliquet lacus. Etiam ut lacinia enim, eu laoreet lectus. Sed consequat magna quis auctor elementum. Morbi non
      lectus et est pulvinar sollicitudin quis eu libero. Nullam finibus, dui eu volutpat ultricies, erat erat mollis orci,
      sit amet posuere ex eros sit amet quam. Nam nec turpis urna. Nulla a arcu vitae augue tempor porttitor ac et eros.
      Ut lacinia libero mauris, eget efficitur ipsum gravida non. Etiam lorem sapien, mollis in scelerisque vitae, consequat
      et tortor. Nullam in neque ex. Maecenas dapibus tortor massa, eget congue est tristique non. Suspendisse convallis
      erat non hendrerit fringilla. Morbi nec nunc massa. Curabitur eleifend, felis sed cursus accumsan, arcu risus congue
      odio, eget ornare massa dolor id quam. Mauris tincidunt eros sed sollicitudin vestibulum. Sed elit sem, congue nec
      lorem non, gravida tempor elit. Vestibulum at accumsan lectus, nec gravida neque. Vivamus ornare a lacus a elementum.</i>
  </div>
  <div class="docs__api ">
    <p> För att aktivera funktionen måste ett script inkluderas via index.html eller angular-cli.json:</p>
    <code>angular-cli.json => "scripts ": ["../node_modules/jquery/dist/jquery.min.js ", "../node_modules/vgr-komponentkartan//scripts/_objects.back-to-top.js
      "]
    </code>
  </div>
  <div class="docs__wcag ">
    <i>Ej aktuellt, då detta enbart är javascript</i>
  </div>
</app-component-docs>
