<app-component-docs [componentName]="'Dropdown'" class="theme--red">

  <div class="docs__overview">
    <p>
      <code>
        &lt;vgr-dropdown&gt;</code> innehåller en lista över valbara alternativ.
      <br>- Kompletteras med filter och ett"visa alla" alternativ över 20 items.
      <br>- Kompletteras med scroll vid över 8 items.
      <br>
      <vgr-dropdown [items]="dropDownItems8"></vgr-dropdown>
    </p>

    <p> Förändras med tema:
      <strong>ja</strong>
    </p>
  </div>

  <div class="docs__examples">
    <div class="row-layout">
      <div>
        <p>Deklarativ 8 (förvald)</p>
        <vgr-dropdown-select [small]="true" [deselectable]="true" [formControl]="dropdownForm1">
          <vgr-dropdown-item [value]="1">Val 1</vgr-dropdown-item>
          <vgr-dropdown-item [value]="2">Val 2</vgr-dropdown-item>
          <vgr-dropdown-item [value]="3">Val 3</vgr-dropdown-item>
          <vgr-dropdown-item [value]="4">Val 4</vgr-dropdown-item>
          <vgr-dropdown-item [value]="5">Val 5</vgr-dropdown-item>
          <vgr-dropdown-item [value]="6">Val 6</vgr-dropdown-item>
          <vgr-dropdown-item [value]="7">Val 7</vgr-dropdown-item>
          <vgr-dropdown-item [value]="8">Val 8</vgr-dropdown-item>
        </vgr-dropdown-select>
      </div>
      <div>
        <p>Deklarativ dynamisk (förvald)</p>
        <vgr-dropdown-select [small]="true" [multi]="true" [formControl]="dropdownForm9">
          <vgr-dropdown-item *ngFor="let v of values; let i = index" [value]="v">Val {{ i }}</vgr-dropdown-item>
        </vgr-dropdown-select>
        <vgr-button (click)="addValue()">Lägg till</vgr-button>
      </div>
      <div>
        <p>Deklarativ 25</p>
        <vgr-dropdown-select [small]="true" [multi]="true" [noItemSelectedLabel]="'Välj alternativ'" [formControl]="dropdownForm3">
          <vgr-dropdown-item [value]="1">Val 1</vgr-dropdown-item>
          <vgr-dropdown-item [value]="2">Val 2</vgr-dropdown-item>
          <vgr-dropdown-item [value]="3">Val 3</vgr-dropdown-item>
          <vgr-dropdown-item [value]="4">Val 4</vgr-dropdown-item>
          <vgr-dropdown-item [value]="5">Val 5</vgr-dropdown-item>
          <vgr-dropdown-item [value]="6">Val 6</vgr-dropdown-item>
          <vgr-dropdown-item [value]="7">Val 7</vgr-dropdown-item>
          <vgr-dropdown-item [value]="8">Val 8</vgr-dropdown-item>
          <vgr-dropdown-item [value]="9">Val 9</vgr-dropdown-item>
          <vgr-dropdown-item [value]="10">Val 10</vgr-dropdown-item>
          <vgr-dropdown-item [value]="11">Val 11</vgr-dropdown-item>
          <vgr-dropdown-item [value]="12">Val 12</vgr-dropdown-item>
          <vgr-dropdown-item [value]="13">Val 13</vgr-dropdown-item>
          <vgr-dropdown-item [value]="14">Val 14</vgr-dropdown-item>
          <vgr-dropdown-item [value]="15">Val 15</vgr-dropdown-item>
          <vgr-dropdown-item [value]="16">Val 16</vgr-dropdown-item>
          <vgr-dropdown-item [value]="17">Val 17</vgr-dropdown-item>
          <vgr-dropdown-item [value]="18">Val 18</vgr-dropdown-item>
          <vgr-dropdown-item [value]="19">Val 19</vgr-dropdown-item>
          <vgr-dropdown-item [value]="20">Val 20</vgr-dropdown-item>
          <vgr-dropdown-item [value]="21">Val 21</vgr-dropdown-item>
          <vgr-dropdown-item [value]="22">Val 22</vgr-dropdown-item>
          <vgr-dropdown-item [value]="23">Val 23</vgr-dropdown-item>
          <vgr-dropdown-item [value]="24">Val 24</vgr-dropdown-item>
          <vgr-dropdown-item [value]="25">Val 25</vgr-dropdown-item>
        </vgr-dropdown-select>
      </div>
    </div>
    <div class="row-layout">
      <div>
        <p>Deklarativ disabled</p>
        <vgr-dropdown-select [small]="true" [formControl]="dropdownForm5" [disabled]="isReadonlyAndDisabled">
          <vgr-dropdown-item [value]="1">Val 1</vgr-dropdown-item>
          <vgr-dropdown-item [value]="2">Val 2</vgr-dropdown-item>
          <vgr-dropdown-item [value]="3">Val 3</vgr-dropdown-item>
          <vgr-dropdown-item [value]="4">Val 4</vgr-dropdown-item>
          <vgr-dropdown-item [value]="5">Val 5</vgr-dropdown-item>
          <vgr-dropdown-item [value]="6">Val 6</vgr-dropdown-item>
          <vgr-dropdown-item [value]="7">Val 7</vgr-dropdown-item>
          <vgr-dropdown-item [value]="8">Val 8</vgr-dropdown-item>
        </vgr-dropdown-select>
      </div>
      <div>
        <p>Deklarativ readonly</p>
        <vgr-dropdown-select [small]="true" [formControl]="dropdownForm6" [readonly]="isReadonlyAndDisabled">
          <vgr-dropdown-item [value]="1">Val 1</vgr-dropdown-item>
          <vgr-dropdown-item [value]="2">Val 2</vgr-dropdown-item>
          <vgr-dropdown-item [value]="3">Val 3</vgr-dropdown-item>
          <vgr-dropdown-item [value]="4">Val 4</vgr-dropdown-item>
          <vgr-dropdown-item [value]="5">Val 5</vgr-dropdown-item>
          <vgr-dropdown-item [value]="6">Val 6</vgr-dropdown-item>
          <vgr-dropdown-item [value]="7">Val 7</vgr-dropdown-item>
          <vgr-dropdown-item [value]="8">Val 8</vgr-dropdown-item>
        </vgr-dropdown-select>
      </div>
    </div>
    <div class="row-layout">
      <div>
        <p>8 items (förvald)</p>
        <vgr-dropdown [items]="dropDownItems8AndSelected" (selectedChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
      </div>
      <div>
        <p>9 items</p>
        <vgr-dropdown [items]="dropDownItems9" [noItemSelectedLabel]="'Välj alternativ'" (selectedChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
      </div>
      <div>
        <p>25 items</p>
        <vgr-dropdown [items]="dropDownItems25All" [noItemSelectedLabel]="'Välj nåt då'" [showAllItemText]="'Visa alla alternativ'"
          (selectedChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
      </div>
      <div>
        <p>200 items</p>
        <vgr-dropdown [items]="dropDownItems200" [noItemSelectedLabel]="'Välj alternativ'" (selectedChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
      </div>
    </div>
    <div class="row-layout">
      <div>
        <p>Disabled</p>
        <vgr-dropdown [items]="dropDownItems8AndSelected" [noItemSelectedLabel]="'Välj alternativ'" [disabled]="isReadonlyAndDisabled"
          (selectedChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
      </div>
      <div>
        <p>Readonly</p>
        <vgr-dropdown [items]="dropDownItems8AndSelected" [noItemSelectedLabel]="'Välj alternativ'" [readonly]="isReadonlyAndDisabled"
          (selectedChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
      </div>
      <div>
        <p>Disabled (inget valt)</p>
        <vgr-dropdown [items]="dropDownItems9" [noItemSelectedLabel]="'Välj alternativ'" [disabled]="isReadonlyAndDisabled"
          (selectedChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
      </div>
      <div>
        <p>Readonly (inget valt)</p>
        <vgr-dropdown [items]="dropDownItems9" [noItemSelectedLabel]="'Välj alternativ'" [readonly]="isReadonlyAndDisabled"
          (selectedChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
      </div>
      <div>
        <p>Växla readonly och disabled</p>
        <vgr-lock-button (lockChanged)="isReadonlyAndDisabled = !isReadonlyAndDisabled;"></vgr-lock-button>
      </div>
    </div>
    <div>
      <br>
      <span>Senaste val:</span>
      <span>{{lastSingleSelection}}</span>
    </div>
    <br>
    <br> Under "kodexempel" finns exempel på hur dropdown-komponenten kan användas i Angular Reactive Forms:
    <br>
    <a href="/reactiveformsexample">Reactive Forms exempel</a>
  </div>

  <div class="docs__api">
    <table class="property-table">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>

          items : DropdownItem&lt;T&gt;[]
        </td>
        <td>Samling av
          <code>DropdownItem&lt;T&gt;</code> som utgör valbara alternativ</td>
        <td>[items]="[item1, item2, ...]"</td>
      </tr>
      <tr>
        <td>
          disabled : boolean
        </td>
        <td>Defaultvärde false</td>
        <td>[disabled]="true"</td>
      </tr>
      <tr>
        <td>
          showAllItemText : string
        </td>
        <td>Värde för att sätta vilken text det skall stå på raden för att ta bort filtrering och visa alla.
          Defaultvärde"Visa
          alla"
        </td>
        <td>[showAllItemText]="Visa alla alternativ"</td>
      </tr>
      <tr>
        <td>
          noItemSelectedLabel : string
        </td>
        <td>Värde för att sätta vilken text det skall stå i dropdownen då man inte valt något värde
        </td>
        <td>[noItemSelectedLabel]="Välj alternativ"</td>
      </tr>
      <tr>
        <td> onSelectedChanged : EventEmitter&lt;any&gt;</td>
        <td>Event som triggas när man väljer ett nytt alternativ i dropdownen</td>
        <td>(selectedChanged)="onSelectedChanged($event)"</td>
      </tr>
      <tr>
        <td>showValidation: boolean</td>
        <td>Anger om valideringsfel ska visas eller ej. Default = true.</td>
        <td>[showValidation]="true"</td>
      </tr>
      <tr>
        <td>readonly : boolean</td>
        <td>Om dropdownen är satt som readonly så ska bara textfält med valt värde visas. Om inget värde är satt så
          visas ingenting.
        </td>
        <td>
          [readonly]="true/false"
        </td>
      </tr>
    </table>
  </div>

  <div class="docs__wcag">
    <p>
      <code>&lt;vgr-dropdown&gt;</code> har en intern div vars roll är satt till combobox. Förutom rollen så används
      attributen:
      attr.aria-disabled (inaktiv/aktiv) och attr.aria-readonly (skrivskyddad/ej skrivskyddad)
    </p>
  </div>

</app-component-docs>