<div [ngClass]="{'page-header--actions-visible' : expanded, 'page-header--actions-hidden' : !expanded}">
  <div class="page-header__always-visible">
    <div class="page-header__top-border"></div>
    <div class="page-header__controls">
      <ng-content select=".page-header__control"></ng-content>
      <vgr-button *ngIf="enableActionsText" class="page-header__control" (click)="enableActions()" [disabled]="expanded">{{enableActionsText}}</vgr-button>
      <vgr-button *ngIf="enableActionsText && disableActionsText" class="page-header__control" (click)="disableActions()" [disabled]="!expanded">{{disableActionsText}}</vgr-button>
      <div class="page-header__title control-with-heading">
        <h1>{{title}}</h1>
        <vgr-save-cancel *ngIf="saveCancel" class="page-header__save-cancel" (onCancel)="disableActions()" (onSave)="disableActions()"></vgr-save-cancel>
      </div>
    </div>

  </div>
  <div class="page-header__action-panel-area">
    <ng-content select=".page-header__action-panel"></ng-content>
  </div>
</div>
