<vgr-page-block>
  <div class="row-layout row-layout--equal-height" style="background-color:white">
    <div class="information-panel information-panel--default two-thirds ">
      <div class="information-panel__content">
        <div class="information-panel__header">
          <span class="information-panel__header__title">Panel med tiddstämpel</span>
          <span class="information-panel___header__timestamp">2017-12-31</span>
        </div>
        <p class="information-panel__information">
          En panel med både en rubrik och en tiddstämpel. Längst ned finns plats för en länk. Texten bryts efter tre rader:
          <i>
            We built this city we built this city on rock an roll Built this city we built this city on rock an roll Say you don't know
            me or recognize my face Say you don't care who goes to that kind of place Knee deep in the hoopla sinking in
            your fight Too many runaways eating up the night
          </i>
        </p>
        <div class="information-panel__footer">
          <a href="https://www.google.com">En användbar länk</a>
        </div>
      </div>
    </div>
    <div class="information-panel one-third ">
      <div class="information-panel__content">
        <div class="information-panel__header">
          <span class="information-panel__header__title">Panel med enkel rubrik</span>
        </div>
        <p class="information-panel__information">Den här panelen tar en tredjedel av utrymmet och saknar både tiddstämpel och länk.</p>
      </div>
    </div>
  </div>
</vgr-page-block>

<vgr-page-block>
  <div class="row-layout row-layout--equal-height" style="background-color:white">
    <div class="information-panel information-panel--default two-thirds ">
      <div class="information-panel__content">
        <div class="information-panel__header">
          <span class="information-panel__header__title">Panel med tiddstämpel</span>
          <span class="information-panel___header__timestamp">2017-12-31</span>
        </div>
        <p class="information-panel__information">
          En panel med både en rubrik och en tiddstämpel. Längst ned finns plats för en länk. Texten bryts efter tre rader:
          <i>
            We built this city we built this city on rock an roll Built this city we built this city on rock an roll Say you don't know
            me or recognize my face Say you don't care who goes to that kind of place Knee deep in the hoopla sinking in
            your fight Too many runaways eating up the night
          </i>
        </p>
        <div class="information-panel__footer">
          <a href="https://www.google.com">En användbar länk</a>
        </div>
      </div>
    </div>
    <div class="information-panel one-third ">
      <div class="information-panel__content">
        <div class="information-panel__header">
          <span class="information-panel__header__title">Panel med enkel rubrik</span>
        </div>
        <p class="information-panel__information">Den här panelen tar en tredjedel av utrymmet och saknar både tiddstämpel och länk.</p>
      </div>
    </div>
  </div>
</vgr-page-block>
