<vgr-page-block>
  <div class="column-layout">
    <h2>Bugg: Det går att editera i en stängd dropdown (Komponent dropdown multiselect)</h2>
    <div class="row-layout">
      <vgr-dropdown-multiselect [values]="['Foo','Bar','Monkey','Wrench']" [disabled]="readonly"></vgr-dropdown-multiselect>
      <vgr-lock-button (lockChanged)="readonly=!readonly">Enable/Disable</vgr-lock-button>
    </div>
  </div>
</vgr-page-block>

<vgr-page-block>
  <div class="column-layout">
    <h2>Bugg: Fel storlek valideringsrutan för dropdown/dropdownmulti, och calendar</h2>
    <div class="row-layout">
      <vgr-dropdown-multiselect [values]="['Foo','Bar','Monkey','Wrench']" required="true"></vgr-dropdown-multiselect>
      <vgr-dropdown [values]="['Foo','Bar','Monkey','Wrench']" required="true"></vgr-dropdown>
      <vgr-dropdown [values]="['Foo','Bar','Monkey','Wrench']" required="true"></vgr-dropdown>
      <vgr-monthpicker [minDate]="minDate" [maxDate]="maxDate" required="true"></vgr-monthpicker>
      <vgr-datepicker [minDate]="minDate" [maxDate]="maxDate" required="true"></vgr-datepicker>
    </div>
  </div>
</vgr-page-block>