<vgr-page>
  <vgr-page-header [title]="'reactive forms'">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <form [formGroup]="userForm">
        <vgr-title-value-layout>
          <vgr-title-value title="Förnamn">
            <vgr-input formControlName="firstname" [errorMessage]="validationMessages.firstname"></vgr-input>
          </vgr-title-value>
          <vgr-title-value title="Efternamn">
            <vgr-input formControlName="lastname" [errorMessage]="validationMessages.lastname"></vgr-input>
          </vgr-title-value>
          <vgr-title-value title="Ålder">
            <vgr-input formControlName="age" [alignRight]="true" [suffix]="'år'" [errorMessage]="validationMessages.age"></vgr-input>
          </vgr-title-value>
          <vgr-title-value title="E-post">
            <vgr-input formControlName="email" [errorMessage]="validationMessages.email"></vgr-input>
          </vgr-title-value>
          <vgr-title-value title="Inkomst">
            <vgr-input formControlName="salary" [errorMessage]="validationMessages.salary" [formatNumber]="true" [nrOfDecimals]="0"></vgr-input>
          </vgr-title-value>
          <vgr-title-value title="Favoritdjur">
            <vgr-dropdown formControlName="favourite_pet" [items]="dropdownItems"></vgr-dropdown>
          </vgr-title-value>
          <vgr-title-value title="Intressen">
            <vgr-dropdown-multiselect formControlName="interests" [items]="dropdownItemsMulti"></vgr-dropdown-multiselect>
          </vgr-title-value>
          <vgr-title-value title="Du måste kryssa i mig!">
            <vgr-checkbox formControlName="check" [label]=" 'Ok!' "></vgr-checkbox>
          </vgr-title-value>
          <vgr-title-value title="Välj valfri">
            <vgr-radio-group formControlName="optional" [options]="radioOptions">
            </vgr-radio-group>
          </vgr-title-value>
          <vgr-title-value title="Välj Månad">
            <vgr-monthpicker formControlName="monthpicker" [minDate]="minDate" [maxDate]="maxDate"></vgr-monthpicker>
          </vgr-title-value>
          <vgr-title-value title="Välj Dag">
            <vgr-datepicker formControlName="datepicker"></vgr-datepicker>
          </vgr-title-value>
          <vgr-title-value title="Registreringsdatum">
            <vgr-datepicker formControlName="datepicker_preselected"></vgr-datepicker>
          </vgr-title-value>
        </vgr-title-value-layout>
        <vgr-button [disabled]="userForm.invalid">Skapa användare</vgr-button>
      </form>
    </vgr-page-block>
    <vgr-page-block>
      <form [formGroup]="inputForm">
        <vgr-title-value-layout>
          <vgr-title-value title="Förnamn">
            <vgr-input-new formControlName="firstname" [errorMessage]="validationMessages.firstname"></vgr-input-new>
            <span>{{inputForm.controls.firstname.valid}}</span>
            <span>{{inputForm.controls.firstname.touched}}</span>

          </vgr-title-value>
          <vgr-title-value title="Efternamn">
            <!-- <vgr-input-new formControlName="lastname" [errorMessage]="validationMessages.lastname"></vgr-input-new> -->
            <input formControlName="lastname" />
            <span>{{inputForm.controls.lastname.valid}}</span>
          </vgr-title-value>
          <vgr-title-value title="Ålder">
            <vgr-input-new formControlName="age" [alignRight]="true" [suffix]="'år'" [errorMessage]="validationMessages.age"></vgr-input-new>
            <span>{{inputForm.controls.age.valid}}</span>
          </vgr-title-value>
          <vgr-title-value title="E-post">
            <vgr-input-new formControlName="email" [errorMessage]="validationMessages.email"></vgr-input-new>
            <span>{{inputForm.controls.email.valid}}</span>
          </vgr-title-value>
          <vgr-title-value title="Inkomst">
            <vgr-input-new formControlName="salary" [errorMessage]="validationMessages.salary" [formatNumber]="true" [nrOfDecimals]="0"></vgr-input-new>
            <span>{{inputForm.controls.salary.valid}}</span>
          </vgr-title-value>
        </vgr-title-value-layout>
        <button type="submit" (click)="onSubmit()">Skapa användare</button>
        <button type="submit" (click)="onSubmit()">Skapa användare</button>

        <vgr-button (click)="onSubmit()">Skapa användare</vgr-button>
        <vgr-button (click)="onReset()">Reset form</vgr-button>
      </form>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
