<vgr-page>
  <vgr-page-header [title]="'reactive forms'">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <form [formGroup]="userForm">
        <vgr-title-value-layout>
          <vgr-title-value title="Förnamn">
            <vgr-input formControlName="firstname" [showValidation]="userForm.controls.firstname.touched" [errorMessage]="validationMessages.firstname"></vgr-input>
          </vgr-title-value>
          <vgr-title-value title="Efternamn">
            <vgr-input formControlName="lastname" [showValidation]="userForm.controls.lastname.touched" [errorMessage]="validationMessages.lastname"></vgr-input>
          </vgr-title-value>
          <vgr-title-value title="Ålder">
            <vgr-input formControlName="age" [showValidation]="userForm.controls.age.touched" [alignRight]="true" [suffix]="'år'" [errorMessage]="validationMessages.age"></vgr-input>
          </vgr-title-value>
          <vgr-title-value title="E-post">
            <vgr-input formControlName="email" [showValidation]="userForm.controls.email.touched" [errorMessage]="validationMessages.email"></vgr-input>
          </vgr-title-value>
          <vgr-title-value title="Inkomst">
            <vgr-input formControlName="salary" [showValidation]="userForm.controls.salary.touched" [errorMessage]="validationMessages.salary"
              [formatNumber]="true" [nrOfDecimals]="0"></vgr-input>
          </vgr-title-value>
          <vgr-title-value title="Favoritdjur">
            <vgr-dropdown formControlName="favourite_pet" [items]="dropdownItems"></vgr-dropdown>
          </vgr-title-value>
          <vgr-title-value title="Intressen">
            <vgr-dropdown-multiselect formControlName="interests" [items]="dropdownItemsMulti"></vgr-dropdown-multiselect>
          </vgr-title-value>
          <vgr-title-value title="Du måste kryssa i mig!">
            <vgr-checkbox formControlName="check" [label]=" 'Ok!' "></vgr-checkbox>
          </vgr-title-value>
          <vgr-title-value title="Välj valfri">
            <vgr-radio-group formControlName="optional" [options]="radioOptions">
            </vgr-radio-group>
          </vgr-title-value>
          <vgr-title-value title="Välj Månad">
            <vgr-monthpicker formControlName="monthpicker" [minDate]="minDate" [maxDate]="maxDate"></vgr-monthpicker>
          </vgr-title-value>
          <vgr-title-value title="Välj Dag">
            <vgr-datepicker formControlName="datepicker"></vgr-datepicker>
          </vgr-title-value>
          <vgr-title-value title="Registreringsdatum">
            <vgr-datepicker formControlName="datepicker_preselected"></vgr-datepicker>
          </vgr-title-value>
        </vgr-title-value-layout>
        <button type="submit">Submit</button>
        <!-- <vgr-button [disabled]="false">Skapa användare</vgr-button> -->
      </form>
    </vgr-page-block>
    <vgr-page-block>
      <h2>Formulär med fält som valideras på blur</h2>
      <form [formGroup]="updateOnBlurForm">
        <vgr-title-value-layout>
          <vgr-title-value title="Förnamn">
            <vgr-input formControlName="firstname" [showValidation]="updateOnBlurForm.controls.firstname.touched" [errorMessage]="validationMessages.firstname"></vgr-input>
          </vgr-title-value>
          <span>{{updateOnBlurForm.valid}}</span>
          <vgr-title-value title="Inkomst">
            <vgr-input formControlName="salary" [showValidation]="updateOnBlurForm.controls.salary.touched" [errorMessage]="validationMessages.salary"
              [formatNumber]="true" [nrOfDecimals]="2"></vgr-input>
          </vgr-title-value>
          <span>{{updateOnBlurForm.valid}}</span>
        </vgr-title-value-layout>
        <vgr-button [disabled]="updateOnBlurForm.invalid">Skapa användare</vgr-button>
        <vgr-button (click)="onResetUpdateOnBlurForm()">Reset form</vgr-button>
      </form>
    </vgr-page-block>
    <vgr-page-block>
      <h2>Formulär med fält som valideras på submit</h2>
      <form [formGroup]="updateOnSubmitForm">
        <vgr-title-value-layout>
          <vgr-title-value title="Förnamn">
            <vgr-input formControlName="firstname" [showValidation]="formSubmitted" [errorMessage]="validationMessages.firstname"></vgr-input>
          </vgr-title-value>
          <span>{{updateOnSubmitForm.valid}}</span>
          <vgr-title-value title="Inkomst">
            <vgr-input formControlName="salary" [showValidation]="formSubmitted" [errorMessage]="validationMessages.salary" [formatNumber]="true"
              [nrOfDecimals]="2"></vgr-input>
          </vgr-title-value>
          <span>{{updateOnSubmitForm.valid}}</span>
        </vgr-title-value-layout>
        <button type="submit" (click)="onSubmit()">Skapa användare</button>
        <vgr-button type="button" (click)="onSubmit()">Skapa användare</vgr-button>
        <vgr-button (click)="onResetUpdateOnSubmitForm()">Reset form</vgr-button>
      </form>
    </vgr-page-block>
    <vgr-page-block>
      <h2>Formulär med fält som valideras när dess värde ändras</h2>
      <form [formGroup]="updateOnChangeForm">
        <vgr-title-value-layout>
          <vgr-title-value title="Förnamn">
            <vgr-input formControlName="firstname" [showValidation]="updateOnChangeForm.controls.firstname.dirty" [errorMessage]="validationMessages.firstname"></vgr-input>
          </vgr-title-value>
          <vgr-title-value title="Inkomst">
            <vgr-input formControlName="salary" [showValidation]="updateOnChangeForm.controls.salary.dirty" [errorMessage]="validationMessages.salary"
              [formatNumber]="true" [nrOfDecimals]="2"></vgr-input>
          </vgr-title-value>
        </vgr-title-value-layout>
        <vgr-button [disabled]="updateOnChangeForm.invalid">Skapa användare</vgr-button>
        <vgr-button (click)="onResetUpdateOnChangeForm()">Reset form</vgr-button>
      </form>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
