<header class="site-header-vgr" [ngClass]="
                    {   'site-header-vgr--neutral' : systemColor ==='neutral',
                        'site-header-vgr--bmm' : systemColor ==='BMM',
                        'site-header-vgr--vgpv' : systemColor ==='VGPV',
                        'site-header-vgr--rehab' : systemColor ==='Rehab'
                    }">
    <div class="header__vgr-logo"></div>
    <div class="login-info header-menu__trigger">
        <div class="login-info__username">
            <span>Inloggad som:<br />Nils Åkerlund</span>
        </div>
        <div class="header-menu-indicator"></div>
        <div class="login-info__profile_image"></div>
    </div>
    <vgr-header-menu></vgr-header-menu>
</header>