<vgr-page>
  <vgr-page-header [title]="'Kodexempel lista med notifiering'"></vgr-page-header>
{{examples}}
  <vgr-page-body>
    <vgr-page-block>
      <h2>Lista med notifiering</h2>
      <p>Här har vi exempel på en lista med notifiering. För att se dokumentationen på
        komponenten, klicka
        <a href="/lists">här.</a>
      </p>
    </vgr-page-block>
    <vgr-page-block>
      <vgr-list [flexibleHeader]="true" [allowMultipleExpandedItems]="false" [notification]="listNotification">
        <vgr-list-header>
          <vgr-list-column-header [width]="10" [sortKey]="'firstName'">Förnamn</vgr-list-column-header>
          <vgr-list-column-header [width]="10" [sortKey]="'lastName'">Efternamn</vgr-list-column-header>
        </vgr-list-header>
      </vgr-list>
    </vgr-page-block>
    <vgr-page-block>
      <div>
        <h3>HTML</h3>
        <section [innerHTML]="htmlAdvancedListMarkup" hljsContent=".highlight"></section>
      </div>
      <br>
      <div>
        <h3>Typescript</h3>
        <section [innerHTML]="typeScriptAdvancedListMarkup" hljsContent=".highlight"></section>
      </div>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
