<vgr-page-block>
  <vgr-panel-container>
    <vgr-panel width="6" themecolor="green">
      <p>Den här panelen tar halva utrymmet.</p>
    </vgr-panel>
    <vgr-panel width="6" themecolor="blue">
      <p>Den här panelen tar halva utrymmet.</p>
    </vgr-panel>
  </vgr-panel-container>
  <vgr-panel-container>
    <vgr-panel width="8" themecolor="red">
      <p>Den här panelen tar två tredjedelar av utrymmet.</p>
    </vgr-panel>
    <vgr-panel width="4">
      <p>Den här panelen tar en tredjedel av utrymmet.</p>
    </vgr-panel>
  </vgr-panel-container>
  <vgr-panel-container>
    <vgr-panel width="4" themecolor="green">
      <p>Den här panelen tar en tredjedel av utrymmet.</p>
    </vgr-panel>
    <vgr-panel width="4" noborder="true">
      <p>Den här panelen tar en tredjedel av utrymmet.</p>
    </vgr-panel>
    <vgr-panel width="4" themecolor="green">
      <p>Den här panelen tar en tredjedel av utrymmet.</p>
    </vgr-panel>
  </vgr-panel-container>
  <vgr-panel-container>
    <vgr-panel width="12" themecolor="green">
      <p>Den här panelen tar en tredjedel av utrymmet.</p>
    </vgr-panel>
  </vgr-panel-container>
  <vgr-panel-container>
    <vgr-panel width="4">
      <p>Den här panelen tar en tredjedel av utrymmet.</p>
    </vgr-panel>
    <vgr-panel width="4">
      <p>Den här panelen tar en tredjedel av utrymmet.</p>
    </vgr-panel>
    <vgr-panel width="4" noborder="true">
    </vgr-panel>
  </vgr-panel-container>
</vgr-page-block>
