<vgr-page-block>
  <div class="row-layout row-layout--equal-height">
    <vgr-panel width="6" color="green">
      <p>Den här panelen tar halva utrymmet.</p>
    </vgr-panel>
    <vgr-panel width="6" color="blue">
      <p>Den här panelen tar halva utrymmet.</p>
    </vgr-panel>
  </div>

  <div class="row-layout row-layout--equal-height">
    <vgr-panel width="8" color="red">
      <p>Den här panelen tar två tredjedelar av utrymmet.</p>
    </vgr-panel>
    <vgr-panel width="4">
      <p>Den här panelen tar en tredjedel av utrymmet.</p>
    </vgr-panel>
  </div>
  <div class="row-layout row-layout--equal-height">
    <vgr-panel width="4" color="green">
      <p>Den här panelen tar en tredjedel av utrymmet.</p>
    </vgr-panel>
    <vgr-panel width="4" color="green">
      <p>Den här panelen tar en tredjedel av utrymmet.</p>
    </vgr-panel>
    <vgr-panel width="4" color="green">
      <p>Den här panelen tar en tredjedel av utrymmet.</p>
    </vgr-panel>
  </div>
</vgr-page-block>
