<vgr-page-block>
  <vgr-list [flexibleHeader]="true">
    <vgr-list-header>
      <vgr-list-column-header [text]="'Förnamn'" [width]="5" [sortKey]="'firstName'" [sortDirection]="sortDirections.Ascending"></vgr-list-column-header>
      <vgr-list-column-header [text]="'Efternamn'" [width]="5" [sortKey]="'lastName'"></vgr-list-column-header>
    </vgr-list-header>
    <vgr-list-item [notification]="notification">
      <div class="list-item__header">
        <div class="flex-column-13">John</div>
        <div class="flex-column-15">Doe</div>
      </div>
      <div class="list-item__content">
        Some content
      </div>
    </vgr-list-item>
    <vgr-list-item>
      <div class="list-item__header">
        <div class="flex-column-13">John</div>
        <div class="flex-column-15">Doe</div>
      </div>
      <div class="list-item__content">
        Some content
      </div>
    </vgr-list-item>
    <vgr-list-item>
      <div class="list-item__header">
        <div class="flex-column-13">John</div>
        <div class="flex-column-15">Doe</div>
      </div>
      <div class="list-item__content">
        Some content
      </div>
    </vgr-list-item>
    <vgr-list-item>
      <div class="list-item__header">
        <div class="flex-column-13">John</div>
        <div class="flex-column-15">Doe</div>
      </div>
      <div class="list-item__content">
        Some content
      </div>
    </vgr-list-item>
    <vgr-list-item>
      <div class="list-item__header">
        <div class="flex-column-13">John</div>
        <div class="flex-column-15">Doe</div>
      </div>
      <div class="list-item__content">
        Some content
      </div>
    </vgr-list-item>
    <vgr-list-item>
      <div class="list-item__header">
        <div class="flex-column-13">John</div>
        <div class="flex-column-15">Doe</div>
      </div>
      <div class="list-item__content">
        Some content
      </div>
    </vgr-list-item>
    <vgr-list-item>
      <div class="list-item__header">
        <div class="flex-column-13">John</div>
        <div class="flex-column-15">Doe</div>
      </div>
      <div class="list-item__content">
        Some content
      </div>
    </vgr-list-item>
  </vgr-list>
</vgr-page-block>
