<vgr-page-block>
  <div class="column-layout">
    <h2>Bugg: Det går att editera i en stängd dropdown (Komponent dropdown multiselect)</h2>
    <div class="row-layout">
      <vgr-dropdown-multiselect [values]="['Foo','Bar','Monkey','Wrench']" [disabled]="readonly"></vgr-dropdown-multiselect>
      <vgr-lock-button (lockChanged)="readonly=!readonly">Enable/Disable</vgr-lock-button>
    </div>
  </div>
</vgr-page-block>

<vgr-page-block>
  <div class="column-layout">
    <h2>Bugg: Fel storlek valideringsrutan för dropdown/dropdownmulti, och calendar</h2>
    <div class="row-layout">
      <vgr-dropdown-multiselect [readonly]="readonly" [values]="['Foo','Bar','Monkey','Wrench']" required="true"></vgr-dropdown-multiselect>
      <vgr-dropdown [readonly]="readonly" [values]="['Ballad of the Beaconsfield Miners','The Colour and the Shape','Monkey Wrench','The Feast and the Famine']"
        [selectedValue]="'Ballad of the Beaconsfield Miners'" required="true"></vgr-dropdown>
      <vgr-dropdown-multiselect [readonly]="!readonly" [values]="['Ballad of the Beaconsfield Miners','The Colour and the Shape','Monkey Wrench','The Feast and the Famine']"
        [selectedValues]="['Ballad of the Beaconsfield Miners','The Colour and the Shape','Monkey Wrench']" required="true"></vgr-dropdown-multiselect>
      <vgr-monthpicker [readonly]="readonly" [minDate]="minDate" [maxDate]="maxDate" required="true"></vgr-monthpicker>
      <vgr-datepicker [readonly]="readonly" [minDate]="minDate" [maxDate]="maxDate" required="true"></vgr-datepicker>
      <vgr-button (click)="readonly=!readonly">Toggle readonly</vgr-button>
    </div>
  </div>
</vgr-page-block>

<vgr-page-block>
  <div class="column-layout">
    <h2>Reactive forms</h2>
    <form [formGroup]="form">
      <div class="row-layout">
        <vgr-dropdown formControlName="control1" [items]="options123_1"></vgr-dropdown>
        <vgr-dropdown-multiselect formControlName="control2" [items]="options123Multi_1"></vgr-dropdown-multiselect>
        <vgr-checkbox formControlName="control3" [label]=" 'Vald' "></vgr-checkbox>
        <vgr-radio-group formControlName="control4" [options]="[{value: '1', displayName: 'Ett'},{value: '2', displayName: 'Två'},{value: '3', displayName:
          'Tre'}, {value: '4', displayName: 'Fyra', disabled:true}]">
        </vgr-radio-group>

        <vgr-monthpicker formControlName="control5"></vgr-monthpicker>
        <vgr-datepicker formControlName="control6"></vgr-datepicker>
      </div>
    </form>
  </div>
</vgr-page-block>
