<vgr-page>
  <vgr-page-header [title]="'Anställda'"></vgr-page-header>
  <vgr-page-body>
    <vgr-page-block [transparent]="true">
      <div style="display: flex; justify-content: center;">
        <vgr-toggle-button-group [width]="'400px'">
          <vgr-toggle-button [pressed]="!showAll" (click)="toggle()">Studenter</vgr-toggle-button>
          <vgr-toggle-button [pressed]="showAll" (click)="toggle()">Alla</vgr-toggle-button>
        </vgr-toggle-button-group>
      </div>
    </vgr-page-block>
    <vgr-page-block>
      <vgr-list [flexibleHeader]="true">
        <vgr-list-header>
          <vgr-list-column-header width="5">Förnamn</vgr-list-column-header>
          <vgr-list-column-header width="5">Efternamn</vgr-list-column-header>
          <vgr-list-column-header width="5">Yrke</vgr-list-column-header>
          <vgr-list-column-header width="5" [align]="'right'">Inkomst</vgr-list-column-header>
        </vgr-list-header>
        <vgr-list-item *ngFor="let row of peopleFiltered">
          <vgr-list-item-header>
            <vgr-list-column width="5">{{row.firstName}}</vgr-list-column>
            <vgr-list-column width="5">{{row.lastName}}</vgr-list-column>
            <vgr-list-column width="5">{{row.occupation}}</vgr-list-column>
            <vgr-list-column width="5" [align]="'right'">{{row.income | number:'2.2-2':'sv-SE'}}</vgr-list-column>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <vgr-expandable-div *ngFor="let row of row.children" [expanded]="false">
              <vgr-expandable-div-header>
                <h2>Barn</h2>
              </vgr-expandable-div-header>
              <vgr-expandable-div-content>
                <span>Förnamn: {{row.firstName}}</span>
                <br>
                <span>Efternamn: {{row.lastName}}</span>
              </vgr-expandable-div-content>
            </vgr-expandable-div>
          </vgr-list-item-content>
        </vgr-list-item>
      </vgr-list>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>