.table {
  position: relative;
  display: block;
  min-height: 20px;
  .table-header {
    background-color: green;
    cursor: pointer;
    .table-chevron {
      position: absolute;
      top: 0;
      right: 0px;
      &.expanded {
        @extend .chevron-expanded;
      }
      &.collapsed {
        @extend .chevron-collapsed;
      }
    }
  }
  .table-body {
    background-color: red;
  }
  &.table--collapsed {
    .table-content {
      display: none;
    }
  }
  vgr-table-header-column,
  vgr-table-row-column {
    background-color: yellow;
  }
} // @media screen and (min-width: $desktop-width--medium) {
//   .expandable-div {
//     .expandable-div-header {
//       // padding-right: $margin--fat;
//       // padding-left: $margin--fat;
//       .expandable-div-chevron {
//         right: 0px;
//       }
//     } // .expandable-div-content {
//     //   padding-right: $margin--fat;
//     //   padding-left: $margin--fat;
//     // }
//   }
// }
