.expandable-div {
  position: relative;
  display: block;
  min-height: 20px;
  .expandable-div-header {
    cursor: pointer;
    .expandable-div-chevron {
      position: absolute;
      top: 0;
      right: 10px;
      &.expanded {
        @extend .chevron-expanded;
      }
      &.collapsed {
        @extend .chevron-collapsed;
      }
    }
  }
  &.expandable-div--collapsed {
    .expandable-div-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-in;
    }
  }
  &.expandable-div--expanded {
    .expandable-div-content {
      max-height: 999px;
      overflow: hidden;
      transition: max-height 0.4s ease-out;
    }
  }
}
