.textarea {
  display: inline-block;
  margin-bottom: 5px;
  &-input {
    width: 100%;
    top: 0px;
    resize: none;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    padding: 10px;
    border-radius: 1px;
    border: 1px solid #151515;
  }
  &-validation {
    max-height: none;
    padding: $margin--slim;
    &-error--active & {
      background-color: $secondary-color--error;
      transition: background-color 0.3s linear;
    }
    &-error--editing & {
      background-color: $background-color--default;
      transition: background-color 0.3s linear;
    }
    &-error--fixed & {
      &:after {
        visibility: visible;
      }
    }
    &_status {
      display: flex;
      &__message {
        position: relative;
        max-width: calc(100% - 30px);
        display: none;
        margin-left: 4px;
        vertical-align: middle;
        .textarea-validation-error--active & {
          color: $primary-color--error;
          display: inline-block;
        }
        .textarea-validation-error--editing & {
          display: inline-block;
          color: $text-color--default;
        }
      }
      &__icon {
        display: none;
        margin-top: 2px;
        height: 30px;
        width: 30px;
        vertical-align: middle;
        .textarea-validation-error--active & {
          @extend .bg-image-icon-exclamation--red;
          display: inline-block;
        }
        .textarea-validation-error--editing & {
          display: inline-block;
          @extend .bg-image-icon-exclamation;
        }
      }
    }
  }
}
