.vgr-modal {
  display: none;
  position: fixed;
  z-index: $layer-modal;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $modal-background-color;

  .vgr-modal--open & {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal-content {
  background-color: #fefefe;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 30px;
  padding-bottom: 20px;
  border: 1px solid #888;
  width: 448px;
}

.modal-content__title {
  margin-bottom: 30px;
}

.modal-content__message {
  margin-bottom: 36px;
}

.modal-content__buttons {
  float: right;
  min-height: 30px;
  >* {
    margin-right: 20px;
  }
  >*:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: $desktop-width--medium) {
  .modal-content {
    padding-top: 38px;
  }
  .modal-content__title {
    margin-bottom: 32px;
  }
  .modal-content__message {
    margin-bottom: 36px;
  }
}
