.save-cancel {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 30px;
    >* {
        margin-left: $margin--fat;
    }
    >:first-child {
        margin-left: 0;
    }
}