.close-button {
  @extend .button__base;
  @extend .bg-image-close-button;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  &:active:not(.button--disabled) {
    height: 18px;
  }
}

@media screen and (min-width: $desktop-width--medium) {
  .close-button {
    width: 24px;
    height: 24px;
    &:active:not(.button--disabled) {
      height: 22px;
    }
  }
}
