.filter-tag-group {
  display: flex;
}

$filter-tag-height--medium: 28px;
$filter-tag-height--small: 25px;
$filter-tag__close-icon-margin: 5px;

.filter-tag {
  @extend .button__base;
  font-size: $font-size--small;
  font-family: $font-family;
  height: $filter-tag-height--small;
  line-height: $filter-tag-height--small;
  margin-right: 5px;
  
  .filter-tag__content {
    padding-left: 10px; 
    padding-right: 7px;
  }

  .filter-tag__close-icon {
    @extend .bg-image-filter-tag__close;
    display: inline-block;
    width: 30px;
    height: $filter-tag-height--small - 2 * $filter-tag__close-icon-margin;
    margin-top: $filter-tag__close-icon-margin; 
    margin-bottom: $filter-tag__close-icon-margin; 
    border-left: $text-color--light solid 1px;
    vertical-align: top;
  }
}
  
@media screen and (min-width: $desktop-width--medium) {
  .filter-tag {
    font-size: $font-size--medium;
    height: $filter-tag-height--medium;
    line-height: $filter-tag-height--medium;
    
    .filter-tag__content {
      height: $filter-tag-height--medium;
      padding-left: 20px; 
      padding-right: 16px; 
    }

    .filter-tag__close-icon {
      height: $filter-tag-height--medium - 2 * $filter-tag__close-icon-margin;
    }
  }
}