.panel {
  .panel__wrapper {
    //padding: 0 10px;
    .panel__container {
      padding-left: $margin--slim;
      padding-right: $margin--slim;
      padding-top: $margin--slim;
      padding-bottom: $margin--slim;
      background: white;
      height: 150px;
      width: 100%;
      @extend .border-top-color--primary;
      border-color: $primary-color--default;
      border: solid 1px $border-color;
      border-top: $border--regular solid;
    }
  }
}

@media screen and (min-width: $desktop-width--medium) {}

// TODO: Move to row layout????
// TODO: dokumentera och exponera dessa klasser
@mixin flex-width($number) {
  .flex-width--#{$number} {
    flex: $number; //width: percentage(0.08333 * $number);
  }
}

@for $i from 1 through 12 {
  @include flex-width($i);
}

.panel-container {
  display: flex;
  flex-direction: row;
  margin: 0;
}

// .color--red & {
//     border-color: $primary-color--red !important;
//   }
//   .color--blue & {
//     border-color: $primary-color--blue;
//   }
//   .color--green & {
//     border-color: $primary-color--green;
//   }
//   .color-neutral & {
//     border-color: $primary-color--default;
//   }
