.information-panel {
  @extend .border-top-color--primary;
  border-top: $border--regular solid $primary-color--default;
  background: white;
  &.color--red {
    border-color: $primary-color--red;
  }
  &.color--blue {
    border-color: $primary-color--blue;
  }
  &.color--green {
    border-color: $primary-color--green;
  }
  &.color-neutral {
    border-color: $primary-color--default;
  }
}

.information-panel__container {
  padding-left: $margin--slim;
  padding-right: $margin--slim;
  padding-top: $margin--slim;
  padding-bottom: $margin--slim;
  border: solid 1px $border-color;
  height: 150px;
  width: 100%;
  .color--red & {
    border-color: $primary-color--red;
  }
  .color--blue & {
    border-color: $primary-color--blue;
  }
  .color--green & {
    border-color: $primary-color--green;
  }
  .color-neutral & {
    border-color: $primary-color--default;
  }
}

@media screen and (min-width: $desktop-width--medium) {
  .information-panel__content {
    padding-top: $margin--regular;
    padding-left: $margin--fat;
    padding-right: $margin--fat;
  }
}

// TODO: Move to row layout????
@mixin flex-width($number) {
  .flex-width--#{$number} {
    flex: percentage(0.08333 * $number);
  }
}

@for $i from 1 through 12 {
  @include flex-width($i);
}
