.table {
  position: relative;
  display: block;
  min-height: 20px;
  .table-header {
    font-size: 0; // to avoid spacing between columns
    padding-left: $margin--slim;
    padding-right: $margin--slim;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      @extend .background-color--primary-dimmed;
    }
    .table__column {
      font-size: $font-size--small;
    }
    .table-chevron {
      position: absolute;
      top: 0;
      right: $margin--slim;
      &.expanded {
        @extend .chevron-expanded;
      }
      &.collapsed {
        @extend .chevron-collapsed;
      }
    }
  }
  .table-body {
    .table-row {
      font-size: 0; // to avoid spacing between columns
      display: block;
      padding-left: $margin--slim;
      padding-right: $margin--slim;
      &:hover {
        @extend .background-color--primary-dimmed;
      }
      .table__column {
        font-size: $font-size--small;
        &:first-child {
          padding-left: $margin--slim;
        }
      }
    }
  }
  &.table--collapsed {
    .table-content {
      display: none;
    }
  }
  .table {
    .table-body {
      .table-row {
        .table__column {
          &:first-child {
            padding-left: $margin--slim*2;
          }
        }
      }
    }
    .table-header {
      .table__column {
        &:first-child {
          padding-left: $margin--slim;
        }
      }
    }
    &.table--collapsed {
      .table-header {
        font-weight: normal;
      }
    }
    .table {
      .table-body {
        .table-row {
          .table__column {
            &:first-child {
              padding-left: $margin--slim*3;
            }
          }
        }
      }
      .table-header {
        .table__column {
          &:first-child {
            padding-left: $margin--slim*2;
          }
        }
      }
      .table {
        .table-body {
          .table-row {
            .table__column {
              &:first-child {
                padding-left: $margin--slim*4;
              }
            }
          }
        }
        .table-header {
          .table__column {
            &:first-child {
              padding-left: $margin--slim*3;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $desktop-width--medium) {
  .table {
    .table-header {
      padding-left: $margin--fat;
      padding-right: $margin--fat;
      .table-chevron {
        right: $margin--fat;
      }
      .table__column {
        font-size: $font-size--medium;
      }
    }
    .table-body {
      .table-row {
        display: block;
        padding-left: $margin--fat;
        padding-right: $margin--fat;
        .table__column {
          font-size: $font-size--medium;
        }
      }
    }
  }
}
