.lock-button {
  @extend .button__base;
  width: 34px;
  height: 30px;
}

.lock-button__top {
  @extend .bg-image-lock-button__top;
  position: absolute;
  top: 5px;
  left: 11px;
  transition: left 0.2s linear;
  .lock-button--unlocked & {
    left: 17px;
  }
}

.lock-button__bottom {
  @extend .bg-image-lock-button__bottom;
  position: absolute;
  top: 13px;
  left: 11px;
}
