.menu-selector {
  position: absolute;
  top: 76px;
  left: 23px;
  z-index: $layer-four;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.6s linear;
  &:hover {
    opacity: 1;
    transition: opacity 0.6s linear;
  }
}
