.textarea {
  display: inline-block;
  margin-bottom: 5px;
  &-input {
    display: block;
    overflow: hidden;
    width: 100%;
    top: 0px;
    resize: none;
    padding: 10px;
    transition: border-color 0.6s linear;
    .readonly & {
      border-color: $background-color--content;
      cursor: text;
      &::placeholder {
        // Chrome, Firefox, Opera, Safari 10.1+ 
        opacity: 0; // Firefox 
        transition: opacity 0.6s linear;
      }
      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        opacity: 0;
        transition: opacity 0.6s linear;
      }
      &::-ms-input-placeholder {
        /* Microsoft Edge */
        opacity: 0;
        transition: opacity 0.6s linear;
      }
    }
    &:focus {
      outline: $focus-outline-width solid $focus-color;
    }
  }
  &-validation {
    max-height: none;
    padding: $margin--slim;
    padding-bottom: 8px;
    margin-left: -$margin--slim;
    margin-right: -$margin--slim;
    &-error--active & {
      background-color: $secondary-color--error;
      transition: background-color 0.3s linear;
    }
    &-error--editing & {
      background-color: $background-color--default;
      transition: background-color 0.3s linear;
    }
    &-error--fixed & {
      &:after {
        visibility: visible;
      }
    }
    &_status {
      margin-top: 8px;
      &__message {
        position: relative;
        top: -2px;
        max-width: calc(100% - 30px);
        display: none;
        vertical-align: middle;
        .textarea-validation-error--active & {
          color: $primary-color--error;
          display: inline-block;
        }
        .textarea-validation-error--editing & {
          display: inline-block;
          color: $text-color--default;
        }
      }
      &__icon {
        position: relative;
        top: -2px;
        display: none;
        height: 30px;
        width: 30px;
        vertical-align: middle;
        .textarea-validation-error--active & {
          @extend .bg-image-icon-exclamation--red;
          display: inline-block;
        }
        .textarea-validation-error--editing & {
          display: inline-block;
          @extend .bg-image-icon-exclamation;
        }
      }
    }
  }
}
