vgr-menu-container,
.example-menu-container {
  height: 100%;
  display: block;
  .menu {
    width: 100%;
    height: 100%;
    display: block;
    background: white;
    border-right: solid 1px $border-color;
    color: $menu-text-color;
    .menu__header {
      @extend .border-left-color--primary;
      border-left: $menu-border-width--small solid;
      padding-left: 0px;
      margin: 0;
      min-height: $menu-header-height--small;
      max-height: $menu-header-height--small;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      @extend .border-left-color--primary;
      .menu__header__title {
        font-size: $menu-header-font-size--small;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        padding-left: $margin--slim;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        &.menu__header__title--smaller-font-size {
          font-size: $menu-header-font-size--smaller;
        }
      }
    }
    .menu__footer {
      height: 100%;
      width: 100%;
      display: block;
      @extend .border-left-color--secondary;
      border-left: $menu-border-width--small solid;
    }
    &:hover {
      .menu__item {
        &.menu__item--selected {
          @extend .border-left-color--secondary;
          &:hover {
            @extend .border-left-color--primary;
          }
        }
      }
    }
    .submenu {
      .menu__item {
        padding-right: 25px;
      }
      .submenu-content {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.6s ease-out;
        .menu__item {
          padding-left: $margin--fat;
        }
      }
      .menu__item__expander {
        position: absolute;
        top: 5px;
        right: $margin--regular;
        font-size: 10px;
        padding-bottom: 26px;
      }
      .menu__item__minus {
        @extend .bg-image-icon-minus;
        background-size: 9px 26px;
        background-repeat: no-repeat;
        background-position-x: center;
      }
      .menu__item__plus {
        @extend .bg-image-icon-plus;
      }
      &.submenu--expanded {
        .submenu-content {
          max-height: 999px;
          transition: max-height 1.0s ease-in;
        }
      }
      &.submenu--child-selected {
        >.menu__item a {
          font-weight: bold;
          letter-spacing: $menu-text-font-size--medium-letter-spacing-bold;
        }
      }
    }
  }
  .menu__item {
    @extend .border-left-color--secondary;
    position: relative;
    border-left: $menu-border-width--small solid;
    padding-left: $margin--slim;
    padding-top: $margin--xs-slim;
    padding-bottom: $margin--xs-slim;
    font-size: $menu-text-font-size--small;
    display: block;
    word-wrap: break-word;
    cursor: pointer;
    a {
      position: relative;
      color: inherit;
      border: none;
      padding: 0;
      display: block
    }
    a:link {
      color: inherit;
    }
    a:visited {
      color: inherit;
    }
    a:hover {
      color: inherit;
      font-weight: inherit;
    }
    a:active {
      color: inherit;
      font-weight: inherit;
    }
    &:hover:not(.menu__item--disabled) {
      @extend .border-left-color--primary;
      cursor: pointer;
      font-weight: bold;
      a {
        letter-spacing: $menu-text-font-size--medium-letter-spacing-bold;
      }
    }
    &.menu__item--selected {
      @extend .border-left-color--primary;
      @extend .background-color--secondary;
      color: $text-color--light;
      font-weight: bold;
      letter-spacing: $menu-text-font-size--medium-letter-spacing-bold;
    }
    &.menu__item--disabled {
      cursor: default;
      color: $secondary-color--default;
      p {
        position: relative;
      }
    }
    &.menu-separator {
      width: 100%;
      padding-top: 0px;
      padding-bottom: 0px;
      display: block;
      height: 1px;
      background-color: #dbdbdb;
      &:hover {
        @extend .border-left-color--secondary;
      }
    }
    .menu__item--notification {
      height: 23px;
      width: 23px;
      line-height: 23px;
      display: inline-block;
      background-color: $primary-color--default;
      color: $text-color--light;
      border-radius: 50%;
      font-size: $menu-text-font-size--small;
      font-weight: normal;
      text-align: center;
      position: absolute;
      top: -6px;
      &.notification--green {
        background-color: $primary-color--green;
      }
      &.notification--red {
        background-color: $primary-color--red
      }
    }
  }
}

@media screen and (min-width: $desktop-width--medium) {
  vgr-menu-container,
  .example-menu-container {
    .menu {
      .menu__header {
        padding-left: 0px;
        border-left: $menu-border-width--medium solid $primary-color--default;
        min-height: $menu-header-height--medium;
        max-height: $menu-header-height--medium;
        .menu__header__title {
          font-size: $menu-header-font-size--medium;
          padding-left: $menu-border-width--medium;
          width: 100%;
          margin-top: 0px;
          height: 100%;
          &.menu__header__title--smaller-font-size {
            font-size: $menu-header-font-size--small;
          }
        }
      }
      .menu__item {
        border-left-width: $menu-border-width--medium;
        font-size: $menu-text-font-size--medium;
        padding-bottom: 6px;
        padding-top: 6px;
        &.menu-separator {
          padding-top: 0px;
          padding-bottom: 0px;
        }
        &:hover {
          a {
            letter-spacing: $menu-text-font-size--medium-letter-spacing-bold;
          }
        }
        .menu__item__expander {
          font-size: 11px;
          top: 7px;
        }
      }
      .submenu {
        &.submenu--child-selected {
          >.menu__item a {
            letter-spacing: $menu-text-font-size--medium-letter-spacing-bold;
          }
        }
      }
      .menu__footer {
        border-left: $menu-border-width--medium solid;
      }
    }
  }
}
