@import "partials/_components.dropdown.scss";
.dropdown--multiselect {
  .dropdown__menu {
    a {
      min-height: 38px;
    }
  }
  &:focus {
    outline: $focus-outline-width solid $focus-color;
  }
}

vgr-dropdown-multiselect {
  position: relative;
  .dropdown--edit {
    position: absolute;
    opacity: 1;
    height: 30px;
    transition: opacity 0.6s linear;
  }
  &.readonly {
    .dropdown--edit {
      opacity: 0;
      width: 0;
      height: 0;
      min-height: 0;
      transition: opacity 0.6s linear;
    }
  }
}

.dropdown__multiselect-readonlylist {
  min-width: $dropdown-width--medium;
  opacity: 0;
  transition: opacity 0.6s linear;
  padding-top: 3px;
  width: $dropdown-width--medium;
  max-height: 0px;
  overflow: hidden;
  ul {
    padding-left: 10px;
    list-style-type: disc;
    list-style-position: inside;
    li {
      margin-left: 10px;
      text-indent: -25px;
      padding-left: 25px;
    }
  }
  .readonly & {
    opacity: 1;
    max-height: 500px;
    width: auto;
    min-height: $component-height;
    &:focus {
      outline: $focus-outline-width solid $focus-color;
    }
  }
}

@media screen and (max-width: $desktop-width--small) {
  .dropdown--multiselect {
    .dropdown__menu {
      max-height: 320px;
    }
  }
  .dropdown__multiselect-readonlylist {
    width: $dropdown-width--medium;
  }
}
