.loader {
  width: 55px;
  height: 55px;
  transform: rotate(-45deg);
  border: solid 7px #dbdbdb;
  border-top: solid 7px #314152;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.4s ease;
  &.loader--small {
    width: 22px;
    height: 22px;
    border: solid 4px #dbdbdb;
    border-top: solid 4px #314152;
  }
  .loader--visible & {
    opacity: 1;
    transition: opacity 0.8s ease;
  }
  .loader--spinning & {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
