vgr-menu-container {
  width: 500px;
  height: 100%;
  .menu {
    width: 100%;
    display: block;
    background: $background-color--default;
    border-right: solid 1px $border-color;
    color: $menu-text-color;
    .menu__header {
      @extend .border-left-color--primary;
      border-left: $menu-border-width--small solid;
      padding-left: 0px;
      margin: 0;
      font-size: $menu-header-font-size--small;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      min-height: $menu-header-height--small;
      max-height: $menu-header-height--small;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      @extend .border-left-color--primary;
      .menu__header__title {
        padding-left: $margin--slim;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
    &:hover {
      .menu-item {
        &.menu-item--selected {
          @extend .border-left-color--secondary;
          &:hover {
            @extend .border-left-color--primary;
          }
        }
      }
    }
  }
  .menu-item {
    display: block;
  }
  .menu-item {
    @extend .border-left-color--secondary;
    border-left: $menu-border-width--small solid;
    padding-left: $margin--slim;
    font-size: $menu-text-font-size--small;
    padding-top: $margin--xs-slim;
    padding-bottom: $margin--xs-slim;
    cursor: pointer;
    a {
      color: inherit;
      border: none;
      padding: 0;
      display: block
    }
    a:link {
      color: inherit;
    }
    a:visited {
      color: inherit;
    }
    a:hover {
      color: inherit;
      font-weight: inherit;
    }
    a:active {
      color: inherit;
      font-weight: inherit;
    }
    &:hover {
      @extend .border-left-color--primary;
      font-weight: bold;
      letter-spacing: $font-size--small-letter-spacing-bold;
      a {
        letter-spacing: $menu-text-font-size--medium-letter-spacing-bold;
      }
    }
    &.menu-item--selected {
      @extend .border-left-color--primary;
      @extend .background-color--secondary;
      color: $text-color--light;
      font-weight: bold;
      letter-spacing: $menu-text-font-size--medium-letter-spacing-bold;
    }
  }
}

@media screen and (min-width: $desktop-width--medium) {
  vgr-menu-container {
    .menu {
      .menu__header {
        padding-left: 0px;
        border-left: $menu-border-width--medium solid $primary-color--default;
        font-size: $menu-header-font-size--medium;
        min-height: $menu-header-height--medium;
        max-height: $menu-header-height--medium;
        .menu__header__title {
          padding-left: $menu-border-width--medium;
          width: 100%;
          margin-top: 0px;
          height: 100%;
        }
      }
      .menu-item {
        border-left-width: $menu-border-width--medium;
        font-size: $menu-text-font-size--medium;
        padding-bottom: 6px;
        padding-top: 6px;
        &:hover {
          letter-spacing: $menu-text-font-size--medium-letter-spacing-bold;
        }
      }
    }
  }
}
