.vgr-icon-search {
  @extend .bg-image-icon-search;
  display: block;
  height: 30px;
  width: 20px;
}

.vgr-icon-lock-button {
  @extend .bg-image-lock-button__bottom;
  display: block;
}

.vgr-icon-pinkiepie {
  @extend .bg-image-pinkie-pie--small;
  display: block;
  height: 140px;
  width: 140px;
}

.vgr-icon-trashcan {
  @extend .bg-image-icon-trashcan;
  display: block;
  height: 30px;
  width: 20px;
}

.vgr-icon-ok-check-green {
  @extend .bg-image-icon-ok-check--green;
  display: block;
  height: 30px;
  width: 20px;
}

.vgr-icon-exclamation {
  @extend .bg-image-icon-exclamation;
  display: block;
  height: 30px;
  width: 20px;
}

.vgr-icon-exclamation--red {
  @extend .bg-image-icon-exclamation--red;
  display: block;
  height: 30px;
  width: 20px;
}

.vgr-icon-question {
  @extend .bg-image-icon-exclamation;
  display: block;
  height: 30px;
  width: 20px;
}

.vgr-icon-question {
  @extend .bg-image-icon-question;
  display: block;
  height: 30px;
  width: 20px;
}

.vgr-icon-plus {
  @extend .bg-image-icon-plus;
  display: block;
  height: 30px;
  width: 20px;
}

.vgr-icon-minus {
  @extend .bg-image-icon-minus;
  display: block;
  height: 30px;
  width: 20px;
}

.vgr-icon-edit {
  @extend .bg-image-icon--edit;
  display: block;
  height: 30px;
  width: 20px;
}

.vgr-icon-white {
  @extend .bg-image-icon-arrow-white;
  display: block;
  height: 30px;
  width: 20px;
}
