.vgr-icon-search {
  @extend .bg-image-icon-search;
  @extend .background-color--primary;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 34px;
  height: 34px;
  font-size: 16px;
  font-family: FontAwesome;
  margin-top: 1px;
  vertical-align: middle;
  text-align: center;
}

.vgr-icon-message {
  @extend .bg-image-icon-message;
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  margin-top: 1px;
  vertical-align: middle;
  text-align: center;
}

.vgr-icon-lock-button {
  @extend .bg-image-lock-button__bottom;
  @extend .background-color--primary;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 34px;
  height: 34px;
  font-size: 16px;
  font-family: FontAwesome;
  margin-top: 1px;
  vertical-align: middle;
  text-align: center;
}

.vgr-icon-pinkiepie {
  @extend .bg-image-pinkie-pie--small;
  display: block;
  height: 140px;
  width: 140px;
}

.vgr-icon-trashcan {
  @extend .bg-image-icon-trashcan;
  display: block;
  height: 30px;
  width: 30px;
}

.vgr-icon-ok-check-green {
  @extend .bg-image-icon-ok-check--green;
  display: block;
  height: 30px;
  width: 30px;
}

.vgr-icon-exclamation {
  @extend .bg-image-icon-exclamation;
  display: block;
  height: 30px;
  width: 30px;
}

.vgr-icon-exclamation--red {
  @extend .bg-image-icon-exclamation--red;
  display: block;
  height: 30px;
  width: 30px;
}

.vgr-icon-question {
  @extend .bg-image-icon-question;
  display: block;
  height: 30px;
  width: 30px;
}

.vgr-icon-plus {
  @extend .bg-image-icon-plus;
  display: block;
  height: 30px;
  width: 20px;
}

.vgr-icon-minus {
  @extend .bg-image-icon-minus;
}

.vgr-icon-edit {
  @extend .bg-image-icon--edit;
  display: block;
  height: 30px;
  width: 20px;
}

.vgr-icon-arrow {
  @extend .bg-image-icon-arrow-white;
  display: block;
  @extend .background-color--primary;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 34px;
  height: 34px;
  font-size: 16px;
  font-family: FontAwesome;
  margin-top: 1px;
  text-align: center;
}
