<vgr-page>
  <vgr-page-header [title]="'Ikoner'">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <h2>Dokumentation för tillgängliga ikoner i komponentkartan</h2>
      <p>För att kunna använda sig utav de ikoner (svg-bilder) som finns i komponentkartan, så finns deras klassnamn
        representerade
        i tabellen nedanför.
        <br>
        <br>Svg-bilderna är kopplade till en background-image för samtliga klasser i komponentkartans ikon-bibliotek.
      </p>
      <br>
      <div>
        <vgr-icon [icon]="'coffee'" [size]="'xs'" [ariaLabel]="'min kaffekopp'" [neutral]="true" ></vgr-icon> Solid [size]="'xs'", [neutral]="true"<br>
        <vgr-icon [icon]="'coffee'" [disabled]="true"></vgr-icon> Solid [disabled]="true"<br>
        <vgr-icon [icon]="'comment-dots'" [prefix]="'far'" [size]="'lg'"></vgr-icon> Regular [prefix]="'far'"
        [size]="'lg'"<br>
        <vgr-icon class="theme--red" [icon]="'star'" [focusable]="true"></vgr-icon><br>
        <span (click)="fav = !fav" style="cursor: pointer;">
          <vgr-icon [icon]="'star'" [prefix]="fav? 'fas' : 'far' "></vgr-icon>
        </span><br><br>
        Descreet button med ikon.<br>
        <vgr-button [buttonStyle]="'discreet'" (click)="favButton = !favButton">
          <vgr-icon [focusable]="false" [icon]="'star'" [prefix]="favButton ? 'fas' : 'far' "></vgr-icon>
          Min favoritknapp
        </vgr-button>
        <vgr-button [buttonStyle]="'discreet'">
            <vgr-icon [focusable]="false" [icon]="'coffee'"></vgr-icon>
            Kaffe
          </vgr-button><br>
      </div>
      <br>
      <table class="property-table" style="width:50%">
        <tr>
          <th>Namn</th>
          <th>Ikon</th>
        </tr>
        <tr>
          <td>
            vgr-icon-plus
          </td>
          <td>
            <div class="vgr-icon-plus"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-minus
          </td>
          <td>
            <div class="vgr-icon-minus"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-edit
          </td>
          <td>
            <div class="vgr-icon-edit"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-message
          </td>
          <td>
            <div class="vgr-icon-message"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-trashcan
          </td>
          <td>
            <div class="vgr-icon-trashcan"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-ok-check-green
          </td>
          <td>
            <div class="vgr-icon-ok-check-green"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-ok-check
          </td>
          <td>
            <div class="vgr-icon-ok-check"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-question
          </td>
          <td>
            <span class="vgr-icon-question"></span>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-exclamation
          </td>
          <td>
            <div class="vgr-icon-exclamation"></div>
          </td>
        </tr>
        <tr>
          <td>
            vgr-icon-exclamation--red
          </td>
          <td>
            <div class="vgr-icon-exclamation--red"></div>
          </td>
        </tr>

      </table>
      <br>
      <h2>Exempel</h2>
      <br> Lägga till en ikon i html:
      <section style="width:50%" [innerHTML]="iconExamplesHTML" highlight-js-content=".highlight"></section>

      <br> Skapa en notifiering i typescript:
      <br>
      <section style="width:70%" [innerHTML]="iconExamplesTS2" highlight-js-content=".highlight"></section>



      <br> När man vill skicka med en ikon till en notifiering i typescript:
      <br>
      <section style="width:70%" [innerHTML]="iconExamplesTS" highlight-js-content=".highlight"></section>



    </vgr-page-block>
  </vgr-page-body>

</vgr-page>