td {
  vertical-align: middle;
  padding-right: 0;
}

.fa-icons {
  display: flex;
  margin-bottom: 4px;
  & > *:first-child {
    width: 40px;
  }  
}

vgr-icon-question {
  width: 60px !important;
}
