<div class="main-content">
    <vgr-page-header [title]="'Färgkarta'">
    </vgr-page-header>

    <div class="komponentkarta-components">
        <!-- Färger -->
        <div class="komponentkarta-component column-layout">
            <div class="color-sample neutral--primary">
                <span class="color-sample__name">Neutral primärfärg</span>
                <span class="color-sample__code">R: 49 G: 65 B: 82 <strong>#314152</strong></span>
            </div>
            <div class="color-sample neutral--secondary">
                <span class="color-sample__name">Neutral sekundärfärg</span>
                <span class="color-sample__code">R: 135 G: 147 B: 159 <strong>#99A3AD</strong></span>
            </div>
            <div class="color-sample background-color--default">
                <span class="color-sample__name">Bakgrund</span>
                <span class="color-sample__code">R: 240 G: 240 B: 240 <strong>#F0F0F0</strong></span>
            </div>
            <div class="color-sample background-color--text">
                <span class="color-sample__name">Textfärg</span>
                <span class="color-sample__code">R: 30 G: 30 B: 30 <strong>#151515</strong></span>
            </div>
            <div class="color-sample vgpv--primary">
                <span class="color-sample__name">VGPV primärfärg</span>
                <span class="color-sample__code">R: 157 G: 34 B: 53 <strong>#9D2235</strong></span>
            </div>
            <div class="color-sample vgpv--secondary">
                <span class="color-sample__name">VGPV sekundärfärg</span>
                <span class="color-sample__code">R: 186 G: 98 B: 113 <strong>#BA6271</strong></span>
            </div>
            <div class="color-sample bmm--primary">
                <span class="color-sample__name">BMM primärfärg</span>
                <span class="color-sample__code">R: 0 G: 98 B: 152 <strong>#006298</strong></span>
            </div>
            <div class="color-sample bmm--secondary">
                <span class="color-sample__name">BMM sekundärfärg</span>
                <span class="color-sample__code">R: 80 G: 143 B: 184 <strong>#508FB8</strong></span>
            </div>
            <div class="color-sample rehab--primary">
                <span class="color-sample__name">Rehab primärfärg</span>
                <span class="color-sample__code">R: 74 G: 119 B: 60 <strong>#4A773C</strong></span>
            </div>
            <div class="color-sample rehab--secondary">
                <span class="color-sample__name">Rehab sekundärfärg</span>
                <span class="color-sample__code">R: 127 G: 162 B: 118 <strong>#7FA276</strong></span>
            </div>
        </div>
    </div>
</div>