<vgr-page>
  <vgr-page-header [title]="'Kodexempel enkel lista'">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <vgr-list [flexibleHeader]="false">
        <vgr-list-header>
          <vgr-list-column-header align="left" text="Förnamn" width="2" sortKey="firstName"></vgr-list-column-header>
          <vgr-list-column-header align="left" text="Efternamn" width="2" sortKey="lastName"></vgr-list-column-header>
          <vgr-list-column-header align="right" text="Årsbelopp" width="2" sortKey="amount"></vgr-list-column-header>
          <vgr-list-column-header align="left" text="Enhet" width="2" sortKey="unitname"></vgr-list-column-header>
          <vgr-list-column-header align="right" text="hsaid" width="2" sortKey="hsaid"></vgr-list-column-header>
          <vgr-list-column-header align="left" text="Ägare" width="1" sortKey="owner"></vgr-list-column-header>
          <vgr-list-column-header align="center" text="A" width="1" sortKey="unitcode"></vgr-list-column-header>
          <vgr-list-column-header align="left" text="B" width="1" sortKey="committee"></vgr-list-column-header>
          <vgr-list-column-header align="left" text="C" width="1" sortKey="committee"></vgr-list-column-header>
          <vgr-list-column-header align="center" text="D" width="1" sortKey="committee"></vgr-list-column-header>
          <vgr-list-column-header align="center" text="E" width="1" sortKey="committee"></vgr-list-column-header>
          <vgr-list-column-header align="center" text="F" width="1" sortKey="committee"></vgr-list-column-header>
          <vgr-list-column-header align="center" text="G" width="1" sortKey="committee"></vgr-list-column-header>
          <vgr-list-column-header align="center" text="H" width="1" sortKey="committee"></vgr-list-column-header>
          <vgr-list-column-header align="center" text="I" width="1" sortKey="committee"></vgr-list-column-header>
        </vgr-list-header>
        <vgr-list-item *ngFor="let row of peopleWithUnitRows" [notification]="row.notification" (deleted)="onDeleted(row)" (expandedChanged)="onExpandedChanged($event, row)">
          <vgr-list-item-header>
            <vgr-list-column [text]="row.previewObject.firstName" align="left" width="2"></vgr-list-column>
            <vgr-list-column [text]="row.previewObject.lastName" align="left" width="2"></vgr-list-column>
            <vgr-list-column [text]="row.previewObject.amount | number:'2.2-2':'sv-SE'" align="right" width="2"></vgr-list-column>
            <vgr-list-column [text]="row.previewObject.unitname" align="left" width="2"></vgr-list-column>
            <vgr-list-column [text]="row.previewObject.hsaid" align="right" width="2"></vgr-list-column>
            <vgr-list-column [text]="row.previewObject.owner" align="left" width="1"></vgr-list-column>
            <vgr-list-column align="center" width="1" [text]="row.previewObject.unitcode"></vgr-list-column>
            <vgr-list-column align="left" width="1" [text]="row.previewObject.unitcode"></vgr-list-column>
            <vgr-list-column align="left" width="1" text="Yadayad"></vgr-list-column>
            <vgr-list-column-checkbox align="center" width="1"></vgr-list-column-checkbox>
            <vgr-list-column-checkbox align="center" width="1"></vgr-list-column-checkbox>
            <vgr-list-column-checkbox align="center" width="1"></vgr-list-column-checkbox>
            <vgr-list-column-checkbox align="center" width="1"></vgr-list-column-checkbox>
            <vgr-list-column-trashcan align="center" width="1" [disabled]="row.previewObject.deleted" (delete)="onDeleteRow(row)"></vgr-list-column-trashcan>
            <vgr-list-column-checkbox align="center" width="1"></vgr-list-column-checkbox>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <div *ngIf="row.previewObject.expanded">
              <vgr-checkbox></vgr-checkbox>
              <span> Mer information</span>
            </div>
          </vgr-list-item-content>
        </vgr-list-item>
      </vgr-list>
    </vgr-page-block>
    <vgr-page-block>
      <div>
        <h2>Lista med papperskorg och checkbox</h2>
        <p>Här har vi exempel på en lista med kolumner för papperskorg och checkbox. I listan visas vänstersortering -
          <code>align="left"</code>, högerjustering -
          <code>align="right"</code> samt centerjustering -
          <code>align="center"</code>. För att se dokumentationen på komponenten, klicka
          <a href="/lists">här.</a>
        </p>
        <br>
        <vgr-button (click)="loadData()">Ladda data</vgr-button>
      </div>
    </vgr-page-block>
    <vgr-page-block>
      <vgr-list [flexibleHeader]="true" (sortChanged)="onSortChanged($event)">
        <vgr-list-header>
          <vgr-list-column-header text="Förnamn" width="6" align="left" sortKey="firstName"></vgr-list-column-header>
          <vgr-list-column-header text="Efternamn" width="5" sortKey="lastName"></vgr-list-column-header>
          <vgr-list-column-header text="Årsbelopp" width="5" align="right" sortKey="amount"></vgr-list-column-header>
          <vgr-list-column-header width="1"></vgr-list-column-header>
          <vgr-list-column-header-checkbox align="left" width="3" text="Markera alla" [checked]="allChecked" (checkedChanged)="onSelectAllChanged($event)"></vgr-list-column-header-checkbox>
        </vgr-list-header>
        <vgr-list-item *ngFor="let row of peopleRows" [notification]="row.notification" (deleted)="onDeleted(row)">
          <vgr-list-item-header>
            <vgr-list-column [text]="row.previewObject.firstName" width="6" align="left"></vgr-list-column>
            <vgr-list-column [text]="row.previewObject.lastName" width="5"></vgr-list-column>
            <vgr-list-column [text]="row.previewObject.amount | number:'2.2-2':'sv-SE'" width="5" align="right"></vgr-list-column>
            <vgr-list-column-trashcan width="1" [disabled]="row.previewObject.deleted" (delete)="onDeleteRow(row)"></vgr-list-column-trashcan>
            <vgr-list-column-checkbox align="left" width="3" [disabled]="row.previewObject.deleted" [checked]="row.previewObject.selected"
              (checkedChanged)="onSelectRowChanged(row, $event)"></vgr-list-column-checkbox>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <span>Mer information</span>
          </vgr-list-item-content>
        </vgr-list-item>
      </vgr-list>
      <br>
      <p>Du har valt {{ getSelectedRows() }} rader</p>
    </vgr-page-block>

  </vgr-page-body>
</vgr-page>
