<vgr-page class="no-sort">
  <vgr-page-header title="Card">
  </vgr-page-header>
  <vgr-page-body>
      <vgr-grid [allowMultipleExpandedRows]="true">
        <vgr-grid-header>
          <vgr-grid-header-column [width]="20">Dokumentation för Card</vgr-grid-header-column>
        </vgr-grid-header>
        <vgr-grid-row [expanded]="true">
            <vgr-grid-column width="20">
              <h4>Översikt</h4>
            </vgr-grid-column>
          <vgr-grid-content>
            <div class="content-overview">
              <p>
                <code>&lt;vgr-card&gt;</code> används för att skapa kort, ofta i listor som expanderat innehåll. Ett
                kort har tre
                delar: Topp, vänster och höger. Dessa fylls med innehåll genom att använda css-klasser. Ett kort
                innehåller
                en eller flera
                <code>&lt;vgr-card-section&gt;</code> som kan expanderas.
              </p>
              <vgr-card>
                <vgr-card-header>
                  <vgr-button class="flex-right" [buttonStyle]="'secondary'">Åtgärd</vgr-button>
                </vgr-card-header>
                <vgr-card-column>
                  <vgr-card-section [title]="'Rubrik'" [subtitle]="'vänster 1 med färg'" [expanded]="true" backgroundColor="#f1eadc">
                    <span>Innehåll</span>
                  </vgr-card-section>
                  <vgr-card-section [title]="'Rubrik'" [subtitle]="'vänster 2 med färg'" backgroundColor="#f1eadc">
                    <span>Innehåll</span>
                  </vgr-card-section>
                </vgr-card-column>
                <vgr-card-column>
                  <vgr-card-section class="card__right" [expanded]="true" [title]="'Rubrik'" [subtitle]="'Höger 1  med default färg, vit'"
                    [readonly]="false">
                    <div>Innehåll</div>
                    <vgr-datepicker></vgr-datepicker>
                  </vgr-card-section>
                </vgr-card-column>
              </vgr-card>

              <p>Förändras med tema:
                <strong>nej</strong>
              </p>
            </div>
            <!-- Översikt -->
          </vgr-grid-content>

        </vgr-grid-row>
        <vgr-grid-row [expanded]="false">

            <vgr-grid-column width="20">
              <h4>Exempel - två kolumner</h4>
            </vgr-grid-column>

          <vgr-grid-content>
            <!-- Exempel -->
            <vgr-card>
              <vgr-card-header>
                <vgr-button (click)="setFocus()">Fokusera på Adressuppgifter</vgr-button>
                <vgr-save-cancel class="flex-right" [secondary]="true" (unlock)="unlocked = true" (save)="unlocked = false"
                  (cancel)="unlocked = false"></vgr-save-cancel>
              </vgr-card-header>
              <vgr-card-column>
                <vgr-card-section [expanded]="true" [title]="'Rubrik'" [subtitle]="'Personuppgifter'" [readonly]="!unlocked" >
                  <vgr-title-value-layout>
                    <vgr-title-value [slim]="!unlocked">
                        <vgr-title-value-heading  [width]="1">Förnamn</vgr-title-value-heading>
                        <vgr-title-value-container  [width]="1">
                          <vgr-input [value]="'Per-Åke'" [readonly]="!unlocked" [width]="'100%'"></vgr-input>
                        </vgr-title-value-container>
                    </vgr-title-value>

                    <vgr-title-value [slim]="!unlocked">
                      <vgr-title-value-heading  [width]="1">Efternamn</vgr-title-value-heading>
                      <vgr-title-value-container  [width]="1">
                        <vgr-input [value]="'Berg'" [readonly]="!unlocked" [width]="'100%'"></vgr-input>
                      </vgr-title-value-container>
                    </vgr-title-value>

                    <vgr-title-value [slim]="!unlocked">
                        <vgr-title-value-heading  [width]="1">Boende</vgr-title-value-heading>
                        <vgr-title-value-container  [width]="1">
                      <vgr-dropdown-select [readonly]="!unlocked" [width]="'100%'">
                        <vgr-dropdown-item>Hus</vgr-dropdown-item>
                        <vgr-dropdown-item>Lägenhet</vgr-dropdown-item>
                        <vgr-dropdown-item>Kartong</vgr-dropdown-item>
                      </vgr-dropdown-select>
                      </vgr-title-value-container>

                    </vgr-title-value>
                    <vgr-title-value [slim]="!unlocked">
                        <vgr-title-value-heading  [width]="1">Födelsedatum</vgr-title-value-heading>
                        <vgr-title-value-container  [width]="1">
                      <vgr-datepicker [selectedDate]="birthDate" [readonly]="!unlocked" [width]="'100%'"></vgr-datepicker>
                        </vgr-title-value-container>
                    </vgr-title-value>

                    <vgr-title-value [slim]="!unlocked">
                        <vgr-title-value-heading  [width]="1">Serienummer</vgr-title-value-heading>
                        <vgr-title-value-container  [width]="1">
                      <span>7a787b27-c2cc-441f-a732</span>
                        </vgr-title-value-container>
                    </vgr-title-value>
                  </vgr-title-value-layout>
                </vgr-card-section>

                <vgr-card-section #myCardSection [expanded]="true" [title]="'Rubrik'" [subtitle]="'Adressuppgifter'">
                  <vgr-title-value-layout>

                    <vgr-title-value [slim]="true">
                        <vgr-title-value-heading  >Kommun</vgr-title-value-heading>
                        <vgr-title-value-container>
                      <span>Vänersborg</span>
                    </vgr-title-value-container>
                    </vgr-title-value>
                    <vgr-title-value [slim]="true">
                        <vgr-title-value-heading  >Besöksaddress</vgr-title-value-heading>
                        <vgr-title-value-container>
                            <span>Duellvägen
                                <br>462 60
                                <br>Vänersborg
                              </span>
                    </vgr-title-value-container>

                    </vgr-title-value>
                    <vgr-title-value [slim]="true">
                        <vgr-title-value-heading  >Geokod (PT90)</vgr-title-value-heading>
                        <vgr-title-value-container>
                            <span>x: 6471784</span>
                    </vgr-title-value-container>

                    </vgr-title-value>
                  </vgr-title-value-layout>
                </vgr-card-section>
              </vgr-card-column>
              <vgr-card-column>
                <vgr-card-section [expanded]="false" [title]="'Rubrik'" [subtitle]="'Övrig information'">
                  <span>Innehåll</span>
                </vgr-card-section>
              </vgr-card-column>
            </vgr-card>
            <br>
            <h3>Markup</h3>
            <section vgrHighlightCode [innerHTML]="cardExampleMarkup"></section>
            <br>

          </vgr-grid-content>
        </vgr-grid-row>
        <vgr-grid-row [expanded]="false">

            <vgr-grid-column width="20">
              <h4>Exempel - en kolumn</h4>
            </vgr-grid-column>

          <vgr-grid-content>
            <!-- Exempel2 -->
            <vgr-card>
              <vgr-card-header>
                <vgr-save-cancel class="flex-right" [secondary]="true" (unlock)="unlocked = true" (save)="unlocked = false"
                  (cancel)="unlocked = false"></vgr-save-cancel>
              </vgr-card-header>
              <vgr-card-column>
                <table style="width:100%;text-align:left">
                  <thead>
                    <th>Kolumn 1</th>
                    <th>Kolumn 2</th>
                    <th>Kolumn 3</th>
                    <th>Kolumn 4</th>
                    <th>Kolumn 5</th>
                    <th>Kolumn 6</th>
                    <th>Kolumn 7</th>
                    <th>Kolumn 8</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Värde 1</td>
                      <td>Värde 2</td>
                      <td>Värde 3</td>
                      <td>Värde 4</td>
                      <td>Värde 5</td>
                      <td>Värde 6</td>
                      <td>Värde 7</td>
                      <td>Värde 8</td>
                    </tr>
                    <tr>
                      <td>Värde 1</td>
                      <td>Värde 2</td>
                      <td>Värde 3</td>
                      <td>Värde 4</td>
                      <td>Värde 5</td>
                      <td>Värde 6</td>
                      <td>Värde 7</td>
                      <td>Värde 8</td>
                    </tr>
                    <tr>
                      <td>Värde 1</td>
                      <td>Värde 2</td>
                      <td>Värde 3</td>
                      <td>Värde 4</td>
                      <td>Värde 5</td>
                      <td>Värde 6</td>
                      <td>Värde 7</td>
                      <td>Värde 8</td>
                    </tr>
                    <tr>
                      <td>Värde 1</td>
                      <td>Värde 2</td>
                      <td>Värde 3</td>
                      <td>Värde 4</td>
                      <td>Värde 5</td>
                      <td>Värde 6</td>
                      <td>Värde 7</td>
                      <td>Värde 8</td>
                    </tr>
                  </tbody>
                </table>
              </vgr-card-column>
            </vgr-card>
            <br>
            <h3>Markup</h3>
            <section vgrHighlightCode [innerHTML]="cardExampleMarkup2"></section>
            <br>

          </vgr-grid-content>
        </vgr-grid-row>
        <vgr-grid-row [expanded]="false ">

            <vgr-grid-column width="20">
              <h4>API</h4>
            </vgr-grid-column>

          <vgr-grid-content>
            <!-- API -->
            <h3>Templatestruktur</h3>
            <ul>
              <li>
                <code>&lt;vgr-card&gt;</code>, första elementet som representerar hela kortet</li>
              <li>
                <code>&lt;vgr-card-header&gt;</code>, ger titelyta på en vgr-card. Plats för knappar och rubriker för
                hela kortet.</li>
              <li>
                <code>&lt;vgr-card-column&gt;</code>, kolumner i kortet.
                <ul>
                  <li>
                    Om det bara finns en kolumn blir den fullbredd.
                  </li>
                  <li>
                    Om det finns två kolumner så hamnar den första till vänster och den andra till höger.
                  </li>
                  <li>
                    Fler än två kolumner stöds ej.
                  </li>
                </ul>
              </li>

              <li>
                <code>&lt;vgr-card-section&gt;</code>, expanderbar sektion som placeras i en kolumn.</li>
            </ul>
            <br>
            <strong>OBS!</strong> API nedan avser
            <code>&lt;vgr-card-section&gt;</code>


            <table class="property-table">
              <tr>
                <th>Namn</th>
                <th>Beskrivning</th>
                <th>Exempel</th>
              </tr>
              <tr>
                <td>expanded: boolean</td>
                <td>Anger om sektionen är expanderad eller ej</td>
                <td>[expanded]="true"</td>
              </tr>
              <tr>
                <td>title: string</td>
                <td>Sektionens rubrik</td>
                <td>[title]="'Rubrik'"</td>
              </tr>
              <tr>
                <td>subTitle: string</td>
                <td>Sektionens underrubrik</td>
                <td>[title]="'Underrubrik'"</td>
              </tr>
              <tr>
                <td>truncateLength: number</td>
                <td>Antalet tecken synas innan det trunkeras (default = 30)</td>
                <td>[title]="50"</td>
              </tr>
              <tr>
                <td>backgroundColor: string</td>
                <td>Bakgrundsfärg på sektionen (default = '#FFFFFF')</td>
                <td>[title]="'#FFFFFF'"</td>
              </tr>
              <tr>
                <td>readonly: boolean</td>
                <td>Anger om symbolen för redigeringsläge skall visas eller ej. False = visa. True = dölj. Default är
                  TRUE.</td>
                <td>[readonly]="true"</td>
              </tr>
            </table>
          </vgr-grid-content>
        </vgr-grid-row>
        <vgr-grid-row [expanded]="false">

            <vgr-grid-column width="20">
              <h4>Tillgänglighet</h4>
            </vgr-grid-column>

          <vgr-grid-content>
            <p>
              Navigering i kortet:
              <br>
              <br> - Enter och Space: När fokus är på listradens header togglas kortraden expanderad / kollapsad.
            </p>
          </vgr-grid-content>
        </vgr-grid-row>
      </vgr-grid>

  </vgr-page-body>
</vgr-page>
