<div class="main-content">
  <vgr-page-header [title]="'Inputfält'">
  </vgr-page-header>

  <div class="komponentkarta-components">
    <div class="komponentkarta-component column-layout">
      <div class="row-layout">
        <div class="half">
          <h2>Standard validation</h2>
          <div>
            Belopp
            <vgr-input [alignRight]="true" [suffix]="'kr'" [required]="true"></vgr-input>
          </div>
          <div>
            Max-längd 5 tecken (går ej att göra fel)
            <vgr-input [maxlength]=5></vgr-input>
          </div>
          <div>
            Exakt 3 tecken (A-Z) (valideras direkt)
            <vgr-input [pattern]="'[A-Za-z]{3}'" [invalidText]="'Ange exakt tre bokstäver'" [validateOnInit]="true"></vgr-input>
          </div>
          <div>
            Mellan 2 och 6 tecken
            <vgr-input [pattern]="'^.{2,6}$'" [maxlength]=6 [invalidText]="'Ange mellan 2-6 tecken'"></vgr-input>
          </div>
          <div>
            Heltal
            <vgr-input [pattern]="'^[0-9]+$'" [invalidText]="'Ange ett numeriskt värde'"></vgr-input>
          </div>
          <div>
            Decimaltal (standardfelmeddelande)
            <vgr-input [pattern]="'/^\d*\.?\d*$/'"></vgr-input>
          </div>
          <div>
            Obligatoriskt (jättelångt felmeddelande)
            <vgr-input [required]="true" [invalidText]="'Detta är ett längre meddelande som visas när något blir väldigt väldigt fel'"></vgr-input>
          </div>
          <div>
            Obligatoriskt (standardfelmeddelande)
            <vgr-input [required]="true"></vgr-input>
          </div>
          <div>
            Ingen validering
            <vgr-input [disabled]="true"></vgr-input>
          </div>

        </div>
        <div class="half">
          <h2>Custom validation</h2>
          <div>
            Stad i USA
            <vgr-input [customValidator]="validateCityName.bind(this)" [value]="cityName" (valueChanged)="cityName = $event"></vgr-input>
          </div>
          <div>
            E-postadress
            <vgr-input [customValidator]="validateEmail.bind(this)"></vgr-input>
          </div>

        </div>

      </div>
    </div>
  </div>
