<div class="main-content">
  <vgr-page-header [title]="'Inputfält'">
  </vgr-page-header>

  <div class="komponentkarta-components">
    <div class="komponentkarta-component column-layout">
      <div class="row-layout">
        <div class="half">
          <h2>Standard validation</h2>

          <div>
            Max-längd 5 tecken (går ej att göra fel)
            <vgr-input [maxlength]=5></vgr-input>
          </div>
          <div>
            Exakt 3 tecken (A-Z) (valideras direkt)
            <vgr-input [pattern]="'[A-Za-z]{3}'" [invalidText]="'Ange exakt tre bokstäver'" [validateOnInit]="true"></vgr-input>
          </div>
          <div>
            Mellan 2 och 6 tecken
            <vgr-input [maxlength]=6></vgr-input>
          </div>
          <div>
            Heltal
            <vgr-input [pattern]="'^[0-9]+$'" [invalidText]="'Ange ett numeriskt värde'"></vgr-input>
          </div>
          <div>
            Decimaltal
            <vgr-input [decimal]="true"></vgr-input>
          </div>
          <div>
            Får inte vara tomt
            <vgr-input [required]="true"></vgr-input>
          </div>
          <div>
            Ingen validering
            <vgr-input></vgr-input>
          </div>

        </div>
        <div class="half">
          <h2>Custom validation</h2>
          <div>
            Stad i USA
            <vgr-input [customValidator]="validateCityName.bind(this)" [value]="cityName" (valueChanged)="cityName = $event"></vgr-input>
          </div>
          <div>
            E-postadress
            <vgr-input [customValidator]="validateEmail.bind(this)"></vgr-input>
          </div>

        </div>

      </div>
    </div>
  </div>
