<div class="header-menu" [ngClass]="{'header-menu--hidden' : hidden}">
    <div class="header-menu__content">
        <ul *ngFor="let menuItem of menu.menuItems">
            <li *ngIf="!menuItem.isSeparator" class="header-menu-item--header">

                <a *ngIf="menuItem.isInternalLink && menuItem.url" routerLink={{menuItem.url}} [ngClass]="{'header-menu-item--marked' : menuItem.marked, 'header-menu-item--selected' : menuItem.selected }" routerLinkActive="header-menu-item--selected header-menu-item--marked"
                    (mousedown)="selectItem(menuItem)" (mouseenter)="onMouseEnter(menuItem)" (mouseleave)="onMouseLeave(menuItem)">
                        {{menuItem.displayName}}</a>
                <a *ngIf="!menuItem.isInternalLink && menuItem.url" target="_blank" href={{menuItem.url}} [ngClass]="{'header-menu-item--marked' : menuItem.marked, 'header-menu-item--selected' : menuItem.selected }" (mouseenter)="onMouseEnter(menuItem)" (mouseleave)="onMouseLeave(menuItem)">
                    {{menuItem.displayName}}</a>
                <a *ngIf="!menuItem.url" (mousedown)="toggleSubMenu(menuItem)" class="header-menu__submenu-header" [ngClass]="{'header-menu-item--marked' : menuItem.marked, 'header-menu-item--selected' : menuItem.selected, 'header-menu-submenu--expanded': menuItem.expanded }" (mouseenter)="onMouseEnter(menuItem)"
                    (mouseleave)="onMouseLeave(menuItem)">
                    {{menuItem.displayName}}
                    <span class="header-menu-item__minus" *ngIf="menuItem.expanded"></span>
                    <span class="header-menu-item__plus" *ngIf="!menuItem.expanded"></span>
                  </a>

                <ul class="header-menu-submenu" *ngIf="menuItem.menuItems">
                    <li *ngFor="let childMenuItem of menuItem.menuItems">
                        <a *ngIf="childMenuItem.isInternalLink && childMenuItem.url" routerLink={{childMenuItem.url}} [ngClass]="{'header-menu-item--marked' : childMenuItem.marked, 'header-menu-item--selected' : childMenuItem.selected }" routerLinkActive="header-menu-item--selected header-menu-item--marked"
                            (mousedown)="selectItem(childMenuItem)" (mouseenter)="onMouseEnter(childMenuItem)" (mouseleave)="onMouseLeave(childMenuItem)">{{childMenuItem.displayName}}</a>
                        <a *ngIf="!childMenuItem.isInternalLink && childMenuItem.url" target="_blank" href={{childMenuItem.url}} [ngClass]="{'header-menu-item--marked' : childMenuItem.marked, 'header-menu-item--selected' : childMenuItem.selected }" (mouseenter)="onMouseEnter(childMenuItem)"
                            (mouseleave)="onMouseLeave(childMenuItem)">{{childMenuItem.displayName}}</a>
                    </li>
                </ul>
            </li>
            <li *ngIf="menuItem.isSeparator" class="header-menu-divider"></li>
            <!--<li><a routerLink="/minsida" routerLinkActive="header-menu-item--selected header-menu-item--marked">Min sida</a></li>

            <li class="header-menu-divider"></li>
            <li class="header-menu-item--header">
                <a onClick="$(this).parent('li').toggleClass('header-menu-submenu--expanded')">Krav &amp; Kvalitetsbok</a>
                <ul class="header-menu-submenu">
                    <li><a target="_blank" href="http://www.vgregion.se/halsa-och-vard/vardgivarwebben/uppdrag-och-avtal/vardval-vg-primarvard/krav--och-kvalitetsbok-vg-primarvard/">VGPV</a></li>
                    <li><a target="_blank" href="http://www.vgregion.se/halsa-och-vard/vardgivarwebben/uppdrag-och-avtal/vardval-rehab/krav--och-kvalitetsbok/">Rehab</a></li>
                </ul>
            </li>

            <li class="header-menu-item--header">
                <a onClick="$(this).parent('li').toggleClass('header-menu-submenu--expanded')">FAQ</a>
                <ul class="header-menu-submenu">
                    <li><a target="_blank" href="http://www.vgregion.se/sv/Vastra-Gotalandsregionen/startsida/Vard-och-halsa/Forvardgivare/VG-Primarvard1/Fragor-och-svar/">VGPV</a></li>
                    <li><a target="_blank" href="http://www.vgregion.se/halsa-och-vard/vardgivarwebben/uppdrag-och-avtal/vardval-rehab/fragor-och-svar/">Rehab</a></li>
                </ul>
            </li>
            <li><a target="_blank" href="http://www.vgregion.se/halsa-och-vard/vardgivarwebben/it/it-system/it-stod-for-vardval-rehab/kontaktpersoner/">Kontakt</a></li>-->
        </ul>
    </div>
</div>