<div class="main-content">
    <vgr-page-header [title]="'KomponentKarTa'" [enableActionsText]="'Öppna'" [disableActionsText]="'Stäng'" (actionStarted)="onActionStarted()" (actionEnded)="onActionEnded()">
        <vgr-radio-group class="page-header__control" [options]="themeOptions" (selectedChanged)="selectedThemeChanged($event)"></vgr-radio-group>
        <div class="page-header__action-panel">
            <h2>Här placerar man de åtgärder som hör ihop med headern</h2>
            <vgr-text-button (buttonClick)="actionPanelMessage='Åtgärden utfördes.'">Åtgärd</vgr-text-button>
            <h3>{{actionPanelMessage}}</h3>
        </div>
    </vgr-page-header>

    <div class="komponentkarta-components" [ngClass]="{'komponentkarta-components--action-in-progress' : actionInProgress}">

        <div class="komponentkarta-component column-layout column-layout--padded">

            <h1>Månadskalender</h1>

            <div>
                <p>Default formatering med ett extra år</p>
                <vgr-monthpicker style="margin-top: 20px" [maxDate]="maxDate"></vgr-monthpicker>
            </div>
        </div>

        <div class="komponentkarta-component column-layout column-layout--padded">

            <h1>Inputfält</h1>

            <div>
                <p>Inputfält för inmatning av belopp i SEK</p>
                <vgr-input [type]="'amount'"></vgr-input>
            </div>
            <div>
                <p>Inputfält för inmatning av text</p>
                <vgr-input></vgr-input>
            </div>
        </div>


        <div class="komponentkarta-component column-layout column-layout--padded">
            <h1>Dropdown</h1>
            <p>
                En dropdown innehåller ett valt element samt en lista över valbara alternativ. Kompletteras med filter vid över 20 items. Kompletteras med scroll vid över 8 items. För att inkludera en"Visa alla", ange <strong>[selectAllItemText]</strong>.
                För att ge"Visa alla" ett annat namn vid val, ange <strong>[selectAllSelectedText]</strong>
            </p>
            <div class="markup-example">&lt;<strong>dropdown</strong> [items]="dropDownItems25All" [selectAllItemText]="'Visa alla alternativ'" [selectAllSelectedText]="'Alla'" &gt;&lt;/ <strong>dropdown</strong>&gt;</div>
            <div class="row-layout">
                <div>
                    <p>200 items</p>
                    <vgr-dropdown [items]="dropDownItems200" (selectedItemChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
                </div>
                <div>
                    <p>8 items</p>
                    <vgr-dropdown [items]="dropDownItems8" (selectedItemChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
                </div>
                <div>
                    <p>9 items</p>
                    <vgr-dropdown [items]="dropDownItems9" (selectedItemChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
                </div>
                <div>
                    <p>25 items och Visa alla</p>
                    <vgr-dropdown [items]="dropDownItems25All" [selectAllItemText]="'Visa alla alternativ'" [selectAllSelectedText]="'Alla'" (selectedItemChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
                </div>
            </div>
            <div>
                <span>Senaste val:</span>
                <span>{{lastSingleSelection}}</span>
            </div>
        </div>

        <!-- Dropdown multi -->
        <div class="komponentkarta-component column-layout column-layout--padded">
            <h1>Dropdown Multiselect</h1>
            <p>
                En dropdown där man kan välja flera alternativ. Kompletteras med filter vid över 20 items. Kompletteras med scroll vid över 8 items. Det är möjligt att byta namn på "Välj alla", "Visa alla" samt text då alla är valda. Ange properties <strong>[selectAllItemText]</strong>,
                <strong>[displayAllItemsText]</strong>, <strong>[selectAllSelectedText]</strong>. Dropdown stängs inte när man väljer alternativ, förutom vid val av "alla".
            </p>
            <div class="markup-example">&lt;<strong>dropdown-multiselect</strong> [items]="dropDownItems25All" [selectAllItemText]="'Välj alla alternativ'" [selectAllSelectedText]="'Alla'" &gt;&lt;/ <strong>dropdown-multiselect</strong>&gt;</div>
            <div class="row-layout">
                <div>
                    <p>8 items</p>
                    <vgr-dropdown-multiselect [items]="dropDownItems8" (selectionChanged)="onMultipleSelectionChanged($event)"></vgr-dropdown-multiselect>
                </div>
                <div>
                    <p>9 items</p>
                    <vgr-dropdown-multiselect [items]="dropDownItems9" (selectionChanged)="onMultipleSelectionChanged($event)"></vgr-dropdown-multiselect>
                </div>
                <div>
                    <p>25 items</p>
                    <vgr-dropdown-multiselect [items]="dropDownItems25All" [selectAllItemText]="'Välj alla alternativ'" [selectAllSelectedText]="'Alla'" [displayAllItemsText]="'Visa alla alternativ'" (selectionChanged)="onMultipleSelectionChanged($event)"></vgr-dropdown-multiselect>
                </div>
            </div>
            <div>
                <span>Senaste val:</span>
                <span>{{lastMultipleSelection}}</span>
            </div>
        </div>

        <!-- Modal -->
        <div class="komponentkarta-component column-layout column-layout--padded">
            <h1>Modal dialog</h1>
            <p>
                Modala dialoger innehåller en rubrik, en text samt 1-3 knappar. Svar på dialogen hanteras av callbacks.
            </p>

            <div class="row-layout">
                <div>
                    <vgr-text-button (buttonClick)="showOneButtonModal()">En knapp</vgr-text-button>
                </div>
                <div>
                    <vgr-text-button (buttonClick)="showTwoButtonModal()">Två knappar med lång text</vgr-text-button>
                </div>
                <div>
                    <vgr-text-button (buttonClick)="showThreeButtonModal()">Tre knappar</vgr-text-button>
                </div>
                <div>
                    <vgr-text-button (buttonClick)="showSaveDontSaveCancelModal()">Spara-SparaInte-Avbryt</vgr-text-button>
                </div>
            </div>
            <div>
                <span>Du svarade:</span>
                <span>{{lastModalAnswer}}</span>
            </div>
        </div>

        <!-- Checkbox -->
        <div class="komponentkarta-component column-layout">
            <h1>Checkbox</h1>
            <p>
                Checkbox har properties för <strong>checked</strong> och <strong>disabled</strong>.<br> Eventet <i>checkedChange</i> triggas vid förändring och innehåller aktuellt tillstånd.<br> Komponenten har stöd för tangentbordsinteraktion, med
                <i>space</i> och <i>enter</i>

            </p>
            <div class="column-layout">
                <vgr-checkbox [text]="'Med ledtext'"></vgr-checkbox>
                <vgr-checkbox [disabled]="true" [text]="'Inaktiverad'"></vgr-checkbox>
                <vgr-checkbox [checked]="true" [text]="'Vald'"></vgr-checkbox>
                <vgr-checkbox [checked]="true" [disabled]="true" [text]="'Inaktiverad vald'"></vgr-checkbox>
            </div>
        </div>




        <div class="komponentkarta-component column-layout">
            <h1>Radioknappar</h1>
            <span>Ett valbart alternativ åt gången, val kan vara förvalda eller inaktiva. Vid val av alternativ triggas eventet <strong>selectedChanged</strong>
            Valbara items är av typen <i>ISelectableItem</i> som innehåller id, displayName, selected samt disabled. Det är genom att sätta properties på dessa objekt som man styr beteendet.</span>

            <h2>Fyra alternativ, varav ett inaktivt</h2>
            <div>
                <vgr-radio-group [options]="[{id:'1', displayName:'Ett'},{id:'2', displayName:'Två'},{id:'3', displayName:'Tre'},
                {id:'4', displayName:'Fyra', disabled:true}]" (selectedChanged)="onSelectedRadioOptionChanged($event)">
                </vgr-radio-group>
                <div>Du har valt alternativ: {{selectedRadioOption.displayName}}</div>
            </div>
            <h2>Tre inaktiva alternativ, varav ett förvalt</h2>
            <div>
                <vgr-radio-group [options]="[{id:'1', displayName:'Ett',disabled:true},{id:'2', displayName:'Två',disabled:true, selected:true},{id:'3', displayName:'Tre',disabled:true}]">
                </vgr-radio-group>
            </div>
            <div class="markup-example">&lt;vgr-radio-group [options]=&quot;myOptionsList&quot; (selectedChanged)=&quot;onSelectedChanged($event)&quot;&gt;&lt;/vgr-radio-group&gt;
            </div>
        </div>
        <div class="komponentkarta-component column-layout">
            <h1>Spara/avbryt-panel</h1>
            <span>En panel som innehåller spara, avbryt samt låsknapp.
            Spara och avbryt är inaktiverade i låst läge. De kan aktiveras genom att låsa upp.
            När användaren sparar triggas eventet <strong>onSave</strong>, vid avbryt triggas <strong>onCancel</strong>.
            Om man låser upp och sedan <strong>låser</strong> är det <strong>samma som att spara</strong>.
            </span>
            <div>
                <vgr-save-cancel (onSave)="saveCancelMessage='Sparade!'" (onCancel)="saveCancelMessage='Avbröt.'"></vgr-save-cancel>
                <br>
                <span>Senaste händelse:&nbsp;<strong>{{saveCancelMessage}}</strong></span>
            </div>
            <div class="markup-example">&lt;vgr-save-cancel&gt;&lt;/vgr-save-cancel&gt;
            </div>
        </div>
        <div class="komponentkarta-component column-layout">
            <h1>Låsknapp</h1>
            <span>Låsknappen är en "toggle-knapp", som kan vara låst eller upplåst.
            För att inaktivera sätt [disabled]="<strong>true</strong>".
            För att skapa en upplåst knapp, sätt [unlocked]="<strong>true</strong>".
            Knappen skickar två events, ett för låst (onLocked) och ett för upplåst (onUnlocked).
            </span>
            <div class="markup-example">&lt;vgr-lock-button (onLocked)="consoleLog('Locked!')" (onUnlocked)="consoleLog('Unlocked!')"&gt;&lt;/vgr-lock-button&gt; &lt;vgr-lock-button [unlocked]="true" (onLocked)="consoleLog('Locked!')" (onUnlocked)="consoleLog('Unlocked!')"&gt;&lt;/vgr-lock-button&gt;
                &lt;vgr-lock-button [disabled]="true" (onLocked)="consoleLog('Locked!')" (onUnlocked)="consoleLog('Unlocked!')"&gt;&lt;/vgr-lock-button&gt;
            </div>
            <div>
                <vgr-lock-button (onLocked)="lockMessage='Lås 1 låst'" (onUnlocked)="lockMessage='Lås 1 upplåst'"></vgr-lock-button>
                <vgr-lock-button [unlocked]="true" (onLocked)="lockMessage='Lås 2 låst'" (onUnlocked)="lockMessage='Lås 2 upplåst'"></vgr-lock-button>
                <vgr-lock-button [disabled]="true"></vgr-lock-button>
                <vgr-lock-button [disabled]="true" [unlocked]="true"></vgr-lock-button>
                <br><br>
                <span>Senaste händelse:&nbsp;<strong>{{lockMessage}}</strong></span>
            </div>
        </div>
        <div class="komponentkarta-component column-layout">
            <h1>Textknappar</h1>
            <span>Knappar som innehåller text med en minsta bredd på 87px.
                Vid klick triggas event <strong>buttonClick</strong>.
                För att inaktivera sätt [disabled]="<strong>true</strong>".
                För sekundär knapp sätt [secondary]="<strong>true</strong>".
                Knappen stödjer klick med tangentbord via <strong>Space</strong> och <strong>Enter</strong>, enligt <a href="https://www.w3.org/TR/wai-aria-practices/examples/button/button.html">WCAG Button examples</a>
            </span>
            <span>Notera: Knapparna nedan loggar till konsollen vid klick.</span>
            <div class="markup-example">&lt;vgr-text-button (buttonClick)="consoleLog('Click')"&gt;Klicka här&lt;/vgr-text-button&gt; &lt;vgr-text-button [disabled]="true" (buttonClick)="consoleLog('Click')"&gt;Inaktiv&lt;/vgr-text-button&gt;
            </div>
            <h2>Primärknappar</h2>
            <div>
                <vgr-text-button (buttonClick)="consoleLog('Click')">Klicka här</vgr-text-button>
                <vgr-text-button (buttonClick)="consoleLog('Click')">OK</vgr-text-button>
                <vgr-text-button (buttonClick)="buttonDisabled=!buttonDisabled">Aktivera/Inaktivera</vgr-text-button>
                <vgr-text-button [disabled]="buttonDisabled" (buttonClick)="consoleLog('Click')">Inaktiv</vgr-text-button>
            </div>
            <h2>Sekundärknappar</h2>
            <div>
                <vgr-text-button [secondary]="true" (buttonClick)="consoleLog('Click')">Klicka här</vgr-text-button>
                <vgr-text-button [secondary]="true" (buttonClick)="consoleLog('Click')">OK</vgr-text-button>
                <vgr-text-button [secondary]="true" (buttonClick)="buttonSecondaryDisabled=!buttonSecondaryDisabled">Aktivera/Inaktivera</vgr-text-button>
                <vgr-text-button [secondary]="true" [disabled]="buttonSecondaryDisabled" (buttonClick)="consoleLog('Click')">Inaktiv</vgr-text-button>
            </div>
        </div>

        <!-- Information panels -->
        <div class="komponentkarta-component column-layout">
            <h1>Paneler</h1>
            <div class="row-layout row-layout--equal-height">
                <div class="information-panel information-panel--default two-thirds ">
                    <div class="information-panel__content">
                        <div class="information-panel__header">
                            <span class="information-panel__header__title">Panel med tiddstämpel</span>
                            <span class="information-panel___header__timestamp">2017-12-31</span>
                        </div>
                        <p class="information-panel__information">
                            En panel med både en rubrik och en tiddstämpel. Längst ned finns plats för en länk. Texten bryts efter tre rader: <i>
                                We built this city we built this city on rock an roll Built this city we built this city on rock an roll Say you
                                don't know me or recognize my face Say you don't care who goes to that kind of place Knee deep in the hoopla sinking in your fight Too many runaways eating up the night
                            </i>
                        </p>
                        <div class="information-panel__footer">
                            <a href="https://www.google.com">En användbar länk</a>
                        </div>
                    </div>
                </div>
                <div class="information-panel one-third ">
                    <div class="information-panel__content">
                        <div class="information-panel__header">
                            <span class="information-panel__header__title">Panel med enkel rubrik</span>
                        </div>
                        <p class="information-panel__information">Den här panelen tar en tredjedel av utrymmet och saknar både tiddstämpel och länk.</p>
                    </div>
                </div>
            </div>
            <div class="row-layout row-layout--equal-height">
                <div class="information-panel theme--green one-third ">
                    <div class="information-panel__content">
                        <div class="information-panel__header">
                            <span class="information-panel__header__title">Rehab</span>
                        </div>
                        <p class="information-panel__information">Panel med innehåll från Rehab får en grön markör överst. Den är panelen tar en tredjedel av utrymmet.</p>
                        <div class="information-panel__footer">
                            <a href="https://vardvalrehab.vgregion.se" target="_blank">Gå till Vårdval Rehab</a>
                        </div>
                    </div>
                </div>
                <div class="information-panel theme--red one-third ">
                    <div class="information-panel__content">
                        <div class="information-panel__header">
                            <span class="information-panel__header__title">VGPV</span>
                        </div>
                        <p class="information-panel__information">Panel med innehåll från VGPV får en röd markör överst. Den är panelen tar en tredjedel av utrymmet.</p>
                        <div class="information-panel__footer">
                            <a href="https://vardval.vgregion.se" target="_blank">Gå till Vårdval Primärvård</a>
                        </div>
                    </div>
                </div>
                <div class="information-panel theme--blue one-third ">
                    <div class="information-panel__content">
                        <div class="information-panel__header">
                            <span class="information-panel__header__title">BMM</span>
                        </div>
                        <p class="information-panel__information">Panel med innehåll från BMM får en blå markör överst. Den är panelen tar en tredjedel av utrymmet.</p>
                    </div>
                </div>
            </div>
            <div class="row-layout row-layout--equal-height">
                <div class="information-panel theme--green half ">
                    <div class="information-panel__content">
                        <div style="font-size: 48px">+89</div>
                        <div class="information-panel__header">
                            <span class="information-panel__header__title">NYA LISTNINGAR DENNA MÅNAD</span>
                        </div>
                        <p class="information-panel__information">En panel med eget innehåll före rubriken</p>
                    </div>
                </div>
                <div class="information-panel theme--red half ">
                    <div class="information-panel__content">
                    </div>
                </div>
            </div>
            <!-- Headers -->
            <div class="komponentkarta-component column-layout column-layout--padded">
                <h1>Headers</h1>
                <p>
                    Headerfärg beror på vilket system som är aktivt. I portalen beror färgen på om användaren har ett eller flera system. Om bara ett system finns, är det den färgen som gäller. Headern innehåller en transparent bild som gör att man bara behöver sätta headerns
                    bakgrundsfärg genom rätt klassnamn.
                </p>

                <h2>Header utan user och meny</h2>
                <vgr-header class="header--inline"></vgr-header>

                <h2>Header med user utan meny</h2>
                <vgr-header class="header--inline" [userName]="'Någon Återkommande'"></vgr-header>

                <h2>Header med user och meny</h2>
                <vgr-header class="header--inline" [userName]="'Någon Återkommande'" [headerMenu]="headerMenu"></vgr-header>
            </div>
            <div class="komponentkarta-component column-layout">
                <h1>Back to top</h1>
                <span>Knapp som vid klick för användaren tillbaka till toppen på sidan
                För att aktivera funktionen måste ett script inkluderas
                </span>
                <div class="back-to-top back-to-top--inline"></div>
                <div class="markup-example">&lt;script src="node_modules/vgr-komponentkartan/scripts/_objects.back-to-top.js" type="text/javascript"&gt;&lt;/script&gt;</div>
            </div>
        </div>
    </div>
</div>