<vgr-page>
  <vgr-page-header [title]="'Snygg Layout'">

    <vgr-button (click)="onClick()">action-panel</vgr-button>
  </vgr-page-header>
  <vgr-action-panel [expanded]="expanded" [expansionSpeed]="'fast'">
    <div class="row-layout">
      <vgr-button>test</vgr-button>
      <vgr-lock-button></vgr-lock-button>
    </div>
  </vgr-action-panel>
  <vgr-page-body>
    <vgr-page-block>
      <h1>Expandable div</h1>
      <vgr-expandable-div [expanded]="true">
        <vgr-expandable-div-header>
          <p>Denna div kan expanderas</p>
        </vgr-expandable-div-header>
        <vgr-expandable-div-content>
          <p>Lite innehåll</p>
          <p>Mer innehåll</p>
        </vgr-expandable-div-content>
      </vgr-expandable-div>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
