/* Struktur efter ITCSS, se https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/*/

@import "partials/generic.reset";

/* SETTINGS */

@import "partials/_settings.colors.scss";
@import "partials/_settings.fonts.scss";
@import "partials/_settings.sizes.scss";

/* BASE */

@import "partials/_base.page.scss";
@import "partials/_base.main.scss";
@import "partials/_base.links.scss";
@import "partials/_base.text.scss";
@import "partials/_base.input.scss";

/* OBJECTS */

@import "partials/_objects.colors.scss";
@import "partials/_objects.layout.scss";
@import "partials/_objects.sizes.scss";
@import "partials/_objects.checkbox.scss";
@import "partials/_objects.back-to-top.scss";
@import "partials/_objects.images.scss";

/* COMPONENTS */

//Main-content används av många komponenter, lägg denna först
@import "partials/_components.main-content.scss";
@import "partials/_components.page-header.scss";
@import "partials/_components.information-panel.scss";
@import "partials/_components.header.scss";
@import "partials/_components.expandable-container.scss";
@import "partials/_components.header-menu.scss";
@import "partials/_components.filterTextbox.scss";
@import "partials/_components.dropdown.scss";
@import "partials/_components.komponentkarta.scss";
@import "partials/_components.button.scss";
@import "partials/_components.text-button.scss";
@import "partials/_components.lock-button.scss";
@import "partials/_components.save-cancel.scss";
@import "partials/_components.radio-group.scss";