<vgr-page>
  <vgr-page-header [title]="'Välkommen'">


    <div style="align-self: flex-end">
      <h1>UTVECKLINGSAPPEN</h1>
      Komponenterna använder sig av vgr-komponentkartan version:
      <strong>{{currentVersion}}</strong> och Angular version:
      <!-- <strong>{{angularVersion}}</strong> -->
    </div>
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <h1>Beskrivning</h1>
      <p>Detta är en komponentkarta av ersättningssystemen i Västra Götalandsregionen. Anledningen till att följa gemensamma
        riktlinjer vid navigation, kontroller och struktur är dels för att skapa en enhetlighet och dels kunna hantera flera
        system för samma inloggning. Innehållet i de olika ersättningssystemen är och kommer fortsättningsvis att vara systemspecifikt.
        Ersättningssystemen med gemensamt inloggning har en gemensam portal med en neutral färg som är skild från den röda,
        gröna och blå färgen. När en användare har behörighet för fler än ett system kommer de gemensamma delarna att visa
        den neutrala färgen.</p>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
