@import 'partials/_settings.colors.scss';
@import 'partials/_settings.sizes.scss';
$primary-color--green:#334455;
.first-input {
  background-color: $primary-color--green;
  margin-left: $margin--fat;
}
