<app-component-docs [componentName]="'expandable div'">
  <div class=" docs__overview ">
    <p>
      <code> &lt;vgr-expandable-div&gt;</code> är en sektion/div med innehåll som kan öppnas och stängas.
    </p>
    <br>
    <strong>OBS!</strong>
    <p>Denna komponent har ingen vgr-specifik styling, utan ska ses som en stödkomponent.</p>
    <br>
    <p>
      <a href="../listexample-expandable-div">Här</a> kan du se exempel på användning i en lista.</p>
    <br>
    <p>Förändras med tema:
      <strong>ja</strong> (headerns bakgrundsfärg vid hover)
    </p>
  </div>
  <div class="docs__examples ">
    <div style="margin: 10px 0;">
      <vgr-expandable-div [expanded]="false" (expandedChanged)="onExpandedChanged($event)">
      <vgr-expandable-div-header>
        <p><strong>Expandable div med ett underliggande expandable div</strong></p>
        </vgr-expandable-div-header>
        <vgr-expandable-div-content>
          <div style="margin-left: 10px;">
            <vgr-expandable-div [expanded]="false" (expandedChanged)="onExpandedChanged($event)">
              <vgr-expandable-div-header>
                <p><strong>Expandable div nivå 2</strong></p>
                </vgr-expandable-div-header>
                <vgr-expandable-div-content>
                  <p style="margin-left: 10px;">Kan innehålla både text, tabeller eller interaktiva element</p>
                </vgr-expandable-div-content>
              </vgr-expandable-div>
          </div>
        </vgr-expandable-div-content>
      </vgr-expandable-div>

      <vgr-expandable-div [expanded]="false" (expandedChanged)="onExpandedChanged1($event)">
        <vgr-expandable-div-header>
          <p>En annan expandable div</p>
        </vgr-expandable-div-header>
        <vgr-expandable-div-content>
          <p style="margin-left: 10px;">Lite innehåll</p>
        </vgr-expandable-div-content>
      </vgr-expandable-div>

      <vgr-expandable-div [expanded]="false" (expandedChanged)="onExpandedChanged2($event)">
        <vgr-expandable-div-header>
          <p>Ytterligare en expandable div</p>
        </vgr-expandable-div-header>
        <vgr-expandable-div-content>
          <p style="margin-left: 10px;">Mer innehåll</p>
        </vgr-expandable-div-content>
      </vgr-expandable-div>
    </div>
      <h2>HTML</h2>
      <section vgrHighlightCode [innerHTML]="exampleCodeMarkup"></section>
  </div>
  <div class="docs__api ">
    <!-- API -->
    <h3>Templatestruktur</h3>
    <ul>
      <li>
        <code>&lt;vgr-expandable-div&gt;</code>, första elementet som representerar hela containern</li>
      <li>
        <code>&lt;vgr-expandable-div-header&gt;</code>, ger headeryta på diven som är klickbar och är alltid synlig.</li>
      <li>
        <code>&lt;vgr-expandable-div-content&gt;</code>, innehåll som kan döljas och visas när man klickar på headern.
      </li>
    </ul>
    <br>
    <strong>OBS!</strong> API nedan avser
    <code>&lt;vgr-expandable-div&gt;</code>
    <table class="property-table">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>expanded: boolean</td>
        <td>Anger om sektionen är expanderad eller ej</td>
        <td>[expanded]="true"</td>
      </tr>
      <tr>
        <td>expandedChanged: EventEmitter&lt;boolean&gt;
        </td>
        <td>Event som triggras när sektionen expanderas/kollapsas.</td>
        <td>(expandedChanged)="onExpandedChanged($event)</td>
      </tr>
    </table>
  </div>
  <div class="docs__wcag ">
    <ol>
      <li>rubrik läsas upp av skärmläsaren, sedan om den är expanded eller inte</li>
      <li>Både enter och mellanslag triggar om den expanderas eller stängas</li>
      <li>Om [expanded]="false" ska tabb flytta fokus till nästa synlig</li>
      <li>Om [expanded]="true" ska tabb flytta fokus till nästa underliggande rad</li>
    </ol>
  </div>
</app-component-docs>
