<vgr-page>
  <vgr-page-header [title]="'Exempel med nya menyn'"></vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <div class="example-menu-container">
        <vgr-menu title="Innehåll">
          <vgr-menu-item link="/" text="Menu item 1"></vgr-menu-item>
          <vgr-menu-separator></vgr-menu-separator>
          <vgr-menu-item link="/" text="Menu item 2" [notification]="{ text: '3', tooltip: 'Detta är en tooltip', color: 'green'}"></vgr-menu-item>
          <vgr-menu-item link="/" text="Menu item 3 med extra långt namn"></vgr-menu-item>
          <vgr-menu-item link="/menu-example" text="Menu item 4" [notification]="{ text: '69', tooltip: 'Detta är en tooltip', color: 'red'}"></vgr-menu-item>
          <vgr-menu-item link="/" text="Menu item 5" disabled="true" disabledTooltip="Tooltip som visas vid disabled"></vgr-menu-item>
          <vgr-menu-item link="/" text="Menu item 6" collapsable="true" disabledTooltip="Tooltip som visas vid disabled"></vgr-menu-item>
          <vgr-menu-item link="/" text="Menu item 7" disabled="true" [notification]="{ text: '69', tooltip: 'Detta är en tooltip', color: 'red'}"></vgr-menu-item>
          <vgr-menu-separator></vgr-menu-separator>
          <vgr-submenu text="Submenu">
            <vgr-menu-item link="/" text="Sub menu item 1"></vgr-menu-item>
            <vgr-menu-item link="/menu-example" text="Sub menu item 2"></vgr-menu-item>
            <vgr-menu-item link="/" text="Sub menu item 3"></vgr-menu-item>
          </vgr-submenu>
        </vgr-menu>
      </div>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
