<vgr-page>
  <vgr-page-header [title]="'Exempel med nya menyn'"></vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <vgr-menu-container>
        <vgr-menu title="Innehåll">
          <vgr-menu-item routerLinkActive="menu-item--selected menu-item--marked" routerLink="/" routerLink [routerLinkActiveOptions]="{exact:true}"
            text="Menu item 1"></vgr-menu-item>
          <vgr-menu-item routerLinkActive="menu-item--selected menu-item--marked" routerLink="/menu-example" routerLink text="Menu item 2"></vgr-menu-item>
          <vgr-menu-item text="Menu item 2" disabled="true" disabledTooltip="Tooltip som visas vid disabled"></vgr-menu-item>
        </vgr-menu>
      </vgr-menu-container>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
