<vgr-page>
  <vgr-page-header [title]="'Snygg Layout'">

    <vgr-button (click)="onClick()">action-panel</vgr-button>
  </vgr-page-header>
  <vgr-action-panel [expanded]="expanded" [expansionSpeed]="'normal'">
    <div class="column-layout">
      <h3>Privera.Angular.Vardgivare.sln</h3>
      <div class="row-layout">
        <vgr-dropdown></vgr-dropdown>
        <vgr-button></vgr-button>
      </div>
      <span>Standard för filencoding är 2p39i819024 kvcökjs </span>
    </div>
  </vgr-action-panel>
</vgr-page>
