@use "partials/_settings.sizes.scss" as sizes;

.list-row {
  width: 500px; display: flex;
}

.list-column {
  width: 120px;
}

.list-header {
  font-weight: bold;
}

.oversikt {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 20%;
  @media screen and (min-width: sizes.$desktop-width--medium) {
    width: 22%;
  }
}
