<header class="site-header-vgr" [ngClass]="
                    {   'site-header-vgr--default' : systemColor ==='neutral',
                        'site-header-vgr--blue' : systemColor ==='BMM',
                        'site-header-vgr--red' : systemColor ==='VGPV',
                        'site-header-vgr--green' : systemColor ==='Rehab'
                    }">
    <div alt="VG_Ne" class="header__vgr-logo"></div>
    <vgr-login-information [userName]="userName"></vgr-login-information>
    <vgr-header-menu></vgr-header-menu>
</header>