.example-div-1 {
  background-color: #f0f0f0;
  border-right-style: solid;
  border-right-width: 5px;
  height: 50px;
  width: 200px;
}

.example-div-2 {
  border-top-style: solid;
  border-top-width: 5px;
  height: 50px;
  width: 200px;
}

h2 {
  margin-top: 20px;
}

.css-classes {
  font-family: Courier New, Courier, monospace;
  font-size: 12px;
  background-color: #f0f0f0;
  color: #000000;
  height: 12px;
  margin-left: 10px;
}

li {
  margin-bottom: 10px;
}
