<ng-content select=".expandable-container__header"></ng-content>
<div *ngIf="notificationMessage" class="expandable-container__notification">
  <span class="expandable-container__notification__icon" [ngClass]="
            {'notification-icon--action-required' : notificationType===NotificationTypes.ActionRequired,
            'notification-icon--information' : notificationType===NotificationTypes.Information,
            'notification-icon--awaiting-removal' : notificationType===NotificationTypes.AwaitingRemoval}">
  </span>
  <div class="expandable-container__notification__message">
    {{notificationMessage}}
  </div>
</div>
<ng-content select=".expandable-container__content "></ng-content>
