<vgr-page>
  <vgr-page-header [title]="'Sidhantering'">
  </vgr-page-header>

  <vgr-page-body>
    <!-- Färger -->
    <vgr-page-block class="column-layout">
      <h2>Dokumentation för Sidhantering</h2>
      <p>En sida i komponentkartan är utrymmet "i mitten av applikationen". En applikation består av en
        <a href="./menu">meny</a>, en
        <a href="./headers">header</a> och ett antal sidor. Sidor har ett antal obligatoriska och valbara element.
      </p>
      <ul>
        <h3>Obligatoriska element</h3>
        <li>
          <strong>vgr-page</strong> är rotelement, som rymmer hela sidans innehåll.
        </li>
        <li>
          <strong>vgr-page-header</strong> är sidans header
        </li>
        <li>
          <strong>vgr-page-body</strong> är en container för sidans block
        </li>
        <li>
          <strong>vgr-page-block</strong> definierar sidans block. En sida kan innehålla ett eller flera block, som placeras under
          varandra.
        </li>
        <br>
        <h3>Valbara element</h3>
        <li>
          <strong>vgr-action-panel</strong> är en panel, som kan expanderas från headern.</li>
      </ul>
      <h2>Exempel</h2>
      <section [innerHTML]="samplePageStructure" highlight-js-content=".highlight">
      </section>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
