<vgr-page>
  <vgr-page-header [title]="'Färgkarta'">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>

      <div class="column-layout">
        <div class="color-sample neutral--primary">
          <span class="color-sample__name">Neutral primärfärg</span>
          <span class="color-sample__code">R: 49 G: 65 B: 82
            <strong>#314152</strong>
          </span>
        </div>
        <div class="color-sample neutral--secondary">
          <span class="color-sample__name">Neutral sekundärfärg</span>
          <span class="color-sample__code">R: 135 G: 147 B: 159
            <strong>#99A3AD</strong>
          </span>
        </div>
        <div class="color-sample background-color--default">
          <span class="color-sample__name">Bakgrund</span>
          <span class="color-sample__code">R: 240 G: 240 B: 240
            <strong>#F0F0F0</strong>
          </span>
        </div>
        <div class="color-sample background-color--text">
          <span class="color-sample__name">Textfärg</span>
          <span class="color-sample__code">R: 30 G: 30 B: 30
            <strong>#151515</strong>
          </span>
        </div>
        <div class="color-sample red--primary">
          <span class="color-sample__name">Röd primärfärg</span>
          <span class="color-sample__code">R: 157 G: 34 B: 53
            <strong>#9D2235</strong>
          </span>
        </div>
        <div class="color-sample red--secondary">
          <span class="color-sample__name">Röd sekundärfärg</span>
          <span class="color-sample__code">R: 186 G: 98 B: 113
            <strong>#BA6271</strong>
          </span>
        </div>
        <div class="color-sample blue--primary">
          <span class="color-sample__name">Blå primärfärg</span>
          <span class="color-sample__code">R: 0 G: 98 B: 152
            <strong>#006298</strong>
          </span>
        </div>
        <div class="color-sample blue--secondary">
          <span class="color-sample__name">Blå sekundärfärg</span>
          <span class="color-sample__code">R: 80 G: 143 B: 184
            <strong>#508FB8</strong>
          </span>
        </div>
        <div class="color-sample green--primary">
          <span class="color-sample__name">Grön primärfärg</span>
          <span class="color-sample__code">R: 74 G: 119 B: 60
            <strong>#4A773C</strong>
          </span>
        </div>
        <div class="color-sample green--secondary">
          <span class="color-sample__name">Grön sekundärfärg</span>
          <span class="color-sample__code">R: 127 G: 162 B: 118
            <strong>#7FA276</strong>
          </span>
        </div>
      </div>
      <h3>Rubrik</h3>
      <vgr-list [allowMultipleExpandedItems]="false" [flexibleHeader]="true">
        <vgr-list-header>
          <vgr-list-column-header [text]="'ID'" [width]="2"></vgr-list-column-header>
          <vgr-list-column-header [text]="'Fakturanr'" [width]="2"></vgr-list-column-header>
          <vgr-list-column-header [text]="'Belopp'" [width]="2"></vgr-list-column-header>
          <vgr-list-column-header [text]="'Datum'" [width]="2"></vgr-list-column-header>
          <vgr-list-column-header [text]="'Säljare'" [width]="2"></vgr-list-column-header>
          <vgr-list-column-header [text]="'Vårdtyp'" [width]="2"></vgr-list-column-header>
          <vgr-list-column-header [text]="'Rader'" [width]="2"></vgr-list-column-header>
          <vgr-list-column-header [text]="'!'" [width]="2"></vgr-list-column-header>
          <vgr-list-column-header [text]="'Status'" [width]="2"></vgr-list-column-header>
          <vgr-list-column-header [text]="'Välj'" [width]="2"></vgr-list-column-header>
        </vgr-list-header>
        <vgr-list-item *ngFor="let c of claimRows">
          <div class="list-item__header">
            <vgr-list-column [text]="c.previewObject.identification"></vgr-list-column>
            <vgr-list-column [text]="c.previewObject.invoiceId"></vgr-list-column>
            <vgr-list-column [text]="c.previewObject.payableAmount"></vgr-list-column>
            <vgr-list-column [text]="c.previewObject.issueDate"></vgr-list-column>
            <vgr-list-column [text]="'Test'"></vgr-list-column>
            <vgr-list-column [text]="'Test'"></vgr-list-column>
            <vgr-list-column [text]="c.previewObject.visits?.length"></vgr-list-column>
            <vgr-list-column [text]="'Test'"></vgr-list-column>
            <vgr-list-column [text]="'Test'"></vgr-list-column>
            <vgr-list-column [text]="'Test'"></vgr-list-column>
          </div>
          <div class="list-item__content">
            Hej
          </div>
        </vgr-list-item>

      </vgr-list>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
