<div class="validation" [ngClass]="{
  'validation-error--active' : validationErrorState == validationErrorStates.Active,
  'validation-error--editing' : validationErrorState == validationErrorStates.Editing
  }">

    <div class="monthpicker" (mousedown)="onMouseDown($event)" (keydown)="onKeyDown($event)" (focusout)="onLeave()" [ngClass]="{'monthpicker--open' : expanded}">

        <div class="monthpicker__dropdown" tabindex="{{disabled ? -1 : 0}}">
            <span tabindex="0" *ngIf="selectedDate" title="{{selectedDate | date: tooltipDateFormat}}">{{selectedDate | date : selectedDateFormat}}</span>
            <span tabindex="0" *ngIf="!selectedDate" title="Välj månad">Välj månad</span>

            <div class="monthpicker__calendar">
                <div class="monthpicker__calendar__header">
                    <div class="monthpicker__calendar__header__previous-year" (mousedown)="onPreviousMouseDown($event)" [ngClass]="{'disabled':!previousYear}"></div>

                    <div *ngIf="displayedYear" class="monthpicker__calendar__header__year"> {{displayedYear.year}}</div>
                    <div *ngIf="!displayedYear" class="monthpicker__calendar__header__year">{{today | date : 'yyyy'}}</div>

                    <div class="monthpicker__calendar__header__next-year" (mousedown)="onNextMouseDown($event)" [ngClass]="{'disabled ':!nextYear}"></div>
                </div>
                <div class="monthpicker__calendar__content">
                    <ul>
                        <li class="monthpicker__calendar__month" (mousedown)="onSelectMonthMouseDown(displayedYear.months[0])" [ngClass]="{'disabled':displayedYear.months[0].disabled,
                                    'monthpicker__calendar__month--today' :displayedYear.months[0].isCurrentMonth,
                                    'monthpicker__calendar__month--selected' :displayedYear.months[0].selected}">Jan</li>
                        <li class="monthpicker__calendar__month" (mousedown)="onSelectMonthMouseDown(displayedYear.months[4])" [ngClass]="{'disabled':displayedYear.months[4].disabled,
                                    'monthpicker__calendar__month--today' :displayedYear.months[4].isCurrentMonth,
                                    'monthpicker__calendar__month--selected' :displayedYear.months[4].selected}">Maj</li>
                        <li class="monthpicker__calendar__month" (mousedown)="onSelectMonthMouseDown(displayedYear.months[8])" [ngClass]="{'disabled':displayedYear.months[8].disabled,
                                    'monthpicker__calendar__month--today' :displayedYear.months[8].isCurrentMonth,
                                    'monthpicker__calendar__month--selected' :displayedYear.months[8].selected}">Sep</li>
                    </ul>
                    <ul>
                        <li class="monthpicker__calendar__month" (mousedown)="onSelectMonthMouseDown(displayedYear.months[1])" [ngClass]="{'disabled':displayedYear.months[1].disabled,
                                    'monthpicker__calendar__month--today' :displayedYear.months[1].isCurrentMonth,
                                    'monthpicker__calendar__month--selected' :displayedYear.months[1].selected}">Feb</li>
                        <li class="monthpicker__calendar__month" (mousedown)="onSelectMonthMouseDown(displayedYear.months[5])" [ngClass]="{'disabled':displayedYear.months[5].disabled,
                                    'monthpicker__calendar__month--today' :displayedYear.months[5].isCurrentMonth,
                                    'monthpicker__calendar__month--selected' :displayedYear.months[5].selected}">Jun</li>
                        <li class="monthpicker__calendar__month" (mousedown)="onSelectMonthMouseDown(displayedYear.months[9])" [ngClass]="{'disabled':displayedYear.months[9].disabled,
                                    'monthpicker__calendar__month--today' :displayedYear.months[9].isCurrentMonth,
                                    'monthpicker__calendar__month--selected' :displayedYear.months[9].selected}">Okt</li>
                    </ul>
                    <ul>
                        <li class="monthpicker__calendar__month" (mousedown)="onSelectMonthMouseDown(displayedYear.months[2])" [ngClass]="{'disabled':displayedYear.months[2].disabled,
                                    'monthpicker__calendar__month--today' :displayedYear.months[2].isCurrentMonth,
                                    'monthpicker__calendar__month--selected' :displayedYear.months[2].selected}">Mar</li>

                        <li class="monthpicker__calendar__month" (mousedown)="onSelectMonthMouseDown(displayedYear.months[6])" [ngClass]="{'disabled':displayedYear.months[6].disabled,
                                    'monthpicker__calendar__month--today' :displayedYear.months[6].isCurrentMonth,
                                    'monthpicker__calendar__month--selected' :displayedYear.months[6].selected}">Jul</li>
                        <li class="monthpicker__calendar__month" (mousedown)="onSelectMonthMouseDown(displayedYear.months[10])" [ngClass]="{'disabled':displayedYear.months[10].disabled,
                                    'monthpicker__calendar__month--today' :displayedYear.months[10].isCurrentMonth,
                                    'monthpicker__calendar__month--selected' :displayedYear.months[10].selected}">Nov</li>
                    </ul>
                    <ul>
                        <li class="monthpicker__calendar__month" (mousedown)="onSelectMonthMouseDown(displayedYear.months[3])" [ngClass]="{'disabled':displayedYear.months[3].disabled,
                                    'monthpicker__calendar__month--today' :displayedYear.months[3].isCurrentMonth,
                                    'monthpicker__calendar__month--selected' :displayedYear.months[3].selected}">Apr</li>
                        <li class="monthpicker__calendar__month" (mousedown)="onSelectMonthMouseDown(displayedYear.months[7])" [ngClass]="{'disabled':displayedYear.months[7].disabled,
                                    'monthpicker__calendar__month--today' :displayedYear.months[7].isCurrentMonth,
                                    'monthpicker__calendar__month--selected' :displayedYear.months[7].selected}">Aug</li>
                        <li class="monthpicker__calendar__month" (mousedown)="onSelectMonthMouseDown(displayedYear.months[11])" [ngClass]="{'disabled':displayedYear.months[11].disabled,
                                    'monthpicker__calendar__month--today' :displayedYear.months[11].isCurrentMonth,
                                    'monthpicker__calendar__month--selected' :displayedYear.months[11].selected}">Dec</li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="validation__status" title="{{validationErrorMessage}}">
            <div class="validation__status__icon"></div>
            <div class="validation__status__message">{{validationErrorMessage | truncate:50}}</div>

        </div>


    </div>