<app-component-docs [componentName]="'menu'">
    <div class="docs__overview">
        <p>
            Komponentkartan använder en vänstermeny, som skapas med
            <code>&lt;vgr-sidebar-menu&gt;</code>. Vänstermenyn består av en eller flera menyer, som i sin tur innehåller menyalternativ med eller utan underalternativ. Det är även möjligt att lägga ut avdelare mellan menyalternativ för att skapa sammanhang.
        </p>
        <div class="column-layout">
            <div class="row-layout" style="height:500px; overflow:hidden">
                <div class="half">
                    <h2>Singel-meny</h2>
                    <p>En applikation med ett system har en meny som täcker hela ytan vertikalt.</p>
                    <img class="screenshot" src="/assets/images/sidebar-menu.single.png">
                </div>
                <div class="half">
                    <h2>Multi-meny</h2>
                    <p>En applikation med flera system innehåller flera menyer som kan öppnas och stängas.</p>
                    <img class="screenshot" src="/assets/images/sidebar-menu.expandmenu.gif">
                </div>
            </div>
            <div class="row-layout" style="height:500px; overflow:hidden;margin-top:30px;">
                <div class="half">
                    <h2>Avdelare</h2>
                    <p>För att indikera att menyalternativ är orelaterade kan en avdelare läggas in</p>
                    <img class="screenshot" src="/assets/images/sidebar-menu.separator.png">
                </div>
                <div class="half">
                    <h2>Underalternativ</h2>
                    <p>Ett menyalternativ kan ha underalternativ som kan visas och döljas</p>
                    <img class="screenshot" src="/assets/images/sidebar-menu.expandchild.gif">
                </div>
            </div>
            <h2>Tema</h2>
            <p>
                Varje meny har ett tema, baserat på det aktuella systemets färg. För applikationer med flera system, använd property
                <i>theme</i> på
                <code>&lt;vgr-menu&gt;</code>. För applikationer med ett system styrs tema av det övergripande temat som sätts "längst ut" i applikationen. Se
                <a href="/theming">Temahantering</a>
            </p>
        </div>
    </div>
    <div class="docs__examples">
        <div>
            <div class="column-layout">
                <div class="row-layout">
                    <div style="width: 400px">
                        <h2>Singel meny</h2>
                        <img class="screenshot_example" src="/assets/images/sidebar-menu.example-for-code.single.png">
                    </div>
                    <div>
                        <h2>Markup</h2>
                        <section [innerHTML]="exampleCodeSimpleMenyMarkup" highlight-js-content=".highlight"></section>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="column-layout">
                <div class="row-layout">
                    <div style="width: 400px">
                        <h2>Meny med undernivå</h2>
                        <img class="screenshot_example" src="/assets/images/sidebar-menu-with-childern.example-for-code.single.png">
                    </div>
                    <div>
                        <h2>Markup</h2>
                        <section [innerHTML]="exampleCodeSimpleMenyWithChildrenMarkup" highlight-js-content=".highlight"></section>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="column-layout">
                <div class="row-layout">
                    <div style="width: 400px">
                        <h2>Meny med avdelare/gruppering</h2>
                        <img class="screenshot_example_large" src="/assets/images/sidebar-menu-with-groups.example-for-code.single.png">
                    </div>
                    <div>
                        <h2>Markup</h2>
                        <section [innerHTML]="exampleCodeSimpleMenyWithGroupsMarkup" highlight-js-content=".highlight"></section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="docs__api">
        <p><code>&lt;vgr-sidebar-menu&gt;</code> har en property som behöver sättas, <code>[menus]</code>. Menyer är en lista av <code>IMenu</code>, och är tänkt att hämtas från servern, som då kan bestämma vilka menyalternativ en användare får i systemet.
            När [menus] sätts behandlas listan internt av komponenten som sätter ytterligare properties på den. Nedan listas de properties som är aktuella att fylla i för användande system.</p>

        <br>
        <h3>IMenu</h3>
        <table class="property-table" style="margin-bottom: 20px">
            <tr>
                <th>Namn</th>
                <th>Beskrivning</th>
                <th>Exempel</th>
            </tr>
            <tr>
                <td>title: string</td>
                <td>menyns rubrik</td>
                <td>title: 'System'</td>
            </tr>
            <tr>
                <td>groups: IMenuGroup[]</td>
                <td>Grupperade menyalternativ, separeras med vertikal linje</td>
                <td></td>
            </tr>
        </table>

        <h3>IMenuGroup</h3>
        <table class="property-table" style="margin-bottom: 20px">
            <tr>
                <th>Namn</th>
                <th>Beskrivning</th>
                <th>Exempel</th>
            </tr>
            <tr>
                <td>order: string</td>
                <td>Soteringsordning för gruppen. Grupper visas efter order i alfanumerisk sortering</td>
                <td>order: '1'</td>
            </tr>
            <tr>
                <td>menuItems: IMenuItem[]</td>
                <td>Gruppens menyalternativ</td>
                <td></td>
            </tr>
        </table>

        <h3>IMenuItem</h3>
        <table class="property-table" style="margin-bottom: 20px">
            <tr>
                <th>Namn</th>
                <th>Beskrivning</th>
                <th>Exempel</th>
            </tr>
            <tr>
                <td>title: string</td>
                <td>Menyalternativets rubrik</td>
                <td>title: 'Min sida'</td>
            </tr>
            <tr>
                <td>url: string</td>
                <td>Länk att följa vid klick på länken.</td>
                <td>url: "/my-route"</td>
            </tr>
            <tr>
                <td>order: string</td>
                <td>Menyalternativets ordning, alternativets. Sorteras alfanumeriskt.</td>
                <td>order: "2"</td>
            </tr>
            <tr>
                <td>menuItems: IMenuItem[]</td>
                <td>Eventuella underalternativ för menyalternativet.
                    <strong>OBS!</strong> endast en undernivå är möjlig</td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="docs__wcag">
        <i>Under utveckling</i>
    </div>
</app-component-docs>