<app-component-docs [componentName]="'Datepicker'">
  <div class="docs__overview">
    <div>
      <div>Dag</div>
      <div>
        <vgr-datepicker #myDatepicker [minZoom]="'d'" [disabled]="disabled" [readonly]="readonly" [minDate]="minDate" [maxDate]="maxDate"></vgr-datepicker>
        <vgr-button style="margin-left: 20px" (click)="setFocus1()">Sätt fokus</vgr-button>
      </div>
    </div>
    <div>
      <div>Månad</div>
      <div>
        <vgr-datepicker [minZoom]="'m'" [disabled]="disabled" [readonly]="readonly"></vgr-datepicker>
      </div>
    </div>
    <div>
      <div>År</div>
      <div>
        <vgr-datepicker [minZoom]="'y'" [disabled]="disabled" [readonly]="readonly"></vgr-datepicker>
      </div>
    </div>
    <div style="background-color: #f0f0f0">
      <div>Transparent</div>
      <div>
        <vgr-datepicker [disabled]="disabled" [readonly]="readonly" [transparent]="true"></vgr-datepicker>
      </div>
    </div>
    <div>
      <div> Dag utan textinmatning</div>
      <div>
        <vgr-datepicker #myDatepickerWithoutInput [allowText]="false" [minZoom]="'d'" [disabled]="disabled" [readonly]="readonly"></vgr-datepicker>
        <vgr-button style="margin-left: 20px" (click)="setFocus2()">Sätt fokus</vgr-button>
      </div>
    </div>
    <div>
      <div>Månad utan textinmatning</div>
      <div>
        <vgr-datepicker [allowText]="false" [minZoom]="'m'" [disabled]="disabled" [readonly]="readonly"></vgr-datepicker>
      </div>
    </div>
    <div>
      <div>År utan textinmatning</div>
      <div>
        <vgr-datepicker [allowText]="false" [minZoom]="'y'" [disabled]="disabled" [readonly]="readonly"></vgr-datepicker>
      </div>
    </div>
    <div>
      <div>Forms API (med manuellt satt width på 200px)</div>
      <div>
        <vgr-datepicker [formControl]="form" [readonly]="readonly" [width]="'200px'"></vgr-datepicker>
        <vgr-button (click)="changeFormValue()" style="margin-left: 20px">Change date</vgr-button>
      </div>
    </div>
    <div style="margin-top: 20px;">
      <vgr-button (click)="toggleDisabled()">Toggle Disabled</vgr-button>
      <vgr-button (click)="toggleReadonly()">Toggle Readonly</vgr-button>
    </div>
  </div>
  <div class="docs__api">
    <table class="property-table">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>selectedDate: Date</td>
        <td>Värdet på kontrollen. Gör det möjligt att programmatiskt styra värdet när form control inte används.</td>
        <td>[value]="someDate"</td>
      </tr>
      <tr>
        <td>minZoom: string</td>
        <td>Sätter vilken typ av tidsenhet som kan väljas. För dag, använd "d", "day" eller "days". För månad, använd
          "m", "month" eller "months". För år, använd "y", "year" eller "years". Förvalt värde är dag.</td>
        <td>[minZoom]="'m'"</td>
      </tr>
      <tr>
        <td>minDate: Date</td>
        <td>Anger minsta valbara datum. Om inget anges finns ingen begränsing.</td>
        <td>[minDate]="someDate"</td>
      </tr>
      <tr>
        <td>maxDate: Date</td>
        <td>Anger största valbara datum. Om inget anges finns ingen begränsing.</td>
        <td>[maxDate]="someDate"
      </tr>
      <tr>
        <td>allowText: boolean</td>
        <td>Anger om textinmatning tillåts. Förvalt värde är
          <code>true</code>.</td>
        <td>[allowText]="false"</td>
      </tr>
      <tr>
        <td>readonly: boolean</td>
        <td>Gör att textfält med valt värde visas. Förvalt värde är
          <code>false</code>.</td>
        <td>[readonly]="true"</td>
      </tr>
      <tr>
        <td>disabled: boolean</td>
        <td>Förhindrar interaktion. Förvalt värde är
          <code>false</code>.</td>
        <td>[disabled]="true"</td>
      </tr>
      <tr>
        <td>transparent: boolean</td>
        <td>Sätter om checkboxen skall ha en transparent bakgrund eller vara vit. Förvalt värde är
          <code>false</code>.</td>
        <td>[transparent]="true"</td>
      </tr>
      <tr>
        <td>showValidation: boolean</td>
        <td>Anger om valideringsfel ska visas eller ej. Förvalt värde är
          <code>false</code>.</td>
        <td>[showValidation]="true"</td>
      </tr>
      <tr>
        <td>errorMessage: any</td>
        <td>Meddelande som skall visas vid valideringsfel. Nyckel för meddelandet skall vara valideringens namn.
          Valideringen required har redan det förvalda värdet "Obligatoriskt". Detta kan ändras.
        </td>
        <td>[errorMessage]="&#123; required: 'Du måste välja ett värde.' &#125;"</td>
      </tr>
      <tr>
        <td>labelId: string</td>
        <td>ID för det element som är rubrik. Används av skärmläsare.</td>
        <td>[labelId]="'someLabelId'"</td>
      </tr>
      <tr>
        <td>selectedDateChanged: EventEmitter&lt;Date&gt;</td>
        <td>Event som triggas när val ändras. Värdet är det nya valet.</td>
        <td>(selectedDateChanged)="doSomething($event)"</td>
      </tr>

      <!-- New functionallity in "Next breacking change release" Copy into komponenetkartan-demo when finished.-->
      <tr>
        <td>focus()</td>
        <td>Metod man kan anropa för att programmatiskt kan sätta fokus på komponenten. </td>
        <td>this.myDropdown.focus()</td>
      </tr>
    </table>
  </div>
</app-component-docs>
