<app-component-docs [componentName]="'Datepicker'">
  <div class="docs__overview">
    <div>
      <div>Dag</div>
      <div>
        <vgr-datepicker [minZoom]="'d'" [disabled]="disabled" [readonly]="readonly" [minDate]="minDate" [maxDate]="maxDate"></vgr-datepicker>
      </div>
    </div>
    <div>
      <div>Månad</div>
      <div>
        <vgr-datepicker [minZoom]="'m'" [disabled]="disabled" [readonly]="readonly"></vgr-datepicker>
      </div>
    </div>
    <div>
      <div>År</div>
      <div>
        <vgr-datepicker [minZoom]="'y'" [disabled]="disabled" [readonly]="readonly"></vgr-datepicker>
      </div>
    </div>
    <div>
      <div> Dag utan textinmatning</div>
      <div>
        <vgr-datepicker [allowText]="false" [minZoom]="'d'" [disabled]="disabled" [readonly]="readonly"></vgr-datepicker>
      </div>
    </div>
    <div>
      <div>Månad utan textinmatning</div>
      <div>
        <vgr-datepicker [allowText]="false" [minZoom]="'m'" [disabled]="disabled" [readonly]="readonly"></vgr-datepicker>
      </div>
    </div>
    <div>
      <div>År utan textinmatning</div>
      <div>
        <vgr-datepicker [allowText]="false" [minZoom]="'y'" [disabled]="disabled" [readonly]="readonly"></vgr-datepicker>
      </div>
    </div>
    <div>
      <div>Forms API</div>
      <div>
        <vgr-datepicker [formControl]="form" [readonly]="readonly"></vgr-datepicker>
        <vgr-button (click)="changeFormValue()" style="margin-left: 20px">Change date</vgr-button>
      </div>
    </div>
    <div style="margin-top: 20px;">
      <vgr-button (click)="toggleDisabled()">Toggle Disabled</vgr-button>
      <vgr-button (click)="toggleReadonly()">Toggle Readonly</vgr-button>
    </div>
  </div>
</app-component-docs>