<div class="menu" [ngClass]="
                    {   'menu--bmm' : menu.title ==='BMM',
                        'menu--vgpv' : menu.title ==='VGPV',
                        'menu--rehab' : menu.title ==='Rehab',
                        'menu--neutral' : menu.title !=='VGPV' && menu.title !=='BMM' && menu.title !=='Rehab' ,
                        'menu--expanded' : menu.expanded,
                        'menu--expandable': menuItems.length>3 && !isSingleMenu,
                        'menu--inactive': isInactive
                    }">
    <div class="menu__header" (click)="toggleExpand()">
        <div class="menu__header__title">{{menu.title}}</div>
    </div>
    <ul class="menu__item-list">
        <ng-template ngFor let-menuItem [ngForOf]="menuItems">
            <li *ngIf="!menuItem.isSeparator" routerLinkActive="menu-item--selected menu-item--marked" class="menu-item" [ngClass]="
                        {'menu-item--visible' : menuItem.visible,
                         'menu-item--hidden' : !menuItem.visible,
                         'menu-item--favourite' : menuItem.favourite,
                         'menu-item--virtual-favourite' : menuItem.isVirtualFavourite,
                         'menu-item--parent' : menuItem.menuItems && menuItem.menuItems.length>0
                        }">
                <a *ngIf="!menuItem.menuItems" routerLink={{menuItem.url}} (click)="setActiveMenuItem(menuItem)">{{menuItem.title}} <span *ngIf="!availableInThisBrowser()" title="Fungerar endast i Internet Explorer">(!)</span> </a>

                <!-- Expanderbar meny -->
                <a *ngIf="menuItem.menuItems" (click)="expandMenuItem(menuItem)">
                    <span>{{menuItem.title}}</span>
                    <span class="menu-item__expander menu-item__minus" *ngIf="menuItem.expanded"></span>
                    <span class="menu-item__expander menu-item__plus" *ngIf="!menuItem.expanded"></span>
                </a>
            </li>
            <ul *ngIf="menuItem.menuItems && menuItem.menuItems.length>0 && menuItem.visible" class="menu__subItems-list menu-subItems"
                [ngClass]="[menuItem.expanded ? 'menu-subItems__show' :'' ]">
                <li *ngFor="let childMenuItem of menuItem.menuItems " class="menu-item menu-item--child" routerLinkActive="menu-item--selected menu-item--marked ">
                    <a routerLink={{childMenuItem.url}} (click)="setActiveMenuItem(childMenuItem)">{{childMenuItem.title}} <span *ngIf="!availableInThisBrowser()" title="Fungerar endast i Internet Explorer">(!)</span> </a>
                </li>
            </ul>
            <li *ngIf="menuItem.isSeparator" class="menu-item menu-item--separator" [ngClass]="
                    {'menu-item--visible' : menuItem.visible,
                     'menu-item--hidden' : !menuItem.visible
                    }"></li>
        </ng-template>
        <li class="menu__footer" (click)="toggleExpand()" [ngClass]="
            {'menu__footer--expander' : !isSingleMenu && menuItems.length>3 && !menu.expanded,
             'menu__footer--collapser' : !isSingleMenu && menuItems.length>3 && menu.expanded}"></li>
    </ul>
</div>