<vgr-page>
  <vgr-page-header [title]="'Enheter'">

    <div class="column-layout column-layout--pull-left">
      <h3>Sök enheter</h3>
      <div class="row-layout">
        <div class="row-layout">
          <vgr-filter-textbox (keyup.enter)="searchForUnits()" (valueChanged)="filtertext = $event;noSearchResult = false;" (focusin)="noSearchResult = false"></vgr-filter-textbox>
          <vgr-button (click)="searchForUnits()">Sök</vgr-button>
        </div>
        <div class="row-layout action-panel-buttons">
          <vgr-button [disabled]="selectedRows.length === 0" (click)="modalService.openDialog('printModal')">Skriv ut</vgr-button>
          <vgr-button [disabled]="selectedRows.length === 0" (click)="removeSelectedRows()">Arkivera</vgr-button>
        </div>
      </div>
      <vgr-checkbox (checkedChanged)="includeInactiveUnits = $event" [checked]="includeInactiveUnits" [label]="'Inkludera stängda enheter'"></vgr-checkbox>
    </div>
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <vgr-list (sortChanged)="onSortChanged($event)" *ngIf="loading || noSearchResult">
        <vgr-list-header>
          <vgr-list-column-header width="10" sortKey="enhet" [sortDirection]="sortDirections.Ascending">Enhet</vgr-list-column-header>
          <vgr-list-column-header width="5" align="left" sortKey="hsaid">HSA-id</vgr-list-column-header>
          <vgr-list-column-header width="3" align="right" sortKey="belopp">Belopp</vgr-list-column-header>
          <vgr-list-column-header width="1" align="center"></vgr-list-column-header>
          <vgr-list-column-header-checkbox width="1" align="center" [checked]="false"></vgr-list-column-header-checkbox>
        </vgr-list-header>
      </vgr-list>
      <div class="loader-container" *ngIf="loading">
        <vgr-loader [active]="loading"></vgr-loader>
      </div>
      <div class="loader-container" *ngIf="noSearchResult">
        <p>Inga resultat hittades för '{{ filtertext }}'</p>
      </div>
      <vgr-list (sortChanged)="onSortChanged($event)" *ngIf="!loading && !noSearchResult">
        <vgr-list-header>
          <vgr-list-column-header width="10" sortKey="enhet" [sortDirection]="sortDirections.Ascending">Enhet</vgr-list-column-header>
          <vgr-list-column-header width="5" align="left" sortKey="hsaid">HSA-id</vgr-list-column-header>
          <vgr-list-column-header width="3" align="right" sortKey="belopp">Belopp</vgr-list-column-header>
          <vgr-list-column-header width="1" align="center"></vgr-list-column-header>
          <vgr-list-column-header-checkbox width="1" align="center" [checked]="allChecked" (checkedChanged)="onListCheckedChanged($event)"></vgr-list-column-header-checkbox>
        </vgr-list-header>
        <vgr-list-item *ngFor="let row of listData | unitfilter2: includeInactiveUnits" [expanded]="row.expanded" [notification]="row.notification">
          <vgr-list-item-header>
            <vgr-list-column width="10">{{row.previewObject.enhet}}</vgr-list-column>
            <vgr-list-column width="5">{{row.previewObject.hsaid}}</vgr-list-column>
            <vgr-list-column width="3" align="right">{{row.previewObject.belopp | number : '1.2-2'}}</vgr-list-column>
            <vgr-list-column-trashcan width="1" align="center" [disabled]="row.previewObject.deleted" (delete)="onDeleteRow(row)"></vgr-list-column-trashcan>
            <vgr-list-column-checkbox width="1" align="center" [disabled]="row.previewObject.deleted" [checked]="row.previewObject.vald"
              (checkedChanged)="onSelectRowChanged(row, $event)"></vgr-list-column-checkbox>
          </vgr-list-item-header>
          <vgr-list-item-content [indentContent]="false">
            <div class="button-container">
              <vgr-button [secondary]="true">Text</vgr-button>
              <span class="vgr-icon-calendar--green"></span>
            </div>
            <vgr-table *ngIf="row.expanded">
              <vgr-table-header>
                <vgr-table-header-column [width]="10">Header Column 1
                  <span class="vgr-icon-help"></span>
                  <span class="vgr-icon-calendar-border"></span>
                </vgr-table-header-column>
                <vgr-table-header-column [width]="5">Header Column 2</vgr-table-header-column>
                <vgr-table-header-column [width]="3" [align]="'right'">Header Column3</vgr-table-header-column>
              </vgr-table-header>
              <vgr-table-row>
                <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
              </vgr-table-row>
              <vgr-table-row>
                <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
              </vgr-table-row>
              <vgr-table>
                <vgr-table-header>
                  <vgr-table-header-column [width]="10">Row Column
                    <span class="vgr-icon-calendar-border"></span>
                  </vgr-table-header-column>
                  <vgr-table-header-column [width]="5">Row Colum</vgr-table-header-column>
                  <vgr-table-header-column [width]="3" [align]="'right'">Row Column</vgr-table-header-column>
                </vgr-table-header>
                <vgr-table-row>
                  <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                  <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                  <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                </vgr-table-row>
                <vgr-table-row>
                  <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                  <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                  <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                </vgr-table-row>
                <vgr-table>
                  <vgr-table-header>
                    <vgr-table-header-column [width]="10">Row Column</vgr-table-header-column>
                    <vgr-table-header-column [width]="5">Row Colum</vgr-table-header-column>
                    <vgr-table-header-column [width]="3" [align]="'right'">Row Column</vgr-table-header-column>
                  </vgr-table-header>
                  <vgr-table-row>
                    <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                    <vgr-table-row-column [width]="5"> Donec eu est eros. Suspendisse eget dolor porta, volutpat ligula a, euismod tellus. Quisque posuere nisi
                      vitae nisi commodo mollis. Vivamus interdum dolor at neque blandit sollicitudin. Pellentesque ac ornare</vgr-table-row-column>
                    <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                  </vgr-table-row>
                  <vgr-table-row>
                    <vgr-table-row-column [width]="10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu ante ac tortor ornare efficitur non a
                      nisi. Donec turpis sapien, semper a posuere ac, luctus et urna.</vgr-table-row-column>
                    <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                    <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                  </vgr-table-row>
                  <vgr-table>
                    <vgr-table-header>
                      <vgr-table-header-column [width]="10">Row Column</vgr-table-header-column>
                      <vgr-table-header-column [width]="5">Row Colum</vgr-table-header-column>
                      <vgr-table-header-column [width]="3" [align]="'right'">Row Column</vgr-table-header-column>
                    </vgr-table-header>
                    <vgr-table-row>
                      <vgr-table-row-column [width]="7">Row Column</vgr-table-row-column>
                      <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                      <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                      <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                    </vgr-table-row>
                    <vgr-table-row>
                      <vgr-table-row-column [width]="7">Row Column</vgr-table-row-column>
                      <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                      <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                      <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                    </vgr-table-row>
                    <vgr-table>
                      <vgr-table-header>
                        <vgr-table-header-column [width]="10">Row Column</vgr-table-header-column>
                        <vgr-table-header-column [width]="5">Row Colum</vgr-table-header-column>
                        <vgr-table-header-column [width]="3" [align]="'right'">Row Column</vgr-table-header-column>
                      </vgr-table-header>
                      <vgr-table-row>
                        <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                        <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                        <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                      </vgr-table-row>
                      <vgr-table-row>
                        <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                        <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                        <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                      </vgr-table-row>
                      <vgr-table>
                        <vgr-table-header>
                          <vgr-table-header-column [width]="10">Row Column</vgr-table-header-column>
                          <vgr-table-header-column [width]="5">Row Colum</vgr-table-header-column>
                          <vgr-table-header-column [width]="3" [align]="'right'">Row Column</vgr-table-header-column>
                        </vgr-table-header>
                        <vgr-table-row>
                          <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                          <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                          <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                        </vgr-table-row>
                        <vgr-table-row>
                          <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                          <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                          <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                        </vgr-table-row>
                      </vgr-table>
                    </vgr-table>
                  </vgr-table>
                </vgr-table>
              </vgr-table>
            </vgr-table>
            <vgr-table>
              <vgr-table-header>
                <vgr-table-header-column [width]="10">Header Column 1</vgr-table-header-column>
                <vgr-table-header-column [width]="5">Header Column 2</vgr-table-header-column>
                <vgr-table-header-column [width]="3" [align]="'right'">Header Column3</vgr-table-header-column>
              </vgr-table-header>
              <vgr-table-row>
                <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
              </vgr-table-row>
              <vgr-table-row>
                <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
              </vgr-table-row>
              <vgr-table>
                <vgr-table-header>
                  <vgr-table-header-column [width]="10">Row Column</vgr-table-header-column>
                  <vgr-table-header-column [width]="5">Row Colum</vgr-table-header-column>
                  <vgr-table-header-column [width]="3" [align]="'right'">Row Column</vgr-table-header-column>
                </vgr-table-header>
                <vgr-table-row>
                  <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                  <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                  <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                </vgr-table-row>
                <vgr-table-row>
                  <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                  <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                  <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                </vgr-table-row>
              </vgr-table>
            </vgr-table>
            <vgr-table>
              <vgr-table-header>
                <vgr-table-header-column [width]="10">Header Column 1</vgr-table-header-column>
                <vgr-table-header-column [width]="5">Header Column 2</vgr-table-header-column>
                <vgr-table-header-column [width]="3" [align]="'right'">Header Column3</vgr-table-header-column>
              </vgr-table-header>
              <vgr-table-row>
                <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
              </vgr-table-row>
              <vgr-table-row>
                <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
              </vgr-table-row>
              <vgr-table>
                <vgr-table-header>
                  <vgr-table-header-column [width]="10">Row Column</vgr-table-header-column>
                  <vgr-table-header-column [width]="5">Row Colum</vgr-table-header-column>
                  <vgr-table-header-column [width]="3" [align]="'right'">Row Column</vgr-table-header-column>
                </vgr-table-header>
                <vgr-table-row>
                  <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                  <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                  <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                </vgr-table-row>
                <vgr-table-row>
                  <vgr-table-row-column [width]="10">Row Column</vgr-table-row-column>
                  <vgr-table-row-column [width]="5">Row Column</vgr-table-row-column>
                  <vgr-table-row-column [width]="3" [align]="'right'">Row Column</vgr-table-row-column>
                </vgr-table-row>
              </vgr-table>
            </vgr-table>
            <vgr-table>
              <vgr-table-header>
                <vgr-table-row-column [width]="20">Hej expandera mig!</vgr-table-row-column>
              </vgr-table-header>
              <vgr-table-row>
                <vgr-table-row-column [width]="20">Lite kul content</vgr-table-row-column>
              </vgr-table-row>
            </vgr-table>
          </vgr-list-item-content>
        </vgr-list-item>
      </vgr-list>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
<vgr-modal id="printModal">
  <vgr-modal-header>Skriv ut</vgr-modal-header>
  <vgr-modal-content>Vill du skriva ut {{getPrintText()}}?</vgr-modal-content>
  <vgr-modal-footer>
    <vgr-button [secondary]="true" (click)="closeModal('printModal')">Avbryt</vgr-button>
    <vgr-button [secondary]="true" (click)="printSelectedRows()">Skriv ut</vgr-button>
  </vgr-modal-footer>
</vgr-modal>
<vgr-modal id="deleteRowModal">
  <vgr-modal-header>Ta bort enheten</vgr-modal-header>
  <vgr-modal-content>
    <p *ngIf="rowToRemove">Vill du verkligen ta bort {{rowToRemove.previewObject.enhet}}?</p>
  </vgr-modal-content>
  <vgr-modal-footer>
    <vgr-button [secondary]="true" (click)="removeSelectedRow()">Ja</vgr-button>
    <vgr-button [secondary]="true" default="true" (click)="closeModal('deleteRowModal')">Nej</vgr-button>
  </vgr-modal-footer>
</vgr-modal>
