<app-component-docs [componentName]="'back to top'">
  <div class="docs__before">
    <vgr-action-panel [open]="open1" [title]="'Ett exempel på en action panel'" (openChanged)="open1 = $event">
      <vgr-button>En knapp</vgr-button>
      <p>Lite text ...</p>
    </vgr-action-panel>
  </div>
  <div class=" docs__overview ">
    <p>
      <code>&lt;vgr-action-panel&gt;</code> är en panel som kan öppnas och stängas.
      För mer information, se dokumentation för <a routerLink="/pagestructure">sidhantering</a>.
      Öppna och stäng panelerna på den här sidan med knapparna nedan:
    </p>
    <ul>
      <li>
        <vgr-button (click)="open1 = !open1">{{ getActionText(open1) }} panel 1</vgr-button>
      </li>
      <li>
        <vgr-button (click)="open2 = !open2">{{ getActionText(open2) }} panel 2</vgr-button>
      </li>
      <li>
        <vgr-button (click)="openError = !openError">{{ getActionText(openError) }} panel med Felmeddelande</vgr-button>
      </li>
    </ul>
    <br>
    <p>Förändras med tema:
      <strong>ja</strong>
    </p>
  </div>
  <div class="docs__examples ">
    <h2>HTML</h2>
    <section [innerHTML]="exampleCodeMarkup" hljsContent=".highlight"></section>
  </div>
  <div class="docs__api">
    <table class="property-table">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>title: string</td>
        <td>Anger action panelens titel.</td>
        <td>[title]="'En titel'"</td>
      </tr>
      <tr>
        <td>open: boolean</td>
        <td>Anger om panelen ska vara öppen eller stängd.</td>
        <td>[open]="true"</td>
      </tr>
      <tr>
        <td>showCloseButton: boolean</td>
        <td>Anger huruvida en stänga-knapp ska visas i övre högra hörnet av panelen. Default är false.</td>
        <td>[showCloseButton]="true"</td>
      </tr>
    </table>
  </div>
  <div class="docs__wcag ">
    <i>Ej aktuellt.</i>
  </div>
  <div class="docs__after">
    <vgr-action-panel [open]="open2" [title]="'Ett exempel på en annan action panel'" (openChanged)="open2 = $event">
      <vgr-button>En knapp</vgr-button>
      <p>Lite text ...</p>
    </vgr-action-panel>
    <vgr-action-panel [open]="openError" title="En action-panel med error notification" (openChanged)="openError = $event">
      <vgr-notification type="error">
        <p>
          Något gick fel
        </p>
      </vgr-notification>
    </vgr-action-panel>
  </div>
</app-component-docs>
