<app-component-docs componentName="Title-value">
  <div class=" docs__overview ">
    <p>
      <code> &lt;vgr-title-value&gt; </code> används för att skapa title-value layouter, t.ex formulär.
      <br> Placera title-value komponenterna i
      <code> &lt;vgr-title-value-layout&gt; </code>.
    </p>
    <p> Förändras med tema: <strong>nej</strong></p>
  </div>
  <div class="docs__examples ">
    <vgr-card>
      <vgr-card-column>
        <vgr-card-section [title]="'Belopp readonly (slim)'" [expanded]="true">
          <vgr-title-value-layout>
            <vgr-title-value [slim]="true">
              <vgr-title-value-heading>Bruttobelopp</vgr-title-value-heading>
              <vgr-title-value-container>
                <vgr-input [value]="1000" [suffix]="'kr'" textAlign="right" [readonly]="true"></vgr-input>
              </vgr-title-value-container>
            </vgr-title-value>
            <vgr-title-value [slim]="true">
              <vgr-title-value-heading>Skattesats</vgr-title-value-heading>
              <vgr-title-value-container>
                <vgr-input [value]="32" [suffix]="'%'" textAlign="right" [readonly]="true"></vgr-input>
              </vgr-title-value-container>
            </vgr-title-value>
            <vgr-title-value [slim]="true">
              <vgr-title-value-heading>Nettobelopp</vgr-title-value-heading>
              <vgr-title-value-container>
                <vgr-input [value]="32" [suffix]="'kr'" textAlign="right" [readonly]="true"></vgr-input>
              </vgr-title-value-container>
            </vgr-title-value>
          </vgr-title-value-layout>
        </vgr-card-section>
      </vgr-card-column>
      <vgr-card-column>
        <vgr-card-section [title]="'Belopp'" [expanded]="true" class="card__right">
          <vgr-title-value-layout>
            <vgr-title-value>
              <vgr-title-value-heading>Bruttobelopp</vgr-title-value-heading>
              <vgr-title-value-container>
                <vgr-input [value]="10000" [suffix]="'kr'" textAlign="right"></vgr-input>
              </vgr-title-value-container>
            </vgr-title-value>
            <vgr-title-value>
              <vgr-title-value-heading for="skattesats">Skattesats</vgr-title-value-heading>
              <vgr-title-value-container>
                <vgr-input id="skattesats" [value]="32" [suffix]="'%'" textAlign="right"></vgr-input>
              </vgr-title-value-container>
            </vgr-title-value>
            <vgr-title-value>
              <vgr-title-value-heading>Nettobelopp</vgr-title-value-heading>
              <vgr-title-value-container>
                <vgr-input [value]="32" [suffix]="'kr'" textAlign="right"></vgr-input>
              </vgr-title-value-container>
            </vgr-title-value>
          </vgr-title-value-layout>
        </vgr-card-section>
      </vgr-card-column>
    </vgr-card>
    <p>Nya API-guidelines ser ut som följande:</p>
    <section [innerHTML]="htmlEncoder.prepareHighlightedSection(markupExample)" hljsContent=".highlight"></section>
  </div>
  <div class="docs__api">
    <h2><code>&lt;vgr-title-value&gt;</code></h2>
    <table class="property-table">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>slim : boolean</td>
        <td>Om title-value är satt som slim så kommer title-value-raden ta så lite plats som möjligt i höjdled.
          <br>Detta ska användas för en title-value komponent som endast visar readonly fält.
        </td>
        <td>[readonly]="true/false"</td>
      </tr>
    </table>
    <br>

    <h2><code>&lt;vgr-title-value-heading&gt;</code></h2>
    <table class="property-table">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>for : string</td>
        <td>For-värdet som skall sättas på labeln som skapas. Paras ihop med id:t på input-komponenten för ökad tillgänglighet (WCAG). Se exempel ovan.
        </td>
        <td>for="id"</td>
      </tr>
      <tr>
        <td>width : number</td>
        <td>Bredd på <code>title-value-heading</code> anges som proportioner i heltal, där siffran motsvarar
          kolumnens storlek i proportion till summan av alla kolumners storlekt. Varje kolumn måste ha en width
          satt och summan av width ska vara 100% av brädden.
        </td>
        <td>[width]="1"</td>
      </tr>
    </table>
    <br>

    <h2><code>&lt;vgr-title-value-container&gt;</code></h2>
    <table class="property-table">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>width : number</td>
        <td>Bredd på <code>title-value-container</code> anges som proportioner i heltal, där siffran motsvarar
          kolumnens storlek i proportion till summan av alla kolumners storlekt. Varje kolumn måste ha en width
          satt och summan av width ska vara 100% av brädden.
        </td>
        <td>[width]="3"</td>
      </tr>
    </table>

  </div>
  <div class="docs__wcag ">
  </div>
</app-component-docs>
