<app-component-docs [componentName]="'Title-value'">

  <div class="docs__overview">
    <p>
      <code> &lt;vgr-title-value&gt; </code> används för att skapa title-value layouter, t.ex formulär.
      <br> Placera title-value komponenterna i
      <code> &lt;vgr-title-value-layout&gt; </code>.
    </p>

    <p> Förändras med tema:
      <strong>nej</strong>
    </p>
  </div>
  <div class="docs__examples">
    <vgr-card>
      <vgr-card-column>
        <vgr-card-section [title]="'Belopp readonly (slim)'" [expanded]="true">
          <vgr-title-value-layout>
            <vgr-title-value [slim]="true">
              <vgr-title-value-heading>Bruttobelopp</vgr-title-value-heading>
              <vgr-title-value-container>
                <vgr-input [value]="1000" [suffix]="'kr'" textAlign="right" [readonly]="true"></vgr-input>
              </vgr-title-value-container>
            </vgr-title-value>
            <vgr-title-value [slim]="true">
              <vgr-title-value-heading>Skattesats</vgr-title-value-heading>
              <vgr-title-value-container>
                <vgr-input [value]="32" [suffix]="'%'" textAlign="right" [readonly]="true"></vgr-input>
              </vgr-title-value-container>
            </vgr-title-value>
            <vgr-title-value [slim]="true">
              <vgr-title-value-heading>Nettobelopp</vgr-title-value-heading>
              <vgr-title-value-container>
                <vgr-input [value]="32" [suffix]="'kr'" textAlign="right" [readonly]="true"></vgr-input>
              </vgr-title-value-container>
            </vgr-title-value>
          </vgr-title-value-layout>
        </vgr-card-section>
      </vgr-card-column>
      <vgr-card-column>
        <vgr-card-section [title]="'Belopp'" [expanded]="true" class="card__right">
          <vgr-title-value-layout>
            <vgr-title-value>
              <vgr-title-value-heading>Bruttobelopp</vgr-title-value-heading>
              <vgr-title-value-container>
                <vgr-input [value]="10000" [suffix]="'kr'" textAlign="right"></vgr-input>
              </vgr-title-value-container>
            </vgr-title-value>
            <vgr-title-value>
              <vgr-title-value-heading>Skattesats</vgr-title-value-heading>
              <vgr-title-value-container>
                <vgr-input [value]="32" [suffix]="'%'" textAlign="right"></vgr-input>
              </vgr-title-value-container>
            </vgr-title-value>
            <vgr-title-value>
              <vgr-title-value-heading>Nettobelopp</vgr-title-value-heading>
              <vgr-title-value-container>
                <vgr-input [value]="32" [suffix]="'kr'" textAlign="right"></vgr-input>
              </vgr-title-value-container>
            </vgr-title-value>
          </vgr-title-value-layout>
        </vgr-card-section>
      </vgr-card-column>
    </vgr-card>
  </div>

  <div class="docs__api">
    <table class="property-table">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>slim : boolean</td>
        <td>Om title-value är satt som slim så kommer title-value-raden ta så lite plats som möjligt i höjdled.
          <br>Detta ska användas för en title-value komponent som endast visar readonly fält.
        </td>
        <td>
          [readonly]="true/false"
        </td>
      </tr>
    </table>
    <br>
    <p>

      <strong>Tips!</strong> om man vill lägga två komponenter bredvid varandra som värde, lägg dem i en
      <code>&lt;div class="row-layout row-layout--tight row-layout--component"&gt; &lt;/div&gt;</code>
    </p>
  </div>

  <div class="docs__wcag">
    <i>
      Ej aktuellt.</i>
  </div>

</app-component-docs>