<vgr-page>
  <vgr-page-header [title]="'Kodexempel Reactive Forms'">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <vgr-card>
        <vgr-card-column>
          <h1>On Blur</h1>
          <form [formGroup]="updateOnBlurForm">
            <vgr-title-value-layout>
              <vgr-title-value>
                <vgr-title-value-heading for="firstname">Förnamn</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-input [width]="'100%'" labelId="firstname" formControlName="firstname" [showValidation]="updateOnBlurForm.controls.firstname.touched"
                    [errorMessage]="validationMessages.firstname"></vgr-input>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading for="lastname">Efternamn</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-input [width]="'100%'" labelId="lastname" formControlName="lastname" [showValidation]="updateOnBlurForm.controls.lastname.touched"
                    [errorMessage]="validationMessages.lastname"></vgr-input>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading for="age">Ålder</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-input [width]="'100%'" labelId="age" formControlName="age" [showValidation]="updateOnBlurForm.controls.age.touched"
                    textAlign="right" [suffix]="'år'" [errorMessage]="validationMessages.age"></vgr-input>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading for="email">E-post</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-input [width]="'100%'" labelId="email" formControlName="email" [showValidation]="updateOnBlurForm.controls.email.touched"
                    [errorMessage]="validationMessages.email"></vgr-input>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading for="salary">Inkomst</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-input [width]="'100%'" labelId="salary" formControlName="salary" [showValidation]="updateOnBlurForm.controls.salary.touched"
                    [errorMessage]="validationMessages.salary" ></vgr-input>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading for="favourite_pet">Favoritdjur</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-dropdown-select labelId="favourite_pet" width="100%" formControlName="favourite_pet" [noItemSelectedLabel]="'Välj djur'"
                    [showValidation]="updateOnBlurForm.controls.favourite_pet.touched">
                    <vgr-dropdown-item [value]="'Hund'">Hund</vgr-dropdown-item>
                    <vgr-dropdown-item [value]="'Katt'">Katt</vgr-dropdown-item>
                    <vgr-dropdown-item [value]="'Guldfisk'">Guldfisk</vgr-dropdown-item>
                  </vgr-dropdown-select>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Intressen</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-dropdown-select width="100%" formControlName="interests" [multi]="true"
                    [showValidation]="updateOnBlurForm.controls.interests.touched"
                    [errorMessage]="{'pattern': 'Du får bara koda!'}">
                    <vgr-dropdown-item [value]="'Koda'">Koda</vgr-dropdown-item>
                    <vgr-dropdown-item [value]="'Äta'">Äta</vgr-dropdown-item>
                    <vgr-dropdown-item [value]="'Sova'">Sova</vgr-dropdown-item>
                  </vgr-dropdown-select>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Du måste kryssa i mig!</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-checkbox formControlName="check" [label]=" 'Ok!' "></vgr-checkbox>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Välj valfri</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-radio-group formControlName="optional" [options]="radioOptions1">
                  </vgr-radio-group>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Välj Månad</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-datepicker [minZoom]="'m'" formControlName="monthpicker"
                    [showValidation]="updateOnBlurForm.controls.monthpicker.touched" [minDate]="minDate"
                    [maxDate]="maxDate"></vgr-datepicker>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Välj Dag</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-datepicker formControlName="datepicker"
                    [showValidation]="updateOnBlurForm.controls.datepicker.touched"></vgr-datepicker>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Registreringsdatum</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-datepicker formControlName="datepicker_preselected"
                    [showValidation]="updateOnBlurForm.controls.datepicker_preselected.touched"></vgr-datepicker>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading for="kommentar">Kommentar</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-textarea formControlName="textarea" labelId="kommentar"
                    [showValidation]="updateOnBlurForm.controls.textarea.touched">
                  </vgr-textarea>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading for="checkboxGroup">checkboxGroup</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-checkbox-group formControlName="checkboxGroup" [showValidation]="updateOnBlurForm.controls.checkboxGroup.touched" labelId="checkboxGroup">
                    <vgr-checkbox [label]=" 'Med ledtext' "></vgr-checkbox>
                    <vgr-checkbox [disabled]="true" [label]=" 'Inaktiverad' "></vgr-checkbox>
                    <vgr-checkbox [checked]="true" [label]=" 'Vald' "></vgr-checkbox>
                    <vgr-checkbox [label]=" 'Vald2' "></vgr-checkbox>
                </vgr-checkbox-group>
                </vgr-title-value-container>
              </vgr-title-value>
            </vgr-title-value-layout>
            <vgr-button (click)="onResetUpdateOnBlurForm()">Reset form</vgr-button>
            <vgr-button (click)="onSubmitUpdateOnBlurForm()" [disabled]="false">Skapa användare</vgr-button>
            <vgr-lock-button (lockChanged)="handleLockChanged(locked)"></vgr-lock-button>
          </form>
        </vgr-card-column>
        <vgr-card-column>
          <h1>On Submit</h1>
          <form [formGroup]="updateOnSubmitForm">
            <vgr-title-value-layout>
              <vgr-title-value>
                <vgr-title-value-heading for="submit_firstname">Förnamn</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-input [width]="'100%'" labelId="submit_firstname" formControlName="firstname" [showValidation]="formSubmitted"
                    [errorMessage]="validationMessages.firstname"></vgr-input>
                </vgr-title-value-container>
              </vgr-title-value>

              <vgr-title-value>
                <vgr-title-value-heading for="submit_lastname">Efternamn</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-input [width]="'100%'" labelId="submit_lastname" formControlName="lastname" [showValidation]="formSubmitted"
                    [errorMessage]="validationMessages.lastname"></vgr-input>
                </vgr-title-value-container>
              </vgr-title-value>

              <vgr-title-value>
                <vgr-title-value-heading for="submit_age">Ålder</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-input [width]="'100%'" labelId="submit_age" formControlName="age" [showValidation]="formSubmitted" textAlign="right" [suffix]="'år'"
                    [errorMessage]="validationMessages.age"></vgr-input>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading for="submit_email">E-post</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-input [width]="'100%'" labelId="submit_email" formControlName="email" [showValidation]="formSubmitted"
                    [errorMessage]="validationMessages.email"></vgr-input>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading for="submit_salary">Inkomst</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-input [width]="'100%'" labelId="submit_salary" formControlName="salary" [showValidation]="formSubmitted"
                    [errorMessage]="validationMessages.salary"></vgr-input>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Favoritdjur</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-dropdown-select width="100%" formControlName="favourite_pet" [noItemSelectedLabel]="'Välj djur'"
                    [showValidation]="formSubmitted">
                    <vgr-dropdown-item [value]="'Hund'">Hund</vgr-dropdown-item>
                    <vgr-dropdown-item [value]="'Katt'">Katt</vgr-dropdown-item>
                    <vgr-dropdown-item [value]="'Guldfisk'">Guldfisk</vgr-dropdown-item>
                  </vgr-dropdown-select>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Intressen</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-dropdown-select width="100%" formControlName="interests" [multi]="true" [showValidation]="formSubmitted"
                    [errorMessage]="{'pattern': 'Du får bara koda!'}">
                    <vgr-dropdown-item [value]="'Koda'">Koda</vgr-dropdown-item>
                    <vgr-dropdown-item [value]="'Äta'">Äta</vgr-dropdown-item>
                    <vgr-dropdown-item [value]="'Sova'">Sova</vgr-dropdown-item>
                  </vgr-dropdown-select>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Du måste kryssa i mig!</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-checkbox formControlName="check" [label]=" 'Ok!' "></vgr-checkbox>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Välj valfri</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-radio-group formControlName="optional" [options]="radioOptions2">
                  </vgr-radio-group>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Välj månad</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-datepicker [minZoom]="'m'" formControlName="monthpicker" [showValidation]="formSubmitted"
                    [minDate]="minDate" [maxDate]="maxDate"></vgr-datepicker>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Välj dag</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-datepicker formControlName="datepicker" [showValidation]="formSubmitted"></vgr-datepicker>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Registreringsdatum</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-datepicker formControlName="datepicker_preselected" [showValidation]="formSubmitted">
                  </vgr-datepicker>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Kommentar</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-textarea formControlName="textarea" [showValidation]="formSubmitted"></vgr-textarea>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading for="checkboxGroup">checkboxGroup</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-checkbox-group formControlName="checkboxGroup" [showValidation]="formSubmitted" labelId="checkboxGroup">
                    <vgr-checkbox [label]=" 'Med ledtext' "></vgr-checkbox>
                    <vgr-checkbox [disabled]="true" [label]=" 'Inaktiverad' "></vgr-checkbox>
                    <vgr-checkbox [checked]="true" [label]=" 'Vald' "></vgr-checkbox>
                    <vgr-checkbox [label]=" 'Vald2' "></vgr-checkbox>
                </vgr-checkbox-group>
                </vgr-title-value-container>
              </vgr-title-value>
            </vgr-title-value-layout>
            <vgr-button (click)="onResetUpdateOnSubmitForm()">Reset form</vgr-button>
            <vgr-button type="submit" (click)="onSubmit()">Submit</vgr-button>
          </form>
        </vgr-card-column>
      </vgr-card>
      <vgr-card>
        <vgr-card-column>
          <h1>On Change</h1>
          <form [formGroup]="updateOnChangeForm">
            <vgr-title-value-layout>
              <vgr-title-value>
                <vgr-title-value-heading>Förnamn</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-input [width]="'100%'" formControlName="firstname" [showValidation]="updateOnChangeForm.controls.firstname.dirty"
                    [errorMessage]="validationMessages.firstname"></vgr-input>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Efternamn</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-input [width]="'100%'" formControlName="lastname" [showValidation]="updateOnChangeForm.controls.lastname.dirty"
                    [errorMessage]="validationMessages.lastname"></vgr-input>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Ålder</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-input [width]="'100%'" formControlName="age" [showValidation]="updateOnChangeForm.controls.age.dirty"
                    textAlign="right" [suffix]="'år'" [errorMessage]="validationMessages.age"></vgr-input>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>E-post</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-input [width]="'100%'" formControlName="email" [showValidation]="updateOnChangeForm.controls.email.dirty"
                    [errorMessage]="validationMessages.email"></vgr-input>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Inkomst</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-input [width]="'100%'" formControlName="salary" [showValidation]="updateOnChangeForm.controls.salary.dirty"
                    [errorMessage]="validationMessages.salary"></vgr-input>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Favoritdjur</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-dropdown-select width="100%" formControlName="favourite_pet" [noItemSelectedLabel]="'Välj djur'"
                    [showValidation]="updateOnChangeForm.controls.favourite_pet.dirty">
                    <vgr-dropdown-item [value]="'Hund'">Hund</vgr-dropdown-item>
                    <vgr-dropdown-item [value]="'Katt'">Katt</vgr-dropdown-item>
                    <vgr-dropdown-item [value]="'Guldfisk'">Guldfisk</vgr-dropdown-item>
                  </vgr-dropdown-select>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Intressen</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-dropdown-select width="100%" formControlName="interests" [simpleLabel]="true" [multi]="true"
                    [showValidation]="updateOnChangeForm.controls.interests.dirty"
                    [errorMessage]="{'pattern': 'Du får bara koda!'}">
                    <vgr-dropdown-item [value]="'Koda'">Koda</vgr-dropdown-item>
                    <vgr-dropdown-item [value]="'Äta'">Äta</vgr-dropdown-item>
                    <vgr-dropdown-item [value]="'Sova'">Sova</vgr-dropdown-item>
                  </vgr-dropdown-select>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Du måste kryssa i mig!</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-checkbox formControlName="check" [label]=" 'Ok!' "></vgr-checkbox>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Välj valfri</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-radio-group formControlName="optional" [options]="radioOptions3">
                  </vgr-radio-group>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Välj månad</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-datepicker [minZoom]="'m'" formControlName="monthpicker"
                    [showValidation]="updateOnChangeForm.controls.monthpicker.dirty" [minDate]="minDate"
                    [maxDate]="maxDate"></vgr-datepicker>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Välj dag</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-datepicker formControlName="datepicker"
                    [showValidation]="updateOnChangeForm.controls.datepicker.dirty"></vgr-datepicker>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Registreringsdatum</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-datepicker formControlName="datepicker_preselected"
                    [showValidation]="updateOnChangeForm.controls.datepicker_preselected.dirty"></vgr-datepicker>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading>Kommentar</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-textarea formControlName="textarea"
                    [showValidation]="updateOnChangeForm.controls.textarea.dirty">
                  </vgr-textarea>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value>
                <vgr-title-value-heading for="checkboxGroup">checkboxGroup</vgr-title-value-heading>
                <vgr-title-value-container>
                  <vgr-checkbox-group formControlName="checkboxGroup" [showValidation]="updateOnChangeForm.controls.checkboxGroup.dirty" labelId="checkboxGroup">
                    <vgr-checkbox [label]=" 'Med ledtext' "></vgr-checkbox>
                    <vgr-checkbox [disabled]="true" [label]=" 'Inaktiverad' "></vgr-checkbox>
                    <vgr-checkbox [label]=" 'Vald' "></vgr-checkbox>
                    <vgr-checkbox [label]=" 'Vald2' "></vgr-checkbox>
                </vgr-checkbox-group>
                </vgr-title-value-container>
              </vgr-title-value>
            </vgr-title-value-layout>
            <vgr-button (click)="onResetUpdateOnChangeForm()">Reset form</vgr-button>
            <vgr-button [disabled]="false">Skapa användare</vgr-button>
          </form>
        </vgr-card-column>
        <vgr-card-column>
          <vgr-expandable-div>
            <vgr-expandable-div-header>
              <h2>Update on blur values</h2>
            </vgr-expandable-div-header>
            <vgr-expandable-div-content>
              <p>firstname: <strong>{{updateOnBlurForm.controls.firstname.value}}</strong></p>
              <p>lastname: <strong> {{updateOnBlurForm.controls.lastname.value}} </strong></p>
              <p>age: <strong>{{updateOnBlurForm.controls.age.value}} </strong></p>
              <p>email: <strong>{{updateOnBlurForm.controls.email.value}} </strong></p>
              <p>salary: <strong>{{updateOnBlurForm.controls.salary.value}} </strong></p>
              <p>favouritepet: <strong>{{updateOnBlurForm.controls.favourite_pet.value}} </strong></p>
              <p>interests: <strong>{{updateOnBlurForm.controls.interests.value}} </strong></p>
              <p>check: <strong>{{updateOnBlurForm.controls.check.value}} </strong></p>
              <p>optional: <strong>{{updateOnBlurForm.controls.optional.value?.value}} </strong></p>
              <p>monthpicker: <strong>{{updateOnBlurForm.controls.monthpicker.value}} </strong></p>
              <p>datepicker: <strong>{{updateOnBlurForm.controls.datepicker.value}} </strong></p>
              <p>datepicker_preselected: <strong>{{updateOnBlurForm.controls.datepicker_preselected.value}} </strong>
              </p>
              <p>textarea: <strong>{{updateOnBlurForm.controls.textarea.value}} </strong></p>
              <p>checkboxgroup: <strong>{{updateOnBlurForm.controls.checkboxGroup.value?.length}} </strong></p>
            </vgr-expandable-div-content>
          </vgr-expandable-div>
          <vgr-expandable-div>
            <vgr-expandable-div-header>
              <h2>Update on submit values</h2>
            </vgr-expandable-div-header>
            <vgr-expandable-div-content>

              <p>firstname: <strong>{{updateOnSubmitForm.controls.firstname.value}}</strong></p>
              <p>lastname: <strong> {{updateOnSubmitForm.controls.lastname.value}} </strong></p>
              <p>age: <strong>{{updateOnSubmitForm.controls.age.value}} </strong></p>
              <p>email: <strong>{{updateOnSubmitForm.controls.email.value}} </strong></p>
              <p>salary: <strong>{{updateOnSubmitForm.controls.salary.value}} </strong></p>
              <p>favouritepet: <strong>{{updateOnSubmitForm.controls.favourite_pet.value}} </strong></p>
              <p>interests: <strong>{{updateOnSubmitForm.controls.interests.value}} </strong></p>
              <p>check: <strong>{{updateOnSubmitForm.controls.check.value}} </strong></p>
              <p>optional: <strong>{{updateOnSubmitForm.controls.optional.value?.value}} </strong></p>
              <p>monthpicker: <strong>{{updateOnSubmitForm.controls.monthpicker.value}} </strong></p>
              <p>datepicker: <strong>{{updateOnSubmitForm.controls.datepicker.value}} </strong></p>
              <p>datepicker_preselected: <strong>{{updateOnSubmitForm.controls.datepicker_preselected.value}} </strong>
              </p>
              <p>textarea: <strong>{{updateOnSubmitForm.controls.textarea.value}} </strong></p>
              <p>checkboxgroup: <strong>{{updateOnSubmitForm.controls.checkboxGroup.value.length}} </strong></p>
            </vgr-expandable-div-content>
          </vgr-expandable-div>
          <vgr-expandable-div>
            <vgr-expandable-div-header>
              <h2>Update on change values</h2>
            </vgr-expandable-div-header>
            <vgr-expandable-div-content>

              <p>firstname: <strong>{{updateOnChangeForm.controls.firstname.value}}</strong></p>
              <p>lastname: <strong> {{updateOnChangeForm.controls.lastname.value}} </strong></p>
              <p>age: <strong>{{updateOnChangeForm.controls.age.value}} </strong></p>
              <p>email: <strong>{{updateOnChangeForm.controls.email.value}} </strong></p>
              <p>salary: <strong>{{updateOnChangeForm.controls.salary.value}} </strong></p>
              <p>favouritepet: <strong>{{updateOnChangeForm.controls.favourite_pet.value}} </strong></p>
              <p>interests: <strong>{{updateOnChangeForm.controls.interests.value}} </strong></p>
              <p>check: <strong>{{updateOnChangeForm.controls.check.value}} </strong></p>
              <p>optional: <strong>{{updateOnChangeForm.controls.optional.value?.value}} </strong></p>
              <p>monthpicker: <strong>{{updateOnChangeForm.controls.monthpicker.value}} </strong></p>
              <p>datepicker: <strong>{{updateOnChangeForm.controls.datepicker.value}} </strong></p>
              <p>datepicker_preselected: <strong>{{updateOnChangeForm.controls.datepicker_preselected.value}} </strong>
              </p>
              <p>textarea: <strong>{{updateOnChangeForm.controls.textarea.value}} </strong></p>
              <p>checkboxgroup: <strong>{{updateOnChangeForm.controls.checkboxGroup.value.length}} </strong></p>
            </vgr-expandable-div-content>
          </vgr-expandable-div>
        </vgr-card-column>

      </vgr-card>
    </vgr-page-block>
    <vgr-page-block>
      <div>
        <h3>Källkod</h3>
        <section>
          <a
            href="https://github.com/Vastra-Gotalandsregionen/komponentkartan-demo/tree/master/src/app/reactiveforms-example">Källkod
            för ovanstånde exempel.</a>
        </section>
      </div>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
