<div class="main-content">
    <vgr-page-header [title]="'Calendars'">
    </vgr-page-header>

    <div class="komponentkarta-components">
        <div class="komponentkarta-component row-layout row-layout--padded">
            <div>
                <p>Default formatering</p>
                <vgr-monthpicker style="margin-top: 20px" [maxDate]="maxDate"></vgr-monthpicker>
            </div>
            <div>
                <p>MM yyyy formatering</p>
                <vgr-monthpicker style="margin-top: 20px" [selectedDateFormat]="'MM yyyy'" [preselectedDate]="preselectedDate"></vgr-monthpicker>
            </div>

        </div>
    </div>

</div>