input {
    font-family: $font-family;
    font-size: $font-size--small;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    padding-left: $margin--slim;
    border-radius: 1px;
    &:focus {
        outline: none !important;
    }
}