@import "_settings.colors.scss";
@import "_settings.fonts.scss";
@import "_settings.sizes.scss";
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background: $background-color--default;
  color: $text-color--default;
  height: 100%;
}

body {
  background-color: $background-color--default;
  font-family: $font-family;
  font-size: $font-size--small;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: $line-height;
  letter-spacing: normal;
  min-width: $desktop-width__small;
  height: 100%;
  margin: 0;
  &.modal--open {
    overflow: hidden;
  }
}

header,
p,
span,
div,
h1,
h2,
h3 {
  line-height: $line-height;
}
