@import "_settings.sizes";
@import "_settings.fonts";
@import "_objects.checkbox.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
.user-card__header {
    border-bottom: $border--xs-slim solid $border-color; //Linjen under headern skall gå hela vägen ut i kanten...
    margin-left: calc(-1 * #{$margin--slim});
    margin-right: calc(-1 * #{$margin--slim}); //...men innehållet skall börja där det brukar
    padding-left: $margin--slim;
    padding-right: $margin--slim;
    padding-bottom: 6px;
}

.user-card__header__first-name {
    display: inline-block;
    min-width: 128px;
    max-width: 128px;
}

.user-card__header__last-name {
    display: inline-block;
    min-width: 180px;
    max-width: 180px;
}

.user-card__header__role {
    display: inline-block;
    min-width: 200px;
    max-width: 200px;
}

.user-card__content {
    display: flex;
    flex-direction: row;
    padding-top: $margin--slim;
    >* {
        border-right: 1px solid $border-color;
    }
    >*:last-child {
        border-right: none;
    }
}

.siths-card-panel {
    min-width: 469px;
    max-width: 469px;
    padding-right: $margin--slim;
}

.user-card__panel-header {
    margin-top: 14px;
    padding-bottom: 3px;
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.user-card__panel-header__title {
    margin-right: $margin--fat;
}

.siths-card-panel__label {
    display: inline-block;
    margin-top: $margin--regular;
    min-width: 188px;
    max-width: 188px;
}

.siths-card-panel__value {
    display: inline-block;
    margin-top: $margin--regular;
    color: $text-color--value;
}

.anvandarkort__enheter {
    padding-left: $margin--slim;
    width: 100%;
}

.anvandarkort__enheter__role-list {
    display: flex;
    flex-direction: column;
}

.role-grid {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $text-color--read-only;
}

.role-grid__role {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.role-grid__role__name {
    display: block;
    margin-bottom: 4px;
}

.role-grid__role__status {
    @extend .fa;
    .role--assigned & {
        @extend .fa-check-square;
    }
    .role--unassigned & {
        width: 15px;
        height: 15px;
        border: 1px solid $border-color;
    }
}

@media screen and (min-width: $desktop-width--medium) {
    .siths-card-panel {
        padding-right: $margin--fat;
    }
    .anvandarkort__enheter {
        padding-left: $margin--fat;
    }
}