@import "_settings.sizes.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
.minsida-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $context-header-height--small;
}

.minsida-header__profile-image {
    height: 77px;
    width: 77px;
    border-radius: 50%;
    display: inline-block;
}

.minsida-header__title {
    margin-left: auto;
    text-align: right;
    margin-right: 0;
    margin-bottom: 50px;
}

@media screen and (min-width: $desktop-width--medium) {
    .minsida-header {
        height: $context-header-height--medium;
    }
    .minsida-header__title {
        margin-bottom: 50px;
    }
    .user-card__header {
        //Linjen under headern skall gå hela vägen ut i kanten...
        margin-left: calc(-1 * #{$margin--fat});
        margin-right: calc(-1 * #{$margin--fat}); //...men innehållet skall börja där det brukar
        padding-left: $margin--fat;
        padding-right: $margin--fat;
    }
}