.spinner {
  width: 55px;
  height: 55px;
  transform: rotate(-45deg);
  border: solid 7px #dbdbdb;
  border-top: solid 7px #314152;
  border-radius: 50%;
}

.spinner.spinner--large {
  width: 100px;
  height: 100px;
  border: double 15px transparent;
}

.spinner.spinner--small {
  width: 30px;
  height: 30px;
  border: double 5px transparent;
}