  .title-value-layout {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0px $margin--slim;
  }

  .title-value {
    display: table-row;
    width: 100%;
  }

  .title-value__title {
    display: table-cell;
    vertical-align: top;
  }

  .title-value__value {
    display: table-cell;
    vertical-align: middle;
    width: 280px;
    >span {
      padding-left: $margin--slim;
    }
  }

  @media screen and (min-width: $desktop-width--medium) {
    .title-value__value {
      width: 300px;
    }
    .title-value-layout {
      border-spacing: 0px $margin--regular;
    }
  }
