@import "_settings.sizes";
@import "_settings.fonts";
@import "_objects.checkbox.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "_components.information-panel.scss";
.anvandarkort__header {
    border-bottom: $border--xs-slim solid $border-color; //Linjen under headern skall gå hela vägen ut i kanten...
    margin-left: calc(-1 * #{$margin--slim});
    margin-right: calc(-1 * #{$margin--slim}); //...men innehållet skall börja där det brukar
    padding-left: $margin--slim;
    padding-right: $margin--slim;
    padding-bottom: 6px;
}

.anvandarkort__header__first-name {
    display: inline-block;
    min-width: 128px;
    max-width: 128px;
}

.anvandarkort__header__last-name {
    display: inline-block;
    min-width: 180px;
    max-width: 180px;
}

.anvandarkort__header__role {
    display: inline-block;
    min-width: 200px;
    max-width: 200px;
}

.anvandarkort__content {
    display: flex;
    flex-direction: row;
    >* {
        border-right: 1px solid $border-color;
    }
    >*:last-child {
        border-right: none;
    }
}

.anvandarkort__panel-header {
    padding-bottom: 3px;
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.anvandarkort__panel-header__title {
    margin-right: $margin--fat;
}


/***************************************************
*                VÄNSTER SIDA                      *
***************************************************/

.anvandarkort__uppgifter {
    min-width: 479px;
    max-width: 479px;
    padding-right: $margin--slim;
    padding-bottom: $margin--slim;
}

.anvandarkort__uppgifter__label {
    display: inline-block;
    min-width: 180px;
    max-width: 180px;
}

.anvandarkort__uppgifter__value {
    display: inline-block;
    color: $text-color--value;
}

.information-panel__content {
    .anvandarkort__uppgifter__row {
        margin-bottom: 5px;
    }
    .anvandarkort__uppgifter__row:last-child {
        margin-bottom: 0px;
    }
}


/***************************************************
*                HÖGER SIDA                      *
***************************************************/

.anvandarkort__enheter {
    padding-left: $margin--slim;
    width: 100%;
    padding-bottom: $margin--slim;
}

.anvandarkort__enheter__system {
    >* {
        margin-bottom: $margin--fat;
    }
}

.anvandarkort__enhet-grupp {}

.anvandarkort__enhet-grupp__system {
    display: inline-block;
    font-weight: bold;
    min-width: 60px;
    max-width: 60px;
}

.anvandarkort__enhet-grupp__antal {}

#myHeader {
    padding-top: 0px;
    padding-bottom: 0px;
}

.anvandarkort__enheter__role-list {
    display: flex;
    flex-direction: column;
}

.role-grid {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $text-color--read-only;
}

.role-grid__role {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.role-grid__role__name {
    display: block;
    margin-bottom: 4px;
}

.role-grid__role__status {
    @extend .fa;
    .role--assigned & {
        @extend .fa-check-square;
    }
    .role--unassigned & {
        width: 15px;
        height: 15px;
        border: 1px solid $border-color;
    }
}

@media screen and (min-width: $desktop-width--medium) {
    .anvandarkort__uppgifter {
        min-width: 489px;
        max-width: 489px;
        padding-right: $margin--fat;
    }
    .anvandarkort__enheter {
        padding-left: $margin--fat;
    }
}