$dropdown-height--small: 364px;
$dropdown-height--medium: 394px;
$dropdown-width--medium: 160px;
$dropdown-width--small: 100px;
.dropdown {
    @extend .background-color--primary;
    position: relative;
    display: inline-block;
    height: $component-height;
    width: $dropdown-width--medium;
    padding: 0px; //Text på vald item
    cursor: pointer;
    span {
        padding-left: $margin--slim;
        padding-top: 2px;
        vertical-align: middle;
        background-color: white;
        width: calc(#{$dropdown-width--medium} - #{$icon-width} - #{$border--single} - #{$border--single});
        display: inline-block;
        height: 100%;
        cursor: pointer;
        border-top: $border--single solid $control-border-color--default;
        border-left: $border--single solid $control-border-color--default;
        border-bottom: $border--single solid $control-border-color--default;
        border-radius: 1px;
    } //Ikon, uppåt- eller nedåtpil
    &:after {
        @extend .bg-image-icon-chevron-inverted;
        content: "";
        vertical-align: middle;
        text-align: center;
        float: right;
        background-color: transparent;
        cursor: pointer;
        transform: rotate(0deg);
        transition: all ease 0.3s;
        margin-top: 0px;
        padding-right: 3px;
    }
    &.dropdown--small {
        width: $dropdown-width--small;
    }
    &.dropdown--open {
        &:after {
            transform: rotate(180deg);
            transition: all 0.3s ease;
            margin-top: 2px;
            padding-left: 6px;
        }
    }
}

.dropdown__filterTextbox {
    position: absolute;
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);
    visibility: hidden;
    .dropdown--filter-visible.dropdown--open & {
        visibility: visible;
    }
}


/*******************************************************************************************************
 * .dropdown__menu
 *  Hela den yta som "droppar" ner från kontrollen. Här läggs listan, filtrering mm
 *
 *******************************************************************************************************/

.dropdown__menu {
    position: absolute;
    top: 42px;
    text-align: left;
    z-index: $layer-four;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.34);
    background-color: $background-color--content;
    border: none;
    padding-top: $margin--regular;
    padding-bottom: 0px;
    min-width: 330px;
    max-height: $dropdown-height--small;
    visibility: hidden;
    cursor: default;
    &:before {
        @extend .bg-image-menu-arrow;
        content: "";
        position: absolute;
        display: inline-block;
        z-index: 2;
        margin-top: -32px;
        left: 20px;
    }
    a {
        color: $menu-text-color;
        text-decoration: none;
        display: block;
        border-bottom: none;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: $margin--regular;
        padding-right: $margin--regular;
    }
    .dropdown--open & {
        visibility: visible;
    }
    .dropdown-item--marked {
        a {
            @extend .border-left-color--primary;
            border-left-width: 4px;
            border-left-style: solid;
            font-weight: bold;
            padding-left: 11px;
            padding-right: 11px;
        }
    }
    .dropdown-item--selected {
        a {
            font-weight: bold;
        }
    }
    .dropdown__menu__items {
        ul {
            li:last-child {
                margin-bottom: 7px;
            }
        }
    }
    .dropdown--scroll-visible & {
        height: $dropdown-height--small;
        .dropdown__menu__items {
            position: relative;
            height: calc(#{$dropdown-height--small} - 15px);
            ul {
                li:last-child {
                    position: relative;
                    z-index: $layer-five;
                    background: white;
                    width: calc(100% - 17px);
                    margin-bottom: 0px;
                }
                li:first-child {
                    position: relative;
                    z-index: $layer-one;
                    background: white;
                    width: calc(100% - 17px);
                    margin-top: 4px;
                }
                li:first-child {
                    &.dropdown-item--selected {
                        z-index: $layer-four;
                    }
                    &.dropdown-item--marked {
                        z-index: $layer-four;
                    }
                }
            }
        }
    }
    .dropdown--filter-visible & {
        .dropdown__menu__items {
            position: relative; //
            max-height: calc(#{$dropdown-height--small} - 55px);
        }
        .container {
            margin-top: 40px;
        }
    } //För att justera scrollbarens "längd", den krymper alldeles för mycket som standard vid många items
}

.dropdown__filterTextbox {
    position: absolute;
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);
    visibility: hidden;
    .dropdown--filter-visible.dropdown--open & {
        visibility: visible;
    }
}

.dropdown-item--select-all {
    &:after {
        content: "";
        height: 0px;
        display: block;
        border-top: 1px solid $border-color;
        margin-right: -17px;
        margin-top: 6px;
        margin-bottom: 6px;
        z-index: -999;
        position: relative;
    }
}


/*******************************************************************************************************
 * .dropdown__dimmer
 * Det transparenta området överst och underst i listan som visar att det finns mer items
 * Finns i både --top och --bottom varianter
 *******************************************************************************************************/

.dropdown__dimmer {
    display: block;
    height: 24px; //Widht is 100% - scrollbar width
    width: calc(100%);
    position: absolute;
    z-index: $layer-four;
    visibility: hidden;
    .dropdown--open.dropdown--scroll-visible & {
        visibility: visible;
    }
}

.dropdown__dimmer--top {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.38) 19%, rgba(255, 255, 255, 0.74) 52%, rgba(255, 255, 255, 0.9) 72%, #ffffff);
    top: 0px;
    .dropdown--scroll-visible & {
        top: 8px;
    }
    .dropdown--filter-visible & {
        top: 47px;
    }
}

.dropdown__dimmer--bottom {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #FFFFFF);
    .dropdown--scroll-visible & {
        top: calc(#{$dropdown-height--small} - 24px);
    }
    .dropdown--filter-visible & {
        top: calc(#{$dropdown-height--small} - 24px);
    }
}

.scroll-element.scroll-x {
    display: none !important;
}

@media screen and (min-width: $desktop-width--medium) {
    .dropdown__menu {
        max-height: $dropdown-height--medium;
        .dropdown--scroll-visible & {
            height: $dropdown-height--medium;
            .dropdown__menu__items {
                height: calc(#{$dropdown-height--medium} - 15px);
            }
        }
        .dropdown--filter-visible & {
            .dropdown__menu__items {
                max-height: calc(#{$dropdown-height--medium} - 55px);
            }
            .scroll-wrapper {
                margin-top: 40px;
            }
        }
    }
    .dropdown__dimmer--bottom {
        .dropdown--scroll-visible & {
            top: calc(#{$dropdown-height--medium} - 24px);
        }
        .dropdown--filter-visible & {
            top: calc(#{$dropdown-height--medium} - 24px);
        }
    }
}