@import "_settings.sizes.scss";
@import "_settings.colors.scss";
$action-panel-height: 137px;
.page-header {
    min-height: 38px;
    position: fixed;
    top: $content-header-offset;
    margin-top: 0 !important;
    z-index: $layer-two; //border-top: $margin--fat solid $background-color--default;
    border-bottom: $margin--slim solid $background-color--default;
    width: calc(#{$content-width--small} + #{$margin--slim} + #{$margin--slim}) !important; //The borders cover the scrolling shadows from below
    border-right: $margin--slim solid $background-color--default;
    border-left: 20px solid $background-color--default;
    margin-left: 10px;
    .actions--visible & {
        border-bottom: none;
    }
}

.page-header__title {
    position: relative;
    font-size: 25px;
    text-transform: uppercase;
    margin-left: auto;
    text-align: right;
}

.page-header__controls {
    background-color: $background-color--content;
    position: relative;
    z-index: $layer-three;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: flex-end;
    >* {
        padding-left: 10px;
    }
    >*:first-child,
    >.page-header__action-panel-area {
        padding-left: 0px;
    } //margin-bottom: 12px;
}

.page-header__control-panel {
    margin-left: auto;
}

.page-header__action-panel-area {
    height: 0px;
    background: $background-color--default;
    width: calc(100% + 51px);
    margin-left: -30px;
    .page-header--actions-visible & {
        height: 157px;
        animation: action-panel-slide-in 0.6s ease;
        padding-top: $margin--slim;
        transition: height 0.6s ease;
    }
    .page-header--actions-hidden & {
        padding-top: 0px;
        height: 0px;
        transition: all 0.6s ease;
    }
}

.page-header__always-visible {
    position: relative;
    z-index: $layer-four;
    background-color: $background-color--content;
    width: $content-width--small;
    margin-left: -20px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.page-header__top-border {
    height: $margin--fat;
    background-color: $background-color--default;
    width: calc(#{$content-width--small} + #{$margin--slim} + #{$margin--slim}) !important;
    margin-left: -$margin--slim;
    margin-right: -$margin--slim;
}

@keyframes action-panel-slide-in {
    0% {
        padding-top: 0;
        z-index: 0;
        transform: translateY(-100px);
        .page-header__action-panel {
            box-shadow: none;
        }
    }
    80% {
        //padding-top: 0;
        z-index: 4;
        transform: translateY(0px);
    }
    100% {
        padding-top: $margin--slim;
        .page-header__action-panel {
            box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.5);
        }
    }
}

.page-header__action-panel {
    background-color: $background-color--content;
    height: $action-panel-height;
    position: relative;
    z-index: $layer-one;
    display: block;
    width: calc(100% - 22px);
    margin-left: 10px;
    >* {
        padding-left: 10px;
    }
    h2 {
        border-bottom: 2px solid $background-color--default;
        margin-bottom: 10px;
    }
    .page-header--actions-visible & {
        opacity: 1;
        transition: opacity 0.6s ease, box-shadow 0.6s ease;
        box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.5);
        transition-delay: 0s, 0.3s;
    }
    .page-header--actions-hidden & {
        opacity: 0;
        transition: opacity 0.3s ease, box-shadow 0.3s ease;
        box-shadow: none;
        transition-delay: 0;
    }
}

@media screen and (min-width: $desktop-width--medium) {
    .page-header {
        width: calc(#{$content-width--medium} + 20px) !important;
        margin-right: -20px;
        border-right-width: 20px;
    }
    .page-header__action-panel-area {
        margin-left: -40px;
        margin-right: -40px;
        width: calc(100% + 81px);
    }
    .page-header__top-border {
        height: $margin--fat;
        background-color: $background-color--default;
        width: calc(#{$content-width--medium} + #{$margin--fat} + #{$margin--fat}) !important;
        margin-left: -$margin--fat;
        margin-right: -$margin--fat;
    }
    .page-header__always-visible {
        width: calc(#{$content-width--small} + 42px) !important;
        margin-left: -30px;
        margin-right: -30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .page-header__controls {
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .page-header__action-panel {
        >* {
            padding-left: 20px;
        }
    }
}