  .title-value-layout {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0px;
  }

  .title-value {
    display: table-row;
    width: 100%;
  }

  .title-value__title {
    display: table-cell;
    vertical-align: top;
    padding: 10px 0 5px 0;
    transition: padding 0.6s linear;
    .slim-row &{
      padding: 5px 0 0 0;
    }
  }

  .title-value__value {
    display: table-cell;
    vertical-align: top;
    padding: 5px 0;
    transition: padding 0.6s linear;
    width: 290px;
    height: 30px;
    >span {
      padding-top: 5px;
      display: block;
      padding-left: $margin--slim;
    }
    .slim-row &{
      padding: 0;
    }
  }

  @media screen and (min-width: $desktop-width--medium) {
    .title-value__value {
      padding: 7px 0 8px 0;
      >span {
        padding-top: 3px;
      }
      width: 300px;
    }
    .title-value__title {
      padding: 10px 0 8px 0;
    }
    .title-value-layout {
      border-spacing: 0px;
    }
  }
