$input-width--small: 270px;
$input-width--medium: 290px;
$validation-icon-size: 18px;
.input-container {
    max-width: $input-width--small;
    width: $input-width--small;
    display: flex;
}

.input-container__textbox {
    border-color: $control-border-color--default;
    flex: 1;
    border-right-style: none;
    transition: padding-right 0.3s linear;
    .validation-error--active & {
        border-color: $primary-color--error;
    }
    .align-right & {
        text-align: right;
    }
    .validation-container--suffixed & {
        padding-right: 5px;
    }
    .readonly & {
        background-color: $background-color--default;
        border-color: $control-color--disabled;
    }
}

.input-container__suffix-container {
    display: flex;
    align-items: center;
    background-color: $background-color--content;
    border-color: $control-border-color--default;
    border-left-style: none;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: $margin--slim;
    padding-top: 2px;
    .readonly & {
        background-color: $background-color--default;
        border-color: $control-color--disabled;
    }
}

.input-container__suffix-container__suffix {
    font-style: italic;
    display: none;
    margin-right: $margin--slim;
    .validation-container--suffixed & {
        display: inline-block;
    }
}

.validated-input__textbox__status-icon {
    @extend .bg-image-icon-ok-check--green;
    background-size: 100%;
    height: 0px;
    width: 0px;
    display: inline-block;
    z-index: $layer-four;
    visibility: hidden;
    transition: width 0.3s linear, visibility 0.3s linear;
    .validation-error--fixed & {
        height: $validation-icon-size;
        width: $validation-icon-size;
        visibility: visible;
        transition: width 0.3s linear, visibility 0.3s linear;
        transition-delay: 0s, 0.3s;
    }
}

.validation-container {
    padding: 0px;
    background-color: inherit;
    position: relative;
    width: calc(#{$input-width--small} + #{$margin--slim});
    max-width: calc(#{$input-width--small} + #{$margin--slim});
    &.validation-error--active {
        padding: $margin--xs-slim;
        margin-left: -$margin--xs-slim;
        background-color: $secondary-color--error;
        transition: background-color 0.3s linear, padding-top 0.3s linear, padding-bottom 0.3s linear;
    }
    &.validation-error--editing {
        background-color: $background-color--default;
        padding: $margin--xs-slim;
        margin-left: -$margin--xs-slim;
        transition: background-color 0.3s linear, padding-top 0.3s linear, padding-bottom 0.3s linear;
    }
    &.validation-error--fixed {
        transition: background-color 0.3s linear, padding-top 0.3s linear, padding-bottom 0.3s linear;
        &:after {
            visibility: visible;
            transition: visibility 0.3s linear;
            transition-delay: 0.3s;
        }
    }
}

.validation-container__validation-area {
    margin-top: 4px;
    display: flex;
}

.validation-container__validation-area__icon {
    display: none;
    margin-top: 2px;
    height: 30px;
    width: 30px;
    .validation-error--active & {
        @extend .bg-image-icon-exclamation--red;
        display: inline-block;
    }
    .validation-error--editing & {
        display: inline-block;
        @extend .bg-image-icon-exclamation;
    }
}

.validation-container__validation-area__message {
    display: none;
    margin-left: 4px;
    margin-top: 3px;
    max-width: 239px;
    vertical-align: middle;
    .validation-error--active & {
        color: $primary-color--error;
        display: inline-block;
    }
    .validation-error--editing & {
        display: inline-block;
        color: $text-color--default;
    }
}

@media screen and (min-width: $desktop-width--medium) {
    .input-container {
        max-width: $input-width--medium;
        width: $input-width--medium;
    }
    .input-container__suffix-container {
        padding-top: 0px;
    }
    .validation-container {
        width: calc(#{$input-width--medium} + #{$margin--slim} + #{$margin--slim});
        max-width: calc(#{$input-width--medium} + #{$margin--slim} + #{$margin--slim});
        &.validation-error--active {
            padding: $margin--slim;
            margin-left: -$margin--slim;
        }
        &.validation-error--editing {
            padding: $margin--slim;
            margin-left: -$margin--slim;
        }
        &:after {
            left: 260px;
        }
    }
    .validation-container__validation-area__message {
        max-width: 259px;
    }
}