.dropdown--multiselect {
  .dropdown__menu {
    a {
      max-height: 38px;
    }
  }
  &:focus {
    //Tar bort highlight vid tabstop
    outline-width: 0;
  }
}

.dropdown__multiselect-readonlylist {
  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
}
