$dropdown-height--small: 285px;
$dropdown-height--medium: 340px;
$dropdown-height--medium-with-filter: 360px;
$dropdown-width--medium: 130px;
$dropdown-width--medium--extended: 140px;
$dropdown-width--small: 100px;
.monthpicker__dropdown {
    @extend .background-color--primary;
    position: relative;
    display: inline-block;
    height: $component-height;
    width: $dropdown-width--medium;
    padding: 0px;
    cursor: pointer;
    .disabled & {
        background-color: $control-color--disabled;
        cursor: default;
    }
    span {
        padding-left: $margin--slim;
        padding-top: 2px;
        vertical-align: middle;
        background-color: white;
        width: calc(#{$dropdown-width--medium} - #{$icon-width} - #{$border--single} - #{$border--single});
        display: inline-block;
        height: 100%;
        cursor: pointer;
        border-top: $border--single solid $control-border-color--default;
        border-left: $border--single solid $control-border-color--default;
        border-bottom: $border--single solid $control-border-color--default;
        border-radius: 1px;
        .disabled & {
            background-color: $background-color--default;
            border-color: $control-color--disabled;
            cursor: default;
        }
    }
    &:after {
        content: "";
        vertical-align: middle;
        text-align: center;
        float: right;
        background-color: transparent;
        cursor: pointer;
        margin-top: 0px;
        padding-right: 3px;
        width: 36px;
        height: 30px;
        @extend .bg-image-icon-calendar;
        .theme--blue & {
            @extend .bg-image-icon-calendar--blue;
        }
        .theme--red & {
            @extend .bg-image-icon-calendar--red;
        }
        .theme--green & {
            @extend .bg-image-icon-calendar--green;
        }
        .disabled & {
            @extend .bg-image-icon-calendar--inactive;
            cursor: default;
        }
    }
    &:focus {
        outline: 0;
    }
}

.monthpicker__calendar {
    position: absolute;
    top: 38px;
    text-align: left;
    z-index: $layer-four;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.34);
    background-color: $background-color--content;
    border: none;
    padding-bottom: 0px;
    width: 250px;
    height: 250px;
    visibility: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: default;
    .monthpicker--open & {
        visibility: visible;
    }
    &:focus {
        outline: 0;
    }
}

.monthpicker__calendar__header {
    @extend .background-color--primary;
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
    color: $text-color--light;
    width: 250px;
    height: 60px;
    z-index: $layer-four;
     :before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

.monthpicker__calendar__header__previous-year {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 23px;
    font-family: Consolas;
    margin-top: 14px;
    &:hover {
        @extend .background-color--secondary;
        font-weight: bold;
        color: $text-color--light;
    }
    &.disabled {
        &:hover {
            @extend .background-color--primary;
            font-weight: normal;
        }
        color: $control-color--disabled;
        cursor: default;
    }
    &:after {
        content: "<";
        width: 28px;
        height: 28px;
        font-size: 23px;
        font-family: Consolas;
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.monthpicker__calendar__header__next-year {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 14px;
    &:hover {
        @extend .background-color--secondary;
        font-weight: bold;
        color: $text-color--light;
    }
    &.disabled {
        &:hover {
            @extend .background-color--primary;
            font-weight: normal;
        }
        color: $control-color--disabled;
        cursor: default;
    }
    &:after {
        content: ">";
        width: 28px;
        height: 28px;
        font-size: 23px;
        font-family: Consolas;
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 213px;
    }
}

.monthpicker__calendar__content {
    margin-top: 6px;
    margin-left: 9px;
    margin-right: 9px;
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
}

.monthpicker__calendar__month {
    width: 40.5px;
    height: 40.5px;
    border-radius: 50%;
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 14px;
    padding-top: 7px;
    cursor: pointer;
    &:hover {
        @extend .background-color--secondary;
        color: $text-color--light;
    }
    &.disabled {
        &:hover {
            background-color: $background-color--content;
        }
        color: $control-color--disabled;
        cursor: default;
    }
}

.monthpicker__calendar__month--today {
    @extend .border-color--primary;
    background-color: $background-color--content;
    border-width: 1px;
    border-style: solid;
    margin-top: 13px;
    &:hover {
        border: none;
        margin-top: 14px;
    }
}

.monthpicker__calendar__month--selected {
    @extend .background-color--primary;
    color: $text-color--light;
    &.monthpicker__calendar__month--today {
        @extend .background-color--primary;
        font-weight: normal;
    }
}

@media screen and (min-width: $desktop-width--medium) {
    .monthpicker__dropdown {
        width: $dropdown-width--medium--extended;
        span {
            width: calc(#{$dropdown-width--medium--extended} - #{$icon-width} - #{$border--single} - #{$border--single});
        }
    }
    .monthpicker__calendar__month {
        padding-top: 5px;
    }
}