/**
  * Headern innehåller VGR "vågen" som transparent bild. Det enda som krävs *
  * för att ändra färgtema är att ändra bakgrundsfärg till primärfärgen     *
  * så ändrar sig "vågen" till färschemats sekundärfärg automatiskt         *
  */

vgr-header {
  position: fixed;
  top: 0;
  z-index: $layer-site-header;
  width: 100%;
}

.header--inline {
  position: relative;
  z-index: $layer-one;
}

.site-header-vgr {
    min-height: $header-height;
    border-bottom: solid 1px $border-color;
    display: flex;
    flex: none;
    align-items: center;
    background-color: $primary-color--default; //Images/dekal.png
    background-repeat: no-repeat;
    background-position: top right;
    padding-right: $margin--fat;
    @extend .bg-image-vgr-header;
    @extend .background-color--primary-color;
    transition: background-color ease-in 0.3s;
}

//THEMING
.header__vgr-logo {
  @extend .bg-image-vgr-logo;
  margin-left: 16px;
  margin-top: 16px;
  align-self: flex-start;
}

.header__info-box {
  margin-left: auto;
}

.header__info-header-menu-arrow {
  @extend .bg-image-icon-arrow-white;
  display: inline-block;
  position: absolute;
  right: 69px;
  bottom: 21px;
}

//Bara för komponentkartan för att visa storleksinfo
.header__size-info {
  margin-left: auto;
  display: inline-flex;
  color: white;
  align-items: center;
  text-align: right;
  width: 200px;
   :after {
    content: "Liten";
  }
}

.login-info {
  display: inline-flex;
  color: white;
  align-items: center;
  text-align: right;
}

.login-info__username {
  padding-right: 20px;
}

.login-info__profile_image {
  @extend .bg-image-profile-header;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 39px;
  width: 39px;
  border-radius: 50%;
  margin-left: 14px;
  margin-top: 19px;
  margin-right: 20px;
  margin-bottom: 22px;
}

@media screen and (min-width: $desktop-width--medium) {
  //Bara för komponentkartan för att visa storleksinfo
  .header__size-info {
    margin-left: auto;
    display: inline-flex;
    color: white;
    align-items: center;
    text-align: right;
    width: 200px;
     :after {
      content: "Stor";
    }
  }
}
