.page {
  height: calc(100vh - #{$header-height} - 2px);
  position: absolute;
  top: $content-header-offset;
  left: $nav-width--small;
  display: inline-block;
  width: $content-width--small;
}

.page__body {
  margin-left: $margin--fat;
  position: relative;
  display: block;
}

.page-block {
  padding: $margin--slim;
  background-color: white;
  display: block;
  width: $content-width--small;
  margin-bottom: $margin--slim;
}

@media screen and (min-width: $desktop-width--medium) {
  .page {
    left: $nav-width--medium;
    width: $content-width--medium;
  }
  .page-block {
    padding: $margin--fat;
    width: $content-width--medium;
  }
}
