$dropdown-height--small: 285px;
$dropdown-height--medium: 340px;
$dropdown-height--medium-with-filter: 360px;
$dropdown-width--medium: 130px;
$dropdown-width--medium--extended: 140px;
$dropdown-width--small: 100px;
.datepicker__dropdown {
  @extend .background-color--primary;
  position: relative;
  display: inline-block;
  height: $component-height;
  width: $dropdown-width--medium;
  padding: 0px;
  transition: background-color 0.6s linear;
  cursor: pointer;
  .disabled & {
    background-color: $control-color--disabled;
    cursor: default;
    transition: background-color 0.6s linear;
  }
  .datepicker__calendar__selector {
    padding-left: $margin--slim;
    padding-top: 2px;
    vertical-align: middle;
    background-color: white;
    width: calc(#{$dropdown-width--medium} - #{$icon-width} - #{$border--single} - #{$border--single});
    display: inline-block;
    height: 100%;
    cursor: pointer;
    border-top: $border--single solid $control-border-color--default;
    border-left: $border--single solid $control-border-color--default;
    border-bottom: $border--single solid $control-border-color--default;
    border-radius: 1px;
    transition: background-color 0.6s linear;
    .disabled & {
      background-color: $background-color--default;
      border-color: $control-color--disabled;
      cursor: default;
      transition: background-color 0.6s linear;
    }
  }
  &:after {
    content: "";
    vertical-align: middle;
    text-align: center;
    float: right;
    background-color: transparent;
    cursor: pointer;
    margin-top: 0px;
    padding-right: 3px;
    width: 36px;
    height: 30px;
    @extend .bg-image-icon-calendar;
    .theme--blue & {
      @extend .bg-image-icon-calendar--blue;
    }
    .theme--red & {
      @extend .bg-image-icon-calendar--red;
    }
    .theme--green & {
      @extend .bg-image-icon-calendar--green;
    }
    .disabled & {
      @extend .bg-image-icon-calendar--inactive;
      cursor: default;
    }
  }
  &:focus {
    outline: 0;
  }
}

.datepicker__calendar {
  position: absolute;
  top: 38px;
  text-align: left;
  z-index: $layer-four;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.34);
  background-color: $background-color--content;
  border: none;
  padding-bottom: 0px;
  width: 250px;
  height: 300px;
  visibility: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  cursor: default;
  .datepicker--open & {
    visibility: visible;
  }
  &:focus {
    outline: 0;
  }
}

.datepicker__calendar__header {
  @extend .background-color--primary;
  display: flex;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  color: $text-color--light;
  width: 250px;
  height: 60px;
  z-index: $layer-four;
   :before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.datepicker__calendar__header__previous-year {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 23px;
  font-family: Consolas;
  margin-top: 14px;
  &:hover {
    @extend .background-color--secondary;
    font-weight: bold;
    color: $text-color--light;
  }
  &.disabled {
    &:hover {
      @extend .background-color--primary;
      font-weight: normal;
    }
    color: $control-color--disabled;
    cursor: default;
  }
  &:after {
    content: "<";
    width: 28px;
    height: 28px;
    font-size: 23px;
    font-family: Consolas;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

.datepicker__calendar__header__next-year {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 14px;
  &:hover {
    @extend .background-color--secondary;
    font-weight: bold;
    color: $text-color--light;
  }
  &.disabled {
    color: $control-color--disabled;
    cursor: default;
  }
  &:after {
    content: ">";
    width: 28px;
    height: 28px;
    font-size: 23px;
    font-family: Consolas;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 213px;
  }
}

.datepicker__calendar__content {
  margin-top: 6px;
  margin-left: 5px;
  text-align: center;
  vertical-align: middle;
  table {
    border-collapse: separate;
  }
  td {
    width: 34px;
    height: 32px;
    left: 5px;
  }
}

.datepicker__calendar__day {
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: $background-color--content;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  &:hover:not(.disabled) {
    @extend .background-color--secondary;
    color: $text-color--light;
    @extend .border-color--secondary;
  }
  &.disabled {
    color: $control-color--disabled;
    cursor: default;
    &:hover {
      background-color: $background-color--content;
    }
  }
}

div.datepicker__calendar__day--today:not(.datepicker__calendar__day--selected) {
  @extend .border-color--primary;
  background-color: $background-color--content;
}

.datepicker__calendar__day--selected {
  @extend .background-color--primary;
  @extend .border-color--primary;
  color: $text-color--light;
}

@media screen and (min-width: $desktop-width--medium) {
  .datepicker__dropdown {
    width: $dropdown-width--medium--extended;
    .datepicker__calendar__selector {
      width: calc(#{$dropdown-width--medium--extended} - #{$icon-width} - #{$border--single} - #{$border--single});
    }
  }
  .datepicker__calendar {
    width: 270px;
    height: 320px;
    .datepicker__calendar__header {
      width: 270px;
    }
  }
  .datepicker__calendar__day {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .datepicker__calendar__content {
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
    table {
      border-collapse: separate;
    }
    td {
      width: 34px;
      height: 32px;
      left: 5px;
    }
  }
  .datepicker__calendar__header__next-year {
    &:after {
      left: 233px;
    }
  }
}
