@import "_settings.sizes.scss";

.welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $context-header-height--small;
}

.welcome__profile_image {
    height: 77px;
    width: 77px;
    border-radius: 50%;
    display: inline-block;
}

.welcome__message {
    padding-left: 27px;
    display: inline-block;
}

@media screen and (min-width: $desktop-width--medium) {
    .welcome {
        height: $context-header-height--medium;
    }
}