@import "_settings.colors.scss";
.border-color--primary {
    border-color: $primary-color--neutral;
    .theme--blue & {
        border-color: $primary-color--bmm;
    }
    .theme--red & {
        border-color: $primary-color--vgpv;
    }
    .theme--green & {
        border-color: $primary-color--rehab;
    }
}

.border-color--secondary {
    border-color: $secondary-color--neutral;
    .theme--blue & {
        border-color: $secondary-color--bmm;
    }
    .theme--red & {
        border-color: $secondary-color--vgpv;
    }
    .theme--green & {
        border-color: $secondary-color--rehab;
    }
}

.color--primary {
    color: $primary-color--neutral;
    .theme--blue & {
        color: $primary-color--bmm;
    }
    .theme--red & {
        color: $primary-color--vgpv;
    }
    .theme--green & {
        color: $primary-color--rehab;
    }
}

.color--secondary {
    color: $secondary-color--neutral;
    .theme--blue & {
        color: $secondary-color--bmm;
    }
    .theme--red & {
        color: $secondary-color--vgpv;
    }
    .theme--green & {
        color: $secondary-color--rehab;
    }
}

.background-color--primary {
    background-color: $primary-color--neutral;
    .theme--blue & {
        background-color: $primary-color--bmm;
    }
    .theme--red & {
        background-color: $primary-color--vgpv;
    }
    .theme--green & {
        background-color: $primary-color--rehab;
    }
}

.background-color--secondary {
    background-color: $secondary-color--neutral;
    .theme--blue & {
        background-color: $secondary-color--bmm;
    }
    .theme--red & {
        background-color: $secondary-color--vgpv;
    }
    .theme--green & {
        background-color: $secondary-color--rehab;
    }
}


/*********************************************************************************************
    Button animations
    Since animations cannot use the same type of class-based @extend theming, they need
    special handling. They are declared here to centralize theming
*********************************************************************************************/

@mixin button-enabling--secondary($name, $color) {
    @keyframes #{$name} {
        0% {
            background-color: $text-color--light;
        }
        50% {
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
            background-color: $color;
            border-color: $color;
            border-width: 1px;
            border-style: solid;
            color: $text-color--light;
        }
        100% {
            background-color: $text-color--light;
        }
    }
}

@include button-enabling--secondary(button-enabling--secondary-red, $primary-color--vgpv);
@include button-enabling--secondary(button-enabling--secondary-neutral, $primary-color--neutral);
@include button-enabling--secondary(button-enabling--secondary-blue, $primary-color--bmm);
@include button-enabling--secondary(button-enabling--secondary-green, $primary-color--rehab);
.button--enabling.button--secondary {
    transition: background-color 0.5s ease, color 0.5s ease;
    animation: button-enabling--secondary-neutral 1.8s;
    .theme--red & {
        animation: button-enabling--secondary-red 1.8s;
    }
    .theme--blue & {
        animation: button-enabling--secondary-blue 1.8s;
    }
    .theme--green & {
        animation: button-enabling--secondary-green 1.8s;
    }
}