@import "_settings.colors.scss";
.border-color--primary {
    border-color: $primary-color--neutral;
    .theme--blue & {
        border-color: $primary-color--bmm;
    }
    .theme--red & {
        border-color: $primary-color--vgpv;
    }
    .theme--green & {
        border-color: $primary-color--rehab;
    }
}

.border-color--secondary {
    border-color: $secondary-color--neutral;
    .theme--blue & {
        border-color: $secondary-color--bmm;
    }
    .theme--red & {
        border-color: $secondary-color--vgpv;
    }
    .theme--green & {
        border-color: $secondary-color--rehab;
    }
}

.color--primary {
    color: $primary-color--neutral;
    .theme--blue & {
        color: $primary-color--bmm;
    }
    .theme--red & {
        color: $primary-color--vgpv;
    }
    .theme--green & {
        color: $primary-color--rehab;
    }
}

.color--secondary {
    color: $secondary-color--neutral;
    .theme--blue & {
        color: $secondary-color--bmm;
    }
    .theme--red & {
        color: $secondary-color--vgpv;
    }
    .theme--green & {
        color: $secondary-color--rehab;
    }
}

.background-color--primary {
    background-color: $primary-color--neutral;
    .theme--blue & {
        background-color: $primary-color--bmm;
    }
    .theme--red & {
        background-color: $primary-color--vgpv;
    }
    .theme--green & {
        background-color: $primary-color--rehab;
    }
}

.background-color--secondary {
    background-color: $secondary-color--neutral;
    .theme--blue & {
        background-color: $secondary-color--bmm;
    }
    .theme--red & {
        background-color: $secondary-color--vgpv;
    }
    .theme--green & {
        background-color: $secondary-color--rehab;
    }
}