@import "_settings.sizes.scss";
@import "_settings.colors.scss";
.row-layout {
    display: flex;
    flex-direction: row;
    >*:first-child {
        margin-left: 0px;
    }
    >* {
        margin-left: $margin--regular;
    }
}

.row-layout--equal-height {
    >* {
        display: flex;
    }
}

.column-layout {
    display: flex;
    flex-direction: column;
    >*:first-child {
        margin-top: 0px;
    }
    >* {
        margin-top: $margin--regular;
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-column-mixin($width) {
    display: flex;
    flex-direction: column;
    width: $width;
}

.flex-column-5 {
    @include flex-column-mixin(5em);
}

.flex-column-13 {
    @include flex-column-mixin(13em);
}

.flex-column-15 {
    @include flex-column-mixin(15em);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-pull-right {
    margin-left: auto;
}

.bordered {
    border: 1px solid $border-color;
}

.control-with-heading {
    >* {
        justify-content: flex-end;
    }
    >*:first-child {
        padding-bottom: 10px;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.control-without-heading {
    align-self: flex-end;
}

@media screen and (min-width: $desktop-width--medium) {
    .row-layout {
        >* {
            margin-left: $margin--fat;
        }
    }
    .column-layout {
        >* {
            margin-top: $margin--fat;
        }
    }
}