@import "_settings.sizes.scss";
@import "_settings.colors.scss";
@import "../thirdparty/font-awesome-4.7.0/font-awesome.scss";
list-item-container {}


/* Workaround för att tvinga fram en border ovanför listan, i de fall som containern inte redan har gjort det. */

.list-item:first-of-type {
    .list-item-container & {
        border-top: 1px solid $border-color;
    }
}

.list-item {}

.list-item__header {
    cursor: pointer;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $border-color;
}

.list-item__content {
    padding-top: $margin--slim;
    border-bottom: 1px solid $border-color;
    padding-bottom: $margin--slim;
    display: block;
    .list-item--collapsed & {
        display: none;
    }
}

.list-item__expander {
    @extend .fa;
    margin-left: auto;
    margin-right: $margin--slim;
    cursor: pointer;
    font-size: 20px !important;
    .list-item--collapsed & {
        @extend .fa-angle-down;
    }
    .list-item--expanded & {
        @extend .fa-angle-up;
    }
}

@media screen and (min-width: $desktop-width--medium) {
    .list-item__header {
        height: 40px;
    }
}