@import "_settings.colors.scss";
.bmm--primary {
    background-color: $primary-color--blue;
    color: $text-color--light;
}

.bmm--secondary {
    background-color: $secondary-color--blue;
    color: $text-color--light;
}

.vgpv--primary {
    background-color: $primary-color--red;
    color: $text-color--light;
}

.vgpv--secondary {
    background-color: $secondary-color--red;
    color: $text-color--light;
}

.rehab--primary {
    background-color: $primary-color--green;
    color: $text-color--light;
}

.rehab--secondary {
    background-color: $secondary-color--green;
    color: $text-color--light;
}

.neutral--primary {
    background-color: $primary-color--default;
    color: $text-color--light;
}

.neutral--secondary {
    background-color: $secondary-color--default;
    color: $text-color--light;
}

.read-only {
    color: $text-color--read-only;
}

.background-color--default {
    background-color: $background-color--default;
}

.background-color--text {
    background-color: $text-color--default;
    color: $text-color--light;
}