$font-family: "Calibri";
$line-height: 1.5;

/*------------------------------------*\
  #SMALL
\*------------------------------------*/

$font-size--small: 16px;
$h1-font-size--small: 25px;
$h2-font-size--small: 18px;
$h3-font-size--small: 18px;
$menu-header-font-size--small: 25px;
$menu-text-font-size--small: 16px;

/*------------------------------------*\
  #MEDIUM
\*------------------------------------*/

$font-size--medium: 18px;
$h1-font-size--medium: 30px;
$h2-font-size--medium: 20px;
$h3-font-size--medium: 20px;
$menu-header-font-size--medium: 30px;
$menu-text-font-size--medium: 20px;

/*------------------------------------*\
  #LARGE
\*------------------------------------*/