//background
$background-color--default: #f0f0f0;
$background-color--content: #ffffff;
$primary-color--error:#8C1919;
$primary-color--success: #3D7630;
$secondary-color--error:#f9dede;
//text
$text-color--default: #151515;
$text-color--light: #ffffff;
$text-color--value: #000000;
$text-color--read-only: #99a3ad;
//control
$control-color--enabled: #151515;
$control-color--disabled: #99a3ad;
$control-border-color--default: #151515;
//border
$border-color: #99a3ad;
$border-color--light: #dfdfdf;
//menu
$menu-text-color: #314152;
$menu-color--inactive: transparentize($background-color--default, 0.3);
//misc
$focus-color: #4990e2;
$modal-background-color: transparentize($text-color--default, 0.35);
//themes
$primary-color--blue: #006298;
$secondary-color--blue: #598eb6;
$primary-color--default: #314152;
$secondary-color--default: #99a3ad;
$primary-color--green: #4a773c;
$secondary-color--green: #7fa276;
$primary-color--red: #9d2235;
$secondary-color--red: #ba6071;
