/*------------------------------------*\
  #Margins
\*------------------------------------*/

$margin--super-slim: 3px;
$margin--xs-slim: 5px;
$margin--slimmer: 6px;
$margin--slim: 10px;
$margin--regular: 15px;
$margin--fat: 20px;

/*------------------------------------*\
  #Borders
\*------------------------------------*/

$border--single: 1px;
$border--xs-slim: 2px;
$border--slim: 3px;
$border--regular: 9px;
$border--fat: 10px;

/*------------------------------------*\
  #Components
\*------------------------------------*/

$component-height: 30px;
$icon-width: 34px;

/*------------------------------------*\
  #Misc
\*------------------------------------*/

$header-height:79px;
$header-menu-width-small: 200px;
$header-menu-width-medium: 220px;
$content-header-offset: $header-height;

/*------------------------------------*\
  #LAYERS
\*------------------------------------*/

$layer-zero: 0;
$layer-one: 10;
$layer-two: 20;
$layer-three: 30;
$layer-four: 40;
$layer-five: 50;
$layer-six: 60;
$layer-seven: 70;
$layer-site-header: 200;
$layer-page-header: 199;
$layer-modal: 300;
$layer-bottom: -999;

/*------------------------------------*\
  #SMALL
\*------------------------------------*/

$desktop-width--small: 1366px;
$nav-width--small: 198px;
$max-text-width--small: 603px;
$content-width--small: 1128px;
$menu-header-height--small: 63px;
$menu-border-width--small: 10px;
$context-header-height--small: 97px;
$information-panel-height--small: 168px;

/*------------------------------------*\
  #MEDIUM
\*------------------------------------*/

$desktop-width--medium: 1459px;
$nav-width--medium: 248px;
$max-text-width--medium: 655px;
$content-width--medium: 1170px;
$menu-header-height--medium: 72px;
$menu-border-width--medium: 12px;
$context-header-height--medium: 117px;
$information-panel-height--medium: 207px;