<vgr-page>
  <vgr-page-header [title]="'Kodexempel lista med expandable div'">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <h2>Lista med expandable divs</h2>
      <p>Här har vi exempel på en lista med endast sortering implementerat och innehåll som ligger i en expandible div när man
        expanderar en rad. Observera även bredden på kolumnerna är satta. För att se dokumentationen på vgr-list, klicka
        <a href="/lists">här</a> och för expandable div, klicka
        <a href="/expandablediv">här.</a>
      </p>
    </vgr-page-block>

      <vgr-grid [stickyHeader]="false" (sortChanged)="onSortChanged($event)">
        <vgr-grid-header>
          <vgr-grid-header-column width="5" sortKey="firstName" [sortDirection]="sortDirections.Ascending">Förnamn</vgr-grid-header-column>
          <vgr-grid-header-column width="5" sortKey="lastName">Efternamn</vgr-grid-header-column>
          <vgr-grid-header-column width="5" sortKey="occupation">Yrke</vgr-grid-header-column>
          <vgr-grid-header-column align="right" width="5" sortKey="income">Inkomst</vgr-grid-header-column>
        </vgr-grid-header>
        <vgr-grid-row *ngFor="let row of peopleRowsSimpleList">

            <vgr-grid-column width="5">{{row.firstName}}</vgr-grid-column>
            <vgr-grid-column width="5">{{row.lastName}}</vgr-grid-column>
            <vgr-grid-column width="5">{{row.occupation}}</vgr-grid-column>
            <vgr-grid-column width="5" align="right">{{row.income | number:'2.2-2':'sv-SE'}}</vgr-grid-column>

          <vgr-grid-content>
            <vgr-expandable-div *ngFor="let row of row.children" [expanded]="false">
              <vgr-expandable-div-header>
                <h2>Barn</h2>
              </vgr-expandable-div-header>
              <vgr-expandable-div-content>
                <span>Förnamn: {{row.firstName}}</span>
                <br>
                <span>Efternamn: {{row.lastName}}</span>
              </vgr-expandable-div-content>
            </vgr-expandable-div>
          </vgr-grid-content>
        </vgr-grid-row>
      </vgr-grid>

    <vgr-page-block>
      <div>
        <h3>HTML</h3>
        <section [innerHTML]="htmlSimpleListMarkup" hljsContent=".highlight"></section>
      </div>
      <br>
      <div>
        <h3>Typescript</h3>
        <section [innerHTML]="typeScriptSimpleListMarkup" hljsContent=".highlight"></section>
      </div>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
