@import "_settings.colors.scss";
@import "_settings.fonts.scss";
@import "_settings.sizes.scss";

header,
p,
span,
div,
h1,
h2,
h3,
h4 {
  line-height: $line-height;
}

body {
  font-size: $font-size--small;
}

p {
  max-width: $max-text-width--small;
}

h1 {
  font-size: $h1-font-size--small;
  font-weight: normal;
  line-height: 1.3;
}

h2 {
  font-size: $h2-font-size--small;
  color: #151515;
  font-weight: bold;
}

h3 {
  font-size: $h3-font-size--small;
  color: #151515;
  font-weight: normal;
}

h4 {
  font-size: $font-size--small;
  font-weight: normal;
  color: #151515;
}

strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

.text--white {
  color: $text-color--light;
  background: $primary-color--default;
}

@media screen and (min-width: $desktop-width--medium) {
  body {
    font-size: $font-size--medium;
  }
  p {
    max-width: $max-text-width--medium;
  }
  h1 {
    font-size: $h1-font-size--medium;
  }
  h2 {
    font-size: $h2-font-size--medium;
    font-weight: bold;
  }
  h3 {
    font-size: $h3-font-size--medium;
    font-weight: normal;
  }
  h4 {
    font-size: $font-size--medium;
    font-weight: normal;
  }
}
