.expandable-div {
  position: relative;
  min-height: 20px;
  .expandable-div-header {
    cursor: pointer;
    .expandable-div-chevron {
      position: absolute;
      top: 0;
      right: 0px;
      &.expanded {
        @extend .chevron-expanded;
      }
      &.collapsed {
        @extend .chevron-collapsed;
      }
    }
  }
}

.expandable-div-header:focus {
  outline: 0;
  box-shadow: inset 0px 0px 0px $focus-outline-width $focus-color;
}
