vgr-grid {
    // border: 1px solid red;
    display: block;
    margin-top: 20px;
    box-sizing: border-box;

    .grid-row-header, .grid-row-content, vgr-grid-header {
        margin-bottom: 1px;
        background: white;
        display: flex;
        vgr-grid-column, vgr-grid-header-column {
            flex: 1;
            min-height: 36px;
            // border: 1px solid blue;
            padding: 5px;
        }
    }
}