$input-small-width--small: 130px;
$input-small-width--medium: 140px;
$validation-icon-size: 18px;
$suffix-width: 30px;

.input-container {
  max-width: $input-width--small;
  width: $input-width--small;
  display: flex;
  .input--small & {
    max-width: $input-small-width--small;
    width: $input-small-width--small;
  }
  &.input-container--focus {
    outline: $focus-outline-width solid $focus-color;
  }
}

input.input-container__textbox {
  border-color: $control-border-color--default;
  flex: 1;
  border-right-style: none;
  transition: padding-right 0.3s linear;
  margin-left: -1px;
  margin-right: -1px;
  width: $input-width--small - $suffix-width;
  .input--small & {
    width: $input-small-width--small - $suffix-width;
  }
  .align-right & {
    text-align: right;
    padding-right: 5px;
  }
  .input-validation--suffixed & {
    padding-right: 5px;
  }
}

.input-container__suffix-container {
  display: flex;
  align-items: center;
  background-color: $background-color--content;
  border-color: $control-border-color--default;
  border-left-style: none;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: $margin--slim;
  padding-top: 2px;
  width: $suffix-width;
}

.input-container__suffix-container__suffix {
  font-style: italic;
  display: none;
  margin-right: $margin--slim;
  .input-validation--suffixed & {
    display: inline-block;
  }
}

.input-container__suffix-container__status-icon {
  @extend .bg-image-icon-ok-check--green;
  background-size: 100%;
  height: 0px;
  width: 0px;
  display: inline-block;
  visibility: hidden;
  transition: width 0.3s linear, visibility 0.3s linear;
  .validation-error--fixed & {
    height: $validation-icon-size;
    width: $validation-icon-size;
    visibility: visible;
    transition: width 0.3s linear, visibility 0.3s linear;
    transition-delay: 0s, 0.3s;
  }
}

.input-validation {
  max-height: 30px;
  padding: 0px;
  background-color: inherit;
  position: relative;
  width: $input-width--small + $margin--fat;
  max-width: $input-width--small + $margin--fat;
  top: 0px;
  .input--small & {
    width: $input-small-width--small + $margin--fat;
    max-width: $input-small-width--small + $margin--fat;
  }
  .validation-error--active & {
    max-height: none;
    padding: $margin--slim;
    margin-left: -$margin--slim;
    .title-value-layout & {
      top: -10px;
    }
    background-color: $secondary-color--error;
    transition: background-color 0.3s linear;
    padding-top: 0.3s linear;
    padding-bottom: 0.3s linear;
    top: 0.3s linear;
  }
  .validation-error--editing & {
    max-height: none;
    .title-value-layout & {
      top: -10px;
    }
    background-color: $background-color--default;
    padding: $margin--slim;
    margin-left: -$margin--slim;
    transition: background-color 0.3s linear;
  }
  .validation-error--fixed & {
    &:after {
      visibility: visible;
    }
  }
}

.input-validation_status {
  margin-top: 4px;
  display: flex;
}

.input-validation_status__icon {
  display: none;
  margin-top: 2px;
  height: 30px;
  width: 30px;
  .validation-error--active & {
    @extend .bg-image-icon-exclamation--red;
    display: inline-block;
  }
  .validation-error--editing & {
    display: inline-block;
    @extend .bg-image-icon-exclamation;
  }
}

.input-validation_status__message {
  display: none;
  margin-left: 4px;
  margin-top: 5px;
  max-width: 239px;
  vertical-align: middle;
  .input--small & {
    max-width: 89px;
  }
  .validation-error--active & {
    color: $primary-color--error;
    display: inline-block;
  }
  .validation-error--editing & {
    display: inline-block;
    color: $text-color--default;
  }
}

.readonly-container {  
  display: flex;
  align-items: center;
  cursor: default;
  min-height: 30px;
  padding-right: $margin--slim;
  padding-left: 10px;
  padding-top: 2px;
  border-width: 1px;  
  border-color: $background-color--content;
  width: auto;
  max-width: none;   
  .align-right & {
    padding-left: 0px;
    width: $input-width--small + $suffix-width;
    padding-right: 30px; 
    & .readonly-container__display-value  {
      flex: 1;
      text-align: right;
      width: $input-width--small;
      padding-right: 4px;     
    } 
    & .readonly-container__suffix {
      width: $suffix-width;
      min-width: $suffix-width;
      font-style: italic;
    }
  }
  .input--small.align-right & {
    width: $input-small-width--small + $suffix-width;
  }  
}

@media screen and (min-width: $desktop-width--medium) {
  .input-container {
    max-width: $input-width--medium;
    width: $input-width--medium;
    .input--small & {
      max-width: $input-small-width--medium;
      width: $input-small-width--medium;
    }
  }
  .input-container__suffix-container {
    padding-top: 0px;
  }
  .input-validation {
    width: $input-width--medium + $margin--fat;
    max-width: $input-width--medium + $margin--fat;
    &:after {
      left: 260px;
    }
    .input--small & {
      width: $input-small-width--medium + $margin--fat;
      max-width: $input-small-width--medium + $margin--fat;
      &:after {
        left: 140px;
      }
    }
  }
  .input-validation_status__message {
    max-width: 259px;
    margin-top: 3px;
    .input--small & {
      max-width: 99px;
    }
  }
  .readonly-container {  
    padding-top: 1px;
    .align-right & {
      width: $input-width--medium + $suffix-width;
      padding-right: 30px; 
      & .readonly-container__display-value  {
        width: $input-width--medium;
        padding-right: 4px;     
      } 
    }
    .input--small.align-right & {
      width: $input-small-width--medium + $suffix-width;
    }  
  }
}


