vgr-notification {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 4px 10px;
  vgr-icon {
    margin-right: 6px;
  }
  &.default:before,
  &.comment:before {
    content: '';
    z-index: 2;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    position: absolute;
    transition: background .2s ease;
    background:$text-color--default;
  }
  &.success:before {
    content: '';
    z-index: 2;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    position: absolute;
    transition: background .2s ease;
    background: $primary-color--success;
  }
  &.error:before {
    content: '';
    z-index: 2;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    position: absolute;
    transition: background .2s ease;
    background: $primary-color--error;
  }
}

@media screen and (min-width: $desktop-width--medium) {
  vgr-notification {
    padding: 4px 20px;
  }
}