/* First, hide the default checkbox. It cannot be styled with CSS.
 * Instead, we will use the "label" that is associated with our textbox.
 * It will contain all of the checkbox graphics and behaviour */

vgr-checkbox .checkbox {
  position: relative;
  align-items: center;
  display: flex !important;
  cursor: pointer;
  min-height: $component-height;
  &.checkbox--disabled {
    cursor: default;
  }
}

.checkbox--inline {
  display: inline-flex;
}

.checkbox__image {
  position: relative;
  margin-right: $margin--slim;
  margin-left: $focus-outline-width;
  margin-top: $focus-outline-width;
  margin-bottom: $focus-outline-width;
  &:focus {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: $margin--slim - $focus-outline-width;
    outline: none;
    border: $focus-outline-width solid $focus-color;
  }
}

.checkbox__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  transition: color 0.6s linear;
  cursor: pointer;
  .checkbox--disabled & {
    color: $control-color--disabled;
    transition: color 0.6s linear;
    cursor: default;
  }
}
