
.icon {  
  @extend .color--primary;
  outline: none;
  &.icon-color--text {
    color: $text-color--default;
  }
  &.icon-color--success {
    color: $primary-color--success;
  }  
  &.icon-color--error {
    color: $primary-color--error;
  }   
  &.icon--disabled {
    color: $secondary-color--default;
    cursor: default;
  }   
}