
.icon {
  @extend .color--primary;
  outline: none;
  &.icon-color--text {
    color: $text-color--default;
  }
  &.icon-color--light {
    color: $text-color--light;
  }
  &.icon-color--success {
    color: $primary-color--success;
  }
  &.icon-color--error {
    color: $primary-color--error;
  }
  &.icon-color--warning {
    color: $primary-color--warning;
  }
  &.icon-color--info {
    color: $primary-color--info;
  }
  &.icon--disabled {
    color: $control-color--disabled;
    cursor: default;
  }
}