.filter-textbox {
  height: $component-height;
  font-size: 16px;
  width: $input-width--small;
  &.filter-textbox--focus {
    outline: $focus-outline-width solid $focus-color;
  }
  input {
    width: calc(100% - 34px);
    height: 100%;
    border: $border--single solid $control-border-color--default;
    border-right: none;
    border-radius:0px;
  }
  &:after {
    @extend .bg-image-icon-search--neutral;
   // @extend .background-color--primary; 
   
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    width: 34px;
    height: $component-height;
    font-size: 16px;
    font-family: FontAwesome;
    vertical-align: middle;
    float: right;
    border: $border--single solid $control-border-color--default;
    border-left: none;
    .theme--blue & {
      @extend .bg-image-icon-search--blue;
    }
    .theme--red & {
      @extend .bg-image-icon-search--red;
    }
    .theme--green & {
      @extend .bg-image-icon-search--green;
    }
    .theme--pinkie & {
      @extend .bg-image-icon-search--red;
    }
  }
}

@media screen and (min-width: $desktop-width--medium) {
  .filter-textbox {
    width: $input-width--medium;
    }
}
