.title-value-layout {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-spacing: 0px;
}

.title-value {
  display: flex;
  > * {
    flex: 1;
  }
}

.title-value__title {
  vertical-align: top;
  padding: 8px 0 0px 0;
  transition: padding 0.2s linear;
  .slim-row & {
    padding: 5px 0 0 0;
  }
}

.title-value__value {
  vertical-align: top;
  padding: 5px 0;
  transition: padding 0.2s linear;
  >span,
  .row-layout>span {
    display: block;
    padding-top: 4px;
    padding-left: $margin--slim;
  }
  .slim-row & {
    padding: 1px 0 0 0;
    >vgr-radio-group {
      padding-left: $margin--slim;
    }
    >vgr-checkbox {
      .checkbox {
        padding-left: $margin--slim;
      }
    }
  }
}

@media screen and (min-width: $desktop-width--medium) {
  .title-value__value {
    padding: 7px 0 0px 0;
    .slim-row & {
      padding: 3px 0 0 0;
    }
    >span,
    .row-layout>span {
      padding-top: 3px;
    }
  }
  .title-value__title {
    padding: 10px 0 8px 0;
    .slim-row & {
      padding: 6px 0 0 0;
    }
  }
  .title-value-layout {
    border-spacing: 0px;
  }
}
