.expandable-div {
  position: relative;
  display: block;
  min-height: 20px;

  .expandable-div-header {
    cursor: pointer;

    >vgr-icon {
      .icon {
        position: absolute;
        right: 0;
        top: 4px;
        transition: transform 0.4s;
        transform: rotate(0deg);
        color: $text-color--default;
      }
    }

    &[aria-expanded=true] >vgr-icon .icon {
      transform: rotate(-180deg);
    }
    
    .expandable-div-chevron {
      position: absolute;
      top: 0;
      right: 0px;

      &.expanded {
        @extend .chevron-expanded;
      }

      &.collapsed {
        @extend .chevron-collapsed;
      }
    }
  }

  &:focus {
    outline: 0; // z-index: 999;
    box-shadow: inset 0px 0px 0px $focus-outline-width $focus-color;
  }
}

.expandable-div-header:focus {
  outline: 0;
  box-shadow: inset 0px 0px 0px $focus-outline-width $focus-color;
}
