$dropdown-height--small: 285px;
$dropdown-height--medium: 340px;
$dropdown-height--medium-with-filter: 360px;
$dropdown-width--medium: 160px;
$dropdown-width--small: 100px;
$filter-area-height: 45px;
.dropdown-x {
  .validation {
    max-width: $dropdown-width--medium + $margin--slim + $margin--slim;
  }
  .dropdown__control {
    height: $component-height;
    width: $dropdown-width--medium;
    transition: background-color 0.6s linear;
    cursor: pointer;

    .dropdown__header {
      display: flex;
      height: $component-height;

      .dropdown__header__label {
        width: $dropdown-width--medium - $icon-width - $border--single - $border--single;
        padding-left: $margin--slim;
        padding-top: 2px;
        background-color: white;
        border-top: $border--single solid $control-border-color--default;
        border-left: $border--single solid $control-border-color--default;
        border-bottom: $border--single solid $control-border-color--default;
        border-radius: 1px;
        transition: background-color 0.6s linear, border-color 0.6s linear;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .dropdown__header__button {
        @extend .background-color--primary;

        .dropdown__header__button__icon {
          @extend .bg-image-icon-chevron-inverted;
          transform: rotate(0deg);
          transition: all ease 0.3s;
        }
      }
    }

    .dropdown__menu-x {
      position: absolute;
      top: 42px;
      z-index: $layer-four;
      box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.34);
      background-color: $background-color--content;
      width: 330px;
      cursor: default;
      
      &:before {
        @extend .bg-image-menu-arrow;
        content: "";
        position: absolute;
        display: inline-block;
        z-index: $layer-four;
        top: -17px;
        left: 20px;
      }
      
      .dropdown__menu__items {
        max-height: $dropdown-height--small;

        .dropdown__menu__items__item {
          color: $menu-text-color;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: $margin--regular;
          padding-right: $margin--regular;
          background: white;
          
          &.dropdown-item--selected, &:focus, &:hover {
            font-weight: bold;
            letter-spacing: $font-size--small-letter-spacing-bold;
          }
          
          &:focus {
            outline: $focus-outline-width solid $focus-color;
          }
          
          &:focus, &:hover {
            padding-left: $margin--regular - 4px;
            border-left-width: 4px;
            border-left-style: solid;
            @extend .border-left-color--primary;
          }
        }

        .dropdown__menu__items__select-all {
          border-bottom: 1px solid $border-color;
        }
      }

      .dropdown__menu__filter-textbox {
        display: flex;
        justify-content: center;
        padding-top: $margin--regular;
      }

      .dropdown__menu__dimmer {
        height: 24px;
        // width: calc(100% - 20px); //Width is 100% - scrollbar width
        width: 100%;
        position: absolute;
        z-index: $layer-five;
      }
      
      .dropdown__menu__dimmer-top {
        // background-image: linear-gradient(to top, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.38) 19%, rgba(255, 255, 255, 0.74) 52%, rgba(255, 255, 255, 0.9) 72%, #ffffff);
        // top: 8px;
        // .dropdown--filter-visible & {
        //   top: 47px;
        // }
        background: linear-gradient(white, white 25%, rgba(255, 255, 255, 0));
      }
      
      .dropdown__menu__dimmer-bottom {
        // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #FFFFFF);
        // display: block;
        // top: $dropdown-height--small - 25px;
        // .dropdown--filter-visible & {
        //   display: block;
        //   top: $dropdown-height--small - 25px;
        // }
        background: linear-gradient(to top, white, white 25%, rgba(255, 255, 255, 0));
        bottom: 0;
      }
    }

    &.dropdown--open {
      .dropdown__header {      
        .dropdown__header__button {
          .dropdown__header__button__icon {
            transform: rotate(180deg);
          }
        }
      }
    }

    &.dropdown--disabled {
      background-color: $control-color--disabled;
      cursor: default;

      .dropdown__header {
        .dropdown__header__label {
          background-color: $background-color--default;
          border-color: $control-color--disabled;
          cursor: default;
        }
      }
    }

    &.dropdown--readonly {
      background-color: $background-color--content;
      transition: background-color 0s linear;
      cursor: default;
      width: auto;
      height: auto;
      min-height: $component-height;

      .dropdown__header {      
        .dropdown__header__label {
          background-color: $background-color--content;
          border-color: $background-color--content;
          outline: none;
          cursor: text;
          transition: max-width 0.3s linear;
          word-wrap: break-word;
          overflow: visible;
          white-space: normal;
          height: auto;
          display: block;
          max-width: none;
        }
        
        .dropdown__header__button {
          display: none;
        }
      }
    }

    &.dropdown--focus {
      outline: $focus-outline-width solid $focus-color;
    }

    
    &.dropdown--filter-visible {
      .dropdown__menu-x {
        .dropdown__menu__scrollbar {
          // margin-top: 40px;
        }
        .dropdown__menu__items {
          // position: relative;
          // max-height: $dropdown-height--small - $filter-area-height;
        }
      }
    }
  }
}

// .scroll-element.scroll-x {
//   display: none !important;
// }

// @media screen and (min-width: $desktop-width--medium) {
//   .dropdown-x {
//     .validation {
//       max-width: $dropdown-width--medium + $margin--regular + $margin--regular;
//     }
//     .dropdown__control {
//       width: $dropdown-width--medium + $margin--slim;
//       .dropdown__label {
//         max-width: $dropdown-width--medium + 10px - $icon-width - $border--single - $border--single;
//         min-width: $dropdown-width--medium + 10px - $icon-width - $border--single - $border--single;
//       }
//     }
//   }
// }

// @media screen and (min-width: $desktop-width--medium) {
//   .dropdown__menu {
//     max-height: $dropdown-height--medium;
//     .dropdown__menu__items {
//       max-height: calc(#{$dropdown-height--medium} - #{$margin--fat});
//     }
//     .dropdown--filter-visible & {
//       max-height: $dropdown-height--medium-with-filter;
//       .dropdown__menu__items {
//         max-height: calc(#{$dropdown-height--medium-with-filter} - #{$filter-area-height});
//       }
//       .scroll-wrapper {
//         margin-top: 40px;
//       }
//     }
//     .dropdown--filter-visible & {
//       max-height: $dropdown-height--medium-with-filter;
//     }
//   }
//   .dropdown__dimmer--bottom {
//     top: calc(#{$dropdown-height--medium} - 25px);
//     .dropdown--filter-visible & {
//       top: calc(#{$dropdown-height--medium-with-filter} - 25px);
//     }
//   }
//   .dropdown__filterTextbox {
//     .filter-textbox {
//       width: $input-width--small;
//     }
//   }
// }

// /*******************************************************************************
// * IE11 Specific styles
// * 1. Disable chevron animation, since it is too slow in IE11
// *******************************************************************************/

// @media all and (-ms-high-contrast: none),
// (-ms-high-contrast: active) {
//   .dropdown--edit {
//     &:after {
//       transition: none;
//     }
//     &.dropdown--open {
//       &:after {
//         transition: none;
//       }
//     }
//   }
// }
