.table {
  .table-header {
    position: relative;
    padding: 4px $margin--slim 2px;

    &.expandable {
      cursor: pointer;

      &:hover {
        font-weight: bold;
        letter-spacing: -0.17px//$font-size--small-letter-spacing-bold;
      }
    }

    &.expanded {
      font-weight: bold;
      letter-spacing: -0.17px // $font-size--small-letter-spacing-bold;
    }
    &:hover {
      @extend .background-color--primary-dimmed;
    }
    .table-chevron {
      width: initial;
      height: initial;
      transform: rotate(0);
      transition: all ease .3s;
      &.expanded {
        transform: rotate(-180deg);
      }
      .icon {
        color: $text-color--default;
      }
    }
  }

  .table-content {
    overflow: hidden;
  }

  .table {
    position: relative;
    .table-header {
      padding: 0 $margin--slim;
    }
    .table-chevron {
      margin-top: -4px;
    }
  }
}

.table-header:focus,
.table-row:focus {
  outline: 0;
  box-shadow: inset 0px 0px 0px $focus-outline-width $focus-color;
}

/*.table-header .table__column {
  vertical-align: bottom;
}*/

.table__column {
  vertical-align:  top;
  padding-right: $margin--slim;
  font-size: $font-size--small;
  span[class^=vgr-icon]{
    display: inline-block;
    margin-left: 6px;
    vertical-align: text-bottom;
  }
  &:last-child{
    padding-right: 0px;
  }
}

.table-row{
  display: block;
  padding-left: $margin--slim;
  padding-right: $margin--slim;
  &:hover {
    @extend .background-color--primary-dimmed;
  }
}


.table-chevron {
  position: absolute;
  top: 0;
  right: $margin--slim;

}

.table > .table-header.expanded + .table-content{
  padding-bottom: 15px;
  transition: padding-bottom .4s ease-in;
}

.table .table > .table-header.expanded + .table-content{
  padding-bottom: 0px;
}

.table-content {
  .table-row, .table {
    // removed to resolve https://www.pivotaltracker.com/story/show/164325264
    // font-size: 0;
    .table__column:first-child { padding-left: $margin--slim * 1; }
    .table-row, .table {
      .table__column:first-child { padding-left: $margin--slim * 2 }
      .table-row, .table {
        .table__column:first-child { padding-left: $margin--slim * 3 }
        .table-row, .table {
          .table__column:first-child { padding-left: $margin--slim * 4 }
          .table-row, .table {
            .table__column:first-child { padding-left: $margin--slim * 5 }
            .table-row, .table {
              .table__column:first-child { padding-left: $margin--slim * 6 }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $desktop-width--medium) {
  .table {
    .table-header {
      padding-left: $margin--fat !important;
      padding-right: $margin--fat;

      &.expandable{
        &:hover {
          letter-spacing: $font-size--medium-letter-spacing-bold;
        }
      }

      &.expanded {
        letter-spacing: $font-size--medium-letter-spacing-bold;
      }

      .table-chevron {
        right: $margin--fat;
        top: 2px;
      }
    }

    .table__column {
      font-size: $font-size--medium;
      padding-right: $margin--fat;
      &:last-child{
        padding-right: 0px;
      }

    }

    .table-content {
      .table-row {
        display: block;
        padding-left: $margin--fat;
        padding-right: $margin--fat;
      }
    }
  }
}
