//A list of expandable containers
.list {
  position: relative;
  display: block;
  background-color: $background-color--default;
  .list-item {
    background-color: $background-color--content;
  }
  .page-block & {
    margin: -$margin--slim;
    &.list--inline {
      margin-top: -$margin--slim;
      margin-bottom: -$margin--slim;
    }
  }
}

.list-item-content{
  overflow:hidden;
  &.overflow-visible {
    overflow: visible;
  }
}

$animation-time: 1.4s;
vgr-list.list--new-item-added {
  vgr-list-header {
    transform: translateY(90px);
    animation-name: animate-list-header;
    animation-duration: $animation-time;
    animation-fill-mode: forwards;
    animation-delay: $animation-time;

  }
  .list__items vgr-list-item:first-child {
    opacity: 0;
    transform: translateY(-35px);
    margin-bottom: 17px;

    animation-name: animate-new-row;
    animation-duration: $animation-time * 2;
    animation-fill-mode: forwards;
    animation-delay: 0s;
  }
}

@keyframes animate-new-row {
  0%   { opacity: 0; margin-bottom: 17px; }
  50%  { transform: translateY(-35px); opacity: 1; margin-bottom: 17px; }
  100% { transform: translateY(0px); opacity: 1; margin-bottom: 0px; }
}

@keyframes animate-list-header {
  0%   { transform: translateY(90px); }
  100% { transform: translateY(0px); }
}

.list__header {
  background-color: $background-color--content;
  z-index: $layer-one;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 37px;
  font-weight: bold;
  margin-bottom: 1px;
  margin-left: -$margin--slim;
  margin-right: -$margin--slim;
  padding-left: $margin--slim;
  padding-right: $margin--slim;
  border-bottom: 1px solid $background-color--default; //The header is WIDER than the main-content, since it has borders to the right and left to cover scrolling shadows from below
  width: calc(#{$content-width--small} + #{$margin--slim} + #{$margin--slim}); //The borders cover the scrolling shadows from below
  border-right: $margin--slim solid $background-color--default;
  border-left: $margin--slim solid $background-color--default;
  .list--inline & {
    position: relative;
    border-bottom: none;
  }
  .list--actions-visible & {
    position: relative;
    border-bottom: none;
  }
  &:after {
    content: "";
    margin-left: auto;
    width: 15px !important;
    height: 30px;
  } //Pop-out b
}

.list__items {
  position: relative; //Lägg till en extra rad ovanför listan för att möjliggöra expandering med skugga. Annars finns det inget att "putta" ifrån sig...
  &:before {
    content: "";
    width: $content-width--small;
    height: 35px;
    display: block;
  }
  .list--actions-visible & {
    &:before {
      height: 0px;
      display: none;
    }
  }
  .list--inline & {
    &:before {
      height: 0px;
      display: none;
    }
  }
  vgr-list-item:last-of-type {
    .list-item {
       margin-bottom: 0;
    }
  }
}

/* Expandable container = en rad i listan som kan expanderas*/

.chevron-expanded {
  @extend .bg-image-icon-chevron;
  content: "";
  transform: rotate(-180deg);
  transition: transform 0.4s;
  width: 15px !important;
  background-size: 100% !important;
  display: block;
}

.chevron-collapsed {
  @extend .bg-image-icon-chevron;
  content: "";
  width: 15px !important;
  background-size: 100% !important;
  display: block;
  transform: rotate(0deg);
  transition: transform 0.4s;
}

.list-item {
  visibility: visible;
  display: none;
  margin-top: 2px;
  box-shadow: none; //Visa uppåt-pil i headern när containern är expanderad
  display: block;
  border-left: 5px solid white;
  transition: border-left-color 0.2s ease, margin-top 0.2s ease-in;

  .list-item__header:after {
    @extend .chevron-collapsed;
    margin-left: auto;
  } //Pop-out beteende vid expand, endast om vi visar normal vy, inte för Compact.

  &.list-item--expanded:not(.list-item--compact){
    box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.5);
    margin-top: 14px;
    margin-bottom: 14px;
  }
  &.list-item--expanded {
    .list-item__header:after {
      //OBS! Denna måste ligga efter expanded-stilen i filen!
      @extend .chevron-expanded;
    }
  } //Visa box-shadow på Hover, bara om kollapsad och i icke-kompakt läge
  &:not(.list-item--compact):hover {
    position: relative;
    box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.5);
  }
  &.list-item--notification-visible {
    border-left-color: $text-color--default;
    margin: 5px 0px;
  }
  &.notification-error {
    border-left-color: $primary-color--error;
  }
  &.notification-success {
    border-left-color: $primary-color--success;
  }
}

.list-item__header {
  opacity: 1;
  cursor: pointer;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: $margin--slim - 5px;
  padding-right: $margin--slim;
  transition: opacity 0.3s linear, height 0.3s linear;
  transition-delay: 0.2s, 0s;
  .list-item--compact & {
    height: auto;
  }
  .list-item--expanded:not(.list-item--notification-visible) & {
    border-bottom: 1px solid $background-color--default;
    padding-left: 10px;
    margin-left: -5px;
    &:focus {
      padding-left: 5px;
    }
  }
  .list-item--not-interactable & {
    cursor: default;
  }
  .list-item--deleted & {
    opacity: 0;
    height: 0px;
    transition: opacity 0.3s linear, height 0.3s linear;
    transition-delay: 0s, 0.2s;
  }
  &:focus {
    outline: 0;
    box-shadow: inset 0px 0px 0px $focus-outline-width $focus-color;
  }
}

.list-item:not(.list-item--notification-visible){
  .list-item__header:focus{
    margin-left: -5px;
    .list__column:first-child {
      padding-left: 5px;
      margin-right: 5px;
    }
  }
}

.list__column {
  //span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  //}
  padding-right: $margin--fat;
  &:last-child() {
    padding-right: 0;
  }
}

.list-item__notification {
  overflow: hidden;
  padding-left: $margin--slim - 5;
  padding-right: $margin--slim;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  border-top: 1px solid $background-color--default;
  .list-item__notification__icon {
    width: 15px;
    height: 15px;
    background-size: 17px;
  }
  .list-item__notification__message {
    padding: 3px 0;
  }
}


.list__notification {
  padding: 5px 10px;
  .list-item__notification__icon {
    float: left;
  }
  .list-item__notification__message {
    margin-left: 36px;
    margin-top: 3px;
    font-size: 16px;
  }
}

// .list-item__notification {}
.list-item__notification__icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 6px;
}

.list-item__notification__message {
  font-size: 16px;
}

.list-item__content {
  margin-left: -5px;
  display: block;
  border-spacing: 10px;
  width: $content-width--small;
  padding-bottom: $margin--slim;
  padding-top: $margin--slim;
  &.list-item__content--indent {
    padding-left: $margin--slim;
    padding-right: $margin--slim;
  }
  .list-item--notification-visible & {
    border-top: none;
    padding-top: 0;
    margin-left:0;
    width: $content-width--small - 5;
  }
}

.list__column-header {
  margin-top: $margin--slim;
  display: inline-block;
  cursor: pointer;
  div {
    display: inline-block;
  }
  height:30px;
  padding-right: $margin--fat;
  &:last-child() {
    padding-right: 0;
  }
}

.list__column-header--sorted-asc {
  h2 {
    &:after {
      @extend .bg-image-icon-sortarrow;
      content: "";
      display: inline-block;
      background-size: 100% !important;
      vertical-align: middle;
      margin-left: 2px;
      transform: rotate(0deg);
      position: absolute;
      top: 18px;
      @media screen and (min-width: $desktop-width--medium) {
        top: 20px;
      }
    }
  }
}

.list__column-header--sorted-desc {
  h2 {
    &:after {
      @extend .bg-image-icon-sortarrow;
      content: "";
      display: inline-block;
      background-size: 100% !important;
      vertical-align: middle;
      margin-left: 2px;
      transform: rotate(180deg);
      position: absolute;
      top: 18px;
      @media screen and (min-width: $desktop-width--medium) {
        top: 20px;
      }
    }
  }
}

@media screen and (min-width: $desktop-width--medium) {
  .list {
    .page-block & {
      margin: -$margin--fat;
      &.list--inline {
        margin-top: -$margin--fat;
        margin-bottom: -$margin--fat;
      }
    }
  }
  .list__header {
    padding-left: $margin--fat + 5;
    padding-right: $margin--fat;
    width: $content-width--medium + $margin--slim + 12px;
    border-right-width: 12px;
  }
  .list-item__header {
    height: 40px;
    padding-left: $margin--fat;
    padding-right: $margin--fat;
    .list-item--compact & {
      height: auto;
    }
  }
  .list-item__notification {
    padding-left: 20px;
    padding-right: 20px;
    border-spacing: 10px;
  }
  .list-item__content {
    width: $content-width--medium;
    padding-bottom: $margin--fat;
    padding-top: $margin--fat;
    &.list-item__content--indent {
      padding-left: $margin--fat;
      padding-right: $margin--fat;
    }
    .list-item--notification-visible & {
      width: $content-width--medium - 5;
    }
  }
  .list__notification {
    padding: 5px 20px;
    .list-item__notification__message {
      font-size: 18px;
      margin-top: 1px;
    }
  }
}

.list__notification {
  background: $background-color--content;
  //border: 1px solid red;
}

.column--align-left {
  text-align: left;
}

.column--align-right {
  text-align: right;
}

.column--align-center {
  text-align: center;
  >* {
    margin-left: auto;
  }
}

.flex-column {
  overflow: hidden;
  display: inline-block;
}

@mixin flex-column($number) {
  .flex-column--#{$number} {
    min-width: 53px * $number;
    width: 53px * $number;
    &:last-child() {
      min-width: (53px * $number) - $margin--fat;
      width: (53px * $number) - $margin--fat;
    }
  }
  @media screen and (min-width: $desktop-width--medium) {
    .flex-column--#{$number} {
      min-width: 55.5px * $number;
      width: 55.5px * $number;
      &:last-child() {
        min-width: (55.5px * $number) - $margin--fat;
        width: (55.5px * $number) - $margin--fat;
      }
    }
  }
}

@for $i from 1 through 20 {
  @include flex-column($i);
}

vgr-list-column-trashcan {
  height: 100%;
  .list-item__trashcan__icon {
    @extend .bg-image-icon-trashcan;
    background-size: 19px 21px;
    height: 100%;
    width: 33px;
    display: inline-block;
  }
  &.disabled .list-item__trashcan__icon {
    @extend .bg-image-icon-trashcan--disabled;
    cursor: default;
  }
  &:focus {
    outline: 0;
    .list-item__trashcan__icon {
      border: $focus-outline-width solid $focus-color;
    }
  }
}

@media screen and (min-width: $desktop-width--medium) {
  vgr-list-column-trashcan .list-item__trashcan__icon {
    background-size: 22px 24px;
  }
  .list-item__content {
    .list-item--notification-visible & {
      padding-top: 10px;
    }
  }
  .list-item__header {
  .list-item--expanded:not(.list-item--notification-visible) & {
    padding-left: 25px;
    margin-left: -5px;
    &:focus {
      padding-left: 20px;
    }
  }
}
}
@media screen and (max-width: $desktop-width--small - 1) {
  .list__header {
    position: absolute;
    top: 0px;
  }
  vgr-list.list--new-item-added {
    vgr-list-header {
      transform: translateY(84px);
    }
  }
}

vgr-list-column-checkbox {
  height: 100%;
  .checkbox--inline {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    .checkbox {
      height: 100%;
      width: 33px;
      justify-content: center;
      align-items: center;
      display: flex;
      .checkbox__image {
        margin-top: 0;
      }
      .checkbox__label {
        display: none;
      }
    }
  }
}

vgr-list-column-header-checkbox {
  .checkbox--inline {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    .checkbox {
      height: 100%;
      padding-left: 9px;
      display: flex;
      @media screen and (min-width: $desktop-width--medium) {
        padding-left: 7px;
      }
      .checkbox__image {
        margin-top: 5px;
      }
      .checkbox__label {
        display: inline-block;
        margin-left: 8px;
        margin-top: 2px;
      }
    }
  }
}
