$input-small-width--small: 130px;
$input-small-width--medium: 140px;
$validation-icon-size: 18px;
$suffix-width: 30px;

.input-container {
  display: flex;

  &.input-container--focus {
    outline: $focus-outline-width solid $focus-color;
  }
}

vgr-input {

  .input--large {
    width: 270px;

    @media screen and (min-width: $desktop-width--medium) {
      width: 290px;
    }
  }

  .input--small {
    width: 130px;

    @media screen and (min-width: $desktop-width--medium) {
      width: 140px;
    }

  }
}


input.input-container__textbox {
  width: 100%;
  border-color: $control-border-color--default;
  flex: 1;
  transition: padding-right 0.3s linear;
  margin-left: -1px;
  margin-right: -1px;

  .align-right & {
    text-align: right;
    padding-right: 5px;
  }

  .input-validation--suffixed & {
    padding-right: 5px;
  }
}

.input-container__suffix-container {
  display: flex;
  align-items: center;
  background-color: $background-color--content;
  border-color: $control-border-color--default;
  border-left-style: none;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: $margin--slim;
  padding-top: 2px;
  width: $suffix-width;
}

.input-container__suffix-container__suffix {
  font-style: italic;
  display: none;
  margin-right: $margin--slim;

  .input-validation--suffixed & {
    display: inline-block;
  }
}

.input-container__suffix-container__status-icon {
  // @extend .bg-image-icon-ok-check--green;
  display: inline-block;
  visibility: hidden;
  transition: visibility 0.3s linear;

  .icon {
    color: $primary-color--success;
  }

  .validation-error--fixed & {
    visibility: visible;
    transition: visibility 0.3s linear;
  }

  .input-validation--suffixed & {
    visibility: hidden;
  }
}

.input-validation {
  max-height: 30px;
  padding: 0px;
  background-color: inherit;
  position: relative;
  top: 0px;

  .validation-error--active & {
    max-height: none;
    padding: $margin--slim;
    margin-left: -$margin--slim;
    margin-right: -$margin--slim;

    .title-value-layout & {
      top: -10px;
    }

    background-color: $secondary-color--error;
    transition: background-color 0.3s linear;
    padding-top: 0.3s linear;
    padding-bottom: 0.3s linear;
    top: 0.3s linear;
  }

  .validation-error--editing & {
    max-height: none;

    .title-value-layout & {
      top: -10px;
    }

    background-color: $background-color--default;
    padding: $margin--slim;
    margin-left: -$margin--slim;
    margin-right: -$margin--slim;
    transition: background-color 0.3s linear;
  }

  .validation-error--fixed & {
    &:after {
      visibility: visible;
    }
  }
}

.input-validation_status {
  margin-top: 4px;
  display: flex;
  align-items: baseline;
}

.input-validation_status__icon {
  display: none;
  vertical-align: middle;

  .icon {
    .validation-error--active & {
      color: $primary-color--error;
    }

    .validation-error--editing & {
      color: $text-color--default;
    }
  }

  .validation-error--active &,
  .validation-error--editing & {
    display: inline-block;
  }
}

.input-validation_status__message {
  display: none;
  margin-left: 4px;
  margin-top: 5px;
  vertical-align: middle;

  .validation-error--active & {
    color: $text-color--default;
    display: inline-block;
  }

  .validation-error--editing & {
    display: inline-block;
    color: $text-color--default;
  }
}

.readonly-container {
  display: flex;
  align-items: center;
  cursor: default;
  min-height: 30px;
  padding-right: $margin--slim;
  padding-left: 10px;
  padding-top: 2px;
  border-width: 1px;
  border-color: $background-color--content;

  .readonly-container__display-value {
    border: none;
  }

  .align-right & {
    padding-left: 0px;

    .readonly-container__display-value {
      flex: 1;
      text-align: right;
      padding-right: 4px;
      border: none;
    }

    .readonly-container__suffix {
      font-style: italic;
    }
  }
}

@media screen and (min-width: $desktop-width--medium) {
  .input-container__suffix-container {
    padding-top: 0px;
  }

  .input-validation {
    &:after {
      left: 260px;
    }

    .input--small & {
      &:after {
        left: 140px;
      }
    }
  }

  .input-validation_status__message {
    max-width: 259px;
    margin-top: 3px;

    .input--small & {
      max-width: 99px;
    }
  }

  .readonly-container {
    padding-top: 1px;

    .align-right & {
      & .readonly-container__display-value {
        padding-right: 4px;
      }
    }
  }
}
