.table {
  .expandable-div {
    position: relative;
    display: block;
    min-height: 20px;

    .expandable-div-header {
      font-size: 0;
      padding: 4px $margin--slim 2px;
      cursor: pointer;

      &:hover {
        font-weight: bold !important;
        @extend .background-color--primary-dimmed;
      }
    }
  }
  .table__column {
    padding-right: $margin--slim;
    font-size: $font-size--small;
    span[class^=vgr-icon]{
      display: inline-block;
      margin-left: 6px;
      vertical-align: text-bottom;
    }
    &:last-child{
      padding-right: 0px;
    }
  }
  vgr-table-row-column {
    vertical-align: top;
  }
  .table-row{
    display: block;
    padding-left: $margin--slim;
    padding-right: $margin--slim;
    &:focus {
      outline: 0;
      box-shadow: inset 0px 0px 0px $focus-outline-width $focus-color;
    }
  }

  .expandable-div.expandable-div--expanded>.expandable-div-content{
    padding-bottom: 15px;
    transition: padding-bottom .4s ease-in;
  }
  .table .expandable-div.expandable-div--expanded>.expandable-div-content{
    padding-bottom: 0px;
  }

  .table {
    .expandable-div-header {
      padding: 0 $margin--slim;
    }
    .expandable-div-chevron {
      margin-top: -4px;
    }
  }

  .expandable-div .expandable-div-header .expandable-div-chevron {
    right: $margin--slim;
    top: 2px;
  }

  .expandable-div--expanded {
    .expandable-div-header {
      font-weight: bold;
    }
    .expandable-div--collapsed {
      > .expandable-div-header {
        font-weight: normal;
      }
    }
  }

  .expandable-div-content {
    .table-row, .table {
      font-size: 0;
      .table__column:first-child { padding-left: $margin--slim * 1; }
      .table-row, .table {
        .table__column:first-child { padding-left: $margin--slim * 2 }
        .table-row, .table {
          .table__column:first-child { padding-left: $margin--slim * 3 }
          .table-row, .table {
            .table__column:first-child { padding-left: $margin--slim * 4 }
            .table-row, .table {
              .table__column:first-child { padding-left: $margin--slim * 5 }
              .table-row, .table {
                .table__column:first-child { padding-left: $margin--slim * 6 }
              }
            }
          }
        }
      }
    }
  }

}

@media screen and (min-width: $desktop-width--medium) {
  .table {
    .expandable-div {
      .expandable-div-header {
        padding-left: $margin--fat;
        padding-right: $margin--fat;

        .expandable-div-chevron {
          right: $margin--fat;
          top: 2px;
        }

        .table__column {
          font-size: $font-size--medium;
          padding-right: $margin--fat;
        }
      }

      .table-body {
        .table-row {
          display: block;
          padding-left: $margin--fat;
          padding-right: $margin--fat;

          .table__column {
            font-size: $font-size--medium;
            padding-right: $margin--fat;
          }
        }
      }
    }
  }
}
