vgr-notification {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 4px 10px;
  vgr-icon {
    margin-right: 6px;
  }

  &:before {
    content: '';
    z-index: 2;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    position: absolute;
    transition: background .2s ease;
  }

  &.text:before,
  &.comment:before {
    background:$text-color--default;
  }
  &.success:before {
    background: $primary-color--success;
  }
  &.error:before {
    background: $primary-color--error;
  }
  &.error-secondary:before {
    background: $secondary-color--error;
  }
  &.primary:before {
    @extend .background-color--primary;
  }   
  &.secondary:before {
    @extend .background-color--secondary;
  }     
  &.dimmed:before {
    @extend .background-color--primary-dimmed;
  }  
  &.light:before {
    background: $text-color--light;
  }
  &.disabled:before {
    background: $control-color--disabled;
  }
}

@media screen and (min-width: $desktop-width--medium) {
  vgr-notification {
    padding: 4px 20px;
  }
}