.expandable-div {
  position: relative;
  display: block;
  min-height: 20px;

  //TODO: Fix for IE and Edge. Move to base SCSS for animations.
  .ng-trigger-toggleExpandedState.ng-animating {
    overflow: hidden;
  }

  .expandable-div-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &:focus {
    outline: 0; // z-index: 999;
    box-shadow: inset 0px 0px 0px $focus-outline-width $focus-color;
  }
}

.expandable-div-header:focus {
  outline: 0;
  box-shadow: inset 0px 0px 0px $focus-outline-width $focus-color;
}
