.filter-textbox {
  @extend .background-color--primary;
  height: $component-height;
  font-size: 16px;
  width: $input-width--small;
  &.filter-textbox--focus {
    outline: $focus-outline-width solid $focus-color;
  }
  input {
    width: calc(100% - 34px);
    height: 100%;
    border: $border--single solid $control-border-color--default;
    border-right: none;
  }
  &:after {
    @extend .bg-image-icon-search;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    width: 34px;
    height: 28px;
    font-size: 16px;
    font-family: FontAwesome;
    color: white;
    margin-top: 1px;
    vertical-align: middle;
    text-align: center;
    float: right;
  }
}

@media screen and (min-width: $desktop-width--medium) {
  .filter-textbox {
    width: $input-width--medium;
  }
}
