.blue--primary {
  background-color: $primary-color--blue;
  color: $text-color--light;
}

.blue--primary-dimmed {
  background-color: $primary-color--blue-dimmed;
}

.blue--secondary {
  background-color: $secondary-color--blue;
  color: $text-color--light;
}

.red--primary {
  background-color: $primary-color--red;
  color: $text-color--light;
}

.red--primary-dimmed {
  background-color: $primary-color--red-dimmed;
}

.red--secondary {
  background-color: $secondary-color--red;
  color: $text-color--light;
}

.green--primary {
  background-color: $primary-color--green;
  color: $text-color--light;
}

.green--primary-dimmed {
  background-color: $primary-color--green-dimmed;
}

.green--secondary {
  background-color: $secondary-color--green;
  color: $text-color--light;
}

.pinkie--primary {
  background-color: $primary-color--pinkie;
  color: $text-color--light;
}

.pinkie--primary-dimmed {
  background-color: $primary-color--pinkie-dimmed;
}

.pinkie--secondary {
  background-color: $secondary-color--pinkie;
  color: $text-color--light;
}

.neutral--primary {
  background-color: $primary-color--default;
  color: $text-color--light;
}

.neutral--primary-dimmed {
  background-color: $primary-color--default-dimmed;
}

.neutral--secondary {
  background-color: $secondary-color--default;
  color: $text-color--light;
}

.gray--primary {
  background-color: $gray-primary;
  color: $text-color--light;
}

.gray--secondary {
  background-color: $gray-secondary;
  color: $text-color--light;
}

.gray--dark {
  background-color: $gray-dark;
  color: $text-color--light;
}

.gray--dimmed {
  background-color: $gray-dimmed;
}

.gray--ultradimmed {
  background-color: $gray-ultradimmed;
  color: $text-color--light;
}

.focus-color {
  background-color: $focus-color;
  color: $text-color--light;
}

.read-only {
  color: $text-color--read-only;
}

.primary-color--success {
  background-color: $primary-color--success;
  color: $text-color--light;
}

.primary-color--error {
  background-color: $primary-color--error;
  color: $text-color--light;
}

.secondary-color--error {
  background-color: $secondary-color--error
}

.background-color--default {
  background-color: $background-color--default;
}

.background-color--text {
  background-color: $text-color--default;
  color: $text-color--light;
}

.company-green--primary {
  background-color: $green-primary;
  color: $text-color--light;
}

.company-green--secondary {
  background-color: $green-secondary;
  color: $text-color--light;
}

.company-green--dimmed {
  background-color: $green-dimmed;
}

.company-beige--primary {
  background-color: $beige-primary;
  color: $text-color--light;
}

.company-beige--secondary {
  background-color: $beige-secondary;
  color: $text-color--light;
}

.company-beige--dimmed {
  background-color: $beige-dimmed;
}

.company-lime--primary {
  background-color: $lime-primary;
  color: $text-color--light;
}

.company-lime--secondary {
  background-color: $lime-secondary;
  color: $text-color--light;
}

.company-lime--dimmed {
  background-color: $lime-dimmed;
}

.company-orange--primary {
  background-color: $orange-primary;
  color: $text-color--light;
}

.company-orange--secondary {
  background-color: $orange-secondary;
  color: $text-color--light;
}

.company-orange--dimmed {
  background-color: $orange-dimmed;
}

.company-rose--primary {
  background-color: $rose-primary;
  color: $text-color--light;
}

.company-rose--secondary {
  background-color: $rose-secondary;
  color: $text-color--light;
}

.company-rose--dimmed {
  background-color: $rose-dimmed;
}

.company-purple--primary {
  background-color: $purple-primary;
  color: $text-color--light;
}

.company-purple--secondary {
  background-color: $purple-secondary;
  color: $text-color--light;
}

.company-purple--dimmed {
  background-color: $purple-dimmed;
}

.company-red--primary {
  background-color: $red-primary;
  color: $text-color--light;
}

.company-red--secondary {
  background-color: $red-secondary;
  color: $text-color--light;
}

.company-red--dimmed {
  background-color: $red-dimmed;
}

.company-turquoise--primary {
  background-color: $turquoise-primary;
  color: $text-color--light;
}

.company-turquoise--secondary {
  background-color: $turquoise-secondary;
  color: $text-color--light;
}

.company-turquoise--dimmed {
  background-color: $turquoise-dimmed;
}

