.blue--primary {
  background-color: $primary-color--blue;
  color: $text-color--light;
}

.blue--primary-dimmed {
  background-color: $primary-color--blue-dimmed;
}

.blue--secondary {
  background-color: $secondary-color--blue;
  color: $text-color--light;
}

.red--primary {
  background-color: $primary-color--red;
  color: $text-color--light;
}

.red--primary-dimmed {
  background-color: $primary-color--red-dimmed;
}

.red--secondary {
  background-color: $secondary-color--red;
  color: $text-color--light;
}

.green--primary {
  background-color: $primary-color--green;
  color: $text-color--light;
}

.green--primary-dimmed {
  background-color: $primary-color--green-dimmed;
}

.green--secondary {
  background-color: $secondary-color--green;
  color: $text-color--light;
}

.neutral--primary {
  background-color: $primary-color--default;
  color: $text-color--light;
}

.neutral--primary-dimmed {
  background-color: $primary-color--default-dimmed;
}

.neutral--secondary {
  background-color: $secondary-color--default;
  color: $text-color--light;
}

.focus-color {
  background-color: $focus-color;
  color: $text-color--light;
}

.read-only {
  color: $text-color--read-only;
}

.primary-color--success {
  background-color: $primary-color--success;
  color: $text-color--light;
}

.primary-color--error {
  background-color: $primary-color--error;
  color: $text-color--light;
}

.secondary-color--error {
  background-color: $secondary-color--error
}

.background-color--default {
  background-color: $background-color--default;
}

.background-color--text {
  background-color: $text-color--default;
  color: $text-color--light;
}
