

.custominput:not(.validation-error--active) > .validation > div:first-of-type,
.datepicker:not(.validation-error--active) > .validation > div:first-of-type,
.dropdown-select:not(.validation-error--active) > .validation > div:first-of-type {
  padding-top: 4px;
  padding-bottom: 4px;
  .title-value-layout & {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.validation {
  max-height: none;
  padding: 0px;
  position: relative;
  display: block;


  .title-value-layout & {
    top: 0;
    // padding-bottom: 0;
  }


  .ng-invalid > .validation-error--active & {
    max-height: unset;
    min-height: 71px;
    height: auto;

    top: 0px;
    padding-bottom: 0px;
    margin-left: -4px;
    margin-right: -4px;
    .title-value-layout & {
      top: -4px;
    }

    > div:first-of-type {
      border: 3px solid #FF0000;
      border-radius: 2px;
      padding: 1px;

    }
  }
  .ng-invalid > .validation-error--editing.validation-error--active & {
    max-height: unset;
    padding-bottom: 0px;
    margin-left: -4px;
    margin-right: -4px;
    > div:first-of-type {
      border: none;
      padding: 4px;
    }
    .title-value-layout & {
      top: -4px;
    }
  }

  .readonly &,
  &.readonly {
    transition: max-height 0.3s linear;
    max-width: none !important;

    .validation__status {
      display: none !important;
    }
  }
}

.validation__status {
  padding-left: 5px;
  display: none;
  align-items: top;
  .ng-invalid > .validation-error--active & {
    margin-top: 4px;
    display: flex;
  }
  .ng-invalid > .validation-error--editing.validation-error--active & {
    margin-top: 4px;
    display: flex;
  }
  .readonly & {
    display: none;
  }
}
.validation__status__icon,
.validation_status__icon {
  display: none;
  vertical-align: middle;
  .icon {
    .validation-error--active & {
      color: $primary-color--error !important;
    }
    .validation-error--editing & {
      color: $text-color--default !important;
    }
  }
  .validation-error--active &,
  .validation-error--editing & {
    display: inline-block;
  }
}

.validation__status__message {
  display: none;
  margin-left: 4px;
  vertical-align: middle;
  .validation-error--active & {
    color: $text-color--default;
    display: inline-block;
  }
  .validation-error--editing & {
    display: inline-block;
    color: $text-color--default;
  }
}
