@use "sass:color";
//background
$background-color--default: #f0f0f0;
$background-color--content: #ffffff;
$background-color--disabled: #87939f;
$primary-color--success: #63A155;
$primary-color--error:#E83F3F;
$primary-color--warning:#F2A900;
$primary-color--info:#428299;
$secondary-color--success:#EFF7EE;
$secondary-color--error:#f9dede;
$secondary-color--warning:#FDF6E5;
$secondary-color--info:#E3F0F4;
$lockbutton-color--unlocked: #9EA2A2;
//text
$text-color--default: #151515;
$text-color--light: #ffffff;
$text-color--value: #000000;
$text-color--read-only: #87939f;
//control
$control-color--enabled: #151515;
$control-color--disabled: #87939f;
$control-border-color--default: #151515;
//border
$border-color: #87939f;
$border-color--light: #dfdfdf;
//menu
$menu-text-color: $text-color--default;
$menu-color--inactive: color.scale($background-color--default, $alpha: -30%);
//misc
$focus-color: #2275D3;
$modal-background-color: color.scale($text-color--default, $alpha: -35%);
//themes
$primary-color--blue: #006298;
$secondary-color--blue: #4C91B7;
$primary-color--default: #314152;
$secondary-color--default: #87939f;
$primary-color--green: #4a773c;
$secondary-color--green: #80A076;
$primary-color--pinkie: #f0438c;
$secondary-color--pinkie: #f9b8d2;
$primary-color--red: #9d2235;
$secondary-color--red: #ba6071;
$primary-color--blue-dimmed: #E5EFF4;
$primary-color--default-dimmed: #EAECED;
$primary-color--green-dimmed: #ECF1EB;
$primary-color--pinkie-dimmed: #86d8f7;
$primary-color--red-dimmed: #F5E8EA;
//Gray
$gray-dark: #717474;
$gray-primary: #9EA2A2;
$gray-secondary: #BBBEBE;
$gray-dimmed: #EAEBEB;
$gray-ultradimmed: #F8F8F8;

// VARUMÄRKESFÄRGER

//Beige
$beige-primary: #C6AA75;
$beige-secondary: #D7C39E;
$beige-dimmed: #F1EADC;

//Grön
$green-primary: #008755;
$green-secondary: #4CAB88;
$green-dimmed: #D9EDE6;

//Lime
$lime-primary: #A8AD00;
$lime-secondary: #C2C54C;
$lime-dimmed: #EEEFCC;

//Orange
$orange-primary: #D86018;
$orange-secondary: #E38F5D;
$orange-dimmed: #F9E7DD;

//Rose
$rose-primary: #AF1685;
$rose-secondary: #C357A5;
$rose-dimmed: #F7E7F2;

//Lila
$purple-primary: #582C83;
$purple-secondary: #8A6BA8;
$purple-dimmed: #EEE9F2;

//Röd
$red-primary: #C8102E;
$red-secondary: #D8576C;
$red-dimmed: #F9E7EA;

//Turkos
$turquoise-primary: #71B2C9;
$turquoise-secondary: #9BC9D9;
$turquoise-dimmed: #E3F0F4;
