@import "../../Content/komponentkartan.scss";
.expandable-container-list {
  position: relative;
  margin-top: 112px;
  transition: margin-top 0.6s ease;
  transition-delay: 0.3s;
}

.lists-component {
  .expandable-container-list {
    position: relative;
    margin-top: 112px;
    transition: margin-top 0.6s ease;
    transition-delay: 0.3s;
  }
  &.actions--visible {
    .expandable-container-list {
      margin-top: 260px;
      transition: margin-top 0.6s ease;
      transition-delay: 0;
    }
  }
}

.input-fields {
  li {
    list-style-type: circle;
    margin-left: 20px;
  }
  &.input-fields--expanded {
    top: 233px;
  }
}

.property-table {
  text-align: left;
  th,
  td {
    width: 400px;
    text-align: left;
    border-bottom: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
  }
  th:first-child,
  td:first-child {
    width: 200px;
  }
  td:last-child,
  th:last-child {
    border-right: none;
  }
  th {
    font-weight: bold;
  }
}
