<div class="header-menu header-menu--hidden">
    <div class="header-menu__content">
        <ul>
            <li><a routerLink="/minsida" routerLinkActive="header-menu-item--selected header-menu-item--marked">Min sida</a></li>

            <li class="header-menu-divider"></li>
            <li class="header-menu-item--header">
                <a onClick="$(this).parent('li').toggleClass('header-menu-submenu--expanded')">Krav &amp; Kvalitetsbok</a>
                <ul class="header-menu-submenu">
                    <li><a target="_blank" href="http://www.vgregion.se/halsa-och-vard/vardgivarwebben/uppdrag-och-avtal/vardval-vg-primarvard/krav--och-kvalitetsbok-vg-primarvard/">VGPV</a></li>
                    <li><a target="_blank" href="http://www.vgregion.se/halsa-och-vard/vardgivarwebben/uppdrag-och-avtal/vardval-rehab/krav--och-kvalitetsbok/">Rehab</a></li>
                </ul>
            </li>

            <li class="header-menu-item--header">
                <a onClick="$(this).parent('li').toggleClass('header-menu-submenu--expanded')">FAQ</a>
                <ul class="header-menu-submenu">
                    <li><a target="_blank" href="http://www.vgregion.se/sv/Vastra-Gotalandsregionen/startsida/Vard-och-halsa/Forvardgivare/VG-Primarvard1/Fragor-och-svar/">VGPV</a></li>
                    <li><a target="_blank" href="http://www.vgregion.se/halsa-och-vard/vardgivarwebben/uppdrag-och-avtal/vardval-rehab/fragor-och-svar/">Rehab</a></li>
                </ul>
            </li>

            <li><a target="_blank" href="http://www.vgregion.se/halsa-och-vard/vardgivarwebben/it/it-system/it-stod-for-vardval-rehab/kontaktpersoner/">Kontakt</a></li>
            <li class="header-menu-divider"></li>
            <li><a routerLink="/komponentkarta" routerLinkActive="header-menu-item--selected header-menu-item--marked">Komponentkarta</a></li>
        </ul>
    </div>
</div>