<app-component-docs [componentName]="'filter textbox'">
  <div class=" docs__overview ">
    <p>
      <code> &lt;vgr-filter-textbox&gt;</code> är ett fält som används för sökning/filtrering. Notera att fältet enbart håller värde
      och notifierar när det ändras. Sökning/filtrering hanteras externt.
    </p>
    <br>
    <vgr-filter-textbox></vgr-filter-textbox>
    <br>
    <p>Förändras med tema:
      <strong>ja</strong>
    </p>
  </div>
  <div class="docs__examples ">
    <vgr-filter-textbox (valueChanged)="searchvalue = $event"></vgr-filter-textbox>
    <p>Sökning: {{searchvalue}}</p>
  </div>
  <div class="docs__api ">
    <table class="property-table">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>value: string</td>
        <td>Värde att binda till</td>
        <td>[value]="FörIFyllt"</td>
      </tr>
      <tr>
        <td>valueChanged: EventEmitter &lt;string&gt;
        </td>
        <td>Event när värdet ändras. Triggras varje gång ett tecken matas in.</td>
        <td> (valueChanged)="searchvalue = $event"</td>
      </tr>
    </table>
  </div>
  <div class="docs__wcag ">
    <i>Under utveckling</i>
  </div>
</app-component-docs>
