<app-component-docs [componentName]="'Dropdown Multiselect'">
  <div class="docs__overview">
    <p>
      <code>
        &lt;vgr-dropdown-multiselect&gt;</code> innehåller en lista där man kan välja flera alternativ.
      <br>- Kompletteras med filter och ett "visa alla" alternativ över 20 items.
      <br>- Kompletteras med scroll vid över 6 items.
      <br> Dropdown stängs inte när man väljer alternativ, förutom vid val av "Välja alla".
      <br>
      <vgr-dropdown-multiselect [items]="dropDownItems6"></vgr-dropdown-multiselect>
    </p>

    <p> Förändras med tema:
      <strong>ja</strong>
    </p>
  </div>
  <div class="docs__examples">
    <div class="row-layout">
      <div>
        <p>6 items (förvald)</p>
        <vgr-dropdown-multiselect [items]="dropDownItems6AndSelected" (selectionChanged)="onMultipleSelectionChanged($event)"></vgr-dropdown-multiselect>
      </div>
      <div>
        <p>7 items</p>
        <vgr-dropdown-multiselect [items]="dropDownItems7" (selectionChanged)="onMultipleSelectionChanged($event)"></vgr-dropdown-multiselect>
      </div>
      <div>
        <p>25 items</p>
        <vgr-dropdown-multiselect [items]="dropDownItems25All" [selectAllItemText]="'Välj alla alternativ'" [allItemsSelectedLabel]="'Alla'"
          [showAllItemText]="'Visa alla alternativ'" (selectionChanged)="onMultipleSelectionChanged($event)"></vgr-dropdown-multiselect>
      </div>
      <div>
        <p>200 items</p>
        <vgr-dropdown-multiselect [items]="dropDownItems200" (selectionChanged)="onMultipleSelectionChanged($event)"></vgr-dropdown-multiselect>
      </div>
    </div>
    <div class="row-layout">
      <div>
        <p>Disabled</p>
        <vgr-dropdown-multiselect [items]="dropDownItems6AndSelected" [disabled]="isReadonlyAndDisabled" (selectionChanged)="onMultipleSelectionChanged($event)"></vgr-dropdown-multiselect>
      </div>
      <div>
        <p>Readonly</p>
        <vgr-dropdown-multiselect [items]="dropDownItems6AndSelectedReadonly" [readonly]="isReadonlyAndDisabled" (selectionChanged)="onMultipleSelectionChanged($event)"></vgr-dropdown-multiselect>
      </div>
      <div>
        <p>Disabled (inget valt)</p>
        <vgr-dropdown-multiselect [items]="dropDownItems7" [disabled]="isReadonlyAndDisabled" (selectionChanged)="onMultipleSelectionChanged($event)"></vgr-dropdown-multiselect>
      </div>
      <div>
        <p>Readonly (inget valt)</p>
        <vgr-dropdown-multiselect [items]="dropDownItems7Readonly" [readonly]="isReadonlyAndDisabled" (selectionChanged)="onMultipleSelectionChanged($event)"></vgr-dropdown-multiselect>
      </div>
      <div>
        <p>Växla readonly och disabled</p>
        <vgr-lock-button [unlocked]="false" (lockChanged)="isReadonlyAndDisabled = !isReadonlyAndDisabled;"></vgr-lock-button>
      </div>
    </div>

    <div>
      <br>
      <span>Senaste val:</span>
      <span>{{lastMultipleSelection}}</span>
    </div>
    <br>
    <br> Under "kodexempel" finns exempel på hur dropdownmulti-komponenten kan användas i Angular Reactive Forms:
    <br>
    <a href="/reactiveformsexample">Reactive Forms exempel</a>
  </div>


  <div class="docs__api">
    <table class="property-table ">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>
          items : DropdownItem&lt;T&gt;[]
        </td>
        <td>Samling av
          <code>DropdownItem&lt;T&gt;</code> som utgör valbara alternativ</td>
        <td>[items]="[item1, item2, ...] "</td>
      </tr>
      <tr>
        <td>
          disabled : boolean
        </td>
        <td>Defaultvärde false</td>
        <td>[disabled]="true "</td>
      </tr>
      <tr>
        <td>
          showAllItemText : string
        </td>
        <td>Värde för att sätta vilken text det skall stå på raden för att ta bort filtrering och visa alla. Defaultvärde "Visa
          alla"
        </td>
        <td>[showAllItemText]="Visa alla alternativ"</td>
      </tr>
      <tr>
        <td>
          noItemSelectedLabel : string
        </td>
        <td>Värde för att sätta vilken text det skall stå i dropdownen då man inte valt något värde. Defaultvärde "Välj"
        </td>
        <td>[noItemSelectedLabel]="Välj alternativ"</td>
      </tr>
      <tr>
        <td>

          allItemsSelectedLabel : string
        </td>
        <td>Värde för att sätta vilken text det skall stå i dropdownen då man valt alla. Defaultvärde "Alla"
        </td>
        <td>[allItemsSelectedLabel]="Alla alternativ valda"</td>
      </tr>
      <tr>
        <td>
          selectAllItemText : string
        </td>
        <td>Värde för att sätta vilken text det skall stå på alternativet för att välja alla. Defaultvärde "Välj alla"
        </td>
        <td>[selectAllItemText]="Välj alla alternativ"</td>
      </tr>
      <tr>
        <td> selectionChanged : EventEmitter&lt;any[]&gt;</td>
        <td>Event som triggas när man väljer ett alternativ i dropdownen</td>
        <td>(selectionChanged)="onMultipleSelectionChanged($event) "</td>
      </tr>
      <tr>
        <td>readonly : boolean</td>
        <td>Om dropdownen är satt som readonly så ska en lista med valda värden visas. Om inget värde är satt så visas ingenting.
        </td>
        <td>
          [readonly]="true/false"
        </td>
      </tr>
      <tr>
        <td>showValidation: boolean</td>
        <td>Anger om valideringsfel ska visas eller ej. Default = true.</td>
        <td>[showValidation]="true"</td>
      </tr>
    </table>
  </div>
  <div class="docs__wcag">
    <p>
      <code>&lt;vgr-dropdown-multiselect&gt;</code> har en intern div vars roll är satt till dropdown. Listan med val har rollen
      listbox och valen rollen option. Förutom rollen så används attributen: attr.aria-disabled (inaktiv/aktiv), attr.aria-selected
      (vald/ej vald) och attr.aria-labelledby (pekning till interna label på de val man har valt.
    </p>
  </div>

</app-component-docs>
