<div id="theme-root" class="theme--neutral">
  <vgr-scroll-to-top></vgr-scroll-to-top>
  <vgr-modal></vgr-modal>
  <vgr-sidebar-menu>
    <vgr-menu title="Komponentkartan">
      <vgr-menu-item link="/" text="Start"></vgr-menu-item>
      <vgr-menu-item link="/theming" text="Temahantering"></vgr-menu-item>
      <vgr-menu-item link="/pagestructure" text="Sidhantering"></vgr-menu-item>
      <vgr-menu-item link="/formattemplate" text="Formatmall"></vgr-menu-item>
      <vgr-menu-item link="/colours" text="Färgkarta"></vgr-menu-item>
      <vgr-menu-item link="/icons-overview" text="Ikoner"></vgr-menu-item>
      <vgr-menu-item link="/sizes" text="Upplösning"></vgr-menu-item>
      <vgr-menu-separator></vgr-menu-separator>
      <vgr-submenu text="Komponenter">
        <vgr-menu-item link="/actionPanels" text="Action panel"></vgr-menu-item>
        <vgr-menu-item link="/backtotop" text="Back to top"></vgr-menu-item>
        <vgr-menu-item link="/textbuttons" text="Button"></vgr-menu-item>
        <vgr-menu-item link="/card" text="Card"></vgr-menu-item>
        <vgr-menu-item link="/checkbox" text="Checkbox"></vgr-menu-item>
        <vgr-menu-item link="/closebutton" text="Close button"></vgr-menu-item>
        <vgr-menu-item link="/datepicker" text="Datepicker"></vgr-menu-item>
        <vgr-menu-item link="/dropdown-select" text="Dropdown select"></vgr-menu-item>
        <vgr-menu-item link="/expandablediv" text="Expandable div"></vgr-menu-item>
        <vgr-menu-item link="/filter-tag" text="Filter tag"></vgr-menu-item>
        <vgr-menu-item link="/grid" text="Grid"></vgr-menu-item>
        <vgr-menu-item link="/headers" text="Header/header menu"></vgr-menu-item>
        <vgr-menu-item link="/inputFields" text="Input"></vgr-menu-item>
        <vgr-menu-item link="/loader" text="Loader"></vgr-menu-item>
        <vgr-menu-item link="/lockbutton" text="Lock button"></vgr-menu-item>
        <vgr-menu-item link="/menu" text="Menu"></vgr-menu-item>
        <vgr-menu-item link="/modaldialog" text="Modal dialog"></vgr-menu-item>
        <vgr-menu-item link="/notification" text="Notification"></vgr-menu-item>
        <vgr-menu-item link="/page-block" text="Page block"></vgr-menu-item>
        <vgr-menu-item link="/page-header" text="Page header"></vgr-menu-item>
        <vgr-menu-item link="/panels" text="Panel/Dashboard"></vgr-menu-item>
        <vgr-menu-item link="/pagination-documentation" text="Pagination"></vgr-menu-item>
        <vgr-menu-item link="/radioButtons" text="Radio Group"></vgr-menu-item>
        <vgr-menu-item link="/ring-with-text" text="Ring med text (för ex. initialer)"></vgr-menu-item>
        <vgr-menu-item link="/savecancel" text="Save/Cancel"></vgr-menu-item>
        <vgr-menu-item link="/search-results" text="Search results"></vgr-menu-item>
        <vgr-menu-item link="/table" text="Table"></vgr-menu-item>
        <vgr-menu-item link="/textareaField" text="Textarea"></vgr-menu-item>
        <vgr-menu-item link="/titlevalue" text="Title-value"></vgr-menu-item>
        <vgr-menu-item link="/toggle-button" text="Toggle button"></vgr-menu-item>
        <vgr-menu-item link="/inactive" text="Inaktivt Menyval" [disabled]="true"></vgr-menu-item>
      </vgr-submenu>
      <vgr-submenu text="Kodexempel">
        <vgr-menu-item link="/reactiveformsexample" text="Reactive Forms"></vgr-menu-item>
      </vgr-submenu>
    </vgr-menu>
  </vgr-sidebar-menu>
  <vgr-header [systemText]="systemText">
    <vgr-header-menu [userName]="userName" textColor="black" circleColor="#f9dede">
      <vgr-submenu text="Tema">
        <vgr-menu-item text="Neutral" (action)="changeTheme('neutral')"></vgr-menu-item>
        <vgr-menu-item text="Blått" (action)="changeTheme('blue')"></vgr-menu-item>
        <vgr-menu-item text="Rött" (action)="changeTheme('red')"></vgr-menu-item>
        <vgr-menu-item text="Grönt" (action)="changeTheme('green')"></vgr-menu-item>
        <vgr-menu-item text="Rosa" (action)="changeTheme('pinkie')"></vgr-menu-item>
      </vgr-submenu>
    </vgr-header-menu>
  </vgr-header>
  <router-outlet></router-outlet>
</div>
