<vgr-page>
  <vgr-page-header [title]="'Enheter'">

    <div class="column-layout column-layout--pull-left">
      <h3>Filtrera enheter</h3>
      <div class="row-layout row-layout--equal-height">
        <vgr-filter-textbox (valueChanged)="filtertext = $event"></vgr-filter-textbox>
        <vgr-button (click)="openActionPanel()">Lägg till ny enhet</vgr-button>
      </div>
      <vgr-checkbox (checkedChanged)="includeInactiveUnits = $event" [checked]="includeInactiveUnits"
        [label]="'Inkludera stängda enheter'"></vgr-checkbox>
    </div>
  </vgr-page-header>
  <vgr-page-body>
    <vgr-action-panel (openChanged)="onActionPanelOpenChanged($event)"
      [showCloseButton]="!addNewUnit && showActionPanel" [open]="showActionPanel" [title]="'Lägg till ny enhet'">
      <div *ngIf="!addNewUnit">
        <div class="row-layout">
          <label style="width: 150px">Välj enhet</label>
          <vgr-dropdown-select width="100%" [formControl]="unitCandidateForm">
            <vgr-dropdown-item *ngFor="let unit of unitCandidates" [value]="unit.hsaid">{{unit.name}}
            </vgr-dropdown-item>
          </vgr-dropdown-select>
          <vgr-button [buttonStyle]="'secondary'" [disabled]="!unitCandidateForm.value" (click)="onNewUnitClick()">Lägg
            till</vgr-button>
        </div>
      </div>
      <vgr-card *ngIf="addNewUnit">
        <vgr-card-header>
          <div class="row-layout">
            <label style="width:200px">Enhet</label>
            <label>{{selectedUnit}}</label>
          </div>
          <div class="flex-right">
            <vgr-button class="enhet-card__abort-button" (click)="onNewUnitCancel()" [buttonStyle]="'secondary'">Avbryt
            </vgr-button>
            <vgr-button [buttonStyle]="'secondary'" (click)="onNewUnitSave()">Spara enhet</vgr-button>
          </div>
        </vgr-card-header>
        <vgr-card-column>
          <form [formGroup]="newUnitForm">
            <vgr-card-section [title]=" 'Enhetsinformation'" expanded="true" [readonly]="newCardLocked">
              <vgr-title-value-layout>
                <vgr-title-value [slim]="newCardLocked">
                  <vgr-title-value-heading>HSA-id</vgr-title-value-heading>
                  <vgr-title-value-container [width]="2">
                    <vgr-input [width]="'100%'" [readonly]="true" formControlName="hsaid"></vgr-input>
                  </vgr-title-value-container>
                </vgr-title-value>
                <vgr-title-value [slim]="newCardLocked">
                  <vgr-title-value-heading>Avtalskod</vgr-title-value-heading>
                  <vgr-title-value-container [width]="2">
                    <vgr-input [width]="'100%'" formControlName="avtalskod"
                      [showValidation]="newUnitForm.controls.avtalskod.touched || submitted"
                      [errorMessage]="validationMessages.avtalskod" [readonly]="newCardLocked"></vgr-input>
                  </vgr-title-value-container>
                </vgr-title-value>
                <vgr-title-value [slim]="newCardLocked">
                  <vgr-title-value-heading>Enhetskod*</vgr-title-value-heading>
                  <vgr-title-value-container [width]="2">
                    <vgr-input [width]="'100%'" formControlName="enhetskod"
                      [showValidation]="newUnitForm.controls.enhetskod.touched || submitted"
                      [errorMessage]="validationMessages.enhetskod" [readonly]="newCardLocked"></vgr-input>
                  </vgr-title-value-container>
                </vgr-title-value>
              </vgr-title-value-layout>
              <form [formGroup]="onChangeForm">
                <vgr-title-value-layout>
                  <vgr-title-value [slim]="newCardLocked">
                    <vgr-title-value-heading>Nämnd*</vgr-title-value-heading>
                    <vgr-title-value-container [width]="2">
                      <vgr-dropdown-select width="100%" formControlName="namnd"
                        [showValidation]="onChangeForm.controls.namnd.touched || submitted"
                        [noItemSelectedLabel]=" 'Välj nämnd'" [readonly]="newCardLocked">
                        <vgr-dropdown-item *ngFor="let namnd of examplenamnd" [value]="namnd">{{namnd}}
                        </vgr-dropdown-item>
                      </vgr-dropdown-select>
                    </vgr-title-value-container>
                  </vgr-title-value>
                  <vgr-title-value [slim]="newCardLocked">
                    <vgr-title-value-heading>Avtalsperiod*</vgr-title-value-heading>
                    <vgr-title-value-container [width]="2">
                      <div class="row-layout row-layout--tight">
                        <vgr-datepicker [minZoom]="'m'" formControlName="avtalsperiod_start"
                          [showValidation]="onChangeForm.controls.avtalsperiod_start.touched || submitted"
                          [readonly]="newCardLocked" width="100%"></vgr-datepicker>
                        <vgr-datepicker [minZoom]="'m'" formControlName="avtalsperiod_slut"
                          [showValidation]="onChangeForm.controls.avtalsperiod_slut.touched || submitted"
                          [readonly]="newCardLocked" width="100%"></vgr-datepicker>
                      </div>
                    </vgr-title-value-container>
                  </vgr-title-value>
                </vgr-title-value-layout>
              </form>
            </vgr-card-section>
            <vgr-card-section [title]=" 'Enhetschef'" [expanded]="true" [readonly]="newCardLocked">
              <vgr-title-value-layout>
                <vgr-title-value [slim]="newCardLocked">
                  <vgr-title-value-heading>Enhetschef*</vgr-title-value-heading>
                  <vgr-title-value-container>
                    <vgr-input [width]="'100%'" formControlName="enhetschef"
                      [showValidation]="newUnitForm.controls.enhetschef.touched || submitted"
                      [readonly]="newCardLocked">
                    </vgr-input>
                  </vgr-title-value-container>
                </vgr-title-value>
                <vgr-title-value [slim]="newCardLocked">
                  <vgr-title-value-heading>Telefon</vgr-title-value-heading>
                  <vgr-title-value-container>
                    <vgr-input [width]="'100%'" formControlName="enhetschef_telefon" [readonly]="newCardLocked">
                    </vgr-input>
                  </vgr-title-value-container>
                </vgr-title-value>
                <vgr-title-value [slim]="newCardLocked">
                  <vgr-title-value-heading>E-post</vgr-title-value-heading>
                  <vgr-title-value-container>
                    <vgr-input [width]="'100%'" formControlName="enhetschef_epost" [readonly]="newCardLocked">
                    </vgr-input>
                  </vgr-title-value-container>
                </vgr-title-value>
              </vgr-title-value-layout>
            </vgr-card-section>
            <vgr-card-section [title]=" 'Avtalspart'" [expanded]="true" [readonly]="newCardLocked">
              <form [formGroup]="agarOwnerForm">
                <vgr-title-value-layout>
                  <vgr-title-value [slim]="newCardLocked">
                    <vgr-title-value-heading>Ägare*</vgr-title-value-heading>
                    <vgr-title-value-container>
                      <vgr-dropdown-select width="100%" formControlName="agare"
                        [showValidation]="agarOwnerForm.controls.agare.touched || submitted"
                        [noItemSelectedLabel]="'Välj ägare'" [readonly]="newCardLocked">
                        <vgr-dropdown-item *ngFor="let agare of exampleagare" [value]="agare">{{agare}}
                        </vgr-dropdown-item>
                      </vgr-dropdown-select>
                    </vgr-title-value-container>
                  </vgr-title-value>
                </vgr-title-value-layout>
              </form>
              <vgr-title-value-layout>
                <vgr-title-value [title]=" 'Ägarkod'" [slim]="newCardLocked">
                  <vgr-input [width]="'100%'" [readonly]="true" formControlName="agarkod"></vgr-input>
                </vgr-title-value>
                <vgr-title-value [title]=" 'Ägarform'" [slim]="newCardLocked">
                  <vgr-input [width]="'100%'" [readonly]="true" formControlName="agarform"></vgr-input>
                </vgr-title-value>
              </vgr-title-value-layout>
              <form [formGroup]="privateOwnerForm">
                <vgr-title-value-layout>
                  <vgr-title-value *ngIf="newUnitForm.controls.agarform.value==='Privat'" [title]=" 'Organisationsnr*'"
                    [slim]="newCardLocked">
                    <vgr-input [width]="'100%'" formControlName="organisationsnummer"
                      [showValidation]="privateOwnerForm.controls.organisationsnummer.touched || submitted"
                      [readonly]="newCardLocked"></vgr-input>
                  </vgr-title-value>
                  <vgr-title-value *ngIf="newUnitForm.controls.agarform.value==='Privat'" [title]=" 'Utbetalningssätt*'"
                    [slim]="newCardLocked">
                    <vgr-dropdown-select width="100%" formControlName="utbetalningssatt"
                      [showValidation]="privateOwnerForm.controls.utbetalningssatt.touched || submitted"
                      [noItemSelectedLabel]=" 'Välj Utbetalningssätt'" [readonly]="newCardLocked">
                      <vgr-dropdown-item [value]="'BG'">BG</vgr-dropdown-item>
                      <vgr-dropdown-item [value]="'PG'">PG</vgr-dropdown-item>
                    </vgr-dropdown-select>
                  </vgr-title-value>
                  <vgr-title-value *ngIf="newUnitForm.controls.agarform.value==='Privat'" [title]=" 'Kontonummer*'"
                    [slim]="newCardLocked">
                    <vgr-input [width]="'100%'" formControlName="kontonummer"
                      [showValidation]="privateOwnerForm.controls.kontonummer.touched || submitted"
                      [readonly]="newCardLocked"></vgr-input>
                  </vgr-title-value>
                </vgr-title-value-layout>
              </form>
              <vgr-title-value-layout>
                <vgr-title-value [title]=" 'Leverantörsid RD*'" [slim]="newCardLocked">
                  <vgr-input [width]="'100%'" formControlName="leverantorsid"
                    [showValidation]="newUnitForm.controls.leverantorsid.touched || submitted"
                    [readonly]="newCardLocked"></vgr-input>
                </vgr-title-value>
                <vgr-title-value [title]=" 'Kundreferens'" [slim]="newCardLocked">
                  <vgr-input [width]="'100%'" formControlName="kundreferens" [readonly]="newCardLocked"></vgr-input>
                </vgr-title-value>
              </vgr-title-value-layout>
            </vgr-card-section>
          </form>
        </vgr-card-column>
        <vgr-card-column>
          <vgr-card-section [title]=" 'Adressinformation'" [readonly]="true" [expanded]="true">
            <vgr-title-value-layout>
              <vgr-title-value [slim]="cardLocked">
                <vgr-title-value-heading>Kommun</vgr-title-value-heading>
                <vgr-title-value-container>
                  <span>{{newUnit?.details.kommun}}</span>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value [slim]="cardLocked">
                <vgr-title-value-heading>Kommunkod</vgr-title-value-heading>
                <vgr-title-value-container>
                  <span>{{newUnit?.details.kommunkod}}</span>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value [slim]="cardLocked">
                <vgr-title-value-heading>Postadress</vgr-title-value-heading>
                <vgr-title-value-container>
                  <span>{{newUnit?.details.postadress_gata}}
                    <br> {{newUnit?.details.postadress_postnummer}}
                    <br> {{newUnit?.details.postadress_stad}}
                  </span>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value [slim]="cardLocked">
                <vgr-title-value-heading>Besöksadress</vgr-title-value-heading>
                <vgr-title-value-container>
                  <span>{{newUnit?.details.besoksadress_gata}}
                    <br> {{newUnit?.details.besoksadress_postnummer}}
                    <br> {{newUnit?.details.besoksadress_stad}}
                  </span>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value [slim]="cardLocked">
                <vgr-title-value-heading>Geokod (PT90)</vgr-title-value-heading>
                <vgr-title-value-container>
                  <span>{{newUnit?.details.geokod}}</span>
                </vgr-title-value-container>
              </vgr-title-value>
              <vgr-title-value [slim]="cardLocked">
                <vgr-title-value-heading>Telefon</vgr-title-value-heading>
                <vgr-title-value-container>
                  <span>{{newUnit?.details.telefon}}</span>
                </vgr-title-value-container>
              </vgr-title-value>
            </vgr-title-value-layout>
          </vgr-card-section>
          <vgr-card-section [title]=" 'Ersättningsgrundande information'" [expanded]="true" [readonly]="newCardLocked">
            <form [formGroup]="newUnitForm">
              <vgr-title-value-layout>
                <vgr-title-value [slim]="newCardLocked">
                  <vgr-title-value-heading [width]="3">Medverkan i familjecentral</vgr-title-value-heading>
                  <vgr-title-value-container>
                    <vgr-dropdown-select width="100%" formControlName="medverkanIFamiljecentral"
                      [showValidation]="newUnitForm.controls.medverkanIFamiljecentral.touched || submitted"
                      [noItemSelectedLabel]=" 'Välj'" [readonly]="newCardLocked">
                      <vgr-dropdown-item [value]="'ja'">Ja</vgr-dropdown-item>
                      <vgr-dropdown-item [value]="'nej'">Nej</vgr-dropdown-item>
                    </vgr-dropdown-select>
                  </vgr-title-value-container>
                </vgr-title-value>
                <vgr-title-value [slim]="newCardLocked">
                  <vgr-title-value-heading [width]="3">Regionsövergripande grupper (kr/månad)
                  </vgr-title-value-heading>
                  <vgr-title-value-container>
                    <vgr-input [width]="'100%'" formControlName="regionsovergripandegrupper" [readonly]="newCardLocked">
                    </vgr-input>
                  </vgr-title-value-container>
                </vgr-title-value>
              </vgr-title-value-layout>
            </form>
          </vgr-card-section>
        </vgr-card-column>
      </vgr-card>
    </vgr-action-panel>
    <vgr-page-block>
      <vgr-list (sortChanged)="onSortChanged($event)" [notification]="listNotification"
        [flexibleHeader]="showActionPanel">
        <vgr-list-header>
          <vgr-list-column-header width="5" sortKey="enhet" [sortDirection]="sortDirections.Ascending">Enhet
          </vgr-list-column-header>
          <vgr-list-column-header width="5" [align]="'left'" sortKey="hsaid">HSA-ID</vgr-list-column-header>
          <vgr-list-column-header width="3" sortKey="agare">Ägare</vgr-list-column-header>
          <vgr-list-column-header [align]="'right'" width="2" sortKey="enhetskod">Enhetskod</vgr-list-column-header>
          <vgr-list-column-header width="5" sortKey="namnd">Nämnd</vgr-list-column-header>
        </vgr-list-header> <!-- | unitfilter:filtertext: includeInactiveUnits -->
        <vgr-list-item *ngFor="let row of exampleData | unitfilter:filtertext: includeInactiveUnits"
          [notification]="row.notification" (expandedChanged)="onExpandedChanged($event,row)"
          (notificationChanged)="removeNotification($event,row)">
          <vgr-list-item-header>
            <vgr-list-column width="5">{{row.previewObject.enhet}}</vgr-list-column>
            <vgr-list-column width="5">{{row.previewObject.hsaid}}</vgr-list-column>
            <vgr-list-column width="3">{{row.previewObject.agare}}</vgr-list-column>
            <vgr-list-column [align]="'right'" width="2">{{row.previewObject.enhetskod}}</vgr-list-column>
            <vgr-list-column width="5">{{row.previewObject.namnd}}</vgr-list-column>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <div *ngIf="row.previewObject.vald">
              <vgr-card>
                <vgr-card-header>
                  <div class="row-layout">
                    <label style="width:189px">Version</label>
                    <vgr-dropdown-select [small]="true" [readonly]="!cardLocked" [formControl]="versionForm"
                      (selectedChanged)="onSelectedChangedVersion($event, row.previewObject)">
                      <vgr-dropdown-item *ngFor="let version of row.previewObject.details.versions" [value]="version">
                        {{version}}</vgr-dropdown-item>
                    </vgr-dropdown-select>
                  </div>
                  <div class="flex-right">
                    <vgr-save-cancel [secondary]="true" [locked]="cardLocked" (cancel)="onCardCancel(row)"
                      (save)="onCardSave($event, row)" (unlock)="onCardUnlocked(row)"></vgr-save-cancel>
                  </div>
                </vgr-card-header>
                <vgr-card-column>
                  <form [formGroup]="editUnitForm">
                    <vgr-card-section [title]=" 'Enhetsinformation'" expanded="true" [readonly]="cardLocked">
                      <vgr-title-value-layout>
                        <vgr-title-value [slim]="cardLocked">
                          <vgr-title-value-heading>HSA-id</vgr-title-value-heading>
                          <vgr-title-value-container [width]="2">
                            <vgr-input [width]="'100%'" [readonly]="true" formControlName="hsaid"></vgr-input>
                          </vgr-title-value-container>
                        </vgr-title-value>
                        <vgr-title-value [slim]="cardLocked">
                          <vgr-title-value-heading>Avtalskod*</vgr-title-value-heading>
                          <vgr-title-value-container [width]="2">
                            <vgr-input [width]="'100%'" formControlName="avtalskod"
                              [showValidation]="editUnitForm.controls.avtalskod.touched || submitted"
                              [errorMessage]="validationMessages.avtalskod" [readonly]="cardLocked"></vgr-input>
                          </vgr-title-value-container>
                        </vgr-title-value>
                        <vgr-title-value [slim]="cardLocked">
                          <vgr-title-value-heading>Enhetskod*</vgr-title-value-heading>
                          <vgr-title-value-container [width]="2">
                            <vgr-input [width]="'100%'" formControlName="enhetskod"
                              [showValidation]="editUnitForm.controls.enhetskod.touched || submitted"
                              [errorMessage]="validationMessages.enhetskod" [readonly]="cardLocked"></vgr-input>
                          </vgr-title-value-container>
                        </vgr-title-value>
                        <vgr-title-value [slim]="cardLocked">
                          <vgr-title-value-heading>Nämnd*</vgr-title-value-heading>
                          <vgr-title-value-container [width]="2">
                            <vgr-dropdown-select width="100%" formControlName="namnd"
                              [showValidation]="editUnitForm.controls.namnd.touched || submitted"
                              [noItemSelectedLabel]=" 'Välj nämnd'" [readonly]="cardLocked">
                              <vgr-dropdown-item *ngFor="let namnd of examplenamnd" [value]="namnd">{{namnd}}
                              </vgr-dropdown-item>
                            </vgr-dropdown-select>
                          </vgr-title-value-container>
                        </vgr-title-value>
                        <vgr-title-value [slim]="cardLocked">
                          <vgr-title-value-heading>Avtalsperiod*</vgr-title-value-heading>
                          <vgr-title-value-container [width]="2">
                            <div class="row-layout  row-layout--tight">
                              <vgr-datepicker [minZoom]="'m'" formControlName="avtalsperiod_start"
                                [showValidation]="editUnitForm.controls.avtalsperiod_start.touched || submitted"
                                [readonly]="cardLocked" width="100%"></vgr-datepicker>
                              <vgr-datepicker [minZoom]="'m'" formControlName="avtalsperiod_slut"
                                [showValidation]="editUnitForm.controls.avtalsperiod_slut.touched || submitted"
                                [readonly]="cardLocked" width="100%"></vgr-datepicker>
                            </div>
                          </vgr-title-value-container>
                        </vgr-title-value>
                      </vgr-title-value-layout>
                    </vgr-card-section>
                    <vgr-card-section [title]=" 'Enhetschef'" [expanded]="false" [readonly]="cardLocked">
                      <vgr-title-value-layout>
                        <vgr-title-value [slim]="cardLocked">
                          <vgr-title-value-heading>Enhetschef*</vgr-title-value-heading>
                          <vgr-title-value-container>
                            <vgr-input [width]="'100%'" formControlName="enhetschef"
                              [showValidation]="editUnitForm.controls.enhetschef.touched || submitted"
                              [readonly]="cardLocked"></vgr-input>
                          </vgr-title-value-container>
                        </vgr-title-value>
                        <vgr-title-value [slim]="cardLocked">
                          <vgr-title-value-heading>Telefon</vgr-title-value-heading>
                          <vgr-title-value-container>
                            <vgr-input [width]="'100%'" formControlName="enhetschef_telefon" [readonly]="cardLocked">
                            </vgr-input>
                          </vgr-title-value-container>
                        </vgr-title-value>
                        <vgr-title-value [slim]="cardLocked">
                          <vgr-title-value-heading>E-post</vgr-title-value-heading>
                          <vgr-title-value-container>
                            <vgr-input [width]="'100%'" formControlName="enhetschef_epost" [readonly]="cardLocked">
                            </vgr-input>
                          </vgr-title-value-container>
                        </vgr-title-value>
                      </vgr-title-value-layout>
                    </vgr-card-section>
                    <vgr-card-section [title]=" 'Avtalspart'" [expanded]="false" [readonly]="cardLocked">
                      <vgr-title-value-layout>
                        <vgr-title-value [slim]="cardLocked">
                          <vgr-title-value-heading>Ägare*</vgr-title-value-heading>
                          <vgr-title-value-container>
                            <vgr-dropdown-select width="100%" formControlName="agare"
                              [showValidation]="editUnitForm.controls.agare.touched || submitted"
                              [noItemSelectedLabel]="'Välj ägare'" [readonly]="cardLocked">
                              <vgr-dropdown-item *ngFor="let agare of exampleagare" [value]="agare">{{agare}}
                              </vgr-dropdown-item>
                            </vgr-dropdown-select>
                          </vgr-title-value-container>
                        </vgr-title-value>
                        <vgr-title-value [slim]="cardLocked">
                          <vgr-title-value-heading>Ägarkod</vgr-title-value-heading>
                          <vgr-title-value-container>
                            <vgr-input [width]="'100%'" [readonly]="true" formControlName="agarkod"></vgr-input>
                          </vgr-title-value-container>
                        </vgr-title-value>
                        <vgr-title-value [slim]="cardLocked">
                          <vgr-title-value-heading>Ägarform</vgr-title-value-heading>
                          <vgr-title-value-container>
                            <vgr-input [width]="'100%'" [readonly]="true" formControlName="agarform"></vgr-input>
                          </vgr-title-value-container>
                        </vgr-title-value>
                      </vgr-title-value-layout>


                      <form [formGroup]="editprivateOwnerForm" *ngIf="editUnitForm.controls.agarform.value==='Privat'">
                        <vgr-title-value-layout>
                          <vgr-title-value [slim]="cardLocked">
                            <vgr-title-value-heading>Organisationsnr*</vgr-title-value-heading>
                            <vgr-title-value-container>
                              <vgr-input [width]="'100%'" formControlName="organisationsnummer"
                                [showValidation]="editprivateOwnerForm.controls.organisationsnummer.touched || submitted"
                                [readonly]="cardLocked"></vgr-input>
                            </vgr-title-value-container>
                          </vgr-title-value>
                          <vgr-title-value [slim]="cardLocked">
                            <vgr-title-value-heading>Utbetalningssätt*</vgr-title-value-heading>
                            <vgr-title-value-container>
                              <vgr-dropdown-select width="100%" formControlName="utbetalningssatt"
                                [showValidation]="editprivateOwnerForm.controls.utbetalningssatt.touched || submitted"
                                [noItemSelectedLabel]=" 'Välj Utbetalningssätt'" [readonly]="cardLocked">
                                <vgr-dropdown-item [value]="'PG'">PG</vgr-dropdown-item>
                                <vgr-dropdown-item [value]="'BG'">BG</vgr-dropdown-item>
                              </vgr-dropdown-select>
                            </vgr-title-value-container>
                          </vgr-title-value>
                          <vgr-title-value [slim]="cardLocked">
                            <vgr-title-value-heading>Kontonummer*</vgr-title-value-heading>
                            <vgr-title-value-container>
                              <vgr-input [width]="'100%'" formControlName="kontonummer"
                                [showValidation]="editprivateOwnerForm.controls.kontonummer.touched || submitted"
                                [readonly]="cardLocked"></vgr-input>
                            </vgr-title-value-container>
                          </vgr-title-value>
                        </vgr-title-value-layout>
                      </form>
                      <vgr-title-value-layout>
                        <vgr-title-value [title]=" 'Leverantörsid RD*'" [slim]="cardLocked">
                          <vgr-input [width]="'100%'" formControlName="leverantorsid"
                            [showValidation]="editUnitForm.controls.leverantorsid.touched || submitted"
                            [readonly]="cardLocked"></vgr-input>
                        </vgr-title-value>
                        <vgr-title-value [title]=" 'Kundreferens'" [slim]="cardLocked">
                          <vgr-input [width]="'100%'" formControlName="kundreferens" [readonly]="cardLocked">
                          </vgr-input>
                        </vgr-title-value>
                      </vgr-title-value-layout>
                    </vgr-card-section>
                  </form>
                </vgr-card-column>
                <vgr-card-column>
                  <vgr-card-section [title]=" 'Adressinformation'" [readonly]="true" [expanded]="true">
                    <vgr-title-value-layout>
                      <vgr-title-value [slim]="cardLocked">
                        <vgr-title-value-heading>Kommun</vgr-title-value-heading>
                        <vgr-title-value-container>
                          <span>{{row.previewObject.details.kommun}}</span>
                        </vgr-title-value-container>
                      </vgr-title-value>
                      <vgr-title-value [slim]="cardLocked">
                        <vgr-title-value-heading>Kommunkod</vgr-title-value-heading>
                        <vgr-title-value-container>
                          <span>{{row.previewObject.details.kommunkod}}</span>
                        </vgr-title-value-container>
                      </vgr-title-value>
                      <vgr-title-value [slim]="cardLocked">
                        <vgr-title-value-heading>Postadress</vgr-title-value-heading>
                        <vgr-title-value-container>
                          <span>{{row.previewObject.details.postadress_gata}}
                            <br> {{row.previewObject.details.postadress_postnummer}}
                            <br> {{row.previewObject.details.postadress_stad}}
                          </span>
                        </vgr-title-value-container>
                      </vgr-title-value>
                      <vgr-title-value [slim]="cardLocked">
                        <vgr-title-value-heading>Besöksadress</vgr-title-value-heading>
                        <vgr-title-value-container>
                          <span>{{row.previewObject.details.besoksadress_gata}}
                            <br> {{row.previewObject.details.besoksadress_postnummer}}
                            <br> {{row.previewObject.details.besoksadress_stad}}
                          </span>
                        </vgr-title-value-container>
                      </vgr-title-value>
                      <vgr-title-value [slim]="cardLocked">
                        <vgr-title-value-heading>Geokod (PT90)</vgr-title-value-heading>
                        <vgr-title-value-container>
                          <!-- <vgr-input>{{row.previewObject.details.geokod}}</vgr-input> -->

                          <section class="row-layout row-layout--tight">
                            <vgr-input [readonly]="cardLocked" [value]="row.previewObject.details.geokod.x" suffix=":x"
                              [small]="true" [alignRight]="true" width="100%"></vgr-input>
                            <vgr-input [readonly]="cardLocked" [value]="row.previewObject.details.geokod.y" suffix=":y"
                              [small]="true" [alignRight]="true" width="100%"></vgr-input>
                          </section>
                        </vgr-title-value-container>
                      </vgr-title-value>
                      <vgr-title-value [slim]="cardLocked">
                        <vgr-title-value-heading>Telefon</vgr-title-value-heading>
                        <vgr-title-value-container>
                          <span>{{row.previewObject.details.telefon}}</span>
                        </vgr-title-value-container>
                      </vgr-title-value>


                    </vgr-title-value-layout>
                  </vgr-card-section>
                  <vgr-card-section [title]=" 'Ersättningsgrundande information'" [expanded]="false"
                    [readonly]="cardLocked">
                    <form [formGroup]="editUnitForm">
                      <vgr-title-value-layout>

                        <vgr-title-value [slim]="cardLocked">
                          <vgr-title-value-heading [width]="3">Medverkan i familjecentral</vgr-title-value-heading>
                          <vgr-title-value-container>
                            <vgr-dropdown-select width="100%" formControlName="medverkanIFamiljecentral"
                              [showValidation]="editUnitForm.controls.medverkanIFamiljecentral.touched || submitted"
                              [noItemSelectedLabel]=" 'Välj'" [readonly]="cardLocked">
                              <vgr-dropdown-item [value]="'ja'">Ja</vgr-dropdown-item>
                              <vgr-dropdown-item [value]="'nej'">Nej</vgr-dropdown-item>
                            </vgr-dropdown-select>
                          </vgr-title-value-container>
                        </vgr-title-value>
                        <vgr-title-value [slim]="cardLocked">
                          <vgr-title-value-heading [width]="3">Regionsövergripande grupper (kr/månad)
                          </vgr-title-value-heading>
                          <vgr-title-value-container>
                            <vgr-input [width]="'100%'" formControlName="regionsovergripandegrupper"
                              [readonly]="cardLocked"></vgr-input>
                          </vgr-title-value-container>
                        </vgr-title-value>
                      </vgr-title-value-layout>
                    </form>
                  </vgr-card-section>
                </vgr-card-column>
              </vgr-card>
            </div>
          </vgr-list-item-content>
        </vgr-list-item>
      </vgr-list>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
