<vgr-page class="no-sort">
  <vgr-page-header [title]="'Hemsidan'"></vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <h1>Block</h1>
    </vgr-page-block>
    
    
    <vgr-grid>
      <vgr-grid-header [allowSort]="false">
        <vgr-grid-header-column width="6">Vårdcentral</vgr-grid-header-column>
        <vgr-grid-header-column width="4">1 st</vgr-grid-header-column>
        <vgr-grid-header-column width="3">Ersättning</vgr-grid-header-column>
        <vgr-grid-header-column width="3"></vgr-grid-header-column>
        <vgr-grid-header-column width="2">Status</vgr-grid-header-column>
        <vgr-grid-header-column width="5"></vgr-grid-header-column>
      </vgr-grid-header>
      <vgr-grid-row>
        <vgr-grid-column width="10">Balderkliniken</vgr-grid-column>
        <vgr-grid-column width="3">-131 980,87</vgr-grid-column>
        <vgr-grid-column width="3"></vgr-grid-column>
        <vgr-grid-column width="2">Skall godkännas</vgr-grid-column>
        <vgr-grid-column width="5"></vgr-grid-column>
        <vgr-grid-content>Row content</vgr-grid-content>
      </vgr-grid-row>
      <vgr-grid-row>
        <vgr-grid-column width="10">En annan klinik</vgr-grid-column>
        <vgr-grid-column width="3">-980,87</vgr-grid-column>
        <vgr-grid-column width="3"></vgr-grid-column>
        <vgr-grid-column width="2">Godkänd</vgr-grid-column>
        <vgr-grid-column width="5"></vgr-grid-column>
      </vgr-grid-row>
      <vgr-grid-row>
        <vgr-grid-column width="10">Svens klinik</vgr-grid-column>
        <vgr-grid-column width="3">123 456,98</vgr-grid-column>
        <vgr-grid-column width="3"></vgr-grid-column>
        <vgr-grid-column width="2">Skall godkännas</vgr-grid-column>
        <vgr-grid-column width="5"></vgr-grid-column>
        <vgr-grid-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet nunc sit amet massa dignissim, non iaculis tortor placerat. Suspendisse pellentesque nibh eu augue auctor, eget tempor eros porttitor. Sed mollis, velit sed hendrerit tempor, turpis est blandit nibh, sit amet pharetra turpis leo nec felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque eget mauris ultricies lorem consectetur ullamcorper sit amet eget felis. Donec posuere aliquam aliquam. Quisque molestie in lacus id condimentum. Nulla nec urna metus. Sed a risus turpis. In quis aliquet mi, id aliquet magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam pretium ipsum odio, non scelerisque odio auctor eu. Donec ultrices velit a tempus pharetra.</p>

          <p>Pellentesque egestas viverra consequat. Phasellus mollis aliquet libero quis eleifend. Nullam at dolor interdum, interdum lacus non, rutrum nulla. Phasellus laoreet quam quis justo mattis, sit amet vehicula diam ullamcorper. Nulla a quam id nibh aliquam accumsan at ut lectus. Nullam dictum dolor vel scelerisque tempus. Phasellus vel nisi justo. Praesent blandit ultricies lacus, ac ornare leo hendrerit ullamcorper. Etiam ipsum eros, faucibus luctus hendrerit sit amet, bibendum in felis. Phasellus imperdiet, ante sed viverra tincidunt, ante quam dictum urna, et condimentum lacus neque nec ligula. Nullam aliquet vel eros vitae lacinia.</p>

          <p>Nunc interdum ut leo sed tempus. Vivamus lacinia quis diam sed lobortis. Sed tempor nisl non nibh aliquet dignissim. Vestibulum sed egestas orci, vel mattis justo. Donec tortor risus, lacinia in placerat ac, finibus feugiat nunc. Phasellus bibendum odio et mauris scelerisque lobortis. Duis dignissim sagittis justo, vel ultricies neque porttitor nec. Nam laoreet consequat lobortis. Phasellus a eleifend nisi, eget rutrum ex. Praesent scelerisque pulvinar dui, in blandit nisl feugiat ut. Phasellus egestas enim nulla, euismod tempor nulla consectetur sed. Nulla tincidunt molestie nibh. Suspendisse at venenatis quam. Pellentesque eu volutpat orci. Suspendisse eget facilisis nunc. Duis mollis turpis non erat pharetra pulvinar.</p>

          <p>Donec molestie urna id pharetra aliquam. Donec vulputate libero risus, nec luctus nisl laoreet sit amet. Suspendisse et dignissim nunc, a pellentesque tellus. Vestibulum eu euismod est. Nam aliquet sem in mauris porta aliquet. Sed maximus feugiat arcu volutpat faucibus. Duis feugiat molestie vulputate. Suspendisse ac placerat odio, nec venenatis dolor. Phasellus eget libero id urna auctor laoreet. Curabitur laoreet urna et purus ultrices, quis tincidunt mauris porta. Ut sodales eget libero id cursus. Sed malesuada augue et porta tempus. Mauris vel viverra est, ac congue urna. Integer est libero, consectetur nec faucibus eu, pulvinar sed tellus. Nam maximus ultricies velit ut tempor. Pellentesque ut enim eget lacus volutpat tincidunt posuere eu risus.</p>

          <p>Suspendisse vitae gravida odio. Nunc mollis, metus ut elementum mollis, quam orci maximus enim, sit amet lobortis ipsum dui sit amet nisi. Vivamus vitae suscipit libero, non viverra eros. Suspendisse tortor libero, imperdiet sed arcu id, viverra eleifend leo. Vivamus fringilla varius auctor. In ultricies enim nisl, non bibendum metus hendrerit ut. Curabitur sit amet sodales tortor, quis sagittis nunc. In scelerisque ornare placerat. Integer molestie ac urna in facilisis. Nunc in massa vel justo tristique ornare sed sit amet odio. Morbi lacus odio, blandit quis dui sit amet, eleifend mattis purus.</p>

          <p>In hac habitasse platea dictumst. Praesent nec mi lorem. Etiam faucibus ut velit tristique faucibus. Vestibulum mollis ipsum tellus, vel tincidunt elit congue eget. Nulla ut magna turpis. Phasellus dapibus mauris mi, sit amet suscipit felis cursus a. Morbi sed pretium enim, eu hendrerit tortor. In hac habitasse platea dictumst. Proin dapibus ligula justo, et malesuada quam iaculis sit amet. Duis faucibus, mi in bibendum aliquam, elit mauris pretium nulla, vitae venenatis orci enim eget lectus. Suspendisse mollis, nunc a laoreet congue, libero nulla euismod elit, id mattis sem magna ullamcorper orci. Donec id neque convallis, fermentum arcu sit amet, pharetra odio.</p>

          <p>Mauris non pellentesque dolor, ullamcorper laoreet tortor. Nunc scelerisque ante vitae est tincidunt sagittis. Quisque facilisis nulla eget augue condimentum tristique. Etiam et ipsum elementum, lacinia ex quis, commodo odio. Aliquam accumsan vehicula felis ut posuere. Vestibulum id velit id mauris tristique scelerisque vestibulum sed magna. Etiam lectus augue, fermentum nec lectus id, sollicitudin posuere metus. Donec ac sem blandit, imperdiet est ac, ornare urna. Nulla in nulla tristique, facilisis augue quis, lacinia turpis. Cras pretium nulla eleifend sem viverra maximus. Donec feugiat arcu id enim sollicitudin maximus. Suspendisse potenti. Vivamus ac malesuada mi. Donec auctor non felis non accumsan.</p>
        </vgr-grid-content>
      </vgr-grid-row>
    </vgr-grid>
  </vgr-page-body>
</vgr-page>