<vgr-page>
  <vgr-page-header title="Arvids testsida"></vgr-page-header>
  <vgr-page-body>
    <button (click)="addRow()">lägg till rad</button>
    <vgr-grid (sortChanged)="sort2($event)" (pageChanged)="togglePeople()" [pages]="2" [stickyHeader]="true">
      <vgr-grid-header>
        <vgr-grid-header-column sortKey="fornamn">Förnamn</vgr-grid-header-column>
        <vgr-grid-header-column sortKey="efternamn">Efternamn</vgr-grid-header-column>
      </vgr-grid-header>
      <vgr-grid-row *ngFor="let person of people2">
        <vgr-grid-column>{{person.fornamn}}</vgr-grid-column>
        <vgr-grid-column>{{person.efternamn}}</vgr-grid-column>
        <vgr-grid-content>
          här står det något kul
        </vgr-grid-content>
      </vgr-grid-row>
    </vgr-grid>

    <vgr-grid (sortChanged)="sort($event)" toggleAnimation="slow" >
      <vgr-grid-header>
        <vgr-grid-header-column sortKey="namn">Förnamn</vgr-grid-header-column>
        <vgr-grid-header-column>Efternamn</vgr-grid-header-column>
      </vgr-grid-header>
      <vgr-grid-row *ngFor="let person of people" [expanded]="person.expanded"
        (expandedChanged)="person.expanded = $event">
        <vgr-grid-column>{{person.namn}}</vgr-grid-column>
        <vgr-grid-column>{{person.efternamn}}</vgr-grid-column>
        <vgr-notification *ngFor="let notification of person.notifications" [type]="notification.type"
          autoAddTypeIcons="true">
          {{notification.text}}
        </vgr-notification>
        <vgr-grid-content>
          <vgr-button [buttonStyle]="'secondary'" (click)="updateRow(person)">Uppdatera</vgr-button>
          <vgr-button [buttonStyle]="'secondary'" (click)="updateRow(person, true)">Uppdatera och rensa meddelande
          </vgr-button>
          <vgr-button [buttonStyle]="'secondary'" (click)="deleteRow(person)">Ta bort</vgr-button>
        </vgr-grid-content>
      </vgr-grid-row>
    </vgr-grid>
  </vgr-page-body>
</vgr-page>
