<vgr-page class="no-sort">
  <vgr-page-header [title]="'Arvids testsida'"></vgr-page-header>
  <vgr-page-body>
    <vgr-grid (sortChanged)="sort($event)">
      <vgr-grid-header>
        <vgr-grid-header-column sortKey="namn">Förnamn</vgr-grid-header-column>
        <vgr-grid-header-column>Efternamn</vgr-grid-header-column>
      </vgr-grid-header>
      <vgr-grid-row *ngFor="let person of people" [expanded]="person.expanded" (expandedChanged)="person.expanded = $event">
        <vgr-grid-column>{{person.namn}}</vgr-grid-column>
        <vgr-grid-column>{{person.efternamn}}</vgr-grid-column>
        <vgr-notification *ngFor="let notification of person.notifications" [type]="notification.type" autoAddTypeIcons="true">
          {{notification.text}}
        </vgr-notification>
        <vgr-grid-content>
          <vgr-button [buttonStyle]="'secondary'" (click)="updateRow(person)">Uppdatera</vgr-button>
          <vgr-button [buttonStyle]="'secondary'" (click)="updateRow(person, true)">Uppdatera och rensa meddelande</vgr-button>
          <vgr-button [buttonStyle]="'secondary'" (click)="deleteRow(person)">Ta bort</vgr-button>
        </vgr-grid-content>
      </vgr-grid-row>
    </vgr-grid>
  </vgr-page-body>
</vgr-page>