<div class="validation-container" [ngClass]="{
    'validation-error--active' : validationErrorState == validationErrorStates.Active,
    'validation-error--editing' : validationErrorState == validationErrorStates.Editing,
    'validation-error--fixed' : validationErrorState == validationErrorStates.Fixed
  }">
  <input type="text" #inputTextBox class="validated-input__textbox" (blur)="onLeave()" (focus)="onFocus()" [ngModel]="value"
    title="{{title}}" placeholder="{{placeholder}}" (ngModelChange)="value = $event" [maxlength]="maxlength" [attr.disabled]="disabled ? '' : null">
  <div class="validation-container__validation-area" title="{{validationErrorMessage}}">
    <div class="validation-container__validation-area__icon"></div>
    <div class="validation-container__validation-area__message">{{validationErrorMessage | truncate:64}}</div>
  </div>
</div>
