<div [ngClass]="{'page-header--actions-visible' : actionsVisible, 'page-header--actions-hidden' : !actionsVisible}">
    <div class="page-header__always-visible">
        <div class="page-header__top-border"></div>
        <div class="page-header__controls">
            <ng-content select=".page-header__control"></ng-content>
            <text-button *ngIf="enableActionsText" class="page-header__control" (buttonClick)="enableActions()">{{enableActionsText}}</text-button>
            <div class="page-header__control-panel control-with-heading">
                <h1 class="page-header__title">{{title}}</h1>
                <save-cancel *ngIf="saveCancel" class="page-header__save-cancel" (onCancel)="disableActions()" (onSave)="disableActions()"></save-cancel>
            </div>
        </div>
    </div>
    <div class="page-header__action-panel-area">
        <ng-content select=".page-header__action-panel"></ng-content>
    </div>
</div>