
<vgr-page class="no-sort">
    <vgr-page-header [title]="'Tab button'">
      <vgr-tab-button-group [width]="'500px'" [id]="'sidor'" >


        <vgr-tab-button *ngFor="let page of pages" [active]="page.active"  [tabId]="page.text" (selectedChanged)="navigate(page.text)" >{{page.text}}</vgr-tab-button>
        <vgr-tab-button  [disabled]="true">Disabled tab button</vgr-tab-button>
      </vgr-tab-button-group>


    </vgr-page-header>
    <vgr-page-body>
      <!-- Components before-->

      <router-outlet></router-outlet>
    </vgr-page-body>
  </vgr-page>
