<app-component-docs [componentName]="'Textarea'">
  <div class="docs__overview">
    <p>
      <code>
        &lt;vgr-textarea&gt; </code> är bra
      <br> - Konfigurerbar storlek.
    </p>
    <br>
    <br>
    <p>Förändras med tema:
      <strong>nej</strong>
    </p>
  </div>

  <div class="docs__examples">
    <form [formGroup]="form">
      <vgr-textarea formControlName="control2" [width]="'70%'" [height]="'200px'" [maxlength]="50" [placeholder]="'Vänligen fyll i text'"
        [readonly]="true"></vgr-textarea>
    </form>
    <div class="row-layout">
      <div class="full">
        <h2>Notera</h2>
        <ul>
          <li>
            För validering så använder vi Reactive Forms för att hantera detta. Validering kan ske på blur, change och submit.
          </li>
        </ul>
        Under "kodexempel" finns exempel på hur input-komponenten kan användas i Angular Reactive Forms:
        <br>
        <a href="/reactiveformsexample">Reactive Forms exempel</a>
      </div>
    </div>
  </div>

  <div class="docs__api">
    Api
  </div>


  <div class="docs__wcag">
    <p>
      Stöds ej.
    </p>
  </div>

</app-component-docs>
