<div class="main-content">
    <div class="komponentkarta-components">
        <div class="title-value-layout" style="width:50%">

            <vgr-title-value [title]="'Startmånad'">
                <vgr-monthpicker #validate [required]="true"></vgr-monthpicker>
            </vgr-title-value>
            <!-- <vgr-title-value [title]="'Ett datum'">
        <vgr-datepicker #validate></vgr-datepicker>
      </vgr-title-value>
      <vgr-title-value [title]="'Land'">
        <vgr-dropdown #validate [items]="items"></vgr-dropdown>
      </vgr-title-value>
      <vgr-title-value [title]="'Länder'">
        <vgr-dropdown-multiselect #validate [items]="multiItems"></vgr-dropdown-multiselect>
      </vgr-title-value> -->
            <vgr-button (click)="onSave()">Spara</vgr-button>
        </div>
        <div>Valideringsfel:</div>
        <div>{{validationStatus}}</div>
    </div>
</div>