<vgr-page>
  <vgr-page-header [title]="'Testlayout'">
    <vgr-button (click)="view='A'">View A</vgr-button>
    <vgr-button (click)="view='B'">View B</vgr-button>
    <vgr-button (click)="view='C'">View C</vgr-button>
    <vgr-button (click)="actionpanel=!actionpanel">Action</vgr-button>
  </vgr-page-header>
  <vgr-action-panel [expanded]="actionpanel" [title]="'Action-panel'">
    <vgr-card>
      <div class="card__top flex-row">
        <span>Enhet</span>
        <span style="margin-left:40px">Mödravården Mölndal</span>
        <vgr-save-cancel class="flex-right" [secondary]="true" (unlock)="onCardUnlocked()" (save)="cardSaved()" (cancel)="cardCancelled()"></vgr-save-cancel>
      </div>
    </vgr-card>
  </vgr-action-panel>

  <vgr-page-body [ngSwitch]="view">
    <vgr-fake-a *ngSwitchCase="'A'"></vgr-fake-a>
    <vgr-fake-b *ngSwitchCase="'B'"></vgr-fake-b>
    <vgr-fake-c *ngSwitchCase="'C'"></vgr-fake-c>
  </vgr-page-body>

</vgr-page>
