<vgr-page>
  <vgr-page-header [title]="'KomponentKarTa'">

    <div class="column-layout column-layout--pull-left">
      <vgr-radio-group [options]="themeOptions" (selectedChanged)="selectedThemeChanged($event)"></vgr-radio-group>
      <vgr-button (click)="expanded = !expanded">Öppna panel</vgr-button>
    </div>
  </vgr-page-header>
  <vgr-action-panel [expanded]="expanded">
    <h2>Här placerar man de åtgärder som hör ihop med headern</h2>
    <vgr-button (click)="actionPanelMessage='Åtgärden utfördes.'">Åtgärd</vgr-button>
    <h3>{{actionPanelMessage}}</h3>
  </vgr-action-panel>
  <vgr-page-body>
    <vgr-page-block>
      <h1>Ikoner</h1>
      <br>
      <div class="vgr-icon-message"></div>
      <div class="vgr-icon-trashcan"></div>
      <div class="vgr-icon-search"></div>
      <div class="vgr-icon-lock-button"></div>
      <div class="vgr-icon-pinkiepie"></div>
      <div class="vgr-icon-ok-check-green"></div>
    </vgr-page-block>
    <vgr-page-block>
      <div class=" column-layout column-layout--padded">

        <h1>Månadskalender</h1>

        <div>
          <p>Default formatering med ett extra år</p>
          <vgr-monthpicker style="margin-top: 20px" [maxDate]="maxDate"></vgr-monthpicker>
        </div>
      </div>

      <div class=" column-layout column-layout--padded">

        <h1>Inputfält</h1>

        <div>
          <p>Inputfält för inmatning av belopp i SEK</p>
          <vgr-input [suffix]="'kr'" [alignRight]="true"></vgr-input>
        </div>
        <div>
          <p>Inputfält för inmatning av text</p>
          <vgr-input placeholder="Skriv något här..."></vgr-input>
        </div>
      </div>


      <div class=" column-layout column-layout--padded">
        <h1>Dropdown</h1>
        <p>
          En dropdown innehåller ett valt element samt en lista över valbara alternativ. Kompletteras med filter vid över 20 items.
          Kompletteras med scroll vid över 8 items. För att inkludera en"Visa alla", ange
          <strong>[showAllItemText]</strong>. För att ge"Visa alla" ett annat namn vid val, ange
          <strong>[allItemsShownLabel]</strong>
        </p>
        <div class="markup-example">&lt;
          <strong>dropdown</strong> [items]="dropDownItems25All" [showAllItemText]="'Visa alla alternativ'" [allItemsShownLabel]="'Alla'"
          &gt;&lt;/
          <strong>dropdown</strong>&gt;</div>
        <div class="row-layout">
          <div>
            <p>200 items</p>
            <vgr-dropdown [items]="dropDownItems200" (selectedChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
          </div>
          <div>
            <p>4 items</p>
            <vgr-dropdown [items]="dropDownItems4" (selectedChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
          </div>
          <div>
            <p>9 items</p>
            <vgr-dropdown [items]="dropDownItems9" (selectedChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
          </div>
          <div>
            <p>25 items och Visa alla</p>
            <vgr-dropdown [items]="dropDownItems25All" [showAllItemText]="'Visa alla alternativ'" [noItemSelectedLabel]="'Välj alternativ'"
              (selectedChanged)="onSingleSelectionChanged($event)"></vgr-dropdown>
          </div>
        </div>
        <div class="row-layout">
          <div>
            <p>200 items readonly</p>
            <vgr-dropdown [items]="dropDownItems200" [readonly]="isReadonlyAndDisabled"></vgr-dropdown>
          </div>
          <div>
            <p>200 items disabled</p>
            <vgr-dropdown [items]="dropDownItems200" [disabled]="isReadonlyAndDisabled"></vgr-dropdown>
          </div>
          <div>
            <p id="toggleinfo">Toggle readonly och disabled</p>
            <vgr-button (click)="isReadonlyAndDisabled = !isReadonlyAndDisabled;">Toggle</vgr-button>
          </div>
        </div>
        <div>
          <span>Senaste val:</span>
          <span>{{lastSingleSelection}}</span>
        </div>
      </div>

      Dropdown multi
      <div class=" column-layout column-layout--padded">
        <h1>Dropdown Multiselect</h1>
        <p>
          En dropdown där man kan välja flera alternativ. Kompletteras med filter vid över 20 items. Kompletteras med scroll vid över
          8 items. Det är möjligt att byta namn på "Välj alla", "Visa alla" samt text då alla är valda. Ange properties
          <strong>[showAllItemText]</strong>,
          <strong>[displayAllItemsText]</strong>,
          <strong>[selectAllSelectedText]</strong>. Dropdown stängs inte när man väljer alternativ, förutom vid val av "alla".
        </p>
        <div class="markup-example">&lt;
          <strong>dropdown-multiselect</strong> [items]="dropDownItems25All" [selectAllItemText ]="'Välj alla alternativ'" [selectAllSelectedText]="'Alla'"
          &gt;&lt;/
          <strong>dropdown-multiselect</strong>&gt;</div>
        <div class="row-layout">
          <div>
            <p>7 items</p>
            <vgr-dropdown-multiselect [items]="dropDownItems7" (selectionChanged)="onMultipleSelectionChanged($event)"></vgr-dropdown-multiselect>
          </div>
          <div>
            <p>9 items</p>
            <vgr-dropdown-multiselect [items]=" dropDownItems9 " (selectionChanged)="onMultipleSelectionChanged($event) "></vgr-dropdown-multiselect>
          </div>
          <div>
            <p>25 items</p>
            <vgr-dropdown-multiselect [items]="dropDownItems25All " [selectAllItemText]="
                            'Välj alla alternativ' " [allItemsSelectedLabel]=" 'Alla' " [showAllItemText]=" 'Visa alla alternativ' "
              (selectionChanged)="onMultipleSelectionChanged($event) "></vgr-dropdown-multiselect>
          </div>
        </div>
        <div class="row-layout">
          <div>
            <p>8 items (3 pre-selected) readonly</p>
            <vgr-dropdown-multiselect [items]="dropMultipleDownItems8" [readonly]="isReadonlyAndDisabledMulti"></vgr-dropdown-multiselect>
          </div>
          <div>
            <p>8 items (3 pre-selected) disabled</p>
            <vgr-dropdown-multiselect [items]="dropMultipleDownItems8" [disabled]="isReadonlyAndDisabledMulti"></vgr-dropdown-multiselect>
          </div>
          <div>
            <p>Toggle readonly och disabled</p>
            <vgr-button (click)="isReadonlyAndDisabledMulti = !isReadonlyAndDisabledMulti;">Toggle</vgr-button>
          </div>
        </div>
        <div>
          <span>Senaste val:</span>
          <span>{{lastMultipleSelection}}</span>
        </div>
      </div>

      <div class="row-layout ">
        <div>
          <vgr-button (click)="showOneButtonModal() ">En knapp</vgr-button>
        </div>
        <div>
          <vgr-button (click)="showTwoButtonModal() ">Två knappar med lång text</vgr-button>
        </div>
        <div>
          <vgr-button (click)="showThreeButtonModal() ">Tre knappar</vgr-button>
        </div>
        <div>
          <vgr-button (click)="showSaveDontSaveCancelModal() ">Spara-SparaInte-Avbryt</vgr-button>
        </div>
      </div>
      <div>
        <span>Du svarade:</span>
        <span>{{lastModalAnswer}}</span>
      </div>

      <!-- Checkbox -->
      <div class=" column-layout ">
        <h1>Checkbox</h1>
        <p>
          Checkbox har properties för
          <strong>checked</strong> och
          <strong>disabled</strong>.
          <br> Eventet
          <i>checkedChange</i> triggas vid förändring och innehåller aktuellt tillstånd.
          <br> Komponenten har stöd för tangentbordsinteraktion, med
          <i>space</i> och
          <i>enter</i>

        </p>
        <div class="column-layout ">
          <vgr-checkbox [label]=" 'Med ledtext' "></vgr-checkbox>
          <vgr-checkbox [disabled]="true " [label]=" 'Inaktiverad' "></vgr-checkbox>
          <vgr-checkbox [checked]="true " [label]=" 'Vald' "></vgr-checkbox>
          <vgr-checkbox [checked]="true " [disabled]="true " [label]=" 'Inaktiverad vald' "></vgr-checkbox>
        </div>
      </div>




      <div class=" column-layout ">
        <h1>Radioknappar</h1>
        <span>Ett valbart alternativ åt gången, val kan vara förvalda eller inaktiva. Vid val av alternativ triggas eventet
          <strong>selectedChanged</strong>
          Valbara items är av typen
          <i>SelectableItem</i> som innehåller value, displayName, selected samt disabled. Det är genom att sätta properties
          på dessa objekt som man styr beteendet.</span>

        <h2>Fyra alternativ, varav ett inaktivt</h2>
        <div>
          <vgr-radio-group [options]="[{value: '1', displayName: 'Ett', selected: false},{value: '2', displayName: 'Två'},{value: '3', displayName:
                      'Tre'}, {value: '4', displayName: 'Fyra', disabled:true}] " (selectedChanged)="onSelectedRadioOptionChanged($event) ">
          </vgr-radio-group>
          <div>Du har valt alternativ: {{selectedRadioOption.value}}</div>
        </div>
        <h2>Fyra alternativ, ingen förvald</h2>
        <div>
          <vgr-radio-group [options]="[{value: '1', displayName: 'Etta'},{value: '2', displayName: 'Tvåa'},{value: '3', displayName:
                      'Trea'}, {value: '4', displayName: 'Fyra'}] " (selectedChanged)="onSelectedRadioOptionChanged($event) ">
          </vgr-radio-group>
          <div>Du har valt alternativ: {{selectedRadioOption.value}}</div>
        </div>
        <h2>Fyra alternativ, alla selected = false</h2>
        <div>
          <vgr-radio-group [options]="[{value: '1', displayName: 'Etta', selected: false},{value: '2', displayName: 'Tvåa', selected: false},{value: '3', displayName:
                      'Trea', selected:false}, {value: '4', displayName: 'Fyra', selected:false}] " (selectedChanged)="onSelectedRadioOptionChanged($event) ">
          </vgr-radio-group>
          <div>Du har valt alternativ: {{selectedRadioOption.value}}</div>
        </div>
        <h2>Tre inaktiva alternativ, varav ett förvalt</h2>
        <div>
          <vgr-radio-group [options]="[{value: '1', displayName: 'Ett',disabled:true},{value: '2', displayName: 'Två',disabled:true,
                      selected:true},{value: '3', displayName: 'Tre',disabled:true}] ">
          </vgr-radio-group>
        </div>
        <div class="markup-example ">&lt;vgr-radio-group [options]=&quot;myOptionsList&quot; (selectedChanged)=&quot;onSelectedChanged($event)&quot;&gt;&lt;/vgr-radio-group&gt;
        </div>
      </div>
      <div class=" column-layout ">
        <h1>Spara/avbryt-panel</h1>
        <span>En panel som innehåller spara, avbryt samt låsknapp. Spara och avbryt är inaktiverade i låst läge. De kan aktiveras
          genom att låsa upp. När användaren sparar triggas eventet
          <strong>onSave</strong>, vid avbryt triggas
          <strong>onCancel</strong>. Om man låser upp och sedan
          <strong>låser</strong> är det
          <strong>samma som att spara</strong>.
        </span>
        <div class="flex-right" style="width:100%">
          <vgr-save-cancel class="flex-right" (save)="saveCancelMessage='Sparade (1)' " (cancel)="saveCancelMessage='Avbröt (1)'" (unlock)="saveCancelMessage='Låste upp (1)'"></vgr-save-cancel>
          <vgr-save-cancel class="flex-right" (save)="saveCancelMessage='Sparade (2)' " (cancel)="saveCancelMessage='Avbröt (2)'" (unlock)="saveCancelMessage='Låste upp (2)'"
            [hideLock]="true"></vgr-save-cancel>
          <vgr-save-cancel class="flex-right" (save)="saveCancelMessage='Sparade (3)' " (cancel)="saveCancelMessage='Avbröt (3)'" (unlock)="saveCancelMessage='Låste upp (3)'"
            [hideLock]="true" [saveButtonText]="'Spara enhet'"></vgr-save-cancel>
          <br>
          <span>Senaste händelse:&nbsp;
            <strong>{{saveCancelMessage}}</strong>
          </span>
        </div>
        <div class="markup-example ">&lt;vgr-save-cancel&gt;&lt;/vgr-save-cancel&gt;
        </div>
      </div>
      <div class=" column-layout ">
        <h1>Låsknapp</h1>
        <span>Låsknappen är en "toggle-knapp ", som kan vara låst eller upplåst. För att inaktivera sätt [disabled]="
          <strong>true</strong>". För att skapa en upplåst knapp, sätt [unlocked]="
          <strong>true</strong>". Knappen skickar två events, ett för låst (onLocked) och ett för upplåst (onUnlocked).
        </span>
        <div class="markup-example">&lt;vgr-lock-button (onLocked)="consoleLog('Locked!')" (onUnlocked)="consoleLog('Unlocked!')"&gt;&lt;/vgr-lock-button&gt;
          &lt;vgr-lock-button [unlocked]="true" (onLocked)="consoleLog('Locked!')" (onUnlocked)="consoleLog('Unlocked!')"&gt;&lt;/vgr-lock-button&gt;
          &lt;vgr-lock-button [disabled]="true" (onLocked)="consoleLog('Locked!')" (onUnlocked)="consoleLog('Unlocked!')"&gt;&lt;/vgr-lock-button&gt;
        </div>
        <div>
          <vgr-lock-button (lockChanged)="onLock1Changed($event)"></vgr-lock-button>
          <vgr-lock-button [unlocked]="true" (lockChanged)="onLock2Changed($event)"></vgr-lock-button>
          <vgr-lock-button [disabled]="true"></vgr-lock-button>
          <vgr-lock-button [disabled]="true" [unlocked]="true"></vgr-lock-button>
          <br>
          <br>
          <span>Senaste händelse:&nbsp;
            <strong>{{lockMessage}}</strong>
          </span>
        </div>
      </div>
      <div class=" column-layout">
        <h1>Textknappar</h1>
        <span>Knappar som innehåller text med en minsta bredd på 87px. Vid klick triggas event
          <strong>click</strong>. För att inaktivera sätt [disabled]="
          <strong>true</strong>". För sekundär knapp sätt [secondary]="
          <strong>true</strong>". Knappen stödjer klick med tangentbord via
          <strong>Space</strong> och
          <strong>Enter</strong>, enligt
          <a href="https://www.w3.org/TR/wai-aria-practices/examples/button/button.html">WCAG Button examples</a>
        </span>
        <span>Notera: Knapparna nedan loggar till konsollen vid klick.</span>
        <div class="markup-example">&lt;vgr-button (click)="consoleLog('Click')"&gt;Klicka här&lt;/vgr-button&gt; &lt;vgr-button [disabled]="true" (click)="consoleLog('Click')"&gt;Inaktiv&lt;/vgr-button&gt;
        </div>
        <h2>Primärknappar</h2>
        <div>
          <vgr-button (click)="consoleLog('Click')">Klicka här</vgr-button>
          <vgr-button (click)="consoleLog('Click')">OK</vgr-button>
          <vgr-button (click)="buttonDisabled=!buttonDisabled">Aktivera/Inaktivera</vgr-button>
          <vgr-button [disabled]="buttonDisabled" (click)="consoleLog('Click')">Inaktiv</vgr-button>
        </div>
        <h2>Sekundärknappar</h2>
        <div>
          <vgr-button [secondary]="true" (click)="consoleLog('Click')">Klicka här</vgr-button>
          <vgr-button [secondary]="true" (click)="consoleLog('Click')">OK</vgr-button>
          <vgr-button [secondary]="true" (click)="buttonSecondaryDisabled=!buttonSecondaryDisabled">Aktivera/Inaktivera</vgr-button>
          <vgr-button [secondary]="true" [disabled]="buttonSecondaryDisabled" (click)="consoleLog('Click')">Inaktiv</vgr-button>
        </div>
      </div>

      <!-- Information panels -->

      <div class=" column-layout">
        <h1>Paneler</h1>
        <div class="row-layout">
          <div class="information-panel information-panel--default two-thirds ">
            <div class="information-panel__content">
              <div class="information-panel__header">
                <span class="information-panel__header__title">Panel med tiddstämpel</span>
                <span class="information-panel___header__timestamp">2017-12-31</span>
              </div>
              <p class="information-panel__information">
                En panel med både en rubrik och en tiddstämpel. Längst ned finns plats för en länk. Texten bryts efter tre rader:
                <i>
                  We built this city we built this city on rock an roll Built this city we built this city on rock an roll Say you don't know
                  me or recognize my face Say you don't care who goes to that kind of place Knee deep in the hoopla sinking
                  in your fight Too many runaways eating up the night
                </i>
              </p>
              <div class="information-panel__footer">
                <a href="https://www.google.com">En användbar länk</a>
              </div>
            </div>
          </div>
          <div class="information-panel one-third ">
            <div class="information-panel__content">
              <div class="information-panel__header">
                <span class="information-panel__header__title">Panel med enkel rubrik</span>
              </div>
              <p class="information-panel__information">Den här panelen tar en tredjedel av utrymmet och saknar både tiddstämpel och länk.</p>
            </div>
          </div>
        </div>
        <div class="row-layout">
          <div class="information-panel theme--green one-third ">
            <div class="information-panel__content">
              <div class="information-panel__header">
                <span class="information-panel__header__title">Rehab</span>
              </div>
              <p class="information-panel__information">Panel med innehåll från Rehab får en grön markör överst. Den är panelen tar en tredjedel av utrymmet.</p>
              <div class="information-panel__footer">
                <a href="https://vardvalrehab.vgregion.se" target="_blank">Gå till Vårdval Rehab</a>
              </div>
            </div>
          </div>
          <div class="information-panel theme--red one-third ">
            <div class="information-panel__content">
              <div class="information-panel__header">
                <span class="information-panel__header__title">VGPV</span>
              </div>
              <p class="information-panel__information">Panel med innehåll från VGPV får en röd markör överst. Den är panelen tar en tredjedel av utrymmet.</p>
              <div class="information-panel__footer">
                <a href="https://vardval.vgregion.se" target="_blank">Gå till Vårdval Primärvård</a>
              </div>
            </div>
          </div>
          <div class="information-panel theme--blue one-third ">
            <div class="information-panel__content">
              <div class="information-panel__header">
                <span class="information-panel__header__title">BMM</span>
              </div>
              <p class="information-panel__information">Panel med innehåll från BMM får en blå markör överst. Den är panelen tar en tredjedel av utrymmet.</p>
            </div>
          </div>
        </div>
        <div class="row-layout">
          <div class="information-panel theme--green half ">
            <div class="information-panel__content">
              <div style="font-size: 48px">+89</div>
              <div class="information-panel__header">
                <span class="information-panel__header__title">NYA LISTNINGAR DENNA MÅNAD</span>
              </div>
              <p class="information-panel__information">En panel med eget innehåll före rubriken</p>
            </div>
          </div>
          <div class="information-panel theme--red half ">
            <div class="information-panel__content">
            </div>
          </div>
        </div>
        <!-- Headers -->
        <div class=" column-layout column-layout--padded">
          <h1>Headers</h1>
          <p>
            Headerfärg beror på vilket system som är aktivt. I portalen beror färgen på om användaren har ett eller flera system. Om
            bara ett system finns, är det den färgen som gäller. Headern innehåller en transparent bild som gör att man bara
            behöver sätta headerns bakgrundsfärg genom rätt klassnamn.
          </p>

          <h2>Header utan user och meny</h2>
          <vgr-header class="header--inline"></vgr-header>

          <h2>Header med user utan meny</h2>
          <vgr-header class="header--inline" [userName]="'Någon Återkommande'"></vgr-header>

          <h2>Header med user och meny</h2>
          <vgr-header class="header--inline" [userName]="'Någon Återkommande'" [headerMenu]="headerMenu"></vgr-header>

        </div>
        <div class=" column-layout">
          <h1>Back to top</h1>
          <span>Knapp som vid klick för användaren tillbaka till toppen på sidan För att aktivera funktionen måste ett script inkluderas
          </span>
          <div class="back-to-top back-to-top--inline"></div>
          <div class="markup-example">&lt;script src="node_modules/vgr-komponentkartan/scripts/_objects.back-to-top.js" type="text/javascript"&gt;&lt;/script&gt;</div>
        </div>
      </div>

    </vgr-page-block>
  </vgr-page-body>

</vgr-page>
