<vgr-page>
  <vgr-page-header [title]="'Kodexempel enkel lista'">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <h2>Enkel lista</h2>
      <p>Här har vi exempel på en enkel lista med endast sortering implementerat och innehåll när man expanderar en rad. Observera
        även bredden på kolumnerna är satta. För att se dokumentationen på komponenten, klicka
        <a href="/lists">här.</a>
      </p>
    </vgr-page-block>
    <vgr-page-block>
      <vgr-list [pages]="pageCount" (pageChanged)="onPageChanged($event)" [flexibleHeader]="true">
        <vgr-list-header>
          <vgr-list-column-header width="5">Förnamn</vgr-list-column-header>
          <vgr-list-column-header width="5">Efternamn</vgr-list-column-header>
          <vgr-list-column-header width="5">Yrke</vgr-list-column-header>
          <vgr-list-column-header [align]="'right'" [width]="5">Inkomst</vgr-list-column-header>
        </vgr-list-header>
        <vgr-list-item *ngFor="let row of peopleRowsSimpleList">
          <vgr-list-item-header>
            <vgr-list-column width="5"><span title="Detta är ett förnamn">{{row.firstName}}</span></vgr-list-column>
            <vgr-list-column width="5">{{row.lastName}}</vgr-list-column>
            <vgr-list-column width="5">{{row.occupation}}</vgr-list-column>
            <vgr-list-column width="5" [align]="'right'">{{row.income| number:'2.2-2':'sv-SE'}}</vgr-list-column>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <span>Förnamn: {{row.firstName}}</span>
            <br>
            <span>Efternamn: {{row.lastName}}</span>
            <br>
            <span>Yrke: {{row.occupation}}</span>
            <br>
            <span>Inkomst: {{row.income | currency : 'SEK'}}</span>
          </vgr-list-item-content>
        </vgr-list-item>
      </vgr-list>
    </vgr-page-block>
    <vgr-page-block>
      <div>
        <h3>HTML</h3>
        <section [innerHTML]="htmltPaginationListMarkup" highlight-js-content=".highlight"></section>
      </div>
      <br>
      <div>
        <h3>Typescript</h3>
        <section [innerHTML]="typeScriptPaginationListMarkup" highlight-js-content=".highlight"></section>
      </div>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
