<vgr-page>
  <vgr-page-header [title]="'Kodexempel för lista med paginering'">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <h2>Paginerad lista</h2>
      <p>Här har vi exempel på en enkel lista med endast paginering implementerat och innehåll när man expanderar en
        rad. För att se dokumentationen på komponenten,
        <a href="/lists">dokumentationen för listkomponenten.</a>
      </p>
    </vgr-page-block>
    <vgr-page-block>
      <vgr-list [pages]="pageCount" (pageChanged)="onPageChanged($event)" [flexibleHeader]="true">
        <vgr-list-header>
          <vgr-list-column-header width="5">Förnamn</vgr-list-column-header>
          <vgr-list-column-header width="5">Efternamn</vgr-list-column-header>
          <vgr-list-column-header width="5">Yrke</vgr-list-column-header>
          <vgr-list-column-header [align]="'right'" [width]="5">Inkomst</vgr-list-column-header>
        </vgr-list-header>
        <vgr-list-item *ngFor="let item of persons">
          <vgr-list-item-header>
            <vgr-list-column width="5"><span title="Detta är ett förnamn">{{item.firstName}}</span></vgr-list-column>
            <vgr-list-column width="5">{{item.lastName}}</vgr-list-column>
            <vgr-list-column width="5">{{item.occupation}}</vgr-list-column>
            <vgr-list-column width="5" [align]="'right'">{{item.income| number:'2.2-2':'sv-SE'}}</vgr-list-column>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <span>Förnamn: {{item.firstName}}</span>
            <br>
            <span>Efternamn: {{item.lastName}}</span>
            <br>
            <span>Yrke: {{item.occupation}}</span>
            <br>
            <span>Inkomst: {{item.income | currency : 'SEK'}}</span>
          </vgr-list-item-content>
        </vgr-list-item>
      </vgr-list>
    </vgr-page-block>
    <vgr-page-block>
      <div>
        <h3>Källkod</h3>
        <a href="https://github.com/Vastra-Gotalandsregionen/komponentkartan-demo/tree/master/src/app/lists/examples/withpagination">Källkod för ovanstående exempel.</a>        
      </div>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>