<app-component-docs [componentName]="'Radio group'">
  <div class="docs__overview">
    <p>
      <code>
        &lt;vgr-radio-group&gt;</code>
    </p>
    <br>
    <p>En radiogroup innehåller flera radioknappar, där bara ett alternativ är valt åt gången, val kan vara förvalda och/eller
      inaktiva. Vid val av alternativ triggas eventet
      <code>selectedChanged</code>. Valbara items är av typen
      <code>SelectableItem</code>. Det är genom att sätta properties på dessa objekt som man styr beteendet.
      <br>
      <vgr-radio-group [options]="[{value:'1', displayName:'Alternativ 1', selected:true},{value:'2', displayName:'Alternativ 2'}]">
      </vgr-radio-group>
    </p>

    <!--Disabled på group, overrides disabled på item vid true -->
    <h2>Horisontell radiogrupp med möjlighet att disabla gruppen</h2>
    Välj föredragen bil
    <vgr-radiobutton-group (selectedChanged)="someCode()" [disabled]="groupDisabled">
      <vgr-radiobutton-item [selected]="true" [disabled]="false">Subaru</vgr-radiobutton-item>
      <vgr-radiobutton-item [selected]="false" [disabled]="true">Volvo</vgr-radiobutton-item>
      <vgr-radiobutton-item [selected]="false" [disabled]="false">Toyota</vgr-radiobutton-item>
    </vgr-radiobutton-group>

    <vgr-checkbox (checkedChanged)="groupDisabled = $event" label="Jag cyklar" [checked]="groupDisabled"></vgr-checkbox>

    <hr>
    <h2>Vertical radiogrupp </h2>
    <vgr-radiobutton-group (selectedChanged)="someCode()" vertical="true">
      <vgr-radiobutton-item [selected]="true">Det var bra</vgr-radiobutton-item>
      <vgr-radiobutton-item [selected]="false">Det var inte bra</vgr-radiobutton-item>
      <vgr-radiobutton-item [selected]="true">Det var verkligen inte bra</vgr-radiobutton-item>
    </vgr-radiobutton-group>


    <p> Förändras med tema:
      <strong>nej</strong>
    </p>
  </div>
  <div class="docs__examples">
    <div>
      <vgr-radio-group [options]="[{value:'Förvald', displayName:'Förvald', selected:true},{value:'Ej förvald', displayName:'Ej förvald'}, {value:'3Inaktiv', displayName:'Inaktiv', disabled:true}]"
        (selectedChanged)="onSelectedRadioOptionChanged($event)">
      </vgr-radio-group>
      <br>
      <br>
      <br>


      <vgr-radio-group [options]="options" (selectedChanged)="onSelectedRadioOptionChanged($event)">
      </vgr-radio-group>

      <vgr-button (click)="rensaVal()">Rensa alternativ</vgr-button>
      <br>
      <br>
      <h2>Vertikal radiogroup</h2>
      <vgr-radio-group style="max-width: 200px;" [options]="options2" [vertical]="true" (selectedChanged)="onSelectedRadioOptionChanged($event)">
      </vgr-radio-group>

      <br>
      <h2>Horisontell radiogroup</h2>
      <vgr-radio-group #myRadioGroup  [options]="options" (selectedChanged)="onSelectedRadioOptionChanged($event)">
      </vgr-radio-group>
      <vgr-button (click)="setFocus()">Fokusera</vgr-button>
      <br>
      <br>
      <br>
      <div>Du har valt alternativ: {{selectedOption}}</div>


    </div>
    <br>
    <br> Under "kodexempel" finns exempel på hur radiogroup-komponenten kan användas i Angular Reactive Forms:
    <br>
    <a href="/reactiveformsexample">Reactive Forms exempel</a>
  </div>
  <div class="docs__api">
    <table class="property-table">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>

          options : SelectableItem[]
        </td>
        <td>Samling av
          <code>SelectableItem</code> som utgör valbara alternativ</td>
        <td>[options]="[item1, item2, ...]"</td>
      </tr>
      <tr>
        <td>
          disabled : boolean
        </td>
        <td>Defaultvärde false. Sätter hela gruppen till disabled</td>
        <td>[disabled]="true"</td>
      </tr>
      <tr>
        <td>
          vertical : boolean
        </td>
        <td>Anger om radiogruppen ska ha horisontell eller vertikal layout. Defaultvärde false (horisontellt).</td>
        <td>[vertical]="true"</td>
      </tr>
      <tr>
        <td> selectedChanged : EventEmitter&lt;SelectableItem&gt;</td>
        <td>Event som triggas när man väljer ett nytt alternativ i radiogruppen</td>
        <td>(selectedChanged)="onSelectedRadioOptionChanged($event)"</td>
      </tr>
    </table>
  </div>
  <div class="docs__wcag">
    <p>
      <code>&lt;vgr-radiogroup&gt;</code> har en intern div vars roll är satt till radiogroup respektive radio för radioknapparna.
      Förutom rollen så används attributen: attr.aria-checked (kryssad/ej ikryssad) och attr.aria-labelledby (pekning till
      interna label i
      <code>&lt;vgr-radiogroup&gt;</code>)

    </p>
    <br>
    <p>
      Vid tab in till radiogruppen så gäller nedan regler:
      <br> - Om ingen av radioknapparna är valda så ställs in fokus på den första radioknappen i gruppen
      <br> - Om en radioknapp är vald ställs fokus på den valda knappen
    </p>
  </div>
</app-component-docs>
