<div class="dropdown" [ngClass]="{'dropdown--open' : expanded, 'dropdown--filter-visible' : filterVisible, 'dropdown--scroll-visible' : scrollVisible}"
    (mousedown)="toggleExpand($event)">
    <span *ngIf="selectedItem" title="{{selectedItem.displayName}}">{{selectedItem | dropdownItemToSelectedText | truncate:14 }}</span>
    <span *ngIf="!selectedItem"></span>
    <div class="dropdown__menu">
        <filter-textbox class="dropdown__filterTextbox" (inputChange)="nameChange($event)"></filter-textbox>
        <div class="dropdown__dimmer dropdown__dimmer--top"></div>
        <ul class="dropdown__menu__items scrollbar-macosx">
            <li *ngIf="selectAllItem" class="dropdown-item--select-all" [ngClass]="{'dropdown-item--marked' : selectAllItem.marked, 'dropdown-item--selected' : selectAllItem.selected }">
                <a (mousedown)="selectAllItems()" title="{{selectAllItem.displayName}}" (mouseenter)="onMouseEnter(selectAllItem)" (mouseleave)="onMouseLeave(selectAllItem)">{{selectAllItem.displayName}}</a>
            </li>
            <li *ngFor="let item of items | filterByProperties: nameFilter : ['displayName']" [ngClass]="{'dropdown-item--marked' : item.marked, 'dropdown-item--selected' : item.selected }">
                <a (mousedown)="selectItem(item)" title={{item.displayName}} (mouseenter)="onMouseEnter(item)" (mouseleave)="onMouseLeave(item)">{{item.displayName}}</a>
            </li>
        </ul>
        <div class="dropdown__dimmer dropdown__dimmer--bottom"></div>
    </div>
</div>