<div class="main-content">
    <vgr-page-header [title]="'Formatmall'">
    </vgr-page-header>

    <div class="komponentkarta-components">
        <div class="komponentkarta-component column-layout">
            <span>Fonten som används är <strong>Calibri</strong>. Storlek på brödtext och rubriker anpassas efter fönstrets bredd i två steg.<br/>
            Liten storlek är <strong>1366px - 1458px</strong>. Stor storlek <strong>1459px</strong> och större.</span>
            <h1 class="font-example"></h1>
            <h2 class="font-example"></h2>
            <h3 class="font-example"></h3>
            <div class="font-example"></div>
            <div class="font-example text--white"></div>
            <div><strong class="font-example"></strong></div>
        </div>

    </div>
</div>