<vgr-page class="no-sort">
  <vgr-page-header [title]="'List'">
  </vgr-page-header>
  <vgr-page-body>
    <vgr-page-block>
      <vgr-list [allowMultipleExpandedItems]="true">
        <vgr-list-header>
          <vgr-list-column-header [text]="'Dokumentation för list'" [width]="20"></vgr-list-column-header>
        </vgr-list-header>
        <vgr-list-item [expanded]="true">
          <vgr-list-item-header>
            <h4>Översikt</h4>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <div class="content-overview">
              <p>
                <code>&lt;vgr-list&gt;</code> är en lista bestående av
                <code>&lt;vgr-list-item&gt;</code>. En lista med header och expanderbara rader, som används till ex. listor av
                kort. Rubrikraden är fast positionerad och kan inte scrollas bort.
              </p>
              <br>
              <p> Förändras med tema:
                <strong>nej</strong>
              </p>
            </div>
          </vgr-list-item-content>
        </vgr-list-item>
        <vgr-list-item [expanded]="false">
          <vgr-list-item-header>
            <h4>Exempel</h4>
          </vgr-list-item-header>


          <vgr-list-item-content>
            <section [innerHTML]="htmlBasicListStructureMarkup" highlight-js-content=".highlight"></section>
            <br> Under "kodexempel" finns flera exempel på listor:
            <br>
            <a href="/listexample-simple">Enkel lista</a>
            <br>
            <a href="/listexample-notifications">Lista med notifieringar</a>
            <br>

            <a href="/listexample-actionbuttons">Lista med checkbox och papperskorg</a>
          </vgr-list-item-content>
        </vgr-list-item>
        <vgr-list-item [expanded]="false ">
          <vgr-list-item-header>
            <h4>API - vgr-list</h4>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <table class="property-table">
              <tr>
                <th>Namn</th>
                <th>Beskrivning</th>
                <th>Exempel</th>
              </tr>
              <tr>
                <td>allowMultipleExpandedItems : boolean</td>
                <td>Om flera rader skall kunna vara expanderade samtidigt, default är false.</td>
                <td>[allowMultipleExpandedItems]="true"</td>
              </tr>
              <tr>
                <td>flexibleHeader : boolean</td>
                <td>Kan man sätta om headern skall följa med i scrollningen, default är false.</td>
                <td>[flexibleHeader]="true"</td>
              </tr>
              <tr>
                <td>notification : Notification</td>
                <td>Sätter man om man vill visa en notifiering, t.ex. när listan ej kan laddas, default visas inget meddelande.</td>
                <td>[notification]="{{'{'}} message: 'Här är texten i notifikationen', icon: 'vgr-icon-message'{{'}'}}"</td>
              </tr>
            </table>
          </vgr-list-item-content>
        </vgr-list-item>
        <vgr-list-item [expanded]="false ">
          <vgr-list-item-header>
            <h4>API - vgr-list-item</h4>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <table class="property-table">
              <tr>
                <th>Namn</th>
                <th style="width:600px">Beskrivning</th>
                <th>Exempel</th>
              </tr>
              <tr>
                <td>expanded : boolean</td>
                <td>Anger om raden skall vara expanderad eller inte.</td>
                <td>[expanded]="false"</td>
              </tr>

              <tr>
                <td>notification : RowNotification</td>
                <td>Ger möjligheten att lägga en notifiering på raden. En
                  <code>RowNotification</code> har en icon property (string), removeWhenDone property (boolean) och en typ.
                  <br>
                  <i>-Icon</i> finns angivna på sidan för
                  <a href="/icons">ikoner</a>
                  <br>
                  <i>-RemoveWhenDone</i> anger om notifieringen ska försvinna efter kollapsanimationen för notifiering är klar.
                  Default är att notifieringen som är permanent är kvar efter att en annan notifering visats.
                  <br>
                  <i>-Notification.Type</i> att välja på är:
                  <code>NotificationType.Permanent</code>, visas i samband med att raden minimeras -
                  <code>NotificationType.ShowOnCollapse</code> eller när raden tas bort -
                  <code>NotificationType.ShowOnRemove</code>
                </td>
                <td>[notification]="{{'{'}} message: 'Personen är inaktiv', icon: 'vgr-icon-message', type: notificationTypes.Permanent{{'}'}}"
                  <strong>OBS!</strong> För att binda till enums i html, måste en rad till i .ts-filen som deklarerar enum som en
                  property. T.ex:
                  <code>notificationTypes = NotificationType</code>
                </td>
              </tr>
              <tr>
                <td>expandedChanged : EventEmitter&lt;boolean&gt;</td>
                <td>Event som triggas när raden expanderar</td>
                <td>(expandedChanged)="onExpandedChanged($event)"</td>
              </tr>
              <tr>
                <td>notificationChanged : EventEmitter&lt;RowNotification&gt;</td>
                <td>Event som triggas när notifiering ändras</td>
                <td>(notificationChanged)="onNotificationChanged($event)"</td>
              </tr>
              <tr>
                <td>deleted : EventEmitter&lt;any&gt;</td>
                <td>Event som triggas när item har tagits bort (visuellt)</td>
                <td>(deleted)="onDeleted()"</td>
              </tr>
            </table>
          </vgr-list-item-content>
        </vgr-list-item>
        <vgr-list-item [expanded]="false ">
          <vgr-list-item-header>
            <h4>API - vgr-list-item-header</h4>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <table class="property-table">
              <tr>
                <th style="width:600px">Beskrivning</th>
              </tr>
              <tr>
                <td>
                  Behållare för att ange header-rubrik i ett list-item. Har inga properties.
                </td>
              </tr>
            </table>
          </vgr-list-item-content>
        </vgr-list-item>
        <vgr-list-item [expanded]="false ">
          <vgr-list-item-header>
            <h4>API - vgr-list-item-content</h4>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <table class="property-table">
              <tr>
                <th style="width:600px">Beskrivning</th>
              </tr>
              <tr>
                <td>indentContent: boolean</td>
                <td>Anger om innehållet ska vara indenterat eller inte. Default är true.</td>
                <td>[indentContent]="false"</td>
              </tr>
            </table>
          </vgr-list-item-content>
        </vgr-list-item>
        <vgr-list-item [expanded]="false ">
          <vgr-list-item-header>
            <h4>API - vgr-list-column-header</h4>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <table class="property-table">
              <tr>
                <th>Namn</th>
                <th style="width:600px">Beskrivning</th>
                <th>Exempel</th>
              </tr>
              <tr>
                <td>text : string</td>
                <td>Kolumnens rubrik</td>
                <td>[text]="'Förnamn'"</td>
              </tr>
              <tr>
                <td>sortDirection : SortDirection</td>
                <td>Anger åt vilket håll kolumnen sorteras vid initiering
                  <code>SortDirection.None</code>, default - ingen sortering
                  <code>SortDirection.Ascending</code> sortera stigande
                  <code>SortDirection.Descending</code> sortera fallande
                </td>
                <td>[sortDirection]="sortDirection.Ascending"
                  <strong>OBS!</strong> För att binda till enums i html, måste en rad till i .ts-filen som deklarerar enum som en
                  property. T.ex:
                  <code>sortDirection = SortDirection</code>
                </td>
              </tr>
              <tr>
                <td>sortKey : string</td>
                <td>Nyckel som används för att identifiera kolumnen vid sorteringsevent.</td>
                <td>[sortKey]="'firstName'"</td>
              </tr>
              <tr>
                <td>width : number</td>
                <td>vgr-list är baserad på en 20 kolumns layout. Varje kolumn måste ha en width satt och summan av width ska
                  vara 20 för vgr-list.
                </td>
                <td>
                  [width]="20"
                </td>
              </tr>
              <tr>
                <td>align : string</td>
                <td>Man kan sätta en alignment på kolumnerna. Defaultvärde är left. Giltiga värden är right, left och center.
                  <br>Om man sätter ett felaktigt värde så sätts defaultvärdet
                </td>
                <td>
                  [align]="'right'"
                </td>
              </tr>
              <tr>
                <td>sortChanged : EventEmitter&lt;SortDirection&gt;</td>
                <td>Event som triggas när sortering sker i kolumnen</td>
                <td>(sortChanged)="onSortChanged($event)"</td>
              </tr>

            </table>
          </vgr-list-item-content>
        </vgr-list-item>
        <vgr-list-item [expanded]="false ">
          <vgr-list-item-header>
            <h4>API - vgr-list-column-header-checkbox</h4>
          </vgr-list-item-header>
          <vgr-list-item-content>
            En variant av vgr-list-column-header som innehåller en checkbox.
            <table class="property-table">
              <tr>
                <th>Namn</th>
                <th style="width:600px">Beskrivning</th>
                <th>Exempel</th>
              </tr>
              <tr>
                <td>disabled : boolean</td>
                <td>Inaktiverar checkboxen, den blir utgråad.</td>
                <td>[disabled]="true"</td>
              </tr>
              <tr>
                <td>checked : boolean</td>
                <td>Markerar checkboxen.</td>
                <td>[checked]="true"</td>
              </tr>
              <tr>
                <td>checkedChanged : EventEmitter&lt;boolean&gt;</td>
                <td>Event som triggas då användaren trycker på checkboxen.</td>
                <td>(checkedChanged)="onCheckChanged($event)"</td>
              </tr>
            </table>
          </vgr-list-item-content>
        </vgr-list-item>
        <vgr-list-item [expanded]="false ">
          <vgr-list-item-header>
            <h4>API - vgr-list-header</h4>
          </vgr-list-item-header>
          <vgr-list-item-content>
            Innehåller ett antal vgr-list-column-header element och utför vissa åtgärder på dem.
            <table class="property-table">
              <tr>
                <th>Namn</th>
                <th style="width:600px">Beskrivning</th>
                <th>Exempel</th>
              </tr>

              <tr>
                <td>sortChanged : EventEmitter&lt;SortChangedArgs&gt;</td>
                <td>Event som triggas när sortering sker i någon av headerns kolumner</td>
                <td>(sortChanged)="onSortChanged($event)"</td>
              </tr>

            </table>
          </vgr-list-item-content>
        </vgr-list-item>
        <vgr-list-item [expanded]="false ">
          <vgr-list-item-header>
            <h4>API - vgr-list-column</h4>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <table class="property-table">
              <tr>
                <th>Namn</th>
                <th style="width:600px">Beskrivning</th>
                <th>Exempel</th>
              </tr>
              <tr>
                <td>text : string</td>
                <td>Kolumnens textinnehåll</td>
                <td>[text]="Sverige"</td>
              </tr>
              <tr>
                <td>width : number</td>
                <td>vgr-list är baserad på en 20 kolumns layout. Varje kolumn måste ha en width satt och summan av width ska
                  vara 20 för vgr-list.
                </td>
                <td>
                  [width]="20"
                </td>
              </tr>
              <tr>
                <td>align : string</td>
                <td>Man kan sätta en alignment på kolumnerna. Defaultvärde är left. Giltiga värden är right, left och center.
                  <br>Om man sätter ett felaktigt värde så sätts defaultvärdet
                </td>
                <td>
                  [align]="'right'"
                </td>
              </tr>
            </table>
          </vgr-list-item-content>
        </vgr-list-item>
        <vgr-list-item [expanded]="false ">
          <vgr-list-item-header>
            <h4>API - vgr-list-column-trashcan</h4>
          </vgr-list-item-header>
          <vgr-list-item-content>
            En variant av vgr-list-column som innehåller en papperskorg.
            <table class="property-table">
              <tr>
                <th>Namn</th>
                <th style="width:600px">Beskrivning</th>
                <th>Exempel</th>
              </tr>

              <tr>
                <td>disabled : boolean</td>
                <td>Inaktiverar papperskorgen, den blir utgråad.</td>
                <td>[disabled]="true"</td>
              </tr>
              <tr>
                <td>delete : EventEmitter</td>
                <td>Event som triggas då användaren trycker på papperskorgen.</td>
                <td>(delete)="onDelete()"</td>
              </tr>
            </table>
          </vgr-list-item-content>
        </vgr-list-item>
        <vgr-list-item [expanded]="false ">
          <vgr-list-item-header>
            <h4>API - vgr-list-column-checkbox</h4>
          </vgr-list-item-header>
          <vgr-list-item-content>
            En variant av vgr-list-column som innehåller en vgr-checkbox.
            <table class="property-table">
              <tr>
                <th>Namn</th>
                <th style="width:600px">Beskrivning</th>
                <th>Exempel</th>
              </tr>
              <tr>
                <td>disabled : boolean</td>
                <td>Inaktiverar checkboxen, den blir utgråad.</td>
                <td>[disabled]="true"</td>
              </tr>
              <tr>
                <td>checked : boolean</td>
                <td>Markerar checkboxen.</td>
                <td>[checked]="true"</td>
              </tr>
              <tr>
                <td>checkedChanged : EventEmitter&lt;boolean&gt;</td>
                <td>Event som triggas då användaren trycker på checkboxen.</td>
                <td>(checkedChanged)="onCheckChanged($event)"</td>
              </tr>
            </table>
          </vgr-list-item-content>
        </vgr-list-item>
        <vgr-list-item [expanded]="false">
          <vgr-list-item-header>
            <h4>Tillgänglighet</h4>
          </vgr-list-item-header>
          <vgr-list-item-content>
            <p>
              Navigering i listan:
              <br>
              <br> - Enter och Space: När fokus är på listradens header togglas listraden expanderad / kollapsad.
              <br> - Nedåtpil: Om fokus ligger på en listrad flyttar fokus till raden nedanför. Om fokus ligger på den sista
              raden flyttas fokus till den första raden.
              <br> - Uppåtpil: Om fokus ligger på en listrad, flyttar fokus till raden ovanför. Om fokus ligger på första raden,
              flyttas fokus till den sista raden.
              <br> - Home: När fokus ligger på en listrad, flyttar fokus till första raden.
              <br> - End: När fokus ligger på en rad flyttar fokus till sista raden.
              <br> - Ctrl + Page Down: Om fokus ligger inuti en rad eller på en rad, flyttar fokus till nästa rad. Om fokus ligger
              i den sista raden eller i raden, flytta fokus till första raden.
              <br> - Ctrl + Page Up: Om fokus ligger inuti en rad flyttar fokus till huvudet för aktiv rad. Om fokus ligger på
              en rad, flyttas fokus till föregående rad. Om fokus ligger på första raden, flytta fokus till sista raden.
            </p>
          </vgr-list-item-content>
        </vgr-list-item>
      </vgr-list>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
