<app-component-docs [componentName]="'Input'">


  <div class="docs__overview">
    <p>
      <code>
        &lt;vgr-input&gt; </code> är ett fält för inmatning utav värden i t.ex. ett formulär. Den har liknande funktioner som ett vanligt HTML-input fält men har även möjlighet för:
      <br> - Visa suffix eller prefix
      <br> - Visa upp felmedlenaden i anslutning till input-fältet.
    </p>
    <p>
      <label>HSA-id: </label><br>
      <vgr-input [readonly]="readonly" width="300" value="SE2329999131-E000000011351"></vgr-input>
    </p>
    <p>Förändras med tema: <strong>nej</strong>
    </p>
  </div>

  <div class="docs__examples">
    <h3>Size</h3>
    <section>
      <div class="row-layout">
        <div class="one-third">
          <h3>Normal storlek</h3>
          <vgr-input [(ngModel)]="value" pattern="[a-z]*"></vgr-input>
        </div>
        <div class="one-third">
          <h3>Egenvald storlek</h3>
          <vgr-input [(ngModel)]="value" pattern="[\d]*" [width]="425"></vgr-input>
        </div>
      </div>
    </section>
    <br>
    <br>
    <vgr-button (click)="readonly = !readonly">Readonly</vgr-button>
    <h3>Input hantering</h3>
    <form [formGroup]="form">
      <div class="row-layout">
        <div class="one-third">
          <div>
            Input 1<br>
            <vgr-input [readonly]="readonly" formControlName="control1" [errorMessage]="validationMessages.control1"></vgr-input><br>
            <span>Värde 1: </span>
            <span>{{form.controls.control1.value}}</span>
          </div>
          <div>
            Belopp 2 (decimaler och suffix)<br>
            <vgr-input [readonly]="readonly" formControlName="control2" 
              [suffix]="'kr'" textalign="right" [errorMessage]="validationMessages.control2"></vgr-input><br>
            <span>Belopp 2: </span>
            <span>{{formatNumericValue(form.controls.control2.value)}}</span>
          </div>
          <div>
            Belopp 3 (med prefix och type number)<br>
            <vgr-input [readonly]="readonly" formControlName="control3" 
              [prefix]="'$'" [errorMessage]="validationMessages.control3"
              type="number"
              [showValidation]="form.controls.control3.touched"></vgr-input><br>
            <span>Procent: </span>
            <span>{{formatNumericValue(form.controls.control3.value)}}</span>
          </div>
          <div>
            Högerställd (med placeholder)<br>
            <vgr-input [readonly]="readonly" formControlName="control4" textAlign="right" placeholder="input align right"></vgr-input><br>
            <span>värde: </span>
            <span>{{formatNumericValue(form.controls.control4.value)}}</span>
          </div>
          <div>
            Numeriskt värde utan enhet
            <vgr-input-old [readonly]="readonly" formControlName="control5" [formatNumber]="true" [alignRight]="true"
              [small]="isSmall" [errorMessage]="validationMessages.control5"
              [showValidation]="form.controls.control5.touched"></vgr-input-old>
            <span>Värde: </span>
            <span>{{formatNumericValue(form.controls.control5.value)}}</span>
          </div>
        </div>
        <div class="one-third">
          <div>
            Max-längd 5 tecken
            <vgr-input-old [readonly]="readonly" formControlName="control6" [maxlength]=5 [small]="isSmall"
              [showValidation]="form.controls.control6.touched"></vgr-input-old>
          </div>
          <div>
            Exakt 3 VERSALER (validera vid initiering)
            <vgr-input-old [readonly]="readonly" formControlName="control7" [errorMessage]="validationMessages.control7"
              [maxlength]="3" [small]="isSmall" [showValidation]="true"></vgr-input-old>
            <span>Värde: </span>
            <span>{{form.controls.control7.value}}</span>
          </div>
          <div>
            Mellan 2 och 6 tecken
            <vgr-input-old [readonly]="readonly" formControlName="control8" [maxlength]=6
              [errorMessage]="validationMessages.control8" [small]="isSmall"
              [showValidation]="form.controls.control8.touched"></vgr-input-old>
          </div>
          <div>
            Heltal med enhet
            <vgr-input-old [readonly]="readonly" formControlName="control9" [formatNumber]="true" [nrOfDecimals]="0"
              [suffix]="'st'" [errorMessage]="validationMessages.control9" [alignRight]="true" [small]="isSmall">
            </vgr-input-old>
            <span>Antal: </span>
            <span>{{intValue + 0}}</span>
          </div>
          <div>
            Långa felmeddelanden
            <vgr-input-old [readonly]="readonly" formControlName="control10" [errorMessage]="validationMessages.control10"
              [small]="isSmall" [showValidation]="form.controls.control10.touched"></vgr-input-old>
          </div>
          <div>
            Readonly fält
            <vgr-input-old [readonly]="readonly" formControlName="control11" [readonly]="true" [small]="isSmall"
              [showValidation]="form.controls.control11.touched"></vgr-input-old>
          </div>
          <div>
            Ingen validering
            <vgr-input-old [readonly]="readonly" formControlName="control12" [small]="isSmall"></vgr-input-old>
          </div>

        </div>
        <div class="one-third">
          <div>
            Ange en storstad i USA (validera vid initiering)
            <vgr-input-old [readonly]="readonly" formControlName="control13" [small]="isSmall"
              [errorMessage]="validationMessages.control13" [showValidation]="true"></vgr-input-old>
            <span>Din stad: {{form.controls.control13.value}}</span>
          </div>
          <div>
            E-postadress
            <vgr-input-old [readonly]="readonly" formControlName="control14" [small]="isSmall"
              [errorMessage]="validationMessages.control14" [showValidation]="form.controls.control14.touched">
            </vgr-input-old>
          </div>
          <div>
            <br><br>
            <vgr-input-old [readonly]="readonly" (valueChanged)="valueChange($event)" [small]="isSmall"></vgr-input-old>
            <span>Value change: {{changeValue}}</span>
          </div>
        </div>
      </div>
    </form>
    <div class="row-layout">
      <div class="full">
        <h2>Notera</h2>
        <ul>
          <li>
            För validering så använder vi Reactive Forms för att hantera detta. Validering kan ske på blur, change och
            submit.
          </li>
        </ul>
        Under "kodexempel" finns exempel på hur input-komponenten kan användas i Angular Reactive Forms:
        <br>
        <a href="/reactiveformsexample">Reactive Forms exempel</a>
      </div>
    </div>
  </div>

  <div class="docs__api">
    <table class="property-table">
      <tr>
        <th>Property</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>
      <tr>
        <td>value: string</td>
        <td>Värde att binda till</td>
        <td>[value]="person.lastName"</td>
      </tr>
      <tr>
        <td>showValidation: boolean</td>
        <td>Anger om valideringsfel ska visas eller ej. Default = true.</td>
        <td>[showValidation]="true"</td>
      </tr>
      <tr>
        <td>maxlength: string</td>
        <td>Max antal tecken. Begränsar antalet möjliga tecken att mata in. Default = obegränsat.</td>
        <td>[maxlength]="5"</td>
      </tr>
      <tr>
        <td>errorMessage: string</td>
        <td>Text som visas vid valideringsfel</td>
        <td>[errorMessage]="'Ange ett värde mellan 1-10'"</td>
      </tr>
      <tr>
        <td>suffix: string</td>
        <td>Text som visas till höger om fältet, som t.ex en enhet (km, m, kg, kr mm)</td>
        <td>[suffix]="'kg'"</td>
      </tr>
      <tr>
        <td>alignRight: boolean</td>
        <td>Om true, högerställ innehållet i fältet. Default är False.</td>
        <td>[alignRight]="true"</td>
      </tr>
      <tr>
        <td>formatNumber: boolean</td>
        <td>Om värdet som visas ska formateras, dvs '.' visas som ',' och mellanslag läggs mellan 1000-tal.</td>
        <td>[formatNumber]="true"</td>
      </tr>
      <tr>
        <td>nrOfDecimals: number</td>
        <td>Antal decimaler som det inmatade värdet ska avrundas till.</td>
        <td>[nrOfDecimals]="2"</td>
      </tr>
      <tr>
        <td>small: boolean</td>
        <td>Gör inputfälten till en mindre storlek.</td>
        <td>[small]="true"</td>
      </tr>

      <tr>
        <th>Property</th>
        <th>Beskrivning</th>
        <th>Exempel</th>
      </tr>

      <tr>
        <td>blur: eventEmitter</td>
        <td>Event som triggas när användaren går ifrån inputfield.</td>
        <td>(blur)="function($event)"</td>
      </tr>
      <tr>
        <td>focus: eventEmitter</td>
        <td>Event som triggas när användaren fokuserar på inputfield.</td>
        <td>(focus)="function($event)"</td>
      </tr>
      <tr>
        <td>valueChanged: eventEmitter</td>
        <td>Event som triggas när inputfield uppdateras med ny text.</td>
        <td>(valueChanged)="function($event)"</td>
      </tr>
    </table>
  </div>


  <div class="docs__wcag">
    <p>
      Stöds ej.
    </p>
  </div>

</app-component-docs>
