<vgr-page>
  <vgr-page-header [title]="'Inputfält'" [expanded]="headerExpanded">
    <div class="colum-layout">
      <h2>Åtgärder</h2>
      <vgr-button (click)="headerExpanded = !headerExpanded">Öppna</vgr-button>
    </div>
  </vgr-page-header>
  <vgr-action-panel [expanded]="headerExpanded">
    <h1>Some content</h1>
  </vgr-action-panel>
  <vgr-page-body>
    <vgr-page-block class=" column-layout">
      <vgr-radio-group [options]="[{id:'1', displayName:'Stor', selected:true},{id:'2', displayName:'Liten'}]" (selectedChanged)="toggleInputType($event)">
      </vgr-radio-group>
      <br>
      <h3>Obs Experimentell kod</h3>
      <form [formGroup]="form">
        <div class="row-layout">
          <div class="one-third">
            <h2>Fördefinierade typer</h2>
            <div>
              Belopp 1 (type=amount)
              <vgr-input (valueChanged)="value = $event" [value]="value" [formatNumber]="true" [nrOfDecimals]="2" [suffix]="'kr'" [alignRight]="true"
                [small]="isSmall" [isInvalid]="!validateNumberControl1(value)" [errorMessage]="'Felaktigt nummer'"></vgr-input>
              <span>Belopp 1: </span>
              <span>{{value}}</span>
            </div>
            <div>
              Belopp 2, obligatoriskt
              <vgr-input formControlName="control2" [formatNumber]="true" [nrOfDecimals]="4" [suffix]="'kr'" [alignRight]="true" [small]="isSmall"
                [isInvalid]="form.get('control2').invalid" [errorMessage]="validationMessages.control2"></vgr-input>
              <span>Belopp 2: </span>
              <span>{{formatNumericValue(form.controls.control2.value)}}</span>
            </div>
            <div>
              Procent
              <vgr-input formControlName="control3" [formatNumber]="true" [nrOfDecimals]="2" [suffix]="'%'" [alignRight]="true" [small]="isSmall"
                [isInvalid]="form.get('control3').invalid" [errorMessage]="validationMessages.control3"></vgr-input>
              <span>Procent: </span>
              <span>{{formatNumericValue(form.controls.control3.value)}}</span>
            </div>
            <div>
              Km
              <vgr-input formControlName="control4" [formatNumber]="true" [nrOfDecimals]="0" [suffix]="'km'" [alignRight]="true" [small]="isSmall"
                [isInvalid]="form.get('control4').invalid" [errorMessage]="validationMessages.control4"></vgr-input>
              <span>Km: </span>
              <span>{{formatNumericValue(form.controls.control4.value)}}</span>

            </div>
            <div>
              Numeriskt värde utan enhet
              <vgr-input formControlName="control5" [formatNumber]="true" [alignRight]="true" [small]="isSmall" [isInvalid]="form.get('control5').invalid"
                [errorMessage]="validationMessages.control5"></vgr-input>
              <span>Värde: </span>
              <span>{{formatNumericValue(form.controls.control5.value)}}</span>
            </div>
          </div>
          <div class="one-third">
            <h2>Egen konfiguration</h2>
            <div>
              Max-längd 5 tecken
              <vgr-input formControlName="control6" [maxlength]=5 [small]="isSmall"></vgr-input>
            </div>
            <div>
              Exakt 3 VERSALER (validera vid initiering)
              <vgr-input formControlName="control7" [errorMessage]="validationMessages.control7" [validateOnInit]="true" [maxlength]="3"
                [small]="isSmall"></vgr-input>
              <span>Värde: </span>
              <span>{{form.controls.control7.value}}</span>
            </div>
            <div>
              Mellan 2 och 6 tecken
              <vgr-input formControlName="control8" [maxlength]=6 [errorMessage]="validationMessages.control8" [small]="isSmall" [isInvalid]="form.get('control8').invalid"></vgr-input>
            </div>
            <div>
              Heltal med enhet
              <vgr-input formControlName="control9" [formatNumber]="true" [nrOfDecimals]="0" [suffix]="'st'" [errorMessage]="validationMessages.control9"
                [alignRight]="true" [small]="isSmall" [isInvalid]="form.get('control9').invalid"></vgr-input>
              <span>Antal: </span>
              <span>{{intValue + 0}}</span>
            </div>
            <div>
              Långa felmeddelanden
              <vgr-input formControlName="control10" [isInvalid]="form.get('control10').invalid" [errorMessage]="validationMessages.control10"
                [small]="isSmall"></vgr-input>
            </div>
            <div>
              Readonly fält
              <vgr-input formControlName="control11" [readonly]="true" [small]="isSmall"></vgr-input>
            </div>
            <div>
              Ingen validering
              <vgr-input formControlName="control12" [small]="isSmall"></vgr-input>
            </div>
            <div>
              Med placeholder
              <vgr-input formControlName="control13" placeholder="Skriv något här..." [small]="isSmall"></vgr-input>
            </div>

          </div>
          <div class="one-third">
            <h2>Validering med service</h2>
            <div>
              Ange en storstad i USA (validera vid initiering)
              <vgr-input formControlName="control14" [small]="isSmall" [validateOnInit]="true" [errorMessage]="validationMessages.control13"></vgr-input>
              <span>Din stad: {{form.controls.control13.value}}</span>
            </div>
            <div>
              E-postadress
              <vgr-input formControlName="control15" [small]="isSmall" [isInvalid]="form.get('control14').invalid" [errorMessage]="validationMessages.control14"></vgr-input>
            </div>
          </div>
        </div>
      </form>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
