<div class="main-content lists-component">
  <vgr-page-header [title]="'Demo-lista'"></vgr-page-header>
  <div class="komponentkarta-components">
    <vgr-loader></vgr-loader>
    <div>
      <br/>
      <h2>Konfiguration</h2>
      <table class="property-table">
        <tr>
            <th>Property</th>
            <th>Beskrivning</th>
            <th>Exempel</th>
        </tr>
        <tr>
            <td>@Input speed: number</td>
            <td>Sätter hastigheten på snurran</td>
            <td>[speed]="1"</td>
        </tr>         
      </table>
    </div>
  </div>  
</div>