<div class="datepicker" (click)="displayDatePicker()" [ngClass]="{'datepicker--open' : true}">
  <div class="datepicker__dropdown">
    <span class="datepicker__calendar__selector" title="Välj månad">{{selectedDayText}}</span>
    <div *ngIf="isDatePickerVisible" class="datepicker__calendar">
      <div class="datepicker__calendar__header">
        <div class="datepicker__calendar__header__previous-year" (click)="onPreviousMonth()" [ngClass]="{'disabled': !previousMonth}"></div>

        <div *ngIf="!displayedYear" class="datepicker__calendar__header__year">{{currentYearMonthOutput | date: 'MMMM y' }}</div>

        <div class="datepicker__calendar__header__next-year" (click)="onNextMonth()" [ngClass]="{'disabled' : !nextMonth}"></div>
      </div>
      <div class="datepicker__calendar__content">
        <table>
          <tr>
            <td>Må</td>
            <td>Ti</td>
            <td>On</td>
            <td>To</td>
            <td>Fr</td>
            <td>Lö</td>
            <td>Sö</td>
          </tr>
          <tr *ngFor="let week of yearMonths[currentYearMonthIndex].weeks; let weekIndex = index">
            <td *ngFor="let day of yearMonths[currentYearMonthIndex].weeks[weekIndex].days; let dayIndex = index"
              (click)="onSelectedDate(currentYearMonthIndex, weekIndex,dayIndex)">
              <div *ngIf="yearMonths[currentYearMonthIndex].weeks[weekIndex].days[dayIndex]"
              class="datepicker__calendar__day"
              [ngClass]="{
                'disabled': checkDisabledDate(weekIndex, dayIndex),
                'datepicker__calendar__day--today' : checkTodayDate(weekIndex, dayIndex),
                'datepicker__calendar__day--selected' : checkSelectedDate(weekIndex, dayIndex)}">{{yearMonths[currentYearMonthIndex].weeks[weekIndex].days[dayIndex].day | date:'d'}}</div>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>
