.edit-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.text {
  overflow: visible;
}

.text--short {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
}


