<vgr-page>
  <vgr-page-header [title]="'Färgkarta'">
  </vgr-page-header>

  <vgr-page-body>
    <!-- Färger -->
    <vgr-page-block class="column-layout">
      <vgr-card>
        <vgr-card-column>
          <vgr-card-section [title]="'Temafärger'">
            <div class="color-sample neutral--primary">
              <span class="color-sample__name">Neutral primärfärg</span>
              <span class="color-sample__code">R: 49 G: 65 B: 82
                <strong>#314152</strong>
              </span>
            </div>
            <div class="color-sample neutral--primary-dimmed">
              <span class="color-sample__name">Neutral primärfärg dimmad</span>
              <span class="color-sample__code">R: 234 G: 236 B: 237
                <strong>#EAECED</strong>
              </span>
            </div>
            <div class="color-sample neutral--secondary">
              <span class="color-sample__name">Neutral sekundärfärg</span>
              <span class="color-sample__code">R: 53 G: 58 B: 62
                <strong>#87939F</strong>
              </span>
            </div>
            <div class="color-sample background-color--default">
              <span class="color-sample__name">Bakgrund</span>
              <span class="color-sample__code">R: 240 G: 240 B: 240
                <strong>#F0F0F0</strong>
              </span>
            </div>
            <div class="color-sample background-color--text">
              <span class="color-sample__name">Textfärg</span>
              <span class="color-sample__code">R: 30 G: 30 B: 30
                <strong>#151515</strong>
              </span>
            </div>
            <div class="color-sample red--primary">
              <span class="color-sample__name">Röd primärfärg</span>
              <span class="color-sample__code">R: 157 G: 34 B: 53
                <strong>#9D2235</strong>
              </span>
            </div>
            <div class="color-sample red--primary-dimmed">
              <span class="color-sample__name">Röd primärfärg dimmad</span>
              <span class="color-sample__code">R: 245 G: 232 B: 234
                <strong>#F5E8EA</strong>
              </span>
            </div>
            <div class="color-sample red--secondary">
              <span class="color-sample__name">Röd sekundärfärg</span>
              <span class="color-sample__code">R: 186 G: 98 B: 113
                <strong>#BA6071</strong>
              </span>
            </div>
            <div class="color-sample blue--primary">
              <span class="color-sample__name">Blå primärfärg</span>
              <span class="color-sample__code">R: 0 G: 98 B: 152
                <strong>#E5EFF4</strong>
              </span>
            </div>
            <div class="color-sample blue--primary-dimmed">
              <span class="color-sample__name">Blå primärfärg dimmad</span>
              <span class="color-sample__code">R: 229 G: 239 B: 244
                <strong>#006298</strong>
              </span>
            </div>
            <div class="color-sample blue--secondary">
              <span class="color-sample__name">Blå sekundärfärg</span>
              <span class="color-sample__code">R: 76 G: 145 B: 183
                <strong>#4C91B7</strong>
              </span>
            </div>
            <div class="color-sample green--primary">
              <span class="color-sample__name">Grön primärfärg</span>
              <span class="color-sample__code">R: 74 G: 119 B: 60
                <strong>#4A773C</strong>
              </span>
            </div>
            <div class="color-sample green--primary-dimmed">
              <span class="color-sample__name">Grön primärfärg dimmad</span>
              <span class="color-sample__code">R: 236 G: 241 B: 235
                <strong>#ECF1EB</strong>
              </span>
            </div>
            <div class="color-sample green--secondary">
              <span class="color-sample__name">Grön sekundärfärg</span>
              <span class="color-sample__code">R: 128 G: 160 B: 118
                <strong>#80A076</strong>
              </span>
            </div>
          </vgr-card-section>
          <vgr-card-section [title]="'Varumärkesfärger'">
            <div class="color-sample company-beige--primary">
              <span class="color-sample__name">Beige primärfärg</span>
              <span class="color-sample__code">R: 198 G: 170 B: 117
                <strong>#C6AA75</strong>
              </span>
            </div>
            <div class="color-sample company-beige--secondary">
              <span class="color-sample__name">Beige sekundärfärg</span>
              <span class="color-sample__code">R: 215 G: 195 B: 158
                <strong>#D7C39E</strong>
              </span>
            </div>
            <div class="color-sample company-beige--dimmed">
              <span class="color-sample__name">Beige primärfärg dimmad</span>
              <span class="color-sample__code">R: 241 G: 234 B: 220
                <strong>#F1EADC</strong>
              </span>
            </div>
            <div class="color-sample company-green--primary">
              <span class="color-sample__name">Grön primärfärg</span>
              <span class="color-sample__code">R: 0 G: 135 B: 85
                <strong>#008755</strong>
              </span>
            </div>
            <div class="color-sample company-green--secondary">
              <span class="color-sample__name">Grön sekundärfärg</span>
              <span class="color-sample__code">R: 76 G: 171 B: 136
                <strong>#4CAB88</strong>
              </span>
            </div>
            <div class="color-sample company-green--dimmed">
              <span class="color-sample__name">Grön primärfärg dimmad</span>
              <span class="color-sample__code">R: 217 G: 237 B: 230
                <strong>#D9EDE6</strong>
              </span>
            </div>
            <div class="color-sample company-lime--primary">
              <span class="color-sample__name">Lime primärfärg</span>
              <span class="color-sample__code">R: 168 G: 173 B: 0
                <strong>#A8AD00</strong>
              </span>
            </div>
            <div class="color-sample company-lime--secondary">
              <span class="color-sample__name">Lime sekundärfärg</span>
              <span class="color-sample__code">R: 194 G: 197 B: 76
                <strong>#C2C54C</strong>
              </span>
            </div>
            <div class="color-sample company-lime--dimmed">
              <span class="color-sample__name">Lime primärfärg dimmad</span>
              <span class="color-sample__code">R: 238 G: 239 B: 204
                <strong>#EEEFCC</strong>
              </span>
            </div>
            <div class="color-sample company-orange--primary">
              <span class="color-sample__name">Orange primärfärg</span>
              <span class="color-sample__code">R: 216 G: 96 B: 24
                <strong>#D86018</strong>
              </span>
            </div>
            <div class="color-sample company-orange--secondary">
              <span class="color-sample__name">Orange sekundärfärg</span>
              <span class="color-sample__code">R: 227 G: 143 B: 93
                <strong>#E38F5D</strong>
              </span>
            </div>
            <div class="color-sample company-orange--dimmed">
              <span class="color-sample__name">Orange primärfärg dimmad</span>
              <span class="color-sample__code">R: 249 G: 231 B: 221
                <strong>#F9E7DD</strong>
              </span>
            </div>
            <div class="color-sample company-rose--primary">
              <span class="color-sample__name">Rose primärfärg</span>
              <span class="color-sample__code">R: 175 G: 22 B: 133
                <strong>#AF1685</strong>
              </span>
            </div>
            <div class="color-sample company-rose--secondary">
              <span class="color-sample__name">Rose sekundärfärg</span>
              <span class="color-sample__code">R: 195 G: 87 B: 165
                <strong>#C357A5</strong>
              </span>
            </div>
            <div class="color-sample company-rose--dimmed">
              <span class="color-sample__name">Rose primärfärg dimmad</span>
              <span class="color-sample__code">R: 247 G: 231 B: 242
                <strong>#F7E7F2</strong>
              </span>
            </div>
            <div class="color-sample company-purple--primary">
              <span class="color-sample__name">Lila primärfärg</span>
              <span class="color-sample__code">R: 88 G: 44 B: 131
                <strong>#582C83</strong>
              </span>
            </div>
            <div class="color-sample company-purple--secondary">
              <span class="color-sample__name">Lila sekundärfärg</span>
              <span class="color-sample__code">R: 138 G: 107 B: 168
                <strong>#8A6BA8</strong>
              </span>
            </div>
            <div class="color-sample company-purple--dimmed">
              <span class="color-sample__name">Lila primärfärg dimmad</span>
              <span class="color-sample__code">R: 238 G: 233 B: 242
                <strong>#EEE9F2</strong>
              </span>
            </div>
            <div class="color-sample company-red--primary">
              <span class="color-sample__name">Röd primärfärg</span>
              <span class="color-sample__code">R: 200 G: 16 B: 46
                <strong>#C8102E</strong>
              </span>
            </div>
            <div class="color-sample company-red--secondary">
              <span class="color-sample__name">Röd sekundärfärg</span>
              <span class="color-sample__code">R: 216 G: 87 B: 108
                <strong>#D8576C</strong>
              </span>
            </div>
            <div class="color-sample company-red--dimmed">
              <span class="color-sample__name">Röd primärfärg dimmad</span>
              <span class="color-sample__code">R: 249 G: 231 B: 234
                <strong>#F9E7EA</strong>
              </span>
            </div>
            <div class="color-sample company-turquoise--primary">
              <span class="color-sample__name">Turkos primärfärg</span>
              <span class="color-sample__code">R: 113 G: 178 B: 201
                <strong>#71B2C9</strong>
              </span>
            </div>
            <div class="color-sample company-turquoise--secondary">
              <span class="color-sample__name">Turkos sekundärfärg</span>
              <span class="color-sample__code">R: 155 G: 201 B: 217
                <strong>#9BC9D9</strong>
              </span>
            </div>
            <div class="color-sample company-turquoise--dimmed">
              <span class="color-sample__name">Turkos primärfärg dimmad</span>
              <span class="color-sample__code">R: 227 G: 240 B: 240
                <strong>#E3F0F4</strong>
              </span>
            </div>
          </vgr-card-section>
          <vgr-card-section [title]="'Övriga färger'">
            <div class="color-sample gray--primary">
              <span class="color-sample__name">Grå primärfärg</span>
              <span class="color-sample__code">R: 158 G: 162 B: 162
                <strong>#9EA2A2</strong>
              </span>
            </div>
            <div class="color-sample gray--secondary">
              <span class="color-sample__name">Grå sekundärfärg</span>
              <span class="color-sample__code">R: 187 G: 190 B: 190
                <strong>#BBBEBE</strong>
              </span>
            </div>
            <div class="color-sample gray--dark">
              <span class="color-sample__name">Mörkgrå primärfärg</span>
              <span class="color-sample__code">R: 113 G: 116 B: 116
                <strong>#717474</strong>
              </span>
            </div>
            <div class="color-sample gray--dimmed">
              <span class="color-sample__name">Grå primärfärg dimmad</span>
              <span class="color-sample__code">R: 234 G: 235 B: 235
                <strong>#EAEBEB</strong>
              </span>
            </div>
            <div class="color-sample gray--ultradimmed">
              <span class="color-sample__name">Grå primärfärg ultradimmad</span>
              <span class="color-sample__code">R: 248 G: 248 B: 248
                <strong>#F8F8F8</strong>
              </span>
            </div>
            <div class="color-sample focus-color">
              <span class="color-sample__name">Färg för fokusmarkering</span>
              <span class="color-sample__code">R: 74 G: 144 B: 226
                <strong>#4A90E2</strong>
              </span>
            </div>
            <div class="color-sample primary-color--success">
              <span class="color-sample__name">Färg för success</span>
              <span class="color-sample__code">R: 61 G: 118 B: 48
                <strong>#63A155</strong>
              </span>
            </div>
            <div class="color-sample secondary-color--success">
              <span class="color-sample__name">Sekundärfärg för success</span>
              <span class="color-sample__code">R: 239 G: 247 B: 238
                <strong>#EFF7EE</strong>
              </span>
            </div>
            <div class="color-sample primary-color--error">
              <span class="color-sample__name">Färg för error</span>
              <span class="color-sample__code">R: 140 G: 25 B: 25
                <strong>#E83F3F</strong>
              </span>
            </div>
            <div class="color-sample secondary-color--error">
              <span class="color-sample__name">Sekundärfärg för error</span>
              <span class="color-sample__code">R: 249 G: 222 B: 222
                <strong>#F9DEDE</strong>
              </span>
            </div>
            <div class="color-sample primary-color--warning">
              <span class="color-sample__name">Färg för varning</span>
              <span class="color-sample__code">R: 242 G: 169 B: 0
                <strong>#F2A900</strong>
              </span>
            </div>
            <div class="color-sample secondary-color--warning">
              <span class="color-sample__name">Sekundärfärg för varning</span>
              <span class="color-sample__code">R: 253 G: 246 B: 229
                <strong>#FDF6E5</strong>
              </span>
            </div>
            <div class="color-sample primary-color--info">
              <span class="color-sample__name">Färg för info</span>
              <span class="color-sample__code">R: 66 G: 130 B: 153
                <strong>#428299</strong>
              </span>
            </div>
            <div class="color-sample secondary-color--info">
              <span class="color-sample__name">Sekundärfärg för info</span>
              <span class="color-sample__code">R: 227 G: 240 B: 244
                <strong>#E3F0F4</strong>
              </span>
            </div>
            <div class="color-sample gray--primary">
              <span class="color-sample__name">Inaktiv färg</span>
              <span class="color-sample__code">R: 158 G: 162 B: 162
                <strong>#9EA2A2</strong>
              </span>
            </div>
            <div class="color-sample gray--dimmed">
              <span class="color-sample__name">Inaktiv färg 2</span>
              <span class="color-sample__code">R: 234 G: 235 B: 235
                <strong>#EAEBEB</strong>
              </span>
            </div>
          </vgr-card-section>
        </vgr-card-column>
      </vgr-card>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
