<vgr-page>
  <vgr-page-header [title]="'Färgkarta'">
  </vgr-page-header>

  <vgr-page-body>
    <!-- Färger -->
    <vgr-page-block class="column-layout">
      <div class="color-sample neutral--primary">
        <span class="color-sample__name">Neutral primärfärg</span>
        <span class="color-sample__code">R: 49 G: 65 B: 82
          <strong>#314152</strong>
        </span>
      </div>
      <div class="color-sample neutral--primary-dimmed">
        <span class="color-sample__name">Neutral primärfärg dimmad</span>
        <span class="color-sample__code">R: 234 G: 236 B: 237
          <strong>#EAECED</strong>
        </span>
      </div>
      <div class="color-sample neutral--secondary">
        <span class="color-sample__name">Neutral sekundärfärg</span>
        <span class="color-sample__code">R: 53 G: 58 B: 62
          <strong>#87939F</strong>
        </span>
      </div>
      <div class="color-sample background-color--default">
        <span class="color-sample__name">Bakgrund</span>
        <span class="color-sample__code">R: 240 G: 240 B: 240
          <strong>#F0F0F0</strong>
        </span>
      </div>
      <div class="color-sample background-color--text">
        <span class="color-sample__name">Textfärg</span>
        <span class="color-sample__code">R: 30 G: 30 B: 30
          <strong>#151515</strong>
        </span>
      </div>
      <div class="color-sample red--primary">
        <span class="color-sample__name">Röd primärfärg</span>
        <span class="color-sample__code">R: 157 G: 34 B: 53
          <strong>#9D2235</strong>
        </span>
      </div>
      <div class="color-sample red--primary-dimmed">
        <span class="color-sample__name">Röd primärfärg dimmad</span>
        <span class="color-sample__code">R: 245 G: 232 B: 234
          <strong>#F5E8EA</strong>
        </span>
      </div>
      <div class="color-sample red--secondary">
        <span class="color-sample__name">Röd sekundärfärg</span>
        <span class="color-sample__code">R: 186 G: 98 B: 113
          <strong>#BA6271</strong>
        </span>
      </div>
      <div class="color-sample blue--primary">
        <span class="color-sample__name">Blå primärfärg</span>
        <span class="color-sample__code">R: 0 G: 98 B: 152
          <strong>#E5EFF4</strong>
        </span>
      </div>
      <div class="color-sample blue--primary-dimmed">
        <span class="color-sample__name">Blå primärfärg dimmad</span>
        <span class="color-sample__code">R: 229 G: 239 B: 244
          <strong>#006298</strong>
        </span>
      </div>
      <div class="color-sample blue--secondary">
        <span class="color-sample__name">Blå sekundärfärg</span>
        <span class="color-sample__code">R: 80 G: 143 B: 184
          <strong>#508FB8</strong>
        </span>
      </div>
      <div class="color-sample green--primary">
        <span class="color-sample__name">Grön primärfärg</span>
        <span class="color-sample__code">R: 74 G: 119 B: 60
          <strong>#4A773C</strong>
        </span>
      </div>
      <div class="color-sample green--primary-dimmed">
        <span class="color-sample__name">Grön primärfärg dimmad</span>
        <span class="color-sample__code">R: 236 G: 241 B: 235
          <strong>#ECF1EB</strong>
        </span>
      </div>
      <div class="color-sample green--secondary">
        <span class="color-sample__name">Grön sekundärfärg</span>
        <span class="color-sample__code">R: 127 G: 162 B: 118
          <strong>#7FA276</strong>
        </span>
      </div>
      <div class="color-sample gray--primary">
        <span class="color-sample__name">Grå primärfärg</span>
        <span class="color-sample__code">R: 158 G: 162 B: 162
          <strong>#9EA2A2</strong>
        </span>
      </div>
      <div class="color-sample gray--dimmed">
        <span class="color-sample__name">Grå primärfärg dimmad</span>
        <span class="color-sample__code">R: 234 G: 235 B: 235
          <strong>#EAEBEB</strong>
        </span>
      </div>
      <div class="color-sample gray--secondary">
        <span class="color-sample__name">Grå sekundärfärg</span>
        <span class="color-sample__code">R: 187 G: 190 B: 190
          <strong>#BBBEBE</strong>
        </span>
      </div>
      <div class="color-sample focus-color">
        <span class="color-sample__name">Färg för fokusmarkering</span>
        <span class="color-sample__code">R: 74 G: 144 B: 226
          <strong>#4a90e2</strong>
        </span>
      </div>
      <div class="color-sample primary-color--success">
        <span class="color-sample__name">Färg för success</span>
        <span class="color-sample__code">R: 61 G: 118 B: 48
          <strong>#63A155</strong>
        </span>
      </div>
      <div class="color-sample primary-color--error">
        <span class="color-sample__name">Färg för error</span>
        <span class="color-sample__code">R: 140 G: 25 B: 25
          <strong>#E83F3F</strong>
        </span>
      </div>
      <div class="color-sample secondary-color--error">
        <span class="color-sample__name">Sekundärfärg för error</span>
        <span class="color-sample__code">R: 249 G: 222 B: 222
          <strong>#f9dede</strong>
        </span>
      </div>
      <div class="color-sample gray--primary">
        <span class="color-sample__name">Inaktiv färg</span>
        <span class="color-sample__code">R: 158 G: 162 B: 162
          <strong>#9EA2A2</strong>
        </span>
      </div>
      <div class="color-sample gray--dimmed">
        <span class="color-sample__name">Inaktiv färg 2</span>
        <span class="color-sample__code">R: 234 G: 235 B: 235
          <strong>#EAEBEB</strong>
        </span>
      </div>
    </vgr-page-block>
  </vgr-page-body>
</vgr-page>
